// =============================================================================
// MAINTENANCE NOTICE (Settings)
// =============================================================================


$maintenanceNotice-backgroundColor:     color("warning", "light");
$maintenanceNotice-box-shadow:          0 0 5px color("greys", "light");
$maintenanceNotice-color:               color("greys", "darker");
$maintenanceNotice-left:                spacing("half") + spacing("quarter");
$maintenanceNotice-padding:             spacing("base") (spacing("base") + spacing("fifth"));
$maintenanceNotice-top:                 spacing("half") + spacing("quarter");
$maintenanceNotice-width:               24rem;
$maintenanceNotice-z-index:             zIndex("highest");

$maintenanceNotice-header-font-family:  stencilFontFamily("headings-font");
$maintenanceNotice-header-margin:       0 0 spacing("half");

$adminBar-height:                       46px;
$adminBar-color:                        color("whites", "bright");
$adminBar-logo-color:                   #273a8a;
$adminBar-contentLink-color:            #4b71fc;
$adminBar-text-color:                   #626568;

$font-family-home:                      'Roboto', sans-serif;
$padding-content:                       0px 20px;
$maxWidth-content:                      1540px;
$background-content-homepage:           #ececec;
$color-heading:                         #212121;
$width-slider-5:                        16.66667%;
$background-white-content:              #fff;
$background-buttom:                     #5a5a59;
$color-price:                           #e30613;
$color-black-product:                   #000;
$background-body:                       #ececec;
$color-star:                            #d92028;
$background-buttom-active:              #e30713;
$background-border:                     #e5e5e5;
$color-white-content:                   #fff;