// HERO CAROUSEL
// -----------------------------------------------------------------------------
//
// Purpose: Styles the hero carousel component, which basically adds extras to the
// vendor slick carousel, to specifically display hero images.
//
// 1. Use object-fit on the image tag to keep aspect ratio and cover the space
//    created by the outer div. The JS will detect browsers that do not support
//    object-fit and instead copy the image src to a the background-image of the
//    wrapper div and add the compat-object-fit class.
//
// 2. Visually overrides the top margin for '.body' defined in _body.scss.
//    The '.body' top margin creates space between the header and page content.
//    However, on the homepage, we want the carousel to be flush with the header.
//
// 3. Allows image to scale on large screens while preventing the top and bottom
//    from becoming cut off.
// -----------------------------------------------------------------------------

.heroCarousel {
    margin-bottom: (spacing("double") + spacing("single"));
    margin-top: -(spacing("single")); // 3

    @include breakpoint("medium") {
        margin-top: -(spacing("single") + spacing("base")); // 3
    }

    &.slick-initialized { // 2
        max-height: remCalc(1000);
        opacity: 1;
    }

    &:not(.slick-initialized) :not(.heroCarousel-slide--first).heroCarousel-slide {
        display: none;
    }

    .slick-next,
    .slick-prev {
        top: 50%;
    }

    .slick-next {
        right: 15px;

        @include breakpoint("medium") {
            right: 25px;
        }
    }

    .slick-prev {
        left: 15px;

        @include breakpoint("medium") {
            left: 25px;
        }
    }

    .slick-dots {
        bottom: spacing("third");

        @include breakpoint("medium") {
            bottom: spacing("single");
        }

        // scss-lint:disable SelectorDepth, NestingDepth
        li {
            @include carouselOpaqueBackgrounds($slick-dot-bgColor);
        }
    }
}

.heroCarousel-slide {
    position: relative;
    a {
        text-decoration: none;
    }

    .heroCarousel-image {
        //object-fit: cover; // 1
        /*max-height: remCalc(600px);*/
        max-height: 100%;
        width: 100%;
        //min-height: 579.61px;

        @media (max-width: 550px) {
            //min-height: 494px;
        }
    }

    .heroCarousel-image-wrapper {
        @include breakpoint("medium") {
            max-height: remCalc(600px);
        }
    }

    &.compat-object-fit { // 1
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;

        &.stretch {
            @include breakpoint("large") { // 4
                background-size: 100% 100%;
            }
        }

        .heroCarousel-image {
            opacity: 0;
        }
    }
}

.heroCarousel-content {
    padding: spacing("half") spacing("single") (spacing("double"));
    text-align: left;
    left: 168px;
    padding: spacing("single") * 1.5;
    position: absolute;
    right: 0;
    top: 52%;
    transform: translateY(-50%);
    width: remCalc(700px);

    @include breakpoint(xlarge) {
        left: calc((100% - 1440px)/2 + 168px);
    }

    &.heroCarousel-content--empty {
        background-color: transparent;
    }

}
//.heroCarousel{
//    .slick-slide:nth-child(3){
//        .heroCarousel-title,.heroCarousel-description {
//            color: #272e26;
//        }
//        .heroCarousel-action{
//            background: #272e26;
//            color:white;
//            &:hover{
//                background:white;
//                color: #272e26;
//            }
//        }
//    }
//}

.heroCarousel-title {
    color:  black;
    font-size: 85px;
    margin-top: 0;
    line-height: 75px;
    max-width: 425px;
    margin-bottom: 0;
    font-weight: 500;
    font-family: "DomaineDispNar-Medium";


}

.heroCarousel-description {
    color: black;
    padding-left:8px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 46px;
}

.heroCarousel-action {
    border-radius: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 13px;
    padding: 19px 60px;
    background-color:black;
    border:none;
    color: white;
    font-weight: 600;
    margin-top: 10px;
    font-family: "Open Sans";
    letter-spacing: 2.19px;
}

@media(max-width:1260px){
    .heroCarousel-content{
        left:10px;
        max-width: 460px;
    }
    .heroCarousel-title{
        font-size:75px;
        max-width: 375px;
    }
}
@media(max-width:768px){
    .heroCarousel-title{
        font-size: 70px;
        max-width: 350px;
    }
    .heroCarousel-description{
        font-size:20px;
        line-height: 30px;
    }
    .heroCarousel-action{
        font-size: 16px;
        width: 100%;
        max-width: 260px;
        padding: 19px 0;
        margin-left: 4px;
    }
    .heroCarousel-content{
        width:auto;
        left: 0;
        padding: 0 24px;
    }
    .heroCarousel {
        .slick-initialized{
            margin-bottom: 0;
        }
    }
}
