<!--<div class="banner-body-page form-subscribe">-->
    <!--<div class="banner-body">-->
        <!--<div class="banner-body-img">-->
            <!--<img src="{{cdn '/img/homepage-img/banner-body.png'}}">-->
        <!--</div>-->
        <!--<div class="title-banner">-->
            <!--<h2 class="title-banner__text">Just </br>for you.</h2>-->
            <!--<h2 class="title-banner__success">Use </br>code.</h2>-->
        <!--</div>-->
        <!--<div class="content-banner-body">-->
            <!--<div class="content-banner-body__wrapper">-->
                <!--<p class="content-be-an">Be an Essential Girl. </p>-->
                <!--<p class="content-title">-->
                    <!--Stay on top of the latest trends. Sign up for our mailing list and receive <span class="content-order">10% off your next order,</span> as well as alerts on new releases and promotions.-->
                <!--</p>-->
                <!--<p class="content-title-mobile">Sign up to our newsletter and save</br> <span class="content-order">10% off your next order!</span> Pretty sweet, right?</p>-->
                <!--{{> components/common/subscription-form}}-->
            <!--</div>-->
            <!--<div class="content-banner-body__success">-->
                <!--<p class="content-banner-body__success-subtitle">Thank you for joining our list!</p>-->
                <!--<p class="content-banner-body__success-offtersr">You will be the first to receive information on the newest arrivals and exclusive offters.</p>-->
                <!--<a href="/" class="content-banner-body__success-action button">START SHOPPING</a>-->
            <!--</div>-->
            <!--<img class="close-popup" src="{{cdn '/img/close-popup.png'}}">-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
