<div class="body">

    <div class="body-container">


        <!--<div class="filter-mobile">-->
            <!--<div class="heading-filter">-->
                <!--<span class="close-filter"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="17" viewBox="0 0 17 17"><defs><path id="axmma" d="M13 18l15 15"/><path id="axmmb" d="M28 18L13 33"/></defs><g><g transform="translate(-12 -17)"><use fill="#fff" fill-opacity="0" stroke="#000" stroke-miterlimit="50" stroke-width="2" xlink:href="#axmma"/></g><g transform="translate(-12 -17)"><use fill="#fff" fill-opacity="0" stroke="#000" stroke-miterlimit="50" stroke-width="2" xlink:href="#axmmb"/></g></g></svg></span>-->
                <!--<h2>Filter</h2>-->
            <!--</div>-->
            <!--<div class="move-filter">-->

            <!--</div>-->
            <!--<div class="button-filter">-->
                <!--<div class="rs-filter"><a>Reset</a> </div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>-->






        <div class="container">
            {{#block "page"}} {{/block}}
        </div>
        {{> components/common/modal}}
        {{> components/common/banner-body}}
    </div>
</div>

<div class="mask-mini-cart"></div>
