<div class="previewCart">
    <div class="top-mini-cart-total">
        <div class="cart-total-label">
            <span>Cart Subtotal:</span>
        </div>
        <div class="cart-total-value cart-total-grandTotal">
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
            <span>{{cart.grand_total.formatted}}</span>
            {{else}}
            {{> components/common/login-for-pricing}}
            {{/or}}
        </div>
        <span class="recently-mini-cart">Recently added item(s)</span>
    </div>
    {{#if cart.items.length}}
    <div class="preview-cart-product previewCart-scroll">
        <ul class="previewCartList">
            {{#each (limit cart.items 20)}}
                <li class="previewCartItem">
                    <div class="remove-product-mini-cart">
                        {{# if can_modify}}
                        <a class="edit-mini-cart" href="/cart.php"></a>
                        <span class="cart-remove icon" data-cart-itemid="{{id}}" data-confirm-delete="{{lang 'cart.confirm_delete'}}">

                        </span>
                        {{else}}
                        {{#if type '==' 'GiftCertificate'}}
                        <a class="edit-mini-cart" href="/cart.php"></a>
                        <a class="cart-remove icon" data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">

                        </a>
                        {{/if}}
                        {{/if}}

                    </div>
                    <div class="previewCartItem-image">
                        {{#if type '==' 'GiftCertificate'}}
                            <a href="{{url}}" alt="{{name}}" title="{{name}}">
                                <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn ../../theme_settings.default_image_gift_certificate}}" alt="GiftCertificate" title="GiftCertificate">
                            </a>
                        {{else}}
                            <a href="{{url}}" alt="{{name}}" title="{{name}}">
                                <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'productthumb_size' (cdn ../../theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
                            </a>
                        {{/if}}
                    </div>

                    <div class="previewCartItem-content">
                        <span class="previewCartItem-brand">
                            {{brand.name}}
                        </span>

                        <h6 class="previewCartItem-name">
                            <a href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                        </h6>

                        <span class="previewCartItem-price">
                            <input class="form-input form-input--incrementTotal"
                                   id="qty-{{id}}"
                                   name="qty-{{id}}"
                                   type="tel"
                                   value="{{quantity}}"
                                   data-quantity-min="{{min_purchase_quantity}}"
                                   data-quantity-max="{{max_purchase_quantity}}"
                                   data-quantity-min-error="{{lang 'products.quantity_min' quantity=min_purchase_quantity}}"
                                   data-quantity-max-error="{{lang 'products.quantity_max' quantity=max_purchase_quantity}}"
                                   min="1"
                                   pattern="[0-9]*"
                                   readonly
                                   aria-live="polite"{{#unless can_modify}} disabled{{/unless}}><span class="calc-mini-cart">x</span>

                            <!--{{#if quantity '>' 0}}-->
                                <!--{{quantity}} &times;-->
                            <!--{{/if}}-->
                            {{#or ../customer (if ../theme_settings.restrict_to_login '!==' true)}}
                                {{price.formatted}}
                            {{else}}
                                {{> components/common/login-for-pricing}}
                            {{/or}}
                        </span>

                        <!--<div class="qty-product-cart">-->
                            <!--<span>QTY:</span>-->
                            <!--<input class="form-input form-input&#45;&#45;incrementTotal"-->
                                   <!--id="qty-{{id}}"-->
                                   <!--name="qty-{{id}}"-->
                                   <!--type="tel"-->
                                   <!--value="{{quantity}}"-->
                                   <!--data-quantity-min="{{min_purchase_quantity}}"-->
                                   <!--data-quantity-max="{{max_purchase_quantity}}"-->
                                   <!--data-quantity-min-error="{{lang 'products.quantity_min' quantity=min_purchase_quantity}}"-->
                                   <!--data-quantity-max-error="{{lang 'products.quantity_max' quantity=max_purchase_quantity}}"-->
                                   <!--min="1"-->
                                   <!--pattern="[0-9]*"-->
                                   <!--readonly-->
                                   <!--aria-live="polite"{{#unless can_modify}} disabled{{/unless}}>-->
                        <!--</div>-->

                        {{#if options}}
                        <dl class="definitionList">
                            {{#each options}}
                            <div>
                                {{#if name '==' "Colors"}}
                                    <dt class="definitionList-key">Colour:</dt>
                                {{else}}
                                    <dt class="definitionList-key">{{name}}:</dt>
                                {{/if}}
                                    <dd class="definitionList-value">
                                        {{#if is_file}}
                                        <a href="/viewfile.php?attributeId={{../id}}&cartitem={{../../id}}">{{{value}}}</a>
                                        {{else}}
                                        {{{value}}}
                                        {{/if}}
                                    </dd>
                            </div>
                            {{/each}}
                        </dl>
                        {{/if}}

                    </div>

                </li>
            {{/each}}
        </ul>
    </div>
        <div class="previewCartAction">

            {{#if cart.show_primary_checkout_button}}
                <div class="previewCartAction-checkout">
                    <a href="{{urls.checkout.single_address}}" class="button button--small button--primary">
                        Checkout
                    </a>
                </div>
            {{/if}}

            <div class="previewCartAction-viewCart{{#unless cart.show_primary_checkout_button}} previewCartAction-viewCart--sole{{/unless}}">
                <a href="{{urls.cart}}" class="button button--small button--action">
                    My Cart
                </a>
            </div>

            {{#if cart.show_multiple_address_shipping}}
                <div class="previewCartAction-checkoutMultiple">
                    <a href="{{urls.checkout.multiple_address}}">
                        {{lang 'cart.preview.checkout_multiple'}}
                    </a>
                </div>
            {{/if}}
        </div>
    {{else}}
        <div class="previewCart-emptyBody">
            {{lang 'cart.checkout.empty_cart'}}
        </div>
    {{/if}}
</div>
