
<ul class="navUser-section">
    <li class="navUser-item">
        <a class="navUser-action navUser-action--currencySelector has-dropdown" href="#" data-dropdown="currencySelection" aria-controls="currencySelection" aria-expanded="false">{{lang 'common.currency' code=currency_selector.active_currency_code}} <i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i></a>
        <ul id="currencySelection_aa">
            <li class="dropdown-menu-item">
                <a href="/"><strong>AUD</strong></a>
            </li>
            <!--<li class="dropdown-menu-item">-->
                <!--<a href="http://essential-label-nz.mybigcommerce.com">NZD</a>-->
            <!--</li>-->


        </ul>
    </li>
</ul>

