<header class="header" role="banner">
    {{#if banners.top}}
        <div class="banners" data-banner-location="top">
        <div class="banner">
            {{{limit banners.top 1}}}
            <p>SAVE 10% OFF YOUR NEXT ORDER!*</p>
        </div>
    </div>
    {{/if}}
    <div class="header-container">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--<div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>-->

        <div class="top-header">
            <div class="content-top-header">
                <div class="top-gutter__welcome">New Zealand Owned &amp; Operated Since 1945</div>
                <div class="top-link-account">
                    <ul class="links">
                        <li><a href="{{urls.home}}" title="Home">Home</a></li>
                        <li><a href="{{urls.account.index}}" title="My Account">My Account</a></li>
                        <li><a href="{{urls.account.wishlists.all}}" title="My Wishlist">My Wishlist</a></li>
                        <li>
                            <a href="/cart.php">
                                <span>My Cart</span>
                                <span class="top-link-cart my-cart-countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">({{cart.quantity}}
                                    <span class="item-product-cart">item)</span>
                                    <span class="items-product-cart">items<span>)
                                </span>
                            </a>
                        </li>
                        <li><a href="/checkout.php" title="Checkout" class="top-link-checkout">Checkout</a></li>
                        {{#if customer}}
                        <li><a href="{{urls.auth.logout}}" title="Log In">Log Out</a></li>
                        {{else}}
                        <li><a href="{{urls.auth.login}}" title="Log In">Log In</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="logo-search-header">
            <div class="content-logo-search">
                <div class="main-header__burger-menu">
                    <span class="mobileMenu-toggle">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="svg-logo">
                     <a href="{{urls.home}}">
                         <svg id="magness-logo" viewBox="0 0 978.7 72.7" width="100%" height="100%">
                             <path fill="#FFF" d="M128.5 3c-12.9 0-24 7.3-29.6 17.9C93.3 10.3 82.2 3 69.3 3c-13.9 0-25.8 8.5-30.8 20.5V4.3H18.7L10.2 19l2.5 4.7h5.5v46h20.3V49.2c5 12 16.9 20.5 30.8 20.5 12.9 0 24-7.3 29.6-17.9 5.6 10.7 16.7 17.9 29.6 17.9 18.4 0 33.3-14.9 33.3-33.3S146.9 3 128.5 3zM69.3 50.2c-7.6 0-13.8-6.2-13.8-13.8 0-7.6 6.2-13.8 13.8-13.8 7.6 0 13.8 6.2 13.8 13.8.1 7.6-6.1 13.8-13.8 13.8zm59.2 0c-7.6 0-13.8-6.2-13.8-13.8 0-7.6 6.2-13.8 13.8-13.8 7.6 0 13.8 6.2 13.8 13.8 0 7.6-6.2 13.8-13.8 13.8zM184.1 4.4c-5.8 0-10.5 4.7-10.5 10.5s4.7 10.5 10.5 10.5 10.5-4.7 10.5-10.5c0-5.7-4.7-10.5-10.5-10.5zm0 15.5c-2.7 0-4.9-2.2-4.9-4.9s2.2-4.9 4.9-4.9 4.9 2.2 4.9 4.9c-.1 2.7-2.2 4.9-4.9 4.9zM218.8 45.8c-6.1 0-11.1 5-11.1 11.1s5 11.1 11.1 11.1 11.1-5 11.1-11.1c0-6.2-5-11.1-11.1-11.1zm0 16.2c-2.8 0-5.1-2.3-5.1-5.1s2.3-5.1 5.1-5.1 5.1 2.3 5.1 5.1-2.3 5.1-5.1 5.1zM220.4 13.3c.4 0 .7-.1 1-.1 0 .9.1 1.8 0 2.8-.5.4-1.1.8-1.9 1.1.7.1 1.3.1 1.8.2 0 .9-.1 1.8-.2 2.7-.8.4-1.8.7-3 .9 1.1.2 2.1.4 2.8.6-.1.9-.2 1.7-.4 2.6-1.1.3-2.6.4-4.3.5 1.5.5 2.9.8 3.9 1.2-.2.9-.5 1.8-.8 2.8-1.8.2-4.1-.2-5.6-.3 1.3.5 3.6 1.1 5.1 1.8-.3.7-.6 1.5-.9 2.2-2.2.1-5.3-.2-7.1-.5 2.2.8 4.5 1.8 6 2.7-.4.8-.9 1.5-1.4 2.3-1.9-.1-4.7-.7-8-1.5 3.5 1.4 5.6 2.3 6.8 3.1-.6.8-1.3 1.6-1.9 2.3-1.9-.2-4.7-.7-8.6-2 3.6 1.7 5.8 2.9 7.1 3.7l-2.1 2.1c-2-.3-4.9-1.1-9.1-2.5 4 1.6 6.3 2.9 7.7 3.9l-2.7 2.4c-2.8-.6-6.4-1.8-9.3-2.9 1.6.9 5.1 3 7.3 4.6-.9.7-1.7 1.5-2.6 2.2-2.5-.6-5.7-1.8-9.1-3.3 1.6 1 5.1 3.2 7.3 4.9-.9.8-1.8 1.6-2.6 2.4-2.7-.7-6.1-2-8.9-3.5 1.4.9 5.1 3.2 7.2 5.2-.9.9-1.7 1.8-2.6 2.7-3-.8-6.8-2.5-8.7-3.6 1.6 1 5.3 3.3 7.2 5.3-.9 1-1.7 2.1-2.6 3.3-3.1-.6-7.7-3.2-10.9-5.4-1.7 2.7-3 6.5-3.6 9.1-2.4.2-3.7-.7-3.7-.7s1.7-4.6 5.4-9.9c13.4-20.1 44.3-25.3 44.9-53 .9.3 1.2 2.5 1.1 3.5.2-.1.4-.2.5-.2.1.8.2 1.8.3 3 0 .4-.3.9-.8 1.3zM171 59.5s.8-1.3 1.8-2.8c14.2-19.3 45.1-23.2 46.6-51-.4.1-.7.4-1.1.8-.1.4-.2.8-.2 1.2l-.3-.6c-.3.4-.7 1-1 1.6.1.7.2 1.5.4 2.5-.4-.6-.7-1.1-1-1.5-.3.5-.6 1.1-1 1.7.1.9.4 2.1.8 3.4-.6-.9-1.2-1.6-1.6-2.1-.4.6-.8 1.2-1.3 1.9.3 1.1.7 2.4 1.2 3.8-.8-1-1.5-1.9-2.1-2.6-.5.7-1.1 1.3-1.7 2 .4 1.4 1.2 2.9 1.6 4-1-1.4-1.9-2.4-2.5-3.1-.6.6-1.3 1.3-2.1 1.9.4 1.4 1.2 3.1 2 4.6-1.2-1.7-2.3-2.9-3.1-3.7-.2.1-.3.2-.5.3-.6.4-1.3.9-2 1.3.3 1.3 1 3 2.4 5.3-1.6-2.3-2.8-3.7-3.7-4.5-.8.5-1.7.9-2.6 1.4.3 1.4 1.1 3.4 2.6 6.3-1.7-2.7-3.3-4.4-4.5-5.3-.8.4-1.7.8-2.6 1.3.3 1.5 1.2 3.7 3 7.1-2.1-3.3-3.8-5.2-5-6.1-.9.4-1.8.9-2.7 1.3.4 1.6 1.5 4.2 3.3 7.7-2.1-3.3-4.1-5.5-5.6-6.5l-2.7 1.5c.4 1.7 1.6 4.3 3.7 8-2.3-3.4-4.3-5.7-5.8-6.8-.9.5-1.7 1-2.6 1.6.5 2.1 2 5.4 3.7 8.3-1.8-2.4-4.2-5.2-6.1-6.8-.9.6-1.7 1.2-2.6 1.8.5 2 1.9 4.9 3.9 8.2-1.9-2.7-4.1-5.3-5.8-6.8-.9.7-1.8 1.5-2.7 2.3.7 2.1 2.1 5 4 8.1-1.1-1.5-3.5-4.7-5.6-6.6-.9.9-1.8 1.9-2.6 2.9 1.2 3.4 3.4 7 4.8 9.2-.7 1.6-1.1 3.5-1.1 3.5zM234.9 5.8c0-1.5 1.1-2.6 2.6-2.6s2.5 1.1 2.5 2.6-1.1 2.6-2.6 2.6-2.5-1.1-2.5-2.6zm4.6 0c0-1.3-.9-2.2-2.1-2.2-1.3 0-2.1.9-2.1 2.2 0 1.3.9 2.2 2.1 2.2 1.3 0 2.1-.9 2.1-2.2zm-1 1.1s-.1.2-.3.2c-.1 0-.2 0-.3-.2l-.7-.9h-.3v.8c0 .1-.1.2-.2.2h-.1c-.1 0-.2-.1-.2-.2V4.7c0-.2.1-.3.2-.3h.8c.7 0 1 .3 1 .8s-.3.8-.8.8l.9.9zm-1-1.2c.4 0 .6-.2.6-.4 0-.3-.2-.4-.6-.4h-.6v.9h.6z"></path><g fill="#FFF"><path d="M321.2 63.2h-13.1l-3-22.3c-.2-1.6-.4-3.3-.6-5.2-.2-1.9-.3-4-.5-6.3-.3 2.2-1 4.9-1.9 8.2-.2.7-.4 1.2-.5 1.5l-7 24.1h-9.4l-7-24.1c-.1-.3-.2-.8-.4-1.5-1-3.3-1.6-6-1.9-8.1-.1 1.9-.3 3.9-.5 5.8s-.4 3.8-.7 5.7l-3 22.3h-13l7.9-51.5h13.9l7.8 26.5c0 .2.1.5.3.9.7 2.4 1.2 4.4 1.4 6.1.1-.9.3-1.9.5-3 .3-1.1.6-2.5 1.1-4l7.8-26.5h13.9l7.9 51.4zM322.7 63.2l17.8-51.5H358l17.8 51.5h-14l-2.6-9.2h-19.9l-2.7 9.2h-13.9zm19.7-19.3h14l-5.2-17c-.2-.5-.4-1.3-.7-2.5-.3-1.1-.6-2.6-1.1-4.4-.3 1.3-.6 2.5-.9 3.6l-.9 3.3-5.2 17zM403.9 44.2V33.4h27.6c0 .4 0 .7.1 1.2s0 1 0 1.9c0 8.9-2.3 15.7-7 20.6s-11.3 7.3-19.7 7.3c-4.2 0-7.9-.6-11.1-1.9-3.2-1.3-6.1-3.2-8.7-5.7-2.4-2.5-4.3-5.4-5.7-8.7-1.3-3.4-2-6.9-2-10.6 0-3.8.7-7.4 2-10.6 1.3-3.2 3.3-6.1 5.9-8.7 2.6-2.5 5.5-4.4 8.9-5.7 3.3-1.3 6.9-1.9 10.8-1.9 5 0 9.5 1 13.4 3 3.9 2 7.1 5 9.8 8.9L416 28.3c-1.5-2-3.1-3.5-4.9-4.4-1.8-1-3.8-1.5-6.1-1.5-4.2 0-7.5 1.4-9.9 4.2-2.4 2.8-3.6 6.6-3.6 11.5s1.2 8.8 3.6 11.6 5.7 4.2 9.9 4.2c3.6 0 6.5-.9 8.9-2.6 2.4-1.7 3.8-4.1 4.2-7h-14.2zM440.2 63.2V11.7h13.5l19.4 26.5c.4.5 1 1.6 1.8 3.3.9 1.6 1.8 3.6 2.8 5.8-.3-2.1-.5-4-.6-5.7-.1-1.7-.2-3.1-.2-4.4V11.7h13.5v51.5H477l-19.4-26.6c-.4-.5-1-1.6-1.9-3.3-.9-1.6-1.8-3.5-2.8-5.7.3 2.2.5 4.1.6 5.7.1 1.7.2 3.1.2 4.4v25.4h-13.5zM501.5 63.2V11.7H533V23h-17.9v8.9H532v11h-16.8v8.7H533v11.5h-31.5zM544.6 46.5c2.1 2.4 4.1 4.1 6.2 5.3 2 1.2 4 1.8 6.1 1.8 1.9 0 3.4-.5 4.6-1.5 1.2-1 1.8-2.3 1.8-3.8 0-1.7-.5-3-1.6-4-1-.9-3.4-1.9-7.1-2.9-5-1.4-8.6-3.1-10.7-5.3s-3.1-5.2-3.1-9c0-4.9 1.6-8.9 4.9-12 3.3-3.1 7.6-4.7 12.8-4.7 2.8 0 5.5.4 8.1 1.1 2.5.8 5 1.9 7.2 3.5l-4.4 10.1c-1.6-1.4-3.2-2.4-4.9-3.1-1.7-.7-3.3-1-5-1-1.7 0-3.1.4-4.1 1.2s-1.6 1.8-1.6 3.1.5 2.3 1.4 3.1 2.7 1.5 5.4 2.2l.6.2c5.7 1.5 9.5 3.2 11.3 5.1 1.2 1.3 2.1 2.8 2.8 4.6.6 1.8.9 3.7.9 5.9 0 5.5-1.8 9.8-5.4 13.2-3.6 3.3-8.4 5-14.3 5-3.6 0-6.8-.6-9.8-1.8-2.9-1.2-5.8-3.1-8.5-5.7l6.4-10.6zM586.4 46.5c2.1 2.4 4.1 4.1 6.2 5.3 2 1.2 4 1.8 6.1 1.8 1.9 0 3.4-.5 4.6-1.5 1.2-1 1.8-2.3 1.8-3.8 0-1.7-.5-3-1.6-4-1-.9-3.4-1.9-7.1-2.9-5-1.4-8.6-3.1-10.7-5.3s-3.1-5.2-3.1-9c0-4.9 1.6-8.9 4.9-12 3.3-3.1 7.6-4.7 12.8-4.7 2.8 0 5.5.4 8.1 1.1 2.5.8 5 1.9 7.2 3.5l-4.4 10.1c-1.6-1.4-3.2-2.4-4.9-3.1-1.7-.7-3.3-1-5-1-1.7 0-3.1.4-4.1 1.2s-1.6 1.8-1.6 3.1.5 2.3 1.4 3.1 2.7 1.5 5.4 2.2l.6.2c5.7 1.5 9.5 3.2 11.3 5.1 1.2 1.3 2.1 2.8 2.8 4.6.6 1.8.9 3.7.9 5.9 0 5.5-1.8 9.8-5.4 13.2-3.6 3.3-8.4 5-14.3 5-3.6 0-6.8-.6-9.8-1.8-2.9-1.2-5.8-3.1-8.5-5.7l6.4-10.6zM648.5 63.2V11.7h14.1c5.8 0 9.9.2 12.2.6 2.3.4 4.3 1 6 1.9 1.9 1.1 3.3 2.5 4.3 4.2 1 1.8 1.5 3.8 1.5 6.1 0 2.9-.7 5.3-2.2 7s-3.9 3-7.1 3.9c3.7.3 6.5 1.6 8.6 3.8s3.1 5.3 3.1 9.2c0 2.7-.6 5.2-1.7 7.2-1.2 2.1-2.8 3.7-5 4.9-1.8.9-3.9 1.6-6.5 2-2.6.4-6.8.6-12.7.6h-14.6zm13-30.9h2.8c3.5 0 5.8-.4 7.1-1.1 1.3-.8 1.9-2.1 1.9-4s-.6-3.3-1.8-4.1c-1.2-.8-3.6-1.2-7-1.2h-3v10.4zm0 20.3h4.9c3.3 0 5.7-.4 7.1-1.2 1.4-.8 2.1-2.2 2.1-4.2 0-2.2-.6-3.7-1.9-4.5-1.3-.9-3.6-1.3-7-1.3h-5.1v11.2zM697.4 63.2V11.7h31.5V23H711v8.9h16.8v11H711v8.7h17.9v11.5h-31.5zM738.2 63.2V11.7h13.5l19.4 26.5c.4.5 1 1.6 1.8 3.3.9 1.6 1.8 3.6 2.8 5.8-.3-2.1-.5-4-.6-5.7-.1-1.7-.2-3.1-.2-4.4V11.7h13.5v51.5H775l-19.4-26.6c-.4-.5-1-1.6-1.9-3.3-.9-1.6-1.8-3.5-2.8-5.7.3 2.2.5 4.1.6 5.7.1 1.7.2 3.1.2 4.4v25.4h-13.5zM799.5 63.2V11.7h14.7c5.7 0 9.7.3 12 .8s4.2 1.4 5.9 2.7c1.9 1.4 3.3 3.2 4.3 5.4s1.5 4.6 1.5 7.2c0 4-1 7.2-2.9 9.7s-4.8 4.2-8.6 5l14 20.7h-15.9L812.7 43v20.1h-13.2zM812.7 36h2.6c3 0 5.2-.5 6.6-1.5 1.4-1 2.1-2.6 2.1-4.9 0-2.6-.7-4.4-2-5.5s-3.5-1.6-6.6-1.6h-2.8V36zM898.5 37.5c0 3.7-.7 7.2-2 10.4s-3.3 6.1-5.9 8.7c-2.6 2.5-5.6 4.5-9 5.9s-6.9 2.1-10.5 2.1c-3.7 0-7.2-.7-10.6-2.1s-6.3-3.3-8.9-5.9c-2.6-2.6-4.7-5.5-6-8.7-1.4-3.3-2.1-6.7-2.1-10.4s.7-7.1 2.1-10.4c1.4-3.2 3.4-6.1 6-8.7 2.6-2.5 5.5-4.5 8.9-5.9s6.9-2.1 10.6-2.1c3.7 0 7.2.7 10.6 2.1s6.4 3.3 8.9 5.9 4.6 5.4 5.9 8.7c1.3 3.3 2 6.7 2 10.4zM871 52.6c3.9 0 7.1-1.4 9.7-4.3 2.5-2.9 3.8-6.5 3.8-10.8 0-4.3-1.3-7.9-3.9-10.8s-5.8-4.3-9.6-4.3c-3.9 0-7.1 1.4-9.7 4.3-2.5 2.9-3.8 6.5-3.8 10.8 0 4.4 1.3 8 3.8 10.9 2.5 2.8 5.8 4.2 9.7 4.2zM942.4 11.7l6.5 24.5c.3 1.1.6 2.2.8 3.4s.5 2.6.8 4.1c.4-1.8.7-3.3.9-4.5.2-1.2.5-2.2.7-3l6-24.5h14.2l-14.6 51.5h-13l-6.4-22c-.2-.8-.6-2.3-1.2-4.5-.2-1-.4-1.8-.6-2.4-.1.5-.3 1.2-.5 2.1-.5 2.3-.9 3.9-1.2 4.8l-6.3 22h-13L901 11.7h14.2l5.9 24.6c.3 1.3.6 2.5.8 3.8s.5 2.6.8 3.9c.2-1 .4-2 .7-3.1.2-1.1.6-2.6 1.1-4.6l6.5-24.6h11.4z"></path></g></svg>
                     </a>
                </div>
                <div class="search-form-menu">
                    <div class="navMenu-toggle-scroll">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        <div class="nav-container-menu">
                            {{> components/common/nav-menu}}
                        </div>
                    </div>
                    <div class="dropdown--quickSearch" id="quickSearch" aria-hidden="true" data-prevent-quick-search-close>
                        {{> components/common/quick-search}}
                    </div>

                </div>
                <div class="main-header__cart-account">
                    <div class="navUser-item navUser-item--cart">
                        <div class="subnav-mini-cart" id="top-cart">
                            <a
                                    class="navUser-action mini-cart-qty-dropdown"
                                    data-cart-preview
                                    aria-expanded="false"
                                    href="javascript:void(0)">
                            <span class="navUser-item-cartLabel">
                                <span class="title-mini-cart">Cart</span>
                                <svg id="shopping-cart" viewBox="0 0 949.434 949.434" width="100%" height="100%"><path d="M949.434 224.27l-587.341.225 8.312-93.217H200.27v65h99.08l-2.699 30.287-14.007 157.11H0v65h276.85l-4.283 48.044H143.529v65h123.243l-2.67 29.946h553.891L949.434 224.27zM335.155 526.666l6.953-77.99h53.195v-65h-47.4l8.396-94.179 500.834-.191-84.919 237.36H335.155zM626.999 786.956c16.736 19.827 42.046 31.199 69.442 31.199 53.688 0 102.879-41.885 111.985-95.355 4.705-27.622-2.319-54.983-19.272-75.068-16.736-19.827-42.046-31.199-69.442-31.199h-374.45c-53.688 0-102.879 41.885-111.986 95.354-4.705 27.623 2.32 54.985 19.273 75.07 16.736 19.827 42.046 31.199 69.441 31.199 53.688 0 102.878-41.885 111.985-95.355 2.408-14.139 1.736-28.207-1.761-41.269h185.457c-4.72 9.498-8.132 19.695-9.948 30.354-4.702 27.623 2.322 54.984 19.276 75.07zm-261.966-97.3c4.643 5.501 6.372 13.396 4.867 22.229-3.745 21.984-26.133 41.271-47.909 41.271-8.447 0-15.284-2.811-19.771-8.125-4.644-5.501-6.372-13.396-4.867-22.23 3.745-21.983 26.133-41.269 47.909-41.269 8.447-.001 15.284 2.809 19.771 8.124zm374.45 0c4.643 5.501 6.372 13.396 4.866 22.229-3.744 21.984-26.132 41.271-47.908 41.271-8.448 0-15.284-2.811-19.771-8.125-4.644-5.501-6.372-13.396-4.867-22.23 3.745-21.983 26.132-41.269 47.909-41.269 8.447-.001 15.284 2.809 19.771 8.124z"></path><path d="M78.951 274.902h174.728v65H78.951z"></path></svg>
                                <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">
                                {{cart.quantity}}
                                </span>
                            </span>

                            </a>
                            <div class="dropdown-menu" id="cart-preview-dropdown" aria-hidden="true" tabindex="-1">
                                {{> components/common/cart-preview}}
                            </div>
                        </div>
                    </div>
                    <div class="sign-in-header">
                        <span class="active-show-sign-in" id="active-show-sign-in" data-sign aria-expanded="false">
                            <a href="javascript:void(0)" style="display: flex; text-decoration: none;">
                                <span>Sign In</span>
                                <svg id="user-shape" viewBox="0 0 408 408" width="100%" height="100%"><path d="M204 204c56.1 0 102-45.9 102-102S260.1 0 204 0 102 45.9 102 102s45.9 102 102 102zm0 51C135.15 255 0 288.15 0 357v51h408v-51c0-68.85-135.15-102-204-102z"></path></svg>
                            </a>
                        </span>
                        <div class="container-sign-in" aria-hidden="true" tabindex="-1">
                            <ul class="nav-sign-in">
                                <li><a href="{{urls.account.details}}"><i class="fa fa-user"></i>Your Account</a></li>
                                <li><a href="{{urls.account.orders.all}}"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="10px" y="10px" viewBox="0 0 473.8 473.8" style="enable-background:new 0 0 473.8 473.8;" xml:space="preserve">
<g>
	<path d="M454.8,111.7c0-1.8-0.4-3.6-1.2-5.3c-1.6-3.4-4.7-5.7-8.1-6.4L241.8,1.2c-3.3-1.6-7.2-1.6-10.5,0L25.6,100.9   c-4,1.9-6.6,5.9-6.8,10.4v0.1c0,0.1,0,0.2,0,0.4V362c0,4.6,2.6,8.8,6.8,10.8l205.7,99.7c0.1,0,0.1,0,0.2,0.1   c0.3,0.1,0.6,0.2,0.9,0.4c0.1,0,0.2,0.1,0.4,0.1c0.3,0.1,0.6,0.2,0.9,0.3c0.1,0,0.2,0.1,0.3,0.1c0.3,0.1,0.7,0.1,1,0.2   c0.1,0,0.2,0,0.3,0c0.4,0,0.9,0.1,1.3,0.1c0.4,0,0.9,0,1.3-0.1c0.1,0,0.2,0,0.3,0c0.3,0,0.7-0.1,1-0.2c0.1,0,0.2-0.1,0.3-0.1   c0.3-0.1,0.6-0.2,0.9-0.3c0.1,0,0.2-0.1,0.4-0.1c0.3-0.1,0.6-0.2,0.9-0.4c0.1,0,0.1,0,0.2-0.1l206.3-100c4.1-2,6.8-6.2,6.8-10.8   V112C454.8,111.9,454.8,111.8,454.8,111.7z M236.5,25.3l178.4,86.5l-65.7,31.9L170.8,57.2L236.5,25.3z M236.5,198.3L58.1,111.8   l85.2-41.3L321.7,157L236.5,198.3z M42.8,131.1l181.7,88.1v223.3L42.8,354.4V131.1z M248.5,442.5V219.2l85.3-41.4v58.4   c0,6.6,5.4,12,12,12s12-5.4,12-12v-70.1l73-35.4V354L248.5,442.5z" style="&#10;    fill: #fff;&#10;"/>

</g>
</svg>Your Orders</a></li>
                                <li><a href="{{urls.account.wishlists.all}}"><i class="fa fa-heart"></i>Wishlist</a></li>
                            </ul>
                            <div class="bottom-sign-in">
                                <span>if you are a new user</span>
                                <a class="register-form" href="{{urls.auth.create_account}}">Register</a>
                                <a class="login-form" href="{{urls.auth.login}}">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{{region name="header_bottom"}}}
        <div class="navPages-container">
            <div class="navigation-gutter-container">
                <div class="container-menu">
                    <span class="nav-a relative-level1 level-top nav-a-with-toggler nav-a-level0">
                        Shop By Department </span>
                    <div class="nav-container-menu">
                        {{> components/common/nav-menu}}
                    </div>

                </div>
                <div class="menu-quick-shop">
                    <ul class="sub-menu-quickshop">
                        <li><h4>Quick shop <svg id="thin-right-arrow" viewBox="0 0 381.39 381.39" width="100%" height="100%"><path d="M380.15 184.648l-3.401-5.149-95.347-95.347c-6.166-6.198-16.304-6.198-22.47 0s-6.166 16.273 0 22.47l68.205 68.205H15.891C7.119 174.827 0 181.947 0 190.719c0 8.772 7.119 15.891 15.891 15.891h311.246l-68.205 68.205c-6.134 6.134-6.134 16.273 0 22.47 6.198 6.134 16.336 6.134 22.47 0l95.347-95.347 3.432-5.149 1.208-6.007v-.064l-1.239-6.07z" fill="#090509"></path></svg></h4></li>
                        <li><a href="/beds/">Beds</a></li>
                        <li><a href="/appliances/fridges-freezers/fridges/">Fridges</a></li>
                        <li><a href="/appliances/fridges-freezers/freezers/">Freezers</a></li>
                        <li><a href="/tvs-technology/audio/headphones/">Headphones</a></li>
                        <li><a href="/tvs-technology/tvs/oled-tvs/">OLED TVs</a></li>
                        <li><a href="/appliances/coffee-machines/">Coffee Machines</a></li>
                        <li><a href="/tvs-technology/tvs/">TVs</a></li>
                        <li><a href="/blenders-juicers/">Blenders & Juicers</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navPages-quickSearch" id="quickSearch-mobile">
            {{> components/common/quick-search}}
        </div>
    </div>
    <div class="navPages-container-mobile" id="menu-mobile" data-menu>
        <div class="navigation-gutter-container">
            <div class="container-menu">
                <div class="heading-menu-mobile">
                    <h4>Menu</h4>
                </div>
                {{> components/common/navigation-menu-mobile}}
            </div>
        </div>
    </div>
</header>
