<nav class="navPages-menu">

    <ul class="navPages-list-nav{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
        {{#each categories}}
        {{#if @index '==' 5}}
        <h4 class="sub-heading-menu">Other ways to shop</h4>
        {{/if}}
        <li class="navPages-item">
            {{#if ../theme_settings.navigation_design '===' 'simple'}}
            {{> components/common/navigation-list}}
            {{/if}}
            {{#if ../theme_settings.navigation_design '===' 'alternate'}}
            {{> components/common/navigation-list-alternate}}
            {{/if}}
        </li>
        {{/each}}
    </ul>

    <ul class="navPages-list-menu{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
    {{#each categories}}

    {{#if ../theme_settings.navigation_design '===' 'simple'}}
    {{> components/common/navigation-list-menu}}
    {{/if}}

    {{/each}}

    </ul>

</nav>

