{{#if children}}
{{#unless id '25'}}
<div class="navPage-subMenu{{#if id '41'}} navPages-labels{{/if}}" id="navPages-{{id}}" aria-hidden="true" tabindex="-1" data-collapsible="navPages-{{id}}">
    <ul class="navPage-subMenu-list dropdown-category-list {{#if id '41'}}submenu-labels{{/if}}">
        <li class="navPage-subMenu-item">
            <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{lang 'category.view_all.name' category=name}}</a>
        </li>

        {{#each children}}
        <li class="navPage-subMenu-item item-child {{#if @first}} active{{/if}}">
            {{#if ../id '41'}}
            <a class="navPage-subMenu-action navPages-action" data-name="{{name}}" href="{{url}}">
                <h3 class="category-name">{{name}}</h3>
            </a>
            {{else}}
            {{#if children}}
            <a
                    class="navPage-subMenu-action navPages-action has-subMenu"
                    href="{{url}}"
                    data-collapsible="navPages-{{id}}"
                    data-collapsible-disabled-breakpoint="medium"
                    data-collapsible-disabled-state="open"
                    data-collapsible-enabled-state="closed">
                {{name}}
            </a>
            <ul class="navPage-childList" id="navPages-{{id}}">
                {{#each children}}

                <li class="navPage-childList-item">
                    <a class="navPage-childList-action navPages-action" href="{{url}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
            <a class="sub-next-menu-mobile" href="#"><i class="fa fa-chevron-right"></i></a>
            {{else}}

            <a class="navPage-subMenu-action navPages-action" data-name="{{name}}" href="{{url}}">
                <h3 class="category-name">{{name}}</h3>
            </a>
            {{/if}}

            {{/if}}
        </li>
        {{/each}}
    </ul>
</div>
{{else}}

{{/unless}}
{{else}}

{{/if}}
