<nav class="navPages">


    <ul class="navPages-list{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
        {{#each categories}}
        {{#if @index '==' 5}}
            <h4 class="sub-heading-menu">Other ways to shop</h4>
        {{/if}}
            <li class="navPages-item">
            {{#if ../theme_settings.navigation_design '===' 'simple'}}
                {{> components/common/navigation-list}}
            {{/if}}
            {{#if ../theme_settings.navigation_design '===' 'alternate'}}
                {{> components/common/navigation-list-alternate}}
            {{/if}}
            </li>
        {{/each}}
        {{#unless theme_settings.hide_content_navigation}}
            {{#each pages}}
                 <!--<li class="navPages-item navPages-item-page">-->
                     <!--<a class="navPages-action" href="{{url}}">{{name}}</a>-->
                 <!--</li>-->
             {{/each}}
        {{/unless}}
    </ul>
    <!--<ul class="navPages-list-menu{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">-->
        <!--{{#each categories}}-->

            <!--{{#if ../theme_settings.navigation_design '===' 'simple'}}-->
            <!--{{> components/common/navigation-list-menu}}-->
            <!--{{/if}}-->

        <!--{{/each}}-->

    <!--</ul>-->
    <div class="icon-search">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21" height="21" viewBox="0 0 21 21"><defs><path id="ek5na" d="M63.7 30.22A8.79 8.79 0 1 0 48 24.85a8.77 8.77 0 0 0 14.14 6.91L67.38 37l1.6-1.59zm-.42-5.33a6.52 6.52 0 1 1-13.05-.01 6.52 6.52 0 0 1 13.05.01z"/></defs><g><g clip-path="url(#clip-A148D0DD-595C-4BCE-87CE-D4D2FFE52D8A)" transform="translate(-48 -16)"><use fill="#020303" xlink:href="#ek5na"/></g></g></svg>
    </div>

    <div class="navPages-quickSearch show-quicksearch">
        {{> components/common/quick-search}}
    </div>
</nav>

