<nav class="navUser">
    <div class="icon-search">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21" height="21" viewBox="0 0 21 21"><defs><path id="ek5na" d="M63.7 30.22A8.79 8.79 0 1 0 48 24.85a8.77 8.77 0 0 0 14.14 6.91L67.38 37l1.6-1.59zm-.42-5.33a6.52 6.52 0 1 1-13.05-.01 6.52 6.52 0 0 1 13.05.01z"/></defs><g><g clip-path="url(#clip-A148D0DD-595C-4BCE-87CE-D4D2FFE52D8A)" transform="translate(-48 -16)"><use fill="#020303" xlink:href="#ek5na"/></g></g></svg>
    </div>
    <div class="search-form-menu">
        <a class="navUser-action navUser-action--quickSearch" href="#" data-search="quickSearch" aria-controls="quickSearch" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="18" viewBox="-1 -1 17 17"><defs><path id="gx0ha" d="M33.5 28.59a7.12 7.12 0 0 0 1.48-4.34c0-3.9-3.14-7.08-7-7.08A7.04 7.04 0 0 0 21 24.25c0 3.9 3.13 7.08 6.98 7.08 1.53 0 3.05-.53 4.28-1.5l4.17 4.24 1.27-1.28zm-.33-4.3c0 2.9-2.33 5.25-5.19 5.25a5.23 5.23 0 0 1-5.19-5.26c0-2.9 2.33-5.25 5.19-5.25a5.23 5.23 0 0 1 5.19 5.25z"/></defs><g><g clip-path="url(#clip-133EA0AC-EBD6-497E-8796-EAE18195DA4E)" transform="translate(-21 -17)"><use fill="#020303" xlink:href="#gx0ha"/></g></g></svg>
        </a>
        <div class="dropdown--quickSearch" id="quickSearch" aria-hidden="true" tabindex="-1" data-prevent-quick-search-close>
            {{> components/common/quick-search}}
        </div>
    </div>

    <ul class="navUser-section navUser-section--alt">
        {{> components/common/currency-selector}}
        {{#if customer.store_credit.value '>' 0}}
            <li class="navUser-item">
                <a class="navUser-action navUser-action--storeCredit"
                   data-dropdown="storeCredit-dropdown"
                   data-options="align:bottom"
                   href="{{urls.cart}}">
                        <span class="navUser-action-divider">{{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}</span>
                </a>
                <div class="dropdown-menu" id="storeCredit-dropdown" data-dropdown-content aria-hidden="true">
                    {{{lang 'common.store_credit' store_credit=customer.store_credit.formatted}}}
                </div>
            </li>
        {{/if}}
        <li class="navUser-item">
            <a class="navUser-action navUser-item--compare" href="{{urls.compare}}" data-compare-nav>{{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span></a>
        </li>
        {{#if theme_settings.social_icon_placement_top}}
            <li class="navUser-item navUser-item--social">
                {{> components/common/social-links}}
            </li>
            <li class="navUser-item navUser-item--divider">|</li>
        {{/if}}

        {{#if settings.gift_certificates_enabled}}
            <!--<li class="navUser-item">-->
                <!--<a class="navUser-action" href="{{urls.gift_certificate.purchase}}">{{lang 'common.gift_cert'}}</a>-->
            <!--</li>-->
        {{/if}}
        <li class="navUser-item navUser-item--account">
            {{#if customer}}
                <span class="navUser-action nav-sign-in-success" >{{lang 'common.account'}} <i class="fa fa-chevron-down"></i></span>
                <!--<a class="navUser-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>-->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="19" viewBox="0 0 16 19"><defs><path id="15jsa" d="M258.26 54.22a4.7 4.7 0 0 0 4.78-4.6 4.7 4.7 0 0 0-4.78-4.62 4.7 4.7 0 0 0-4.79 4.61 4.7 4.7 0 0 0 4.79 4.61m0-7.54a3 3 0 0 1 3.04 2.93 3 3 0 0 1-3.04 2.94 3 3 0 0 1-3.05-2.94 3 3 0 0 1 3.05-2.93"/><path id="15jsb" d="M258.63 54.55c-4.15 0-7.53 3.83-7.53 8.54v1h15.06v-1c0-4.71-3.38-8.54-7.53-8.54zm-5.69 7.53c.43-3.12 2.82-5.52 5.69-5.52 2.87 0 5.26 2.4 5.69 5.52z"/></defs><g><g transform="translate(-251 -45)"><use fill="#020303" xlink:href="#15jsa"/></g><g clip-path="url(#clip-AD724423-2ACF-2CCF-8D8D-C599EAE4A057)" transform="translate(-251 -45)"><use fill="#020303" xlink:href="#15jsb"/></g></g></svg>
            <div class="account_menu drop-menu-sign-in-success">
                <div class="sub-menu-account">
                    <ul class="nav-account-menu">
                        <li class="navBar-item navBar-sign-in">
                            <span>Hey, {{customer.name}} /</span><a class="navBar-action nav-join" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
                        </li>
                        <li class="navBar-item">
                            <a class="navBar-action" href="{{urls.account.index}}">{{lang 'header.my_account'}}</a>
                        </li>
                        {{#if account_page '===' 'orders'}}
                        <li class="navBar-item is-active">{{lang 'account.nav.orders'}}</li>
                        {{else}}
                        <li class="navBar-item">
                            <a class="navBar-action" href="{{urls.account.orders.all}}">{{lang 'header.my_order'}}</a>
                        </li>
                        {{/if}}
                        {{#if settings.show_wishlist}}
                        {{#if account_page '===' 'wishlists'}}
                        <li class="navBar-item is-active">{{lang 'account.nav.wishlists' num_wishlists=customer.num_wishlists}}</li>
                        {{else}}
                        <li class="navBar-item">
                            <a class="navBar-action" href="{{urls.account.wishlists.all}}">{{lang 'header.my_wishlist' num_wishlists=customer.num_wishlists}}</a>
                        </li>
                        {{/if}}
                        {{/if}}
                        {{#if account_page '===' 'addresses'}}
                        <li class="navBar-item is-active">{{lang 'account.nav.addresses'}}</li>
                        {{else}}
                        <li class="navBar-item">
                            <a class="navBar-action" href="{{urls.account.addresses}}">{{lang 'header.my_addresses'}}</a>
                        </li>
                        {{/if}}
                        <li class="navBar-item nav-sign-out-access">
                            <a class="navBar-action" href="{{urls.auth.logout}}">Sign Out</a>
                        </li>
                    </ul>
                    <div class="sing-out-account">
                        <a class="account-menu-sign-out" href="{{urls.auth.logout}}">Sign Out</a>
                    </div>
                </div>
            </div>
            {{else}}
                <!--<a class="navUser-action" href="{{urls.auth.login}}">{{lang 'common.login'}} <i class="fa fa-chevron-down"></i></a>-->
                <span class="navUser-action nav-sign-in-mobile">{{lang 'common.login'}} <i class="fa fa-chevron-down"></i></span>
                <span class="show_menu_account"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="19" viewBox="0 0 16 19"><defs><path id="15jsa" d="M258.26 54.22a4.7 4.7 0 0 0 4.78-4.6 4.7 4.7 0 0 0-4.78-4.62 4.7 4.7 0 0 0-4.79 4.61 4.7 4.7 0 0 0 4.79 4.61m0-7.54a3 3 0 0 1 3.04 2.93 3 3 0 0 1-3.04 2.94 3 3 0 0 1-3.05-2.94 3 3 0 0 1 3.05-2.93"/><path id="15jsb" d="M258.63 54.55c-4.15 0-7.53 3.83-7.53 8.54v1h15.06v-1c0-4.71-3.38-8.54-7.53-8.54zm-5.69 7.53c.43-3.12 2.82-5.52 5.69-5.52 2.87 0 5.26 2.4 5.69 5.52z"/></defs><g><g transform="translate(-251 -45)"><use fill="#020303" xlink:href="#15jsa"/></g><g clip-path="url(#clip-AD724423-2ACF-2CCF-8D8D-C599EAE4A057)" transform="translate(-251 -45)"><use fill="#020303" xlink:href="#15jsb"/></g></g></svg></span>
            <div class="account_menu account-login-error">
                <div class="sub-menu-account">
                    <ul class="nav-account-menu">
                        <li class="navBar-item navBar-sign-in">
                            <a class="navBar-action nav-sign-in" href="{{urls.auth.login}}">Sign In</a><span class="nav-sub">/</span><a class="navBar-action nav-join" href="{{urls.auth.create_account}}">Join</a>
                        </li>
                        <li class="navBar-item nav-signin">
                            <a class="navBar-action" href="{{urls.auth.login}}">Sign In</a>
                        </li>
                        <li class="navBar-item nav-sign-join">
                            <a class="navBar-action" href="{{urls.auth.create_account}}">Join</a>
                        </li>
                        <li class="navBar-item">
                            <a class="navBar-action" href="{{urls.account.index}}">{{lang 'header.my_account'}}</a>
                        </li>

                        <li class="navBar-item">
                            <a class="navBar-action" href="{{urls.account.wishlists.all}}">{{lang 'header.my_wishlist'}}</a>
                        </li>

                        {{#if account_page '===' 'addresses'}}
                        <li class="navBar-item is-active">{{lang 'account.nav.addresses'}}</li>
                        {{else}}
                        <li class="navBar-item">
                            <a class="navBar-action" href="{{urls.account.addresses}}">{{lang 'header.my_addresses'}}</a>
                        </li>
                        {{/if}}
                    </ul>
                    <!--<div class="sing-out-account">
                        <a class="account-menu-sign-out" href="{{urls.auth.logout}}">Sign Out</a>
                    </div>-->
                </div>
            </div>
            {{#if settings.account_creation_enabled}}
                    <!--<span class="navUser-or">{{lang 'common.or'}}</span> <a class="navUser-action" href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>-->
                {{/if}}
            {{/if}}
        </li>
        <li class="navUser-item navUser-item--cart">
            <a
                class="navUser-action mini-cart-qty-dropdown"
                data-cart-preview
                data-options="align:right"
                href="#">
                <span class="navUser-item-cartLabel">
                    <span>{{lang 'common.cart'}}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="21" viewBox="0 0 20 21"><defs><path id="stuqa" d="M305.58 63.65h-19.26l2.07-16.68h2.7a4.98 4.98 0 0 1 4.86-3.97 4.98 4.98 0 0 1 4.85 3.97h2.72zm-2.19-2.1l-1.54-12.47h-.7a1.08 1.08 0 0 1-1.07 1.06c-.58 0-1.06-.48-1.07-1.06h-5.82a1.08 1.08 0 0 1-1.08 1.06c-.58 0-1.06-.48-1.07-1.06h-.93l-1.6 12.46zm-4.75-14.58a2.9 2.9 0 0 0-2.69-1.87 2.9 2.9 0 0 0-2.69 1.87z"/></defs><g><g transform="translate(-286 -43)"><use fill="#020303" xlink:href="#stuqa"/></g></g></svg>
                </span>
                <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">
                    {{cart.quantity}}
                </span>
            </a>

            <!--<div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>-->
        </li>
    </ul>

</nav>
