{{#if children}}
{{#unless id '25'}}
<a class="navPages-action has-subMenu" href="{{url}}" data-collapsible="navPages-{{id}}">
    {{name}} <i class="icon navPages-action-moreIcon" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="5" viewBox="0 0 8 5"><defs><path id="h1fza" d="M300 131.93l.33-.34 3.62-3.64-.67-.92-3.28 3.3-3.28-3.3-.67.92 3.61 3.64z"/></defs><g><g transform="translate(-296 -127)"><use fill="#1c1f2a" xlink:href="#h1fza"/></g></g></svg>
</i>
</a>
<div class="navPage-subMenu{{#if id '41'}} navPages-labels{{/if}}" id="navPages-{{id}}" aria-hidden="true" tabindex="-1">

    <div class="prv-menu">
        <a class="prv-menu-mobile" href="#"><i class="fa fa-chevron-left"></i></a>
        <h4 class="heading-sub-nav-menu">{{lang 'category.view_all.name' category=name}}</h4>
    </div>

    <ul class="navPage-subMenu-list dropdown-category-list {{#if id '41'}}submenu-labels{{/if}}">


        {{#each children}}
        <li class="navPage-subMenu-item item-child {{#if @first}} active{{/if}}">
            {{#if ../id '41'}}
            <a class="navPage-subMenu-action navPages-action" data-name="{{name}}" href="{{url}}">
                <h3 class="category-name">{{name}}</h3>
            </a>
            {{else}}
            {{#if children}}
            <a
                    class="navPage-subMenu-action navPages-action has-subMenu"
                    href="{{url}}"
                    data-collapsible="navPages-{{id}}"
                    data-collapsible-disabled-breakpoint="medium"
                    data-collapsible-disabled-state="open"
                    data-collapsible-enabled-state="closed">
                {{name}} <i class="icon navPages-action-moreIcon" aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="5" viewBox="0 0 8 5"><defs><path id="h1fza" d="M300 131.93l.33-.34 3.62-3.64-.67-.92-3.28 3.3-3.28-3.3-.67.92 3.61 3.64z"/></defs><g><g transform="translate(-296 -127)"><use fill="#1c1f2a" xlink:href="#h1fza"/></g></g></svg>
            </i>
            </a>
            <ul class="navPage-childList" id="navPages-{{id}}">
                <h4 class="sub-navPage-childList-mobile">
                    <a class="sub-prv-menu-mobile" href="#"><i class="fa fa-chevron-left"></i></a>
                    <a
                            class="navPage-subMenu-action-sub navPages-action has-subMenu"
                            data-collapsible="navPages-{{id}}"
                            data-collapsible-disabled-breakpoint="medium"
                            data-collapsible-disabled-state="open"
                            data-collapsible-enabled-state="closed">
                        {{name}}
                    </a>
                </h4>
                {{#each children}}



                <li class="navPage-childList-item">
                    <a class="navPage-childList-action navPages-action" href="{{url}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
            <a class="sub-next-menu-mobile" href="#"><i class="fa fa-chevron-right"></i></a>
            {{else}}

            <a class="navPage-subMenu-action navPages-action" data-name="{{name}}" href="{{url}}">
                <h3 class="category-name">{{name}}</h3>
            </a>
            {{/if}}

            {{/if}}
        </li>
        {{/each}}
    </ul>
</div>
{{else}}
<a class="navPages-action" href="{{url}}">{{name}}</a>
{{/unless}}
{{else}}
<a class="navPages-action" href="{{url}}">{{name}}</a>
{{/if}}
