<div class="pagination">
    <ul class="pagination-list {{#if previous}}{{#or next}}test{{/or}}{{/if}}">

        <li class="pagination-item">
            <span>Page :</span>
        </li>

        {{#if previous}}
        <li class="pagination-item pagination-item--previous">
            <a class="pagination-link" href="{{previous}}" {{#unless reload}}data-faceted-search-facet{{/unless}}>
            <img src="{{ cdn 'icons/left-arrow.svg'}}" alt="">

            </a>
        </li>
        {{/if}}
        {{#each links}}
            {{#if this.number '==' ../current}}
                <li class="pagination-item pagination-item--current">
                    <a class="pagination-link" href="{{this.url}}" {{#unless reload}}data-faceted-search-facet{{/unless}}>{{this.number}}</a>
                </li>
            {{else}}
                <li class="pagination-item">
                    <a class="pagination-link" href="{{this.url}}" {{#unless reload}}data-faceted-search-facet{{/unless}}>{{this.number}}</a>
                </li>
            {{/if}}
        {{/each}}

        {{#if next}}
            <li class="pagination-item pagination-item--next">
                <a class="pagination-link" href="{{next}}" {{#unless reload}}data-faceted-search-facet{{/unless}}>
                    <img src="{{ cdn 'icons/right-arrow.svg'}}" alt="">{{this.number}}
                </a>
            </li>
        {{/if}}
    </ul>
</div>
