{{{ snippet "forms_search"}}}
<form class="form" action="{{urls.search}}">
    <fieldset class="form-fieldset">
        <div class="form-field">
            <label class="is-srOnly" for="search_query">{{lang "search.quick_search.input_label"}}</label>
            <input class="form-input" data-search-quick name="search_query" id="search_query" data-error-message="{{lang 'search.error.empty_field'}}"  autocomplete="off" placeholder="Search entire store here...">
            <button type="submit"><span>Search</span></button>
        </div>
    </fieldset>
</form>
<div class="quickSearchResultsWrap" data-prevent-quick-search-close>
    <section class="quickSearchResults" data-bind="html: results"></section>
</div>