{{{ snippet "forms_search"}}}
<form class="form"  action="{{urls.search}}">
    <fieldset class="form-fieldset">
        <div class="form-field">
            <label class="form-label is-srOnly" for="search_query_adv">{{lang 'search.results.form_label'}}</label>
            <div class="form-prefixPostfix wrap">
                <input class="form-input" id="search_query_adv" name="search_query_adv" value="{{forms.search.query}}">
                <input class="button button--primary form-prefixPostfix-button--postfix" type="submit" value="Submit">
            </div>
        </div>
    </fieldset>
</form>
