<div class="pagination">
    <ul class="pagination-list pagination-list--small">
        {{#if previous}}
            <li class="pagination-item pagination-item--previous">
                <a class="pagination-link" href="{{previous}}" data-faceted-search-facet>
                    <i class="icon" aria-hidden="true">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-left"></use>
                        </svg>
                    </i>
                    {{lang 'common.previous'}}
                </a>
            </li>
        {{/if}}

        {{#if this.links.length}}
            <li class="pagination-item">{{lang 'common.paginator.page_of' current=this.current total=this.links.length}}</li>
        {{else}}
            <li class="pagination-item">{{lang 'common.paginator.page_of' current=1 total=1}}</li>
        {{/if}}

        {{#if next}}
            <li class="pagination-item pagination-item--next">

                <a class="pagination-link" href="{{next}}" data-faceted-search-facet>
                    {{lang 'common.next'}}
                    <i class="icon" aria-hidden="true">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use>
                        </svg>
                    </i>
                </a>
            </li>
        {{/if}}
    </ul>
</div>

