<form class="form" action="{{urls.subscribe.action}}" method="post">
    <fieldset class="form-fieldset">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="nl_first_name" value="">
        <input type="hidden" name="check" value="1">
        <div class="form-field">
            <label class="form-label is-srOnly" for="nl_email">{{lang 'common.email_address'}}</label>
            <div class="form-prefixPostfix wrap">
                <input class="form-input " id="nl_email" name="nl_email" type="email" value="Enter Your Email Address:" onblur="if(value=='') value = 'Enter Your Email Address:'" onfocus="if(value=='Enter Your Email Address:') value = ''">
                <input class="button button--primary form-prefixPostfix-button--postfix" type="submit" value="Submit">
            </div>
            {{#if settings.show_newsletter_summary }}
                <div class="footer-newsletter-summary">{{settings.newsletter_summary}}</div>
            {{/if}}
        </div>
    </fieldset>
</form>
