// =============================================================================
// BUTTONS (CSS)
// =============================================================================

.button {
    line-height: 1rem;
    transition: all 0.15s ease;
    background: black;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;

    + .button {
        margin-left: 0;

        @include breakpoint("medium") {
            margin-left: spacing("half");
        }
    }
}

.button[disabled] {
    cursor: not-allowed;
}

.button--icon {

    svg {
        fill: stencilColor("button--icon-svg-color");
    }
}
