// =============================================================================
// PAGINATION (CSS)
// =============================================================================


// Pagination list items
// -----------------------------------------------------------------------------
//
// 1. Centred list via inline-block. Font-size: 0; to remove white-space.
// 2. Specificity overrides for Foundation's inadequate selectors.
//
// -----------------------------------------------------------------------------

.pagination-list {
    @include clearfix;

    margin-bottom: spacing("single");
    text-align: right;

    .pagination-item { // 2
        display: inline-block;
        margin: 0;
        vertical-align: text-top;
    }
    .pagination-item--previous {
     
        text-decoration: underline;
    }
    .pagination-item--next {
      
        text-decoration: underline;
    }

    .pagination-item--previous,
    .pagination-item--next {
        .icon {
            display: none;
        }
    }
}


// Pagination list items
// -----------------------------------------------------------------------------
//
// 1. Specificity overrides for Foundation's inadequate selectors.
//
// -----------------------------------------------------------------------------

.pagination-item {
    border: $pagination-item-border;
    line-height: 1;
    .pagination-link,
    span{
        text-decoration: none;
        transition: $pagination-link-transition;
        color: #1c1f2a;
        font-size: 13px;
        font-weight: 600;
        padding: 0;
        svg{
            display: none;
        }
        // scss-lint:disable NestingDepth
        &:hover {
            color: $pagination-link-color-hover;
        }
        
    }
    span{
        padding-right: $spacing-single * 1.5;
    }
    &.pagination-item--current { // 1
        border-radius: $pagination-link-current-borderRadius;
        margin: 0;
        a{
            color: stencilColor("color-red");
        }
    }
    &:first-child{
        cursor: auto;
    }
    &.pagination-item--previous, // 1
    &.pagination-item--next { // 1
        vertical-align: top;
        // scss-lint:disable NestingDepth, SelectorDepth
        > a {

            img{
                height: 8px;
            }
            &:hover {
                color: $pagination-item-previousNext-color-hover;

                .icon > svg {
                    fill: $pagination-item-previousNext-color-hover;
                }
            }
        }
    }
}

.pagination-item--previous,
.pagination-item--next {
    
    .icon {
        height: remCalc(20px);
        margin-top: -(remCalc(2px));
        width: remCalc(20px);
    }
}

.pagination-item--previous {
    .icon {
        margin-left: -(remCalc(12px));
    }
}

.pagination-item--next {

    .icon {
        margin-right: -(remCalc(12px));
    }
}


// Simple/small pagination (Next/Previous arrows are the only way to navigate)
// -----------------------------------------------------------------------------

.pagination-list--small {
    position: relative;

    .pagination-item {
        color: $pagination-list--small-color;
        cursor: inherit;
        line-height: $pagination-list--small-lineHeight;
    }

    .pagination-link {
        padding: $pagination-list--small-link-padding;
    }

    .pagination-item--previous,
    .pagination-item--next {
        position: absolute;
        top: 0;
    }

    .pagination-item--previous {
        left: 0;
    }

    .pagination-item--next {
        right: 0;
    }
}
