---
brand:
    products:
        limit: {{theme_settings.brandpage_products_per_page}}
---
{{inject "brandProductsPerPage" theme_settings.brandpage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.brand.previous}}
        <link rel="prev" href="{{pagination.brand.previous}}">
    {{/if}}
    {{#if pagination.brand.next}}
        <link rel="next" href="{{pagination.brand.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<div class="banner-brand">
    <div class="banner-brand-container">
        <div class="logo-brand">
            {{#if brand.image}}
               <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage brand.image }}">
            {{/if}}
        </div>
        <div class="desc-brand">
            <p>{{ head.title }}</p>
        </div>
        <div class="background-brand">
            {{{ head.meta_tags }}}
        </div>
    </div>
</div>
<div class="{{category.name}} shop-by-category swiper-container">
    <h2 class="page-heading">Shop by Category</h2>
    <div class="button-action">
        <div class="swiper-button-prev">Prev</div>
        <div class="swiper-button-next">Next</div>
    </div>
    <div class="category-list slick-category-list swiper-wrapper">
        <div class="category-item swiper-slide">
            <a href="">
                <img src="{{ cdn '../img/homepage-img/All-Clothing.png'}}" alt=""></a>
            <h4 class="category-title">All Clothing</h4>
        </div>
        <div class="category-item swiper-slide">
            <a href="">
                <img src="{{ cdn '../img/homepage-img/Dresses-Jumpsuits.png'}}" alt=""></a>
            <h4 class="category-title">Dresses + Jumpsuits</h4>
        </div>
        <div class="category-item swiper-slide">
            <a href="">
                <img src="{{ cdn '../img/homepage-img/Bottoms.png'}}" alt=""> </a>
            <h4 class="category-title">Bottoms</h4>
        </div>
        <div class="category-item swiper-slide">
            <a href="">
                <img src="{{ cdn '../img/homepage-img/Tops.png'}}" alt=""></a>
            <h4 class="category-title">Tops</h4>
        </div>
        <div class="category-item swiper-slide">
            <a href="">
                <img src="{{ cdn '../img/homepage-img/Outerwear.png'}}" alt=""></a>
            <h4 class="category-title">Outerwear</h4>
        </div>
        <div class="category-item swiper-slide">
            <a href="">
                <img src="{{ cdn '../img/homepage-img/All-Clothing.png'}}" alt=""></a>
            <h4 class="category-title">All Clothing</h4>
        </div>
        <div class="category-item swiper-slide">
            <a href="">
                <img src="{{ cdn '../img/homepage-img/Dresses-Jumpsuits.png'}}" alt=""></a>
            <h4 class="category-title">Dresses + Jumpsuits</h4>
        </div>
        <div class="category-item swiper-slide">
            <a href="">
                <img src="{{ cdn '../img/homepage-img/Bottoms.png'}}" alt=""> </a>
            <h4 class="category-title">Bottoms</h4>
        </div>
        <div class="category-item swiper-slide">
            <a href="">
                <img src="{{ cdn '../img/homepage-img/Tops.png'}}" alt=""></a>
            <h4 class="category-title">Tops</h4>
        </div>
        <div class="category-item swiper-slide">
            <a href="">
                <img src="{{ cdn '../img/homepage-img/Outerwear.png'}}" alt=""></a>
            <h4 class="category-title">Outerwear</h4>
        </div>
    </div>
</div>

{{{snippet 'brand'}}}
<div class="page">
    <div class="filter-move">
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/brand/sidebar}}
        </aside>
    </div>

    <main class="page-content" id="product-listing-container">
        <h2 class="brand-name">{{ brand.name }}</h2>
        {{#if brand.products}}
            {{> components/brand/product-listing}}
        {{else}}
            <p>{{lang 'brands.no_products'}}</p>
        {{/if}}
    </main>
</div>

{{/partial}}
{{> layout/base}}

