{{#partial "page"}}
<div class="page">

    <main class="page-content" data-cart>
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

        {{> components/cart/page-title}}

        <div data-cart-status>
            {{> components/cart/status-messages}}
        </div>

        {{#if cart.items.length}}
            <div class="loadingOverlay"></div>

            <div class="data-cart-content" data-cart-content>
                {{> components/cart/content}}
            </div>
        <div class="all-cart-checkout-gift">
        <div class="code-gift-product">
            <a class="continue-shopping-cart" href="{{urls.home}}"><img src="https://cdn8.bigcommerce.com/s-ktcfckosli/product_images/uploaded_images/prev.png?t=1538551431&_ga=2.93249177.525827852.1539056975-240136554.1532062209">Continue Shopping</a>
            {{> components/cart/coupon-input}}
        </div>

        <div class="checkout-cart-product">
            <div data-cart-totals>
                {{> components/cart/totals}}
            </div>

            {{#if cart.show_primary_checkout_button}}
                <div class="cart-actions">
                    <a class="button button--primary" href="{{urls.checkout.single_address}}" title="{{lang 'cart.checkout.title'}}">{{lang 'cart.checkout.button'}}</a>
                    {{#if cart.show_multiple_address_shipping}}
                        <a class="checkoutMultiple" href="{{urls.checkout.multiple_address}}">
                            {{lang 'cart.preview.checkout_multiple'}}
                        </a>
                    {{/if}}
                </div>
                <!--<div class="update-qty-product-cart">-->
                    <!--<a id="update-cart-reload" href="#">Update Cart</a>-->
                <!--</div>-->
            {{else}}
                <div class="cart-actions">
                    <a class="button" href="{{urls.home}}" title="{{lang 'cart.continue_shopping'}}">{{lang 'cart.continue_shopping'}}</a>
                </div>
            {{/if}}

            {{#if cart.additional_checkout_buttons}}
                <div class="cart-additionalCheckoutButtons">
                    {{#each cart.additional_checkout_buttons}}
                        {{{this}}}
                    {{/each}}
                </div>
            {{/if}}
        {{else}}
            <h3>{{lang 'cart.checkout.empty_cart'}}</h3>
        {{/if}}
        </div>
        </div>

        {{{snippet 'cart'}}}
    </main>
</div>
{{/partial}}
{{> layout/base}}
