---
category:
    shop_by_price: true
    products:
        limit: 24
products:
    top_sellers:
    limit: {{theme_settings.homepage_top_products_count}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}


{{#if category.image}}
    <!--<img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage category.image 'zoom_size'}}">-->
{{/if}}
<div class="category-breadcrumbs-container">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
</div>
<h1 class="page-heading {{category.name}}">{{category.name}}</h1>
{{{category.description}}}
{{{snippet 'categories'}}}
<div class="page">

        {{#if category.faceted_search_enabled }}

            <aside class="page-sidebar" id="faceted-search-container">

                {{> components/category/sidebar}}
            </aside>
        {{else if category.subcategories}}
            <aside class="page-sidebar" id="faceted-search-container">
                {{> components/category/sidebar}}
            </aside>
        {{else if category.shop_by_price}}
            {{#if theme_settings.shop_by_price_visibility}}
                 <aside class="page-sidebar" id="faceted-search-container">
                    {{> components/category/sidebar}}
                </aside>
            {{/if}}
        {{/if}}


    <main class="page-content" id="product-listing-container">

        {{#if category.products}}
            {{> components/category/product-listing}}
        {{else}}
            <p>{{lang 'categories.no_products'}}</p>
        {{/if}}

        <div class="best-seller-product">
            {{#if products.top_sellers}}
            {{> components/products/top products=products.top_sellers columns=theme_settings.homepage_top_products_column_count}}
            {{/if}}
        </div>
    </main>
</div>

<div class="latest_editorials {{category.name}}">

</div>




{{/partial}}
{{> layout/base}}
