{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">

    <h1 class="page-heading">{{page.title}}</h1>

    {{#if page.sub_pages}}
        <nav class="navBar navBar--sub">
            <ul class="navBar-section account-navigation">
                {{#each page.sub_pages}}
                    <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
                {{/each}}
            </ul>
        </nav>
    {{/if}}
    <div class="page-contact">
        <div class="page-content page-content--centered">
            <div class="custom-form">

                <p>{{{page.content}}}</p>
                <div class="form-contact-us">
                    <div class="form-submit">
                        <div class="success-submit-from">
                            {{#if forms.contact.success}}
                            {{{lang 'forms.contact_us.successful' shopPath=urls.home}}}
                            {{else}}
                        </div>
                        {{> components/page/contact-us-form}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{{/partial}}

{{> layout/base}}
