---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: 10
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: 5
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}
    {{#if carousel}}
        {{> components/carousel}}
    {{/if}}
    {{{snippet 'home_content'}}}
{{/partial}}

{{#partial "page"}}

    <!--{{#each shipping_messages}}-->
        <!--{{> components/common/alert-info message}}-->
    <!--{{/each}}-->

<div class="main full">
    <div class="container-slider-banner-homepage">
        <div class="main-slider-banner-homepage">
            <div class="top-banner-slider">
                <div class="slider-top-homepage">
                    {{#block "hero"}} {{/block}}
                </div>
                <div class="left-banner-top">
                    <a href="#">
                        <img src="https://cdn11.bigcommerce.com/s-dwrt3u9mku/product_images/uploaded_images/default-home-main-2-4.jpg?t=1554689686&_ga=2.242123394.188008407.1554632286-605547308.1548593220">
                    </a>
                </div>
                <div class="right-banner-top">
                    <div class="top-right-banner">
                        <a href="#">
                            <img src="https://cdn11.bigcommerce.com/s-dwrt3u9mku/product_images/uploaded_images/default-home-main-3-4.jpg?t=1554689687&_ga=2.174933282.188008407.1554632286-605547308.1548593220">
                        </a>
                    </div>
                    <div class="bottom-right-banner">
                        <a href="#">
                            <img src="https://cdn11.bigcommerce.com/s-dwrt3u9mku/product_images/uploaded_images/-bosche-min.jpg?t=1554689688&_ga=2.174933282.188008407.1554632286-605547308.1548593220">
                        </a>
                    </div>
                </div>
            </div>

            <div class="bottom-banner-homepage">
                <div class="left-bottom-banner-homepage">
                    <div class="top-bottom-banner-homepage">
                        <a href="#">
                            <img src="https://cdn11.bigcommerce.com/s-dwrt3u9mku/product_images/uploaded_images/default-home-main-1-3.jpg?t=1554691917&_ga=2.172445091.188008407.1554632286-605547308.1548593220">
                        </a>
                    </div>
                    <div class="sub-bottom-banner">
                        <a href="#">
                            <img src="https://cdn11.bigcommerce.com/s-dwrt3u9mku/product_images/uploaded_images/default-home-main-2-3.jpg?t=1554691919&_ga=2.172445091.188008407.1554632286-605547308.1548593220">
                        </a>
                    </div>
                </div>
                <div class="right-bottom-banner-homepage">
                    <a href="#" id="img-111">
                        <img src="https://cdn11.bigcommerce.com/s-dwrt3u9mku/product_images/uploaded_images/141-img-20190314-wa0021.jpg?t=1554691920&_ga=2.238773632.1403831994.1555380214-605547308.1548593220">
                    </a>
                    <!--<a href="#" id="img-222" class="active-img">-->
                        <!--<img src="https://cdn11.bigcommerce.com/s-dwrt3u9mku/product_images/uploaded_images/-trusted-brand-fp.jpg?t=1554707409&_ga=2.171739424.188008407.1554632286-605547308.1548593220">-->
                    <!--</a>-->
                </div>
            </div>
        </div>
    </div>

    <div class="product-television-homepage">
        <div class="container-product-television">
            <div class="banner-product-television">
                <a href="#">
                    <img src="https://cdn11.bigcommerce.com/s-dwrt3u9mku/product_images/uploaded_images/-shop-televisions.jpg?t=1554695862&_ga=2.234177182.188008407.1554632286-605547308.1548593220">
                </a>
            </div>
            <div class="container-product">
                <div id="product-category">

                </div>
            </div>
        </div>
    </div>


    <div id="product-trending-products" itemscope>
        <div class="main-trending-products">
            <div class="header-trending-products">
                <h2>Trending Products</h2>
            </div>
            <div class="container-trending-products">
                {{> components/products/featured products=products.featured columns=theme_settings.homepage_featured_products_column_count}}
            </div>
        </div>
    </div>

    <div class="banner-brand">
        <div class="container-banner-brand">
            <div class="img-banner-brand">
                <img src="https://cdn11.bigcommerce.com/s-dwrt3u9mku/product_images/uploaded_images/default-1-3.jpg?t=1555044526&_ga=2.199105647.1936630781.1554970712-605547308.1548593220">
            </div>
            <div class="img-banner-brand">
                <img src="https://cdn11.bigcommerce.com/s-dwrt3u9mku/product_images/uploaded_images/default-2-3.jpg?t=1555044527&_ga=2.199105647.1936630781.1554970712-605547308.1548593220">
            </div>
            <div class="img-banner-brand">
                <img src="https://cdn11.bigcommerce.com/s-dwrt3u9mku/product_images/uploaded_images/default-3-3.jpg?t=1555044528&_ga=2.199105647.1936630781.1554970712-605547308.1548593220">
            </div>
        </div>
    </div>


    <div id="top-seller" itemscope>
        <div class="container-top-seller">
            {{#if products.new}}
            {{> components/products/new products=products.new columns=12}}
            {{/if}}
        </div>
    </div>



</div>
{{/partial}}
{{> layout/base}}
