<div class="page-wishlist">
    <div class="page-title"><h1 class="title">My Wishlist</h1></div>
    <ul class="productGrid">
    {{#each wishlist.items}}
        <li class="product">
            {{> components/products/card id=product_id theme_settings=../theme_settings}}

            {{#if ../show_remove}}
                <div class="wish-list-button">
                    <div class="card-wishlist">
                        {{#if show_compare}}
                        <label class="button button--small card-figcaption-button" for="compare-{{id}}">
                            {{lang 'products.compare'}} <input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}">
                        </label>
                        {{/if}}
                        {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                        {{#if show_cart_action}}
                        {{#if add_to_cart_url }}
                        <a href="{{add_to_cart_url}}" class="button button--small button--primary card-wishlist-button ">{{lang 'products.add_to_cart'}}</a>
                        {{/if}}
                        {{#if has_options}}
                        <a href="{{url}}" class="button button--small button--primary card-wishlist-button " data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                        {{/if}}
                        {{#if pre_order}}
                        <a href="{{pre_order_add_to_cart_url}}" class="button button--small button--primary card-wishlist-button ">{{lang 'products.pre_order'}}</a>
                        {{/if}}
                        {{#if out_of_stock_message }}
                        <a href="{{url}}" class="button button--small button--primary card-wishlist-button" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                        {{/if}}
                        {{/if}}
                        {{/or}}
                        {{#unless hide_product_quick_view}}
                        {{#if theme_settings.show_product_quick_view}}
                        {{#unless demo}}
                        <a href="#" class="button button--small card-wishlist-button button--primary  wishlist-quickview" data-product-id="{{id}}">{{lang 'products.quick_view'}}</a>
                        {{/unless}}
                        {{/if}}
                        {{/unless}}
                    </div>
                    <form action="{{remove_url}}" class="form wishlist-remove-form" method="post">
                        <input type="submit" class="button button--primary  button--small wishlist-remove " value="{{lang 'account.wishlists.remove_item'}}" />
                    </form>
                </div>
            {{/if}}
        </li>
    {{/each}}
</ul>
</div>
