// =============================================================================
// Banners Component
// =============================================================================


// Banners
// -----------------------------------------------------------------------------
//
// Purpose: Control the look and feel of the top and bottom site banners
//
// -----------------------------------------------------------------------------

.banners {
    background-color: black;
    color: stencilColor("color-white");
    padding: spacing("half") 0;
    text-align: center;
    font-size:12px;
    letter-spacing: 0.5px;
    p{
        margin-bottom: 0;
    }

    a {
        color: color("whites", "bright");
    }
    @include breakpoint("medium"){
        p:last-child{
            display: none;
        }
    }
}

.banner {
    @include grid-row;

    + .banner {
        margin-top: spacing("single");
    }
}
@media (max-width: 767px) {
    .banners{
        font-size:10px;
        p:first-child{
            display: none;
        }
    }
}
