// =============================================================================
// CARDS (CSS)
// =============================================================================
//
// 1. Allow users to click the anchor tag on the image in the figcaption empty
//    space. This provides a much larger and simpler hit state for navigating
//    to the product details page. (Does not work in IE10 or earlier).
// 2. Using translate3d to counter a chrome specific bug: When using a masonry
//    styled layout via CSS column-count etc, transforms applied to descendants
//    are made invisible, except for 3d transforms...
//
// -----------------------------------------------------------------------------


.card-figure {
    margin-top: $card-figure-marginTop;
    position: relative;
    &:hover {

        // scss-lint:disable NestingDepth
        .card-figcaption {
            opacity: 1;
            display: block;
        }
    }
}

.card-img-container {
    max-width: get-width(stencilString('productgallery_size'));

    @include lazy-loaded-padding('productgallery_size');

    &:after {
        padding-bottom: 110%;
    }

    /* display second image on hover */
    &:hover {
        .card-image {
            &:nth-child(2){
                display: block;
            }
        }
    }
    &.two-image:hover{
        .card-image:nth-child(1){
            opacity: 0;
        }
    }
}

.card-figcaption {
    display: none;
    margin: $card-figcaption-margin;
    pointer-events: none; // 1

    @include breakpoint("medium") {
        display: block;
    }
}

.card-figcaption-body {
    display: $card-figcaption-body-display;
    pointer-events: all; // 1
    position: absolute;
    // bottom: -0.5px;
    bottom: 0;
    left: 0;
    top: auto;
    transform: none;
    width: 100%;
}

.card-image {
    @include lazy-loaded-img;
    border: 0;
    width: auto;
    max-height: 100%;
    &:nth-child(2){
        display: none;
    }
}

.card-title {
    font-size: $card-title-fontSize;
    margin: $card-title-margin;
    margin-bottom: $spacing-single;
    > a {
        color: $card-title-color;
        text-decoration: $card-title-textDecoration;

        // scss-lint:disable NestingDepth
        &:hover {
            color: $card-title-color-hover;
        }
    }
}

.card-brand {
    text-transform: uppercase;
}

.card-text {
    overflow:hidden;
    margin-bottom: $card-text-marginBottom;

    abbr {
        border: 0;
        color: inherit;
        font-size: inherit;
    }
}

.card-size-tablet {
    display: none;

    @include breakpointMax(large) {
        @include breakpoint(medium) {
            // display: block;
        }
    }

    .form-label--alternate {
        display: none;
    }

    .form-option {
        border: 0;
        margin-right: 0;

        &-variant {
            min-width: auto;
            padding-right: 0;

            &:not(:last-child):after {
                content: '/';
                display: block;
            }
        }
    }
}
.card-figcaption-button {
    border: $card-figcaption-button-border;
    display: $card-figcaption-button-display;
    margin: $card-figcaption-button-margin;

    &:active {
        background-color: $card-figcaption-button-backgroundHover;
        border: $card-figcaption-button-border;
    }

    + .card-figcaption-button {
        margin: $card-figcaption-button-margin;
    }
}

.card-body {
    text-align: left;
    line-height: 20px;
    overflow: hidden;
    padding: 14px 0 0 0;

    @include breakpoint("medium") {
        line-height: 18px;
    }

}


//
// Alternate card
//
// Purpose: Used to give the card alternative styling
// -----------------------------------------------------------------------------

.card--alternate {


    .card-body {
        background-color: stencilColor("card--alternate-backgroundColor");
        padding: spacing("half");
        transition: all 0.15s ease;

        @include breakpoint("small") {
            padding: spacing("single");
        }
    }

    &:hover {
        border-color: stencilColor("color-primary");

        // scss-lint:disable SelectorDepth, NestingDepth
        .card-body {
            background-color: stencilColor("color-primary");

            .card-text {
                color: stencilColor("card--alternate-color--hover");
            }
        }

        .card-title > a {
            color: stencilColor("card--alternate-color--hover");
        }
    }
}

// styles for the product options on category page
// -----------------------------------------------------------------------------
.es-product-option-link{
    text-decoration: none;
    margin-right: 6px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    box-sizing: initial;
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    overflow: hidden;
    overflow: hidden;

    .img-small {
        margin-bottom: 14px;
        display: inline;
        vertical-align: top;
    }

    &.first-option{
        height: 14px;
        width: 14px;
        border: 2px solid black;
    }
}

.product-color-name {
    display: none;
}

.es-product-option-label{
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    display: block;
    margin-bottom: 6px;
}
