<div class="form-field input-file" data-product-attribute="input-file">
    <label class="form-label form-label--alternate form-label--inlineSmall" for="attribute_file_{{id}}">
        {{ this.display_name }}:

        {{#if required}}
            <small>{{lang 'common.required'}}</small>
        {{/if}}
    </label>

    <input class="form-file" type="file" id="attribute_file_{{id}}" name="attribute[{{this.id}}]" {{#if required}}required{{/if}}>
    {{#if original_name}}
        {{{lang 'products.file_option_set' url=file_url name=original_name}}}
        <label>{{lang 'cart.remove_file'}}<input type="checkbox" name="{{file_remove}}"></label>
    {{/if}}
    <p class="form-fileDescription">{{#if file_size}}{{lang 'products.max_filesize'}} <strong>{{file_size}}</strong>, {{/if}}{{#if file_types}}{{lang 'products.filetypes'}} <strong>{{file_types}}</strong>{{/if}}</p>

</div>
