<div class="form-field swatch" data-product-attribute="swatch">
    <label class="form-label form-label--alternate form-label--inlineSmall">
        {{this.display_name}}:
        <span class="color-name" data-option-value>
            {{#each this.values}}
                <span>{{this.label}}</span>
            {{/each}}
        </span>

        {{#if required}}
            <small>{{lang 'common.required'}}</small>
        {{/if}}
    </label>
    {{#each this.values}}
        <input class="form-radio" type="radio" name="attribute[{{../id}}]" value="{{id}}" id="attribute_swatch_{{id}}" {{#if selected}}checked data-default{{/if}} {{#if ../required}}required{{/if}}>
        <label class="form-option form-option-swatch" for="attribute_swatch_{{id}}" data-product-attribute-value="{{id}}">
            {{#if image}}
                <span class='form-option-variant form-option-variant--pattern' data-title="{{this.label}}" style="background-image: url('{{getImage image "swatch_option_size"}}');"><span class="title-color">{{this.label}}</span></span>
            {{/if}}
            {{#if data.[2]}}
                <span class='form-option-variant form-option-variant--color' data-title="{{this.label}}" style="background-color: #{{data.[0]}}"><span class="title-color">{{this.label}}</span></span>
                <span class='form-option-variant form-option-variant--color' data-title="{{this.label}}" style="background-color: #{{data.[1]}}"><span class="title-color">{{this.label}}</span></span>
                <span class='form-option-variant form-option-variant--color' data-title="{{this.label}}" style="background-color: #{{data.[2]}}"><span class="title-color">{{this.label}}</span></span>
            {{else}}
                {{#if data.[1]}}
                    <span class='form-option-variant form-option-variant--color' data-title="{{this.label}}" style="background-color: #{{data.[0]}}"><span class="title-color">{{this.label}}</span></span>
                    <span class='form-option-variant form-option-variant--color' data-title="{{this.label}}" style="background-color: #{{data.[1]}}"><span class="title-color">{{this.label}}</span></span>
                {{else}}
                    {{#if data.[0]}}
                        <span class='form-option-variant form-option-variant--color' data-title="{{this.label}}" style="background-color: #{{data.[0]}}"><span class="title-color">{{this.label}}</span></span>
                    {{/if}}
                {{/if}}
            {{/if}}
            {{#if pattern}}
                <span class="form-option-expanded">
                    <span class="form-option-image" style="background-image: url('{{getImage image 'core-swatch'}}');"></span>
                </span>
            {{/if}}
        </label>
    {{/each}}
</div>
