<div class="form-field textarea" data-product-attribute="textarea">
    <label class="form-label form-label--alternate form-label--inlineSmall" for="attribute_textarea_{{id}}">
        {{display_name}}:

        {{#if required}}
            <small>{{lang 'common.required'}}</small>
        {{/if}}
    </label>

    <textarea class="form-input" id="attribute_textarea_{{id}}" name="attribute[{{id}}]" {{#if required}}required{{/if}}>{{prefill}}</textarea>
</div>
