// =============================================================================
// SIDEBAR BLOCKS (CSS)
// =============================================================================


// Block
// -----------------------------------------------------------------------------

.sidebarBlock {
    + .sidebarBlock {
        padding-top: 14px;
    }
}

.sidebarBlock-heading {
    margin-top: 0;
    text-transform: inherit;
    font-size: 14px;
}
