@mixin breakpointMax($size) {
  @if type-of($size) == "number" {
    @media (max-width: $size) {
      @content;
    }
  } @else {
    @media (max-width: screenSize($size) - 1) {
      @content;
    }
  }
}
/* Style placeholder for all browsers */
@mixin placeholder($color) {
  color: $color;

  &::placeholder {
    color: $color;
    opacity: 1;
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color;
    opacity: 1;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
    color: $color;
    opacity: 1;
  }
}
