
.pages-auth-forgot-password{
  .container{
    max-width: $maxWidth-content;
    margin: auto;
    padding: $padding-content;
  }
  .login-acc{
    width: 100%;
    text-align: center;
    padding: 45px 0px;
  }
  .forget-page{
    max-width: 900px;
    margin: auto;
  }
  .form-inlineMessage{
    top: 40px;
  }
  .form-prefixPostfix.wrap{
    position: relative;
    .submit-forget:hover{
      background: $background-buttom-active;
      border-color: $background-buttom-active;
    }
    @include breakpointMax($width--tablet){
      .submit-forget{
        order: unset;
        margin-top: 40px;
      }
    }
  }

}

.items-product-cart{
  display: none;
}

// Reset Password
//===========================================================================

.new-password-page{
  max-width: 85.71429rem;
  margin: auto;
  padding: 0px 20px;
}




// Mega menu
//================================================================================


.account_menu{
  display: none;
  width: 140px;
  position: absolute;
  left: 36px;
  top: 45px;
  z-index: 999;
  background: white;
  background-image: url("https://cdn8.bigcommerce.com/s-ktcfckosli/product_images/uploaded_images/background-menu.png?t=1538529744&_ga=2.231128989.367447393.1539762403-240136554.1532062209");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 12px;
  border-bottom: 1px solid #e8e8e8;
  .nav-account-menu{
    overflow: hidden;
    margin: 0px;

    .nav-signin{
      display: none;
    }
    .nav-sign-join{
      display: none;
    }
    .navBar-item{
      width: 100%;
      float: left;
      line-height: 32px;
      padding-left: 15px;
    }

    .navBar-action{
      padding: 0px;
      color: #000000;
      font-family: "Open Sans";
      font-size: 12px;
      text-transform: capitalize;
      letter-spacing: 0.15px;

      &:hover{
        font-weight: 600;
        letter-spacing: 0.011px;
      }
    }

    .nav-sign-in{
      float: left;
      padding-right: 5px;
    }

    span{
      padding: 0px;
      color: #000000;
      font-family: "Open Sans";
      font-size: 12px;
      text-transform: capitalize;
      letter-spacing: 0.15px;
      float: left;

      &:hover{
        font-weight: 600;
      }
    }

    .nav-sub{
      float: left;
    }

    .nav-join{
      float: left;
      padding-left: 5px;
    }
  }

  .sing-out-account{
    display: none;
  }
}


.drop-menu-sign-in-success{
  .navBar-sign-in{
    display: none;
  }
}



  @include breakpoint(medium) {
    .navPage-subMenu {
      left: 0px;
      width: 100%;
    }
  }

  .navUser-item--account {
    cursor: pointer;
    .fa-chevron-down {
      font-size: 10px;
      color: #757575;
    }
  }

  @media (max-width: 992px){
    .nav-sign-in-success {
      display: none !important;
    }
    .account_menu {
      display: none;
      background: #fff;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0px;
      height: auto;

      .sub-menu-account {
        /*height: calc(100vh - 110px);*/
        position: relative;
      }

      .nav-account-menu {
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        border-bottom: 1px solid #e8e8e8;

        .navBar-sign-in {
          display: none;
        }

        .nav-signin {
          display: block;
        }
        .nav-sign-join {
          display: block;
        }

        .navBar-item {
          width: 100%;
          float: left;
          height: 50px;
          line-height: 50px;
          padding: 0px 40px;
          border-top: 1px solid #e8e8e8;
          /*&:last-child{
            border-bottom: 1px solid #e8e8e8;
          }*/
        }

        .navBar-action {
          padding: 0px;
          text-transform: uppercase;
          color: #1c1f2a;
          font-family: "Open Sans";
          font-size: 15px;
        }
      }

      .sing-out-account {
        position: absolute;
        margin-top: 100px;
        bottom: 35px;
        width: 100%;
        padding: 0px 40px;

        .account-menu-sign-out {
          display: block;
          width: 100%;
          height: 50px;
          line-height: 50px;
          margin: auto;
          text-align: center;
          border: 1px solid #1c1f2a;
          text-decoration: none;
          color: #1c1f2a;
          font-family: "Open Sans";
          font-size: 14px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .account_menu {
      height: 100vh;
      .sub-menu-account {
        height: calc(100vh - 110px);
      }
      .nav-account-menu {
        .nav-sign-out-access {
          display: none;
        }
        .navBar-item {
          padding: 0px 20px !important;
        }
      }

      .sing-out-account {
        padding: 0px 30px;
        display: block;
      }
    }

    .card-figure:hover .card-figcaption{
      display: none;
    }
  }

  .body-menu-account {
    overflow: hidden;
  }

  .slick-list {
    width: 100%;
  }

  // Custom slick slider product page
  //===========================================================

  .pages-product {
    .footer {
      .container {
        hr {
          border: none;
        }
      }
    }

    body {
      margin-bottom: 0px;
    }
  }



  .productView {
    margin: 0px;
  }

  .product-page-wear {
    max-width: 1520px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 50px;

    .heading-product-page-wear {
      color: #000000;
      font-size: 35px;
      font-weight: 500;
      margin: 0px;
      line-height: 66px;
      margin-top: 50px;
      margin-bottom: 10px;
      font-family: "DomaineDispNar-Medium";
      padding-left: 10px;
      padding-right: 10px;
      margin-left: auto;
      margin-right: auto;

      & > span {
        font-family: "Open sans", sans-serif;
        font-size: 20px;
      }
      .prev-next-slider {
        width: auto;
        float: right;
        padding-right: 30px;
      }

      .prev-slider-product-page {
        font-size: 13px;
        font-weight: 600;
        color: #1c1f2a;
        font-family: "Open Sans";
        cursor: pointer;
        padding-right: 5px;

        &:hover {
          text-decoration: underline;
        }
      }

      .next-slider-product-page {
        font-size: 13px;
        font-weight: 600;
        color: #1c1f2a;
        font-family: "Open Sans";
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    #tab-related {
      padding: 0px;

      .slick-arrow {
        display: none !important;
      }

      .slick-list.draggable {
        // padding-left: 90px;
      }
    }
  }



  @media (max-width: 1260px) and (min-width: 768px) {

    .product-page-wear {
      margin-bottom: 60px;


      .heading-product-page-wear {
        font-size: 30px;
        padding-left: 40px;
        margin-top: 60px;

        .prev-next-slider {

        }
      }

      #tab-related {

        .slick-list.draggable {
          // padding-left: 40px;
        }
      }
    }


    .productGrid{
      .card-size-tablet{
        .form-option{
          border-color: unset;
          box-shadow: none;
          color: #000000;
          font-family: "Open Sans";
          font-size: 12px;
          font-weight: 600;
          text-transform: uppercase;
          &::after{
            content: '/';
            padding-left: 3px;
          }
        }
        .form-option:last-child{
          &::after{
            display: none;
          }
        }
        .form-option-variant{
          padding: 0px;
        }
      }
    }
  }

  @include breakpointMax(medium) {
    .card {
      .card-text {
        //font-size: 15px;
      }
    }
    .card {
      .card-title {
        a {
          //font-size: 15px;
        }
      }
    }
    .card {
      .price-section {
        .price {
          //font-size: 15px;
        }
      }
    }
    .card {
      .add-to-wishlist {
        width: 21px;
        height: 21px;

        svg {
          height: 13px;
          width: 13px;
          margin-top: 5px;
        }
      }
    }

    .product-page-wear {
      margin-bottom: 50px;
      padding-left: 7.5px;
      padding-right: 7.5px;

      .heading-product-page-wear {
        font-size: 25px;
        padding-left: 3px;
        margin-top: 20px;
        line-height: 1.2;

        .prev-next-slider {
          display: none;
          font-size: 25px;
        }
      }
      #tab-related {
        .slick-list.draggable {
          // padding-left: 15px;
        }

        .productCarousel-slide {
          padding: 0px 2px;
        }

        .slick-dots {
          display: none;
        }

        .productCarousel {
          margin-bottom: 0px;
        }
      }
    }


  }

  // search mini home page
  //===================================================================================

  .heroCarousel {
    margin-top: 0px;
  }

  @media (min-width: 993px){
    .header {
      .navUser {
        .navUser-section.navUser-section--alt {
          position: absolute;
          top: 0px;
          right: 1.5rem;
        }
      }
    }
  }

  .modal-close {
    display: none;
  }
  //.search-form-menu {
  //  width: auto;
  //
  //  #quickSearch {
  //    width: 100%;
  //    overflow: hidden;
  //    &:focus {
  //      outline: 0;
  //    }
  //  }
  //
  //  .quickSearchResults {
  //    display: none;
  //    position: absolute;
  //    top: 100%;
  //    width: 100%;
  //    left: 0px;
  //    background: #fff;
  //
  //    .heading-product-search {
  //      display: none;
  //    }
  //    .quick_search_product {
  //      overflow: hidden;
  //      padding: 0px 50px;
  //      padding-top: 50px;
  //      border-top: 1px solid #e8e8e8;
  //      border-bottom: 1px solid #e8e8e8;;
  //    }
  //    .link_search_page {
  //      line-height: 50px;
  //      height: 50px;
  //      padding: 0px 50px;
  //      a {
  //        color: #1c1f2a;
  //        font-family: "Open Sans";
  //        font-size: 12px;
  //        font-weight: 600;
  //        text-transform: uppercase;
  //        letter-spacing: 2px;
  //      }
  //    }
  //    .modal-close {
  //      display: none;
  //    }
  //    .productGrid {
  //      padding-top: 0px;
  //      width: 70%;
  //      float: left;
  //
  //      .add-to-wishlist {
  //        display: none;
  //      }
  //      .card--alternate {
  //        margin-bottom: 35px;
  //      }
  //      .card-img-container:after {
  //        padding-bottom: 100%;
  //      }
  //      .card-body {
  //        line-height: 16px;
  //        padding: 15px 0px 0px;
  //      }
  //      .product {
  //        padding: 0px 5px;
  //        width: 25%;
  //      }
  //    }
  //    .menu-category-search-page {
  //      width: 30%;
  //      float: left;
  //      .menu-right-search {
  //        margin-left: 35px;
  //        overflow: hidden;
  //        border-left: 1px solid #e4e4e4;
  //        padding-left: 30px;
  //      }
  //      .heading-menu-category-search {
  //        color: #000000;
  //        font-family: "DomaineDispNar";
  //        font-size: 25px;
  //        font-weight: 400;
  //        margin: 35px 0px;
  //      }
  //      .sub-menu-category-search {
  //        padding-bottom: 80px;
  //
  //        li {
  //          height: 36px;
  //          line-height: 36px;
  //
  //          &:hover a {
  //            color: #ffdbca;
  //            font-weight: 600;
  //          }
  //        }
  //        a {
  //          color: #1c1f2a;
  //          font-family: "Open Sans";
  //          font-size: 12px;
  //          line-height: 36px;
  //          text-transform: uppercase;
  //          letter-spacing: 2px;
  //          text-decoration: none;
  //        }
  //      }
  //    }
  //  }
  //  .container {
  //    position: unset;
  //    overflow: hidden;
  //  }
  //  .form {
  //    position: absolute;
  //    top: 0px;
  //    left: 60px;
  //    width: 100%;
  //  }
  //}

  @media (min-width: 768px) and (max-width: 1260px) {
    .navPages-quickSearch {
      background: #fff;
      padding: 0px;
      .form {
        padding-left: 80px;
      }

      .quickSearchResults {
        padding: 0px;
        box-shadow: none;
        border-bottom: 1px solid #e8e8e8;
        .product {
          width: 33.33%;
          padding: 0px 3px;
          &:nth-child(4) {
            display: none;
          }

        }
        .productGrid {
          width: 100%;
          border-bottom: 1px solid #e8e8e8;
          padding: 0px 40px;
          .card--alternate {
            margin-bottom: 30px;
          }
        }
        .menu-category-search-page {
          width: 100%;
          padding: 0px 40px;
          border-bottom: 1px solid #e8e8e8;
          .menu-right-search {
            margin: 0px;
          }
          .heading-menu-category-search {
            font-size: 30px;
            font-weight: 500;
            line-height: 70px;
            margin: 0px;
            font-family: "DomaineDispNar";

          }
          .sub-menu-category-search {
            padding-left: 13px;
            padding-bottom: 25px;
            margin: 0px;
            padding-left: 15px;
            li {
              height: 36px;
              line-height: 36px;
              list-style: none;

              &:hover a {
                color: #ffdbca;
                font-weight: 600;
              }
            }
            a {
              color: #1c1f2a;
              font-family: "Open Sans";
              font-size: 12px;
              line-height: 36px;
              text-transform: uppercase;
              letter-spacing: 2px;
              text-decoration: none;
            }
          }
        }
        .quick_search_product {
          padding: 10px 0 0;
        }
        .link_search_page {
          padding: 0px 40px;
          height: 55px;
          line-height: 55px;
          a {
            color: #1c1f2a;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 600;
            text-decoration: underline;
            text-transform: uppercase;
          }
        }
        .heading-product-search {
          display: block;
          margin: 0px;
          color: #000000;
          font-family: "DomaineDispNar";
          font-size: 30px;
          font-weight: 500;
          line-height: 66px;
          padding: 0px 40px;
        }
      }
    }
  }

  @include breakpointMax(medium) {
    .pages-home {
      .heroCarousel {
        margin-bottom: 0px;
      }
      .fresh-arrivals {
        .page-heading {
          line-height: 50px;
        }
        .button-action {
          top: 16px;
        }
      }
    }

    .quickSearchResults {
      .heading-product-search {
        padding-left: 20px;
        font-family: "Open Sans";
        font-size: 15px;
        line-height: 50px;
        text-transform: uppercase;
        margin: 0px;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
      }

      .productGrid {
        padding: 20px 20px 10px;
        border-bottom: 1px solid #e8e8e8;
        margin: 0px;

        .product {
          width: 100%;
          padding: 0px;
          margin-bottom: 10px;

        }
        .add-to-wishlist {
          display: none;
        }
        .card--alternate {
          margin: 0px;
        }
        .card-figure {
          width: 42%;
          float: left;
        }
        .card-body {
          width: 58%;
          float: left;
          padding: 0px;
          padding-left: 15px;
          line-height: 19px;
          p {
            margin: 0px;
          }
          h4 {
            margin: 0px;
          }
        }
        .card-img-container:after {
          padding-bottom: 100%;
        }
      }
      .menu-category-search-page {
        padding: 0px 20px;
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 10px;
        .heading-menu-category-search {
          font-family: "Open Sans";
          font-size: 15px;
          line-height: 51px;
          margin: 0px;
          text-transform: uppercase;
        }
        .sub-menu-category-search {
          margin: 0px;
          padding-left: 10px;

          li {
            list-style: none;
            line-height: 36px;
          }
          a {
            color: #1c1f2a;
            font-family: "Open Sans";
            font-size: 12px;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }
      .link_search_page {
        padding: 0px 20px;

      }
    }
  }


  // My Order
  //==================================================================================

  .pages-account-orders-details {
    .account-body{
      margin-bottom: 60px;
    }
    .account {
      max-width: 1150px;
      margin: auto;
      @media (max-width:767px){
        padding : 0 10px;
      }
    }
    .page-heading {
      text-align: center;
      padding: 0px;
      color: #000000;
      font-family: "DomaineDispNar";
      font-size: 35px;
      font-weight: 500;
      line-height: 60px;
      margin-top: 35px;
      margin-bottom: 40px;
    }
    .account-content--fixedSmall {
      width: 50%;
      padding: 0px;
      .account-heading {
        color: #000000;
        font-family: "Open Sans";
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      .account-product--alignMiddle {
        .account-product-figure {
          left: 0px;
        }
      }
      .account-list {
        padding-top: 30px;
        border-bottom: 1px solid #e8e8e8;
        margin: 0px;
        padding-bottom: 15px;
      }
      .account-listItem {
        border: none;
        padding: 7px 0px;
        position: relative;
        .account-product-checkItem {
          display: none;
        }
        .account-product-figure:after {
          padding-bottom: 0px;
        }
        .account-product-figure {
          width: 20%;
          float: left;
        }
        .account-product-body {
          width: 80%;
          float: left;
          position: unset;
          padding-top: 7px;
        }
        .account-product-price {
          width: 100%;
          color: #1c1f2a;
          font-family: "Open Sans";
          font-size: 15px;
          font-weight: 600;
        }
        .account-product-body {
          padding-left: 15px;
        }
        .account-product-title {
          color: #1c1f2a;
          font-family: "Open Sans";
          font-size: 16px;
          margin: 0px;
        }
        .definitionList-key {
          color: #000000;
          font-family: "Open Sans";
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1.2px;
          line-height: 15px;
        }
        .definitionList-value {
          color: #000000;
          font-family: "Open Sans";
          font-size: 12px;
          line-height: 15px;
          text-transform: uppercase;
          letter-spacing: 1.2px;
        }
        .definitionList {
          position: absolute;
          bottom: 14px;
          width: calc(80% - 15px);
          display: flex;
          flex-direction: column-reverse;
        }
      }
      .account-orderTotal {
        margin: 0px;
        width: 80%;
        padding-left: 15px;
        padding-top: 20px;
        dt:nth-child(5) {
          display: none;
        }
        dd:nth-child(6) {
          display: none;
        }
        dt:nth-child(3) {
          font-size: 18px;
          line-height: 30px;
        }
        dd:nth-child(4) {
          font-size: 18px;
          font-weight: 700;
          line-height: 30px;
        }
        .account-orderTotal-key {
          color: #000000;
          font-family: "Open Sans";
          font-size: 16px;
          line-height: 25px;
          padding: 0px;
        }
        .account-orderTotal-value {
          color: #000000;
          font-family: "Open Sans";
          font-size: 16px;
          line-height: 25px;
          padding: 0px;
          border: none;
        }
      }
    }
    .account-sidebar {
      width: 38%;
      padding: 0px;
      .account-heading {
        color: #000000;
        font-family: "Open Sans";
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 0px;
      }
      .definitionList {
        padding-top: 20px;
        margin: 0px;
        padding-bottom: 20px;
      }
      .order-payments-description {
        display: none;
      }
      .order-payments-value--long {
        display: none;
      }
      .definitionList-key {
        color: #000000;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
      }
      .definitionList-value {
        color: #000000;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
      }
      .button {
        //color: white;
        color: #000000;
        font-family: "Open Sans";
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        height: 45px;
        width: 190px;
        border-radius: 0px;
        border: 1px solid #000000;
        margin: 0px;
        background-color: white;
      }
      .account-sidebar-block {
        margin-top: 65px;
        &:nth-child(1) {
          margin-top: 0px;
        }
        &:nth-child(4) {
          display: none;
        }
        &:nth-child(5) {
          display: none;
        }
        &:nth-child(6) {
          display: none;
        }
      }
      .account-order-address {
        padding-top: 22px;
        margin: 0px;
        li:first-child {
          color: #000000;
          font-family: "Open Sans";
          font-size: 14px;
          font-weight: 600;
          line-height: 22px;
        }
        li {
          color: #000000;
          font-family: "Open Sans";
          font-size: 14px;
          font-weight: 300;
          line-height: 22px;
        }
      }
    }
  }

  @media (max-width: 1260px) and (min-width: 768px) {
    .pages-account-orders-details {
      .container {
        padding: 0px 60px;
      }
      .account-body {
        margin-bottom: 40px;
      }
      .page-heading {
        font-size: 30px;
        margin-top: 20px;
      }
      .account-content--fixedSmall {
        .account-heading {
          font-size: 12px;
          letter-spacing: 1.85px;
        }
        .account-listItem {
          .account-product-image {
            max-width: 130px;
          }
          .account-product-figure {
            width: 30%;
          }
          .account-product-body {
            width: 70%;
            padding-top: 0px;
          }
          .account-product-title {
            font-size: 14px;
          }
          .account-product-price {
            font-size: 12px;
          }
          .definitionList-key {
            font-size: 10px;
            letter-spacing: 1px;
          }
          .definitionList-value {
            font-size: 10px;
            letter-spacing: 1px;
          }
          .definitionList {
            bottom: 7px;
          }
        }
        .account-orderTotal {
          padding-top: 15px;
          width: 70%;
          .account-orderTotal-key {
            font-size: 12px;
          }
          .account-orderTotal-value {
            font-size: 12px;
          }
          dt:nth-child(3) {
            font-size: 14px;
            line-height: 20px;
          }
          dd:nth-child(4) {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
      .account-sidebar {
        .account-heading {
          font-size: 12px;
          letter-spacing: 1.85px;
        }
        .definitionList-key {
          font-size: 12px;
          line-height: 20px;
        }
        .definitionList-value {
          font-size: 12px;
          line-height: 20px;
        }
        .definitionList {
          padding-top: 15px;
          padding-bottom: 30px;
        }
        .button {
          width: 160px;
          font-size: 12px;
        }
        .account-sidebar-block {
          margin-top: 60px;
        }
        .account-order-address {
          padding-top: 15px;
          li {
            font-size: 12px;
            line-height: 20px;
          }
          li:first-child {
            font-size: 12px;
            line-height: 20px;
          }
        }
      }
    }
  }

  @include breakpointMax(medium) {
    .pages-account-orders-details {

      .container {
        padding: 0px 40px;
      }
      .account-body {
        margin-bottom: 40px;
        margin: 0px;
      }
      .page-heading {
        font-size: 25px;
        margin-top: 15px;
        margin-bottom: 25px;
      }
      .account-content--fixedSmall {
        width: 100%;
        .account-listItem {

        }
        .account-heading {
          font-size: 14px;
        }
        .account-listItem {
          .account-product-image {
            max-width: 125px;
          }
          .account-product-figure {
            width: 120px;
          }
          .account-product-body {
            width: calc(100% - 120px);
            padding-left: 10px;
            padding-bottom: 0px;
            padding-top: 0px;
          }
          .account-product-title {
            font-size: 14px;
            line-height: 18px;
          }
          .account-product-price {
            margin-bottom: 20px;
          }
          .definitionList-key {
            font-size: 11px;
            width: 100%;
          }
          .definitionList-value {
            font-size: 11px;
          }
          .definitionList {
            position: unset;
            width: 100%;
          }
          dd:nth-child(2) {
            margin-bottom: 10px;
          }
        }
        .account-orderTotal {
          width: calc(100% - 120px);
          padding-left: 10px;
          padding-top: 15px;
          .account-orderTotal-key {
            font-size: 14px;
          }
          .account-orderTotal-value {
            font-size: 14px;
          }
          dt:nth-child(3) {
            font-size: 16px;
          }
          dd:nth-child(4) {
            font-size: 16px;
          }
        }
      }

      .account-sidebar {
        width: 100%;
        .account-sidebar-block {
          margin-top: 50px;
          &:nth-child(1) {
            margin-top: 50px;
          }
        }
        .account-heading {
          font-size: 14px;
        }
        .button {
          width: 100%;
          height: 50px;
          color: #1c1f2a;
          font-family: "Open Sans";
          font-size: 13px;
          font-weight: 600;
          letter-spacing: 0.93px;
        }
      }
    }
  }

  @media (max-width: 550px) {
    .pages-account-orders-details {
      .container {
        padding: 0px 15px;
      }
    }
  }

  // My Account
  //========================================================================

  .pages-account-orders-all {
    .pagination {
      display: none;
    }
    .page-heading {
      text-align: center;
      padding: 0px;
      line-height: 60px;
      margin-top: 35px;
      margin-bottom: 50px;
      color: #000000;
      font-family: "DomaineDispNar";
      font-size: 35px;
      font-weight: 500;
    }
    .account-body {
      margin: 0px;
    }
    .account-content {
      padding: 0px;
      max-width: 1150px;
      margin: auto;
      float: none;
      .account-heading {
        color: #000000;
        font-family: "Open Sans";
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-bottom: 0px;
      }
      .account-listItem {
        border-top: 1px solid #e8e8e8;
        border-bottom: 0px;
        position: relative;
        .account-product-figure:after {
          padding-bottom: 0px;
        }
        .account-product-figure {
          width: 10%;
          margin: 0px;
          float: left;
        }
        .account-product-body {
          width: 90%;
          margin: 0px;
          float: left;
          padding-left: 15px;
          position: unset;
        }
        .account-product-details {
          margin: 0px;
          position: absolute;
          bottom: 25px;
          width: calc(100% - 10% - 15px);
        }
        .account-product-title {
          color: #1c1f2a;
          font-family: "Open Sans";
          font-size: 14px;
          font-weight: 600;
          line-height: 18px;
          text-transform: uppercase;
          margin: 0px;
        }
        .account-product-description {
          color: #1c1f2a;
          font-family: "Open Sans";
          font-size: 16px;
          line-height: 18px;
          font-weight: 400;
        }
        .account-orderStatus-label {
          padding: 0px;
          margin: 0px;
          color: #4a4a4a;
          font-family: "Open Sans";
          font-size: 11px;
          font-weight: 700;
          text-transform: uppercase;
          width: 150px;
          height: 40px;
          background: #e8e8e8;
          text-align: center;
          line-height: 40px;
          position: absolute;
          right: 0px;
          top: calc((100% / 2) - 20px);
        }
        .account-product-detail {
          width: 100%;
          padding: 0px;
          height: 18px;
          line-height: 18px;
          .account-product-detail-heading {
            width: auto;
            float: left;
            margin: 0px;
            color: #000000;
            font-family: "Open Sans";
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.2px;
          }
          span {
            width: auto;
            float: left;
            color: #1c1f2a;
            font-family: "Open Sans";
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            padding-left: 6px;
          }
        }
      }
    }
  }

  @media (max-width: 1260px) and (min-width: 768px) {
    .pages-account-orders-all {
      .account--fixed {
        width: 100%;
      }
      .container {
        padding: 0px 40px;
      }
      .page-heading {
        font-size: 30px;
        margin-top: 17px;
        margin-bottom: 40px;
      }
      .account-content {
        .account-heading {
          font-size: 12px;
          letter-spacing: 1.85px;
        }
        .account-listItem {
          .account-product-image {
            max-width: 120px;
          }
          .account-product-figure {
            width: 120px;
          }
          .account-product-body {
            width: calc(100% - 120px - 15px);
          }
          .account-product-title {
            font-size: 12px;
          }
          .account-product-description {
            font-size: 14px;
          }
          .account-product-detail {
            .account-product-detail-heading {
              font-size: 10px;
              letter-spacing: 1px;
            }
            span {
              font-size: 10px;
              letter-spacing: 1px;
            }
          }
          .account-orderStatus-label {
            font-size: 10px;
          }
        }
      }
    }
  }

  @include breakpointMax(medium) {
    .pages-account-orders-all {
      .container {
        padding: 0px 40px;
      }
      .page-heading {
        font-size: 25px;
        margin-top: 15px;
        margin-bottom: 23px;
      }
      .account-head {
        margin: 0px;
      }
      .account-content {
        .account-heading {
          font-size: 14px;
          letter-spacing: 2px;
        }
        .account-listItem {
          padding: 20px 0px;
          .account-product-figure {
            width: 120px;
          }
          .account-product-body {
            width: calc(100% - 120px);
            padding-left: 10px;
            padding-bottom: 0px;
            overflow: unset;
          }
          .account-product-title {
            font-size: 13px;
          }
          .account-product-description {
            font-size: 12px;
            margin-bottom: 10px;
          }
          .account-product-detail {
            height: auto;
          }
          .account-product-details {
            position: unset;
            width: 100%;
            margin-bottom: 10px;
            .account-product-detail-heading {
              width: 100%;
              font-size: 11px;
              letter-spacing: 1.1px;
              line-height: 15px;
            }
            span {
              width: 100%;
              font-size: 11px;
              letter-spacing: 1.1px;
              padding: 0px;
              line-height: 15px;
            }
          }
          .account-orderStatus {
            position: unset;
          }
          .account-orderStatus-label {
            position: unset;
            height: 30px;
            line-height: 30px;
          }
        }
      }
    }
  }

  @media (max-width: 550px) {
    .pages-account-orders-all {
      .container {
        padding: 0px 15px;
      }
    }
  }

  // show popup
  //=================================================================
  .body-scroll {
    overflow: hidden;
  }
  .show_popup_session {
    display: block !important;
  }
  .body-show-popup {
    position: relative;
  }
  .mask-show-popup {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.69;
    z-index: 60;
  }

  .mask-show-popup-desktop {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    z-index: 60;
    display:none;
  }

  .show-popup {
      width: 100%;
      max-width: 945px;
      margin: auto;
      background-color: #ffdbca;
      overflow: hidden;
      position: fixed;
      top: 250px;
      left: 0;
      right: 0;
      z-index: 1010;
      display: none;
      .popup-content {
        width: 54%;
        float: left;
        h2 {
          color: #000000;
          font-family: "DomaineDispNar";
          font-size: 75px;
          line-height: 90px;
          margin-top: 45px;
          font-weight: 400;
          text-align: center;
          margin-bottom: 10px;
        }
        .content-tablet {
          display: none;
        }
        p {
          text-align: center;
          color: #1c1f2a;
          font-family: "Open Sans";
          font-size: 14px;
        }
        .content-be-an {
          font-weight: 700;
        }
        .content-order {
          font-weight: 700;
        }
        .content-title {
          max-width: 370px;
          margin: auto;
          font-weight: 400;
        }
        .form-submit-popup {
          max-width: 330px;
          margin: auto;
          overflow: hidden;
          margin-top: 20px;

          .form-field {
            margin-bottom: 0;
          }
        }
        .popup-input {
          background-color: #ffdbca;
          border: none;
          border-bottom: 1px solid #000;
          width: 210px;
          float: left;
          height: 45px;
          line-height: 45px;
          color: #000000;
          font-family: "Open Sans";
          font-size: 12px;
          font-weight: 400;
        }
        .form {
          overflow: hidden;
          margin: 0px;
        }
        .button {
          height: 45px;
          background-color: #000000;
          color: #fff;
          font-family: "Open Sans";
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 2px;
          width: calc(100% - 210px - 15px);
          float: right;
          margin: 0px;
          padding: 0px;
          text-align: center;
          border-radius: 1px;
          border: none;
        }
        .button:hover {
          color: #fff !important;
        }
        .popup-discount {
          display: block;
          width: 100%;
          color: #bd927e;
          font-family: "Open Sans";
          font-size: 12px;
          text-align: center;
          margin-top: 40px;
          cursor: pointer;
        }
      }

      .popup-content__success {
          text-align: center;
          display: none;

          @include breakpoint(medium) {
              width: 54%;
              float: left;
          }

          &-subtitle {
              font-weight: 700;
              line-height: 22px;
              margin: 30px 0 9px;

              @include breakpoint(medium) {
                  font-size: 12px;
                  margin: 20px 0 4px;
              }

              @include breakpoint(large) {
                  font-size: 16px;
                  margin: 40px 0  ;
              }
          }

          &-title {
              font-family: "DomaineDispNar";
              color: #000;
              margin: 0 0 6px;
              font-size: 35px;
              font-weight: 400;
              line-height: 57px;

              @include breakpoint(medium) {
                  font-size: 45px;
                  line-height: 52px;
                  margin: 0;
              }

              @include breakpoint(large) {
                  font-size: 70px;
              }
          }

          &-discount {
              max-width: 250px;
              margin: -10px auto 1.5rem;

              @include breakpoint(large) {
                  font-size: 18px;
                  max-width: 270px;
                  margin: 8px auto 30px;
                  line-height: 27px;
              }
          }

          &-offtersr {
              line-height: 18px;
              margin: 0 auto 2.2rem;
              max-width: 80%;

              @include breakpoint(medium) {
                  font-size: 12px;
                  max-width: 270px;
                  margin: 0 auto 1.2rem;
              }

              @include breakpoint(large) {
                  font-size: 14px;
                  line-height: 22px;
                  max-width: 60%;
              }
          }

          &-action {
              max-width: 270px;
              width: 100%;
              height: 45px;
              line-height: 45px;
              padding: 0;
              color: $color-white;
              border: 0;
              border-radius: 0;
              letter-spacing: 2px;
              font-weight: 600;
              font-size: 12px;
              margin-bottom: 30px;

              @include breakpoint(medium) {
                margin-bottom: 20px;
              }

              @include breakpoint(large) {
                  font-size: 14px;
                  height: 50px;
                  line-height: 48px;
              }

              &:hover {
                  background-color: #000;
              }
          }
      }

      &.success-submit {
          .popup-content {
              display: none;

              &__success {
                  display: block;
              }
          }
      }

      .popup-img {
        width: 46%;
        float: left;
        position: relative;
        .close-popup {
          position: absolute;
          top: 16px;
          right: 16px;
          cursor: pointer;
          background: none !important;
          width: auto;
          height: auto;
        }
      }

      .close-popup-content {
      display: none;
    }
  }

  @media (max-width: 1260px) and (min-width: 768px) {
    .show-popup {
      max-width: 630px;
      .popup-content {
        h2 {
          font-size: 55px;
          margin-top: 25px;
          line-height: 70px;
        }
        .content-be-an {
          display: none;
        }
        .content-title {
          display: none;
        }
        .content-tablet {
          display: block;
          font-size: 12px;
          line-height: 18px;
          padding: 0px 60px;
          font-weight: 400;
        }
        .form-submit-popup {
          width: 100%;
          max-width: 100%;
          padding: 0px 30px;
        }
        .popup-input {
          width: 155px;
          height: 34px;
          line-height: 34px;
        }
        .button {
          width: calc(100% - 155px - 10px);
          height: 34px;
          line-height: 34px;
          font-size: 11px;
          letter-spacing: 1px;
        }
        .popup-discount {
          margin-top: 15px;
          font-size: 11px;
          font-weight: 400;
        }
      }
      .popup-img {
        .close-popup {
          width: 9px;
          height: 9px;
          top: 9px;
          right: 9px;
        }
      }
    }
  }

  @include breakpointMax(medium) {
    .show-popup {
      max-width: 94%;
      top: 50px;
      .popup-content {
        position: relative;
        width: 100%;
        max-width: 300px;
        padding: 0px 15px;
        padding-bottom: 30px;
        margin: auto;
        float: none;
        h2 {
          font-size: 35px;
          line-height: 60px;
          margin-top: 23px;
          margin-bottom: 0px;
        }
        p {
          font-size: 14px;
          line-height: 20px;
        }
        .content-title {
          padding: 0px 8px;
        }
        .popup-input {
          width: 100%;
          font-size: 14px;
          margin-bottom: 25px;
        }
        .button {
          width: 100%;
        }
        .popup-discount {
          display: none;
        }
      }
      .popup-img {
        display: none;
      }
      .close-popup-content {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
    }
  }

  // Banner body
  //====================================================================

  .banner-body-page {
      background-color: #ffdbca;
      overflow: hidden;
      width: 100%;
      display: block;
      margin-bottom: 0;
      max-height: 0;
      transition: margin-bottom 0.5s cubic-bezier(0.4, 0, 0.2, 1), max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1);

      &.show-banner-popup {
        @media (min-width: 768px) {
          max-height: 300px;
        }
        max-height: initial;
        margin-bottom: 60px;
      }

      &.close-popup-banner {
        max-height: 0;
        margin-bottom: 0;
      }

      .banner-body {
        max-width: 1280px;
        margin: auto;
        padding: 0px 20px;
        overflow: hidden;
      }
      .banner-body-img {
        width: 28%;
        float: left;
        img {
          width: 100%;
        }
      }
      .title-banner {
          width: 28%;
          float: left;
          h2 {
              color: #000000;
              font-family: "DomaineDispNar-Medium";
              font-size: 65px;
              line-height: 57px;
              padding-left: 60px;
              margin-top: 65px;
          }

          .title-banner__success {
              display: none;
          }
      }

      .content-banner-body {
          width: 44%;
          float: left;
          padding-top: 35px;
          position: relative;

          p {
              @include breakpoint(large) {
                  max-width: 420px;
              }
          }

          .content-be-an,
          .content-order {
              font-weight: 700;
          }

          input {
              background-color: transparent;
              border: none;
              border-bottom: 1px solid #000000;
              height: 45px;
              color: #000000;
              font-size: 12px;
              width: 78%;
              float: left;

              @include placeholder(#000);
          }

          .button {
              background-color: #000000;
              height: 45px;
              line-height: 45px;
              color: #ffffff;
              font-size: 12px;
              font-weight: 600;
              text-transform: uppercase;
              letter-spacing: 2px;
              width: calc(100% - 78% - 15px);
              float: right;
              margin: 0px;
              padding: 0px;
              border-radius: 1px;
              border: none;
          }

          .close-popup {
              position: absolute;
              top: 35px;
              right: 0px;
              cursor: pointer;
              background: none !important;
              width: auto;
              height: auto;
          }

          .content-title-mobile {
            display: none;
          }

          .form-field {
              margin-bottom: 0;
          }

          &__success {
              display: none;

              @include breakpointMax(medium) {
                  text-align: center;
              }

              &-subtitle {
                  font-weight: 700;

                  @include breakpoint(large) {
                      margin-top: 10px;
                  }
              }

              &-offtersr {
                  @include breakpointMax(large) {
                      max-width: 270px;
                      font-size: 12px;
                      float: left;
                  }
              }

              .button {
                  width: 100%;
                  float: left;
                  max-width: 270px;

                  @include breakpointMax(large) {
                      @include breakpoint(medium) {
                          width: 100%;
                          max-width: 180px;
                          float: right;
                      }
                  }
              }
          }
      }

      &.success-submit {
          .title-banner {
              &__text {
                  display: none;
              }

              &__success {
                  display: block;
              }
          }

          .content-banner-body {
              &__wrapper {
                  display: none;
              }

              &__success {
                  display: block;
              }
          }
      }
  }

  @media (max-width: 1260px) and (min-width: 768px) {
    .banner-body-page {
      .banner-body {
        padding: 0px 40px;
      }
      .banner-body-img {
        display: none;
      }
      .title-banner {
        width: 25%;
        h2 {
          padding: 0px;
          font-size: 45px;
          margin-top: 30px;
          line-height: 47px;
        }
      }
      .content-banner-body {
        width: 75%;
        padding-top: 30px;
        padding-bottom: 5px;

        .content-be-an {
          display: none;
        }
        .content-title {
          display: none;
        }
        .content-title-mobile {
          margin-bottom: 10px;
          display: block;
        }
        .close-popup {
          top: 20px;
        }
      }
    }
  }

  @include breakpointMax(medium) {
    .banner-body-page {
      margin-bottom: 0px;
      .banner-body {
        padding: 0px 30px;
      }
      .banner-body-img {
        display: none;
      }
      .title-banner {
        width: 100%;
        h2 {
          font-size: 35px;
          padding: 0px;
          text-align: center;
          line-height: 50px;
          margin-top: 20px;
          margin-bottom: 0px;
          br {
            display: none;
          }
        }
      }
      .content-banner-body {
        width: 100%;
        padding-top: 0px;
        padding-bottom: 30px;
        .close-popup {
          top: -60px;
          right: 0px;
        }
        .content-be-an {
          text-align: center;
        }
        .content-title {
          text-align: center;
        }
        input {
          width: 100%;
          margin-bottom: 25px;
          height: 47px;
          line-height: 47px;
          font-size: 14px;
        }
        .button {
          width: 100%;
          font-size: 13px;
          height: 47px;
          line-height: 47px;
          letter-spacing: 0.93px;
        }
        p {
          max-width: 500px;
          margin: auto;
          margin-bottom: 20px;
        }
      }
    }
  }

  /*
  .pages-home{
    .banner-body-page{
      display: none;
    }
  }*/

  // collection home page
  //============================================================

  .content-home-collection {
    max-width: 1060px;
    padding: 0px 15px;
    margin: auto;
    overflow: hidden;
    margin-top: 90px;
    .left-content-collection {
      width: 52%;
      float: left;
      margin-top: 115px;
      position: relative;
      h4 {
        color: #000000;
        font-family: "DomaineDispNar-Medium";
        font-size: 35px;
        font-weight: 500;
        line-height: 60px;
        margin-top: 25px;
        margin-bottom: 0px;
      }
      p {
        color: #000000;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 400;
        margin: 0px;
      }
      .left-img-content {
        width: 45%;
        float: left;
        padding-right: 8px;
        margin-top: 127px;
        img {
          width: 100%;
        }
      }
      .right-img-content {
        width: 55%;
        float: left;
        margin-top: 30px;
        padding-right: 58.5px;
        img {
          width: 100%;
        }
      }
      .mask-content-left {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 91%;
        height: 91%;
        background-color: rgba(255, 219, 202, 0.31);
        z-index: -1;
      }
    }
    .right-content-collection {
      width: 48%;
      float: left;
      padding-left: 38px;
      .img-content {
        img {
          width: 100%;
        }
      }
      h4 {
        color: #000000;
        font-family: "DomaineDispNar-Medium";
        font-size: 35px;
        font-weight: 500;
        line-height: 60px;
        margin-top: 25px;
        margin-bottom: 0px;
      }
      p {
        color: #000000;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 400;
        line-height: 40px;
        margin-bottom: 0px;
      }
    }
  }

  // Content collection footer
  //==============================================================

  .content-collection-footer {
    max-width: 1060px;
    padding: 0px 15px;
    margin: auto;
    overflow: hidden;
    margin-top: 90px;
    margin-bottom: 90px;
    .left-content-collection {
      width: 43%;
      float: left;
      position: relative;
      .img-content {
        padding-top: 40px;
        width: 88%;
        float: right;
      }
      .img-content-details {
        width: 100%;
        float: right;
      }
      .img-content-position {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 89%;
      }
      .heading-content {
        overflow: hidden;
        width: 88%;
        float: right;
        h4 {
          color: #000000;
          font-family: "DomaineDispNar-Medium";
          font-size: 35px;
          font-weight: 500;
          line-height: 60px;
          margin-bottom: 0px;
          margin-top: 10px;
        }
        p {
          color: #000000;
          font-family: "Open Sans";
          font-size: 18px;
          line-height: 40px;
          font-weight: 400;
        }
      }
    }
    .right-content-collection {
      width: 57%;
      float: left;
      padding-left: 65px;
      margin-top: 130px;
      h4 {
        font-size: 35px;
        color: #000000;
        font-family: "DomaineDispNar-Medium";
        font-weight: 500;
        line-height: 60px;
        margin: 0px;
      }
      p {
        color: #000000;
        font-family: "Open Sans";
        font-size: 18px;
        line-height: 40px;
        font-weight: 400;
      }
      .left-img-content {
        width: 50%;
        float: left;
        padding-right: 4px;
        img {
          width: 100%;
        }
      }
      .right-img-content {
        width: 50%;
        float: left;
        padding-left: 4px;
        img {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 1260px) and (min-width: 768px) {

    .tag-product{
      .pre-order{
        font-size: 7px;
        letter-spacing: 0px;
        padding: 0px 11px;
        height: 17px;
        line-height: 17px;
      }
      .new-product{
        font-size: 7px;
        letter-spacing: 0px;
        height: 17px;
        line-height: 17px;
        padding: 0px 11.4px;
      }
      .on-sale{
        font-size: 7px;
        line-height: 17px;
        height: 17px;
        padding: 0px 9.5px;
      }
    }

    /*.pages-product{
      .product-page-wear{
        .productCarousel-slide{
          width: 270px !important;
        }
      }
    }*/

    .card{
      .add-to-wishlist{
        width: 20px;
        height: 20px;
        svg{
          margin: 0px;
          width: 10px;
          height: 10px;
        }
      }
    }

    .content-home-collection {
      padding: 0px 90px;
      overflow: hidden;
      margin-top: 70px;
      .right-content-collection {
        padding-left: 25px;
        h4 {
          margin-top: 10px;
        }
        p {
          font-size: 14px;
          line-height: 100%;
        }
      }
      .left-content-collection {
        margin-top: 50px;
        h4 {
          margin-top: 10px;
        }
        p {
          font-size: 14px;
          line-height: 100%;
        }
        .left-img-content {
          padding-right: 5px;
          margin-top: 120px;
        }
        .right-img-content {
          padding-right: 35px;
        }
        .mask-content-left {
          width: 87%;
        }
      }
    }

    // table collection footer
    //===================================================

    .content-collection-footer {
      padding: 0px 90px;
      margin-top: 70px;
      .left-content-collection {
        .img-content {
          padding-top: 30px;
        }
        .heading-content {
          p {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 0px;
          }
        }
      }
      .right-content-collection {
        padding-left: 25px;
        margin-top: 80px;
        p {
          font-size: 14px;
          line-height: 100%;
        }
        .left-img-content {
          padding-right: 2px;
        }
        .right-img-content {
          padding-left: 2px;
        }
      }
    }
  }

  @include breakpointMax(medium) {
    .content-home-collection {
      padding: 0px 25px;
      margin-top: 50px;
      .content-collection{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
      .left-content-collection {
        margin-top: 50px;
        order: 2;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .title-content{
          order: 3;
        }
        p {
          font-size: 16px;
          line-height: 22px;
        }
        h4 {
          margin-top: 10px;
        }
        .left-img-content {
          width: 50%;
          padding-right: 3px;
        }
        .right-img-content {
          width: 50%;
          padding-right: 0px;
          padding-left: 3px;
        }
      }
      .right-content-collection {
        padding: 0px;
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        position: relative;
        .title-content {
          padding-left: 25px;
        }
        h4{
          margin-top: 10px;
        }
        p {
          font-size: 16px;
          line-height: 100%;
        }
      }
    }

    // mobile collection footer
    //=====================================================

    .content-collection-footer {
      padding: 0px 25px;
      margin-top: 50px;
      margin-bottom: 20px;
      .left-content-collection {
        width: 100%;
        .heading-content {
          width: 100%;
          p {
            font-size: 16px;
            line-height: 25px;
            margin-bottom: 0px;
          }
        }
      }
      .right-content-collection {
        margin-top: 50px;
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        p {
          font-size: 16px;
          line-height: 25px;
        }
        .heading-content{
          order:3;
          margin-top: 10px;
        }
      }
    }
  }
  //@media (max-width: 992px) {
  //  .navPages-container{
  //    .icon-search{
  //      display: none;
  //    }
  //  }
  //  .navUser {
  //    .navUser-item--account {
  //      svg {
  //        display: inline-block;
  //      }
  //
  //      display: block;
  //      padding-top: 16px;
  //      /* position: relative;*/
  //      .navBar-item {
  //        white-space: nowrap;
  //        padding: 0 40px;
  //        background: white;
  //        /*&:nth-child(5){
  //          display: none;
  //        }*/
  //      }
  //      .account_menu {
  //        right: auto;
  //        padding-top: 0px;
  //        /*left: -100px;*/
  //        &:before, &:after {
  //          left: 103px;
  //        }
  //
  //      }
  //      .sub-menu-account {
  //        background: white;
  //      }
  //    }
  //  }
  //}
  @include breakpointMax(medium) {
    .navUser {
      .navUser-item--account {
        position: static;
        .account_menu {
          left: 0;
          .sub-menu-account {
            border: none;
          }
          &:before, &:after {
            display: none;
          }
        }
      }
    }
  }

  .form-actions:not(.form-action-wishlists) {
    .button:hover {
      background: $background-buttom-active;
      border-color: $background-buttom-active;
    }
    input {
      color: #fff;
      border-radius: 0px;
      font-weight: 600;
      cursor: pointer;
    }
  }

.form-size{
  display:none;
  .product-option{
    display: block!important;
  }
  .designer-note,.form-action,.form-field--stock,.form-field--increments,.wishlist-sku{
    display: none;
  }
}


// header fix
//=======================================================================

.header{
    top: 0;
    left: 0;
    width: 100%;
    position: sticky;

    //.header-container {
    //    position: relative;
    //}
    //
    //.banners{
    //    height: 45px;
    //    line-height: 45px;
    //    padding: 0;
    //    transition: all 0.7s;
    //
    //    .sticky-header & {
    //        height: 0;
    //        visibility: hidden;
    //        opacity: 0;
    //    }
    //}
    //
    //.pages-home & {
    //    //border-bottom: 0;
    //}
}

//.body {
//    .pages-home & {
//        overflow: hidden;
//
//        .body-container {
//            padding-top: 95px;
//
//            @media (min-width: 993px) {
//              padding-top: 149px;
//            }
//        }
//    }
//
//    .body-container {
//        padding-top: 50px;
//
//        @media (min-width: 993px) {
//            padding-top: 104px;
//        }
//    }
//}

.sticky-header {
    .body .body-container {
        padding-top: 53px;

        @include breakpoint(medium) {
            padding-top: 50px;
        }
    }

    &.body-show-mini-cart .header,
    &.body-show-mini-cart-mobile .header {
        position: sticky;
    }

    @media (min-width: 993px) {
        .navUser, .header-logo--center {
            visibility: hidden;
            height: 0;
            margin: auto;
            opacity: 0;
            transition: all 0.4s;
        }
    }
}

//@media (min-width: 993px) {
//  .navPages-container{
//    .navPages{
//      max-width: 1440px;
//      position: relative;
//    }
//    .show-navPages{
//      padding-top: 13px;
//    }
//    .header-logo-text{
//      padding: 0px;
//      position: absolute;
//      top: 11px;
//      left: 50px;
//      overflow: hidden;
//      display: none;
//      line-height: 1.2em;
//    }
//    .show-logo-header{
//      display: block;
//    }
//    .icon-search{
//      position: absolute;
//      top: 13px;
//      right: 90px;
//      cursor: pointer;
//      z-index: 50;
//    }
//    .navPages-quickSearch{
//      padding: 0px;
//      .container{
//        margin-right: 140px;
//        padding-top: 2px;
//      }
//    }
//    .show-icon-search{
//      display: block !important;
//    }
//    .navUser-item--cart{
//      display: none;
//      position: absolute;
//      top: 12px;
//      right: 50px;
//      z-index: 50;
//      svg{
//        display: block;
//      }
//      .mini-cart-qty-dropdown{
//        margin: 0px;
//        padding: 0px;
//        &:hover svg{
//          stroke: none;
//        }
//      }
//      .cart-quantity{
//        position: absolute;
//        top: 7px;
//        left: 7px;
//        background-color: #fff;
//        width: auto;
//        height: auto;
//        line-height: 100%;
//        margin: 0px;
//
//      }
//    }
//    .show-navUser-item--cart{
//      display: block;
//    }
//  }
//}
//
//@media (max-width: 1260px) {
//  .navPages-container{
//    .navUser-item--cart{
//      display: none;
//    }
//    .header-logo-text{
//      display: none;
//    }
//  }
//}

.productGrid{
  margin: 0px;
}
.show-quicksearch{
  display: none !important;
}


.latest_editorials{
  background-color: #f5f5f5;
  text-align:center;
  padding: 50px 0;
  display: none;
  &.Fate,&.Betty,&.Sass{
    display: block;
  }
  .image-mobile{
    display: none;
  }
  .title-editorial{
    margin:0 0 30px 0;
    font-family: "DomaineDispNar-Medium";
    font-size: 35px;
    font-weight: 500;
  }
  .content-editorial{
    max-width: 1280px;
    overflow: hidden;
    margin: 0 auto;
    @include breakpoint(medium){
      padding:0 80px;
    }
    @include breakpoint(large){
      padding: 0;
    }
  }
  .right-editorial,.left-editorial{
    float:left;
    width: 50%;
    img{
      width: 96.8%;
      @include breakpoint(medium){
        width: 97.6%;
      }
      @include breakpoint(large){
        width:96.8%;
      }
    }
    h2{
      margin: 2rem 0 1.5rem 0;
      font-size: 22px;
      font-family: $body-font-family;
      @include breakpoint(medium){
        font-size: 18px;
        margin: 1.5rem 0 1rem 0;
      }
      @include breakpoint(large){
        margin: 2rem 0 0.5rem 0;
        font-size: 22px;
      }
    }
    a{
        text-decoration: none;
        background-color: black;
        display: inline-block;
        color: #ffffff;
        font-size: 13px;
        font-weight: 600;
        line-height: 46px;
        letter-spacing: 2.19px;
        padding: 0 20px;
        @media(max-width:767px){
          letter-spacing: normal;
        }

    }
  }
}


//form return
//==============================================



.form-submit {
  max-width: 692px;
  margin: auto;
}
.success-submit-from{
  text-align: center;
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 25px;
}

.form-contact-us{
  background-color: #f5f5f5;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  position: relative;
  padding-bottom: 77px;
  overflow: hidden;
  padding-top: 60px;
}
  .custom-form {
  >p{
    margin: 0px;
  }
    .form {
      margin-bottom: 0px;
      .form-field {
        width: 100%;
        position: relative;
        .form-input {
          border: unset;
          padding: 0;
          border-radius: unset;
          border-bottom: 1px solid #000000;
          background-color: #f5f5f5;
          font-size:12px;
          color: #000000;

          &::placeholder {
            color: #000;
            opacity: 1;
          }

          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
              color: #000;
              opacity: 1;
          }
      
          &::-ms-input-placeholder { /* Microsoft Edge */
              color: #000;
              opacity: 1;
          }
        }
        input::-webkit-input-placeholder {
          color: #000000;
          font-family: "Open Sans";
          font-size: 12px;

        }
        .form-label {
          color: #000000;
          font-family: "Open Sans";
          font-size: 12px;
        }
        #contact_question {
          background-color: #ffffff;
          opacity: 0.68;
          border: unset;
        }
      }
      .form-actions {
        margin: 62px 0 0 0;
        .button--primary {
          width: 315px;
          height: 59px;
          background-color: #000000;
          color: #ffffff;
          font-size: 18px;
          border-radius: unset;

          &:hover {
            border-color: $background-buttom-active;
            background-color: $background-buttom-active;
          }
        }
      }
    }
  }

.return-form-page{
  background-color: #f5f5f5;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  position: relative;
  overflow: hidden;
  margin-top: 70px;
  .return-form{
    max-width: 1080px;
    margin: auto;
    text-align: center;
    .heading-return-form{
      margin-top: 48px;
      margin-bottom: 10px;
    }
    h2{
      color: #000000;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 2.46px;
      text-transform: uppercase;
      height: 36px;
      line-height: 46px;
      margin: 0px;
    }
    p{
      color: #000000;
      font-family: "Open Sans";
      font-size: 14px;
      line-height: 25px;
      margin: 0px;
    }
    a{
      color: #000000;
      font-weight: 600;
      font-family: "Open Sans";
      font-size: 14px;
      text-decoration: none;
      &:hover{
        color: #000000;
      }
    }
    .contact-text-return-form{
      max-width: 605px;
      margin: auto;
      margin-bottom: 50px;
    }
  }
}


@media (max-width: 992px) {

  #navPages-33,#navPages-21,#navPages-25{
    .navPage-subMenu-action{
      .category-image{
        display: none !important;
      }
    }
  }
  .navPages-list{
    .navPages-action{
      letter-spacing: 0px;
      font-size: 16px;
      color: #1c1f2a;
      font-family: "Open Sans";
    }
    .navPages-action:hover.is-open{
      font-weight: normal;
    }
  }

  .success-submit-from{
    font-size: 12px;
    line-height: 19px;
  }

  .return-form-page{
    .return-form{
      .contact-text-return-form{
        max-width: 56.25%;
        margin-bottom: 40px;
      }
      a{
        font-size: 12px;
        line-height: 19px;
      }
      p{
        font-size: 12px;
        line-height: 19px;
      }
    }
  }

  .form-contact-us{
    padding-bottom: 30px;
    padding-top: 25px;
  }
  .form-submit {
    max-width: 56.25%;
  }
    .custom-form {
      .form {
        .form-field {
          width: 100%;
          .form-input {
            border: unset;
            padding: 0;
            border-radius: unset;
            border-bottom: 1px solid #000000;
            background-color: #f5f5f5;
          }
          .form-label {
            color: #000000;
            font-family: "Open Sans";
            font-size: 12px;
          }
          #contact_question {
            background-color: #ffffff;
            opacity: 0.68;
            border: unset;
          }
        }
        .form-actions {
          margin: 33px 0 0 0;
          .button--primary {
            width: 160px;
            height: 45px;
            font-size: 14px;
          }
        }
      }
    }
}

@media (max-width: 767px) {

  .navPages-list{
    .navPages-action{
      letter-spacing: 0px;
      font-size: 15px;
      color: #1c1f2a;
      font-family: "Open Sans";
    }
  }

  .success-submit-from{
    font-size: 13px;
    line-height: 22px;
  }
  .return-form-page{
    .return-form{
      .heading-return-form{
        margin-top: 26px;
        margin-bottom: 8px;
      }
      .contact-text-return-form{
        max-width: 82.5%;
        margin-bottom: 30px;
      }
      a{
        font-size: 13px;
        line-height: 22px;
      }
      p{
        font-size: 13px;
        line-height: 22px;
        padding: 0px 15px;
      }
    }
  }

  .form-contact-us{
    padding-bottom: 52px;
  }
  .form-submit {
    max-width: 82.5%;
  }
    .custom-form {
      .form {
        .form-field {
          width: 100%;
          .form-input {
            border: unset;
            padding: 0;
            border-radius: unset;
            border-bottom: 1px solid #000000;
            background-color: #f5f5f5;
          }
          .form-label {
            color: #000000;
            font-family: "Open Sans";
            font-size: 13px;
            text-align: left;
          }
          #contact_question {
            background-color: #ffffff;
            opacity: 0.68;
            border: unset;
          }
        }
        .form-actions {
          margin: 33px 0 0 0;
          .button--primary {
            width: 223px;
            height: 51px;
            font-size: 14px;
            margin-bottom: 0px;
          }
        }
      }
    }

}
.pages-product .size-guide-pop-up{
    .compare-mobile{
      display: none;
      position: relative;
      .compare-2{
        width: 46%;
        float: left;
        td{
          padding-left: 0px;
        }
      }
      .size-mobile{
        font-weight: 700;
      }
      span{
        color: #000000;
        font-family: "Open Sans";
        font-size: 13px;
        font-weight: 400;
      }
      tr{
        background: none !important;
      }
      table{
        border: none;
      }
      td{
        border-left: none;
        line-height: 44px;
        line-height: 44px;
        padding: 0px;
      }
      .compare-custom{
        width: 54%;
        float: left;
        position: static;
        td{
          padding-left: 15px;
        }
        .draggable{
          margin-bottom: 25px;
        }
        .slick-dots{
          width: 100vw;
          margin-left: calc(-50vw + 50%);
          bottom: 0px;
          left: 0px;
        }
      }
    }
  }

#currencySelection_aa::before{
  border: inset 10px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-color: transparent transparent #cccccc transparent;
  border-bottom-style: solid;
  bottom: 100%;
  left: 112px;
  position: absolute;
}

#currencySelection_aa::after{
  border: inset 8px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-color: transparent transparent white transparent;
  border-bottom-style: solid;
  bottom: 100%;
  left: 114.5px;
  position: absolute;
}

#currencySelection_aa{
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid #cccccc;
  width: 150px;
  left: -100px !important;
  top: 54px !important;
  .dropdown-menu-item:first-child > a{
    padding: 0px;
  }
  .dropdown-menu-item > a{
    padding: 0px;
  }
  .dropdown-menu-item{
    line-height: 36px;
    padding-left: 10px;
  }
}

.pages-product{
  .productView-price{
    overflow: hidden;
    .sale_product{
      width: 100%;
      float: left;
      .color-sale{
        color: #fd6042;
        font-family: "Open Sans";
        padding-right: 15px;
      }
    }
    .non-sale-price--withTax{
      width: auto;
      float: left;
      padding-left: 20px;
    }
  }
}

.fabric_care_product{
  padding: 0px 1rem;
  overflow: hidden;
  .content_fabric_care{
    display: none;
    overflow: hidden;
    margin-top: 1rem;
    color: #727272;
    font-family: "Open Sans";
    font-size: 14px;
  }
  .header_fabric_care{
    position: relative;
    margin-top: 20px;
    cursor: pointer;
    span{
      color: #000000;
      font-family: "Open Sans";
      font-size: 16px;
    }
    svg, img{
      position: absolute;
      top: 10px;
      right: 0px;
    }
    .img-content{
      transform: rotate(180deg);
    }

    &.active-fabric {
      svg, img {
        transform: rotate(180deg);
      }
    }
  }
}

.delivery_product{
  padding: 0px 1rem;
  overflow: hidden;
  .content_delivery{
    display: none;
    overflow: hidden;
    margin-top: 15px;
    color: #727272;
    font-family: "Open Sans";
    font-size: 14px;
  }
  .header_delivery{
    position: relative;
    margin-top: 20px;
    cursor: pointer;
    span{
      color: #000000;
      font-family: "Open Sans";
      font-size: 16px;
    }
    svg, img{
      position: absolute;
      top: 10px;
      right: 0px;
    }
    .img-content{
      transform: rotate(180deg);
    }

    &.active-delivery {
      svg, img {
        transform: rotate(180deg);
      }
    }
  }
}
.label_story_product{
  display: none;
  padding: 0px 1rem;
  overflow: hidden;
  .content_label_story{
    display: none;
    overflow: hidden;
    margin-top: 1rem;
    color: #727272;
    font-family: "Open Sans";
    font-size: 14px;
  }
  .header_label_story{
    position: relative;
    margin-top: 20px;
    cursor: pointer;
    span{
      color: #000000;
      font-family: "Open Sans";
      font-size: 16px;
    }
    svg, img{
      position: absolute;
      top: 10px;
      right: 0px;
    }
    .img-content{
      transform: rotate(180deg);
    }

    &.active-label {
      svg, img {
        transform: rotate(180deg);
      }
    }
  }
}

@media (max-width: 1260px) {
  .delivery_product{
    padding-left: 0px;
    .content_delivery{
      font-size: 12px;
    }
    .header_delivery{
      span{
        font-size: 14px;
      }
    }
  }

  .fabric_care_product{
    padding-left: 0px;
    .content_fabric_care{
      font-size: 12px;
    }
    .header_fabric_care{
      span{
        font-size: 14px;
      }
    }
  }
  .label_story_product{
    padding-left: 0px;
    .content_label_story{
      font-size: 12px;
    }
    .header_label_story{
      span{
        font-size: 14px;
      }
    }
  }


  .pages-product{
    .right-slide{
      .productView-thumbnail{
        margin-bottom: 5px;
      }
    }
  }

  .footer{
    .container{
      .footer-copyright-right{
        padding-right: 0px;
      }
    }
  }
}


@media (max-width: 767px) {
  .delivery_product{
    padding-left: 1rem;
    .content_delivery{
      font-size: 12px;
    }
    .header_delivery{
      span{
        font-size: 14px;
      }
    }
  }

  .fabric_care_product{
    padding-left: 1rem;
    .content_fabric_care{
      font-size: 12px;
    }
    .header_fabric_care{
      span{
        font-size: 14px;
      }
    }
  }
  .label_story_product{
    padding-left: 1rem;
    .content_label_story{
      font-size: 12px;
    }
    .header_label_story{
      span{
        font-size: 14px;
      }
    }
  }
  .set-rectangle{
    .form-option{
      display: inline-block;
      float: none;
    }
    .form-option-variant{
      display: flex;
      justify-content: center;
      line-height: 33px;
    }
  }
  .pages-product{
    .productView-price{
      .sale_product{
       text-align: center;
        .color-sale{
          padding-right: 15px;
        }
      }
    }
  }
}

.pages-product{
  .sku{
    .productView-info-value{
      text-transform: uppercase;
    }
  }
}
.form-prefixPostfix{
  input::-webkit-input-placeholder{
    color: #000000;
    font-size: 12px;
  }
}

.form-action{
  .out-of-stock{
    cursor: unset;
    background: #e8e8e8;
    color: #000000;
    border-color: #e8e8e8;
    border-radius: 0px;
    &:hover,
    &:active,
    &:focus{
      background: #e8e8e8 !important;
      color: #000000 !important;
      border-color: #e8e8e8 !important;
    }
  }
}
