
// Your Cart
//===================================================================================

.pages-cart{
  .breadcrumbs{
    text-align: left;
    font-size: 16px;
    margin-top: 20px;
    padding-left: 0px;
  }
    .page-heading{
    padding: 0px;
    text-align: center;
    color: #000000;
    font-family: "DomaineDispNar";
    font-size: 35px;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 45px;
    margin-top: 35px;
  }
  .cart{
    margin-bottom: 35px;
    .cart-header-item{
      letter-spacing: 2px;
      color: #000000;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 15px;
      text-align: left;
    }
    .qty-cart-mobile{
      display: none;
    }
    .cart-item-figure{
      position: relative;
      width: 50%;
      padding: 23px 0px;
      &:after{
        padding-bottom: 0px;
      }
      @include breakpointMax($width--tablet){
        width: 35%;
      }
      @include breakpointMax($width--mobile){
        width: 100% !important;
      }
    }
    .cart-item-img-product{
      width: 15%;
      float: left;
      text-align: center;
      .cart-item-image{
        position: unset;
        width: auto;
      }
    }
    .cart-item-list{
      width: 70%;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      line-height: 18px;
      .cart-item-name{
        color: #1c1f2a;
        font-size: 18px;
        margin: 0px;
        margin-top: 5px;
        a{
          text-decoration: none;
          font-size: 16px;
        }
      }
      .cart-item-brand{
        color: #1c1f2a;
        font-size: 14px;
        font-weight: 600;
        margin: 0px;
        text-transform: uppercase;
      }
      .definitionList{
        position: absolute;
        bottom: 20px;
        margin: 0px;
        width: calc(100% - 20% - 15px);
        display: flex;
        flex-direction: column;
      }
      dt{
        margin: 0px;
      }
      dd{
        margin: 0px;
      }
      .definitionList-key{
        color: #000000;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        margin-right: 5px;
      }
      .definitionList-value-Size{
        color: #9b9b9b;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.1px;
      }
      .definitionList-value-Colors{
        color: #9b9b9b;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.1px;
      }
    }
    .cart-item-quantity{
      text-align: left;
      .button{
        height: 40px;
        width: 40px;
        background: #ccc;
        &:hover{
          background-color: $background-buttom-active;
          border-color: $background-buttom-active;
          svg{
            fill: #fff;
          }
        }
      }
      svg{
        fill: #000;
      }
      input{
        height: 40px;
        width: 80px;
        border: 1px solid #e8e8e8;
        text-align: left;
        border-radius: unset;
        color: #1c1f2a;
        font-size: 16px;
        letter-spacing: 0.2px;
        text-align: center;
      }
    }
    .cart-size-item{
      select{
        height: 45px;
        width: 120px;
        border: 1px solid #e8e8e8;
        padding-left: 20px;
        color: #1c1f2a;
        font-size: 16px;
        letter-spacing: 0.2px;

        &:focus{
          border: none;
        }
      }
    }
    .subtotal-cart-item{
      .cart-item-value{
        float: left;
        font-size: 16px;
        font-weight: 600;
        color: #1c1f2a;
      }
      .cart-remove{
        background: none;
        margin: 0px;
        padding: 0px;
        width: auto;
        height: auto;
        @include breakpointMax($width--mobile){
          img{
            width: 10px;
          }
        }
      }
    }
  }
  .code-gift-product{
    width: 67%;
    float: left;
    .continue-shopping-cart{
      color: #000000;
      font-size: 14px;
      font-weight:400;
      text-underline-position: under;
      img{
        padding-right: 8px;
      }
    }

    .coupon-code {
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 67%;

      .code-gift-link{
        margin-bottom: 12px;
        span{
          color: #4a4a4a;
          font-size: 14px;
          font-weight:400;
        }
        a{
          color: #4a4a4a;
          font-size: 14px;
          font-weight:600;
          text-decoration: none;
        }
      }

      .coupon-form {
        margin-bottom: 0;

        .form-input {
          height: 50px;
          width: 52%;
          float: left;
          border: 1px solid #e8e8e8;
          border-radius: 0;
        }

        .button--primary {
          height: 50px;
          background-color: #ccc;
          width: 100%;
          max-width: 215px;
          float: left;
          color: #000;
          border: 1px solid #ccc;
          border-radius: 0;
          font-size: 16px;
          font-weight: 600;
          &:hover{
            background-color: $background-buttom-active;
            border-color: $background-buttom-active;
            color: #fff;
          }
        }
      }
    }
  }
  .all-cart-checkout-gift{
    overflow: hidden;
    position: relative;
    margin-bottom: 90px;
  }
  .checkout-cart-product{
    width: 33%;
    float: left;
    .cart-totals{
      width: 100%;
      margin-bottom: 65px;
    }
    .cart-total-label{
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      padding:0px;
      line-height: 30px;
      height: 30px;
    }
    .cart-total-value{
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      padding: 0px;
      line-height: 30px;
      height: 30px;
    }
    .cart-total-grandTotal{
      color: #000000;
      font-size: 18px;
      font-weight: 700;
    }
    .cart-total{
      padding: 10px 5px;
    }
    .shipping-cart-item{
      color: #000000;
      font-size: 14px;
      text-align: center;
      font-style: italic;
      padding-bottom: 35px;
    }
    .cart-actions{
      margin-bottom: 10px;
      .button{
        width: 100%;
        background-color: #000000;
        height: 50px;
        border-radius: 0px;
        line-height: 50px;
        padding: 0px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
        &:hover{
          background-color: $background-buttom-active;
          border-color: $background-buttom-active;
        }
      }
    }
    .update-qty-product-cart{
      a{
        display: block;
        width: 100%;
        background-color: $background-buttom-active;
        height: 50px;
        border-radius: 0px;
        line-height: 50px;
        padding: 0px;
        text-align: center;
        color: $color-white-content;
        font-size: 18px;
        text-decoration: none;
        font-weight: 600;
      }
    }
  }

}

@media (max-width: 1260px) and (min-width: 768px) {
  #cart-preview-dropdown .previewCartAction {
    .mini-cart-shipping{
      font-size:12px;
    }
    .mini-cart-continue-shopping{
      font-size: 14px ;
    }
    .previewCartAction-viewCart a,.previewCartAction-checkout a{
      font-size: 16px;
    }
  }
  .pages-cart{
    .container{
      padding: 0px 10px;
    }
    .page{
      padding: 0px;
    }
    .page-heading{
      font-size: 30px;
      margin-top: 20px;
      margin-bottom: 40px;
    }
    .checkout-cart-product{
      width: 35%;
      .cart-totals{
        margin-bottom: 40px;
      }
      .cart-total-label{
        font-size: 13px;
        height: 25px;
        line-height: 25px;
      }
      .cart-total-value{
        font-size: 13px;
        height: 25px;
        line-height: 25px;
      }
      .cart-total-title{
        font-size: 15px;
      }
      .cart-total-grandTotal{
        font-size: 15px;
        padding-top: 5px;
      }
      .shipping-cart-item{
        font-size: 12px;
        padding-bottom: 20px;
        font-weight: 400;
      }
      .cart-actions{
        margin-bottom: 5px;
        .button{
          font-size: 14px;
        }
      }
      .update-qty-product-cart{
        a{
          font-size: 14px;
        }
      }

    }
    .code-gift-product{
      width: 65%;

      .continue-shopping-cart{
        font-size: 13px;
      }

      .coupon-code {
        width: 65%;
        bottom: 6px;

        .code-gift-link * {
            font-size: 12px;
        }

        .coupon-form {
          .form-input {
            font-size: 12px;
            width: 55%;
            padding: 0 10px;
          }

          .button--primary {
            max-width: 135px;
            width: 45%;
            padding-left: 10px;
          }
        }
      }
    }

    .cart{
      margin-bottom: 25px;
      .cart-header-item{
        font-size: 12px;
        letter-spacing: 1.85px;
        padding-bottom: 10px;
      }
      .cart-item-list{
        width: calc(100% - 106px);
        .cart-item-brand{
          font-size: 13px;
        }
        .cart-item-name{
          font-size: 15px;
        }
        .definitionList-key{
          line-height: 15px;
        }
        .definitionList-value-Size{
          line-height: 15px;
        }
      }
      .cart-item-img-product{
        width: 106px;
      }
      .cart-size-item{
        select{
          width: 80px;
          padding-left: 15px;
          font-size: 14px;
        }
      }
      .cart-item-quantity{
        input{
          width: 80px;
          font-size: 14px;
        }
      }
      .subtotal-cart-item{
        .cart-item-value{
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0.18px;
          color: #1c1f2a;
        }
      }
    }
  }
}

.gift-certificate-code{
  .button--primary:hover{
    background: $background-buttom-active !important;
    border-color: $background-buttom-active;
  }
}

@include breakpointMax(medium) {
  .pages-cart{
    .container{
      padding: 0px 15px;
    }
    .page-heading{
      font-size: 25px;
      font-weight: 500;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    .cart-header{
      display: block;
      .cart-header-item{
        display: none !important;
      }
    }
    .cart{
      margin: 0px;
      .cart-header-item{
        padding-bottom: 10px;
      }
      .cart-header{
        tr{
          display: block;
          width: 100%;
          border-bottom: 1px solid #e8e8e8;
          float: left;
        }
        .cart-item-items{
          width: 40%;
          float: left;
          display: block;
        }
        .cart-header-quantity{
          display: block;
          width: 30%;
          float: left;
        }
        .cart-item-sub-total{
          width: 30%;
          float: left;
        }
      }
      .cart-list{
        float: left;
        border: none;
        width: 100%;
        .cart-item{
          float: left;
          display: block;
          width: 100%;
          padding-left: 0px;
        }
        .cart-item-info{
          clear: none;
          width: 100%;
        }
      }
      .cart-size-mobile{
        display: none;
      }
      .cart-item-size{
        display: none !important;
      }
      .qty-cart-mobile{
        display: block;
      }
      .qty-cart-desktop{
        display: none;
      }
      .cart-item-figure{
        width: 40%;
        float: left;
        margin: 0px;
      }
      .cart-item-quantity{
        margin: 0px;
       padding-top: 20px;
        float: left;
        .cart-item-label{
          text-align: left;
          font-weight: 600;
          color: #000;
          line-height: 40px;
          margin: 0px;
          width: 30%;
        }
        .form-increment{
          margin: 0px;
          float: right;
        }
        input{
          width: 70px;
          font-weight: 400;
        }
      }
      .subtotal-cart-item{
        width: 30%;
        float: left;
        margin: 0px;
        padding-top: 30px;
        .cart-item-label{
          font-weight: 600;
          color: #000;
          text-align: left;
          width: 30%;
        }
        .cart-item-value{
          font-size: 14px;
          font-weight:600;
          padding: 0px;
          letter-spacing: 0.2px;
          width: 60%;
          text-align: right;
        }
      }
      .cart-item-block{
        display: unset;
      }
      .cart-item-figure{
        height: auto;
        padding: 0px;
      }
      .cart-item-img-product{
        width: 33%;
        padding: 0;
      }
      .cart-item-list{
        width: 67%;
        padding-left: 10px;
        .definitionList{
          position: unset;
          width: 100%;
          margin-top: 15px;
        }
        .cart-item-brand{
          font-size: 13px;
        }
        .cart-item-name{
          font-size: 15px;
        }
      }
    }
    .data-cart-content{
      overflow: hidden;
      margin-bottom: 30px;
    }
    .all-cart-checkout-gift{
      margin-bottom: 75px;
    }
    .code-gift-product{
      width: 100%;
      text-align: center;
      padding-bottom: 30px;
      border-bottom: 1px solid #e8e8e8;

      .coupon-code {
        position: static;
        width: 100%;
        overflow: hidden;
        padding-top: 40px;

        .coupon-form {
          .form-input {
            width: 100%;
            max-width: 100%;
            margin-bottom: 10px;
            font-size: 13px;
          }

          .button--primary {
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            padding: 0;
            margin-left: 0;
          }
        }
      }
    }
    .checkout-cart-product{
      width: 100%;
      padding-top: 15px;
      display: flex;
      flex-direction: column-reverse;
      div:first-child{
        order: 1;
      }
      .update-qty-product-cart{
        margin-bottom: 10px;
      }
      .cart-total-label{
        float: left;
        text-align: left;
      }
      .cart-total-value{
        float: right;
      }
      .cart-totals{
        margin-bottom: 45px;
      }
      .shipping-cart-item{
        padding-bottom: 28px;
      }
      .cart-actions{
        //.button{
        //  font-size: 14px;
        //  background-color: #ffdbca;
        //  border: none;
        //  color: #1c1f2a;
        //}
      }
      .update-qty-product-cart{
        a{
          font-size: 14px;
          background-color: #000000;
          color: #fff;
        }
      }
    }
  }
}

.checkout-cart-product{
  .cart-total{
    .cart-total-label{
      width: 50%;
    }
    button{
      color: #000;
    }
  }
}

.shipping-estimator{
  .shipping-estimate-submit{
    color: #fff !important;
    &:hover{
      background: $background-buttom-active;
      border-color: $background-buttom-active;
    }
    @include breakpointMax($width--tablet){
      width: 100%;
    }
    @include breakpointMax($width--mobile){
      max-width: 350px;
    }
  }
}