.pages-category {
	.body {
		background: $color-white;
	}
	.container{
		max-width: 1540px;
		padding: 0px 20px;
	}
	.category-name {
		font-weight: $fontWeight-bold;
		
		.total {
			font-size: fontSize("smallest");
			font-weight: $fontWeight-bold;
			color: $color-grey;
		}
	}
	.page{
		padding: 0px;
	}

	.page-content{
		float: left;
		padding-right: 0px;
		@include breakpointMax($width--mobile){
			padding: 0px;
		}
	}

	.page-sidebar{
		width: 22%;
		margin-right: 3%;
		@include breakpointMax($width--mobile){
			width: 100%;
			.accordion{
				border: 1px #e5e5e5 solid;
			}
			#facetedSearch-content--price{
				padding: 1rem;
			}
		}
	}
	
	.page-heading {
		display: none;
	}
	
	.heading-category {
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		
		.category-name,
		.actionBar {
			float: left;
			margin: 0;
			@include breakpoint($width--tablet) {
				width: grid-calc(6, $total-columns);
			}
			@include breakpointMax($width--mobile){
				width: 100%;
				margin-bottom: 20px;
			}
		}
		@include breakpointMax($width--mobile){
			.category-name{
				display: none;
			}
		}
		
		.actionBar {
			@include breakpointMax($width--tablet) {
				//display: none;
			}
		}
	}
	
	.breadcrumbs {
		padding: 0px;
		margin: spacing("single") 0;
		text-align: left;
		color: $color-black;
		font-weight: $fontWeight-bold;
		@include breakpointMax("medium") {
			padding: 0 $column-gutter / 2;
			text-align: center;
		}
	}
	
	.sidebarBlock-heading {
		font-weight: $fontWeight-bold;
		text-transform: uppercase;
	}
	
	.sub-category {
		.accordion-navigation-actions {
			display: none;
		}
	}
	
	.limit-products {
		select {
			width: auto;
			background: $color-greymoreLight;
			border-color: $color-greyLightest;
			padding-right: $spacing-base;
		}
	}
	
	.accordion-navigation {
		border: none;
		@include breakpointMax($width--mobile){
			border-bottom: 1px #e5e5e5 solid !important;
			border-top: 1px #e5e5e5 solid;
			border-radius: 0px !important;
		}
	}
	
	.sub-category {
		.navList {
			border-bottom: 1px $accordion-border;
		}
	}
	
	.navList {
		padding-bottom: $spacing-single;
	}
	
	.accordion-navigation-actions {
		top: 0;
		right: 0;
		@include breakpointMax("medium") {
			display: none;
		}
		
		use {
			fill: $color-greyDark;
		}
	}
	
	.total-pagination {
		overflow: hidden;
	}
	
	.total-item,
	.pagination-product,
	.limit-products {
		@include breakpoint("medium") {
			@include grid-column(4);
		}
		font-weight: $fontWeight-bold;
		margin-bottom: $spacing-half;
	}
	
	.limit-products {
		text-align: right;
	}
	
	.pagination-width {
		@include breakpointMax($screen-medium - 1) {
			display: flex;
			overflow: hidden;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			.pagination-list {
				margin-bottom: 0;
			}
		}
	}
	
	.form-field {
		.button {
			color: $color-white;
			text-transform: uppercase;
			font-weight: 600;
			
			&:hover {
				border-color: $background-buttom-active;
				background: $background-buttom-active;
			}
		}
	}
	.navList-action{
		&:hover{
			color: stencilColor("color-red");
		}
	}
}

.accordion-navigation {
	&.is-active {
		.toggleLink-text--on {
			display: none;
		}
		
		.toggleLink-text--off {
			display: block;
		}
	}
	.toggleLink-text--on {
		display: block;
	}
	
	.toggleLink-text--off {
		display: none;
	}
}

.breadcrumbs {
	.breadcrumb a {
		color: $color-black;
	}
}

.actionBar {
	.actionBar-section {
		float: right;
		
		.form-field {
			margin: 0;
			position: relative;
		}
	}
	
	.form-field {
		.form-label {
			position: absolute;
			height: 35px;
			top: 3px;
		}
	}
}

.card > .add-to-wishlist {
	
	display: none;
}

.main-category-heading {
	border-bottom: 1px $accordion-border;
	padding-bottom: $spacing-base;
}

.main-category-footer {
	.form-field {
		border: none;
		font-weight: $fontWeight-bold;
		
		.form-label {
			color: $color-black;
			position: static;
		}
	}
	
	.actionBar {
		border-top: 1px $accordion-border;
		margin-top: 0;
		padding-top: $spacing-single;
		@include breakpointMax("medium") {
			display: flex;
			justify-content: center;
		}
	}
	
	.form-select {
		color: $color-black;
		border: 1px $accordion-border;
		height: $spacing-single;
		padding: 0 5px 0 $spacing-single;
		background: $color-greymoreLight;
		border-color: $color-greyLightest;
		-webkit-appearance: menulist !important;
		-moz-appearance: menulist !important;
	}
}

.sku {
	text-align: center;
}

.stock {
	border-top: 1px $accordion-border;
	line-height: $lineHeight-larger;
	
	span {
		color: $color-black;
		font-size: fontSize("smallest");
		display: inline-flex;
		align-items: center;
		padding: 0 $spacing-half / 3;
	}

	img {
		height: 12px;
		padding-right: $spacing-half / 2;
	}
}

#facetedSearch-navList{
	i.fa.fa-star.color{
		color: #d92028;
		-webkit-text-stroke-color: #d92028;
		-webkit-text-stroke-width: 1px;
	}

	i.fa.fa-star{
		font-size: 12px;
		-webkit-text-stroke-color: #d92028;
		-webkit-text-stroke-width: 1px;
		color: #fff;
	}
}


.pages-search{
	.container{
		max-width: $maxWidth-content;
		margin: auto;
		padding: $padding-content;
	}
	.breadcrumbs{
		padding: 0px;
	}
	.page{
		padding: 0px;
	}
	.page-sidebar{
		width: 22%;
		margin-right: 3%;
		@include breakpointMax($width--mobile){
			width: 100%;
			margin: 0px;
		}
	}
	.panel-body{
		display: none;
	}
	.page-content{
		padding-right: 0px;
	}
	.form-minMaxRow{
		.button--small{
			color: #fff;
			font-weight: 700;
			text-transform: uppercase;
			&:hover{
				background: $background-buttom-active;
				border-color: $background-buttom-active;
			}
		}
	}
	.sidebarBlock-heading{
		font-weight: 700;
		text-transform: uppercase;
	}
	.accordion-navigation{
		.toggleLink-text--on{
			display: none;
		}
		.toggleLink-text--off{
			display: block;
		}
	}
	.accordion-navigation.is-open{
		.toggleLink-text--on{
			display: block;
		}
		.toggleLink-text--off{
			display: none;
		}
	}
	@include breakpointMax($width--mobile){
		.accordion-navigation-actions{
			display: none;
		}
	}
}