
// Our story
//=========================================================================
.page-heading-our-story + .page-content.page-content--centered{
  padding: 0 0.75rem;
&>p{
  margin: 0px !important;
}
}
.page-heading-our-story{
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #f5f5f5;
  height: 96px;
  line-height: 140px;
  text-align: center;
  font-family: "DomaineDispNar";
  font-size: 35px;
  font-weight: 500;

  & + .page-content.page-content--centered {
    padding: 0 !important;
  }
}
.our-story-page{
  max-width: 1086px;
  margin: auto;
  position: relative;

  .header-our-story{
    /*background-color: #f5f5f5;*/
    overflow: hidden;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    position: relative;
    .headding-our-story-page{
      padding-bottom: 21px;
      background-color: #f5f5f5;
      p{
        margin-bottom: 0px;
      }
    }
    h1{
      font-size: 35px;
      font-weight: 500;
      font-family: "DomaineDispNar-Medium";
      margin-top: 45px;
      text-align: center;
      margin-bottom: 0px;
      color: #000000;
    }
    p{
      color: #000000;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 600;
      text-align: center;
      letter-spacing: 2px;
    }
    .header-content{
      h4{
        font-family: "DomaineDispNar-Medium";
        font-size: 32px;
        font-weight: 500;
        padding-left: 50px;
        line-height: 40px;
        position: absolute;
        bottom: 0px;
      }
    }
    .title-content-our-story{
      width: 32%;
      float: left;
    }
    .content-img-our-story{
      width: 100%;
      float: right;
    }
    .mask-img{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 72%;
      background: #f5f5f5;
      z-index: -1;
    }
    .img-our-story-left{
      width: 33%;
      float: left;
      padding-right: 4.5px;

      img{
        width: 100%;
      }
    }

    .title-container {
      position: relative;

      .girl-title {
        font-size: 35px;
        font-weight: 500;
        font-family: "DomaineDispNar-Medium";
        text-align: left;
        line-height: 38px;
        margin-top:375px;
        margin-left: 75px;
        letter-spacing: normal;
        @media (max-width: 767px) {
          margin-top: 24px;
          margin-top: 24px;
          margin-bottom: 15px;
          margin-left: 0;
          font-size: 25px;
          line-height: 31px;
        }
        @media (max-width: 1260px) and (min-width: 768px) {
          margin-top:211px;
          font-size: 28px;
          margin-left:0;
        }

      }
    }

    .img-our-story-right{
      width: 33%;
      float: left;
      padding-left: 4.5px;

      img{
        width: 100%;
      }
    }

  }


.header-content{
  overflow: hidden;
  position: relative;
  margin-bottom: 55px;
}
  .main-content{
    max-width: 1086px;
    margin: auto;
  }
  .content-our-story{
    overflow: hidden;

    .content-details-our-story{
      p{
        color: #000000;
        font-family: "Open Sans";
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 25px;
      }
    }

    .content-title{
      padding-left: 50px;
      overflow: hidden;
    }

    .main-content-our-story{
      overflow: hidden;
      margin-top: 25px;
      padding-bottom: 25px;
      margin-bottom: 50px;

      .img-main-story-left{
        width: 65%;
        float: left;
        position: relative;

        p{
          padding-left: 50px;
          margin-top: 50px;
          color: #000000;
          font-family: "DomaineDispNar-Medium";
          font-size: 22px;
          font-weight: 500;
          line-height: 27px;
          padding-right: 40px;
          margin-bottom: 50px;
        }
      }

      .background-img-our-story{
        width: 381px;
        height: 340px;
        background-color: #ffdbca;
        position: absolute;
        z-index: -9;
        bottom: -15px;
      }

      .img-main-story-left-details{
        img{
          width: 100%;
        }
      }

      .img-main-our-story-right{
        width: 35%;
        float: left;
        padding-left: 45px;

        img{
          width: 100%;
        }
      }
    }

    .lorem-our-story{
      padding-left: 50px;

      p{
        color: #000000;
        font-family: "Open Sans";
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 25px;
      }
    }
  }
}

@media (max-width: 1260px) and (min-width: 768px) {

  .our-story-page{
    .header-content{
      padding: 0px 40px;
      margin-bottom: 40px;
    }
    .header-our-story{
      h1{
        margin-top: 25px;
        font-size: 30px;
      }

      p{
        letter-spacing: 1.85px;
        font-size: 12px;
      }
      .header-content{
        h4{
          font-size: 28px;
          padding-left: 20px;
          margin-top: 18px;
        }
      }
      .title-content-our-story{
        width: 39%;
      }
      .content-img-our-story{
        width: 100%;
        display: flex;
        align-content: space-around;
      }
      .img-our-story-left{
        padding-right: 3px;
      }
      .img-our-story-right{
        padding-left: 3px;
      }
      .mask-img{
        height: 61%;
      }
    }

    .content-our-story{
      margin-left: -20px;
      width: calc(100% + 40px);
      .content-img-our-story{
        width: 61%;
        top: 35px;
      }
      .main-content-our-story {
        margin-top: 30px;
        padding-bottom: 0px;
        margin-bottom: 40px;
        .img-main-story-left{
          p{
            font-size: 18px;
            line-height: 22px;
            padding-left: 20px;
            padding-right: 100px;
            margin-top: 40px;
            margin-bottom: 40px;
          }
        }
        .img-main-our-story-right{
          padding-left: 25px;
          padding-right: 20px;
        }
      }
      .content-details-our-story{
        p{
          font-size: 12px;
          line-height: 19px;
          &:nth-child(2){
            margin-bottom: 0px;
          }
        }
      }

      .content-title{
        padding-left: 10px;
        padding-right: 20px;
      }
      .img-our-story-left{
        padding-right: 3px;
      }
      .img-our-story-right{
        padding-left: 3px;
      }
      .lorem-our-story{
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 90px;
      }
    }
  }
}

@media (max-width: 767px) {
  .page-heading-our-story{
    font-size: 25px;
    height: 60px;
    line-height: 80px;
  }
  .our-story-page{
    margin-bottom: 20px;
    .header-content{
      padding:0px 15px;
      margin-bottom: 0px;
    }
    .header-our-story{
      .headding-our-story-page{
        p{
          font-size: 12px;
          letter-spacing: 1.71px;
        }
      }
      .content-img-our-story{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
      }
      .title-content-our-story{
        width: 100%;
      }
      .img-our-story-left{
        width: 100%;
        &.title-container {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      .img-our-story-right{
        display: none;
      }
      .mask-img{
        height: 55%;
      }
      .header-content{
        h4{
          position: unset;
          font-size: 25px;
          padding: 0px;
          line-height: 34px;
          padding-left: 5px;
          margin-top: 24px;
          margin-bottom: 8px;
        }
      }
    }
    .content-our-story{
      padding-left: 20px;
      padding-right: 20px;

      .content-title{
        padding-left: 0;
        // padding-left: 9.5px;
        // padding-right: 17px;
      }
      .content-details-our-story{
        p{
          font-size: 13px;
          line-height: 22px;
        }
      }
      .main-content-our-story{
        margin-top: 10px;
        padding-bottom: 0px;
        margin-bottom: 25px;
        .img-main-story-left{
          width: 100%;
          display: flex;
          flex-direction: column;
          p{
            order: 2;
            padding-left: 10px;
            padding-right: 12px;
            font-size: 18px;
            margin-top: 28px;
            margin-bottom: 20px;
          }
        }
        .img-main-story-left-details{
          padding: 0px 3px;
        }
        .img-main-our-story-right{
          width: 100%;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      .lorem-our-story{
        padding-left: 10px;
        padding-right: 15px;
      }
    }
  }
}

// css Terms & Conditions
//=======================================================

.page{
  .page-heading{
    color: #000000;
    font-family: "DomaineDispNar-Medium";
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 25px;
    //margin-top: 36px;
  }
}


.term-text{
  .text-bold{
    color: #000000;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.15px;
    margin-bottom: 6px;
    line-height: 36px;
  }
}
.term-text{
  .text-normar{
    color: #000000;
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 21px;
  }
}
.page-terms{
  max-width: 1080px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 120px;
  .term-text{
    margin-bottom: 42px;
  }
}
.term-text {
  .text-list-main {
    .text-list {
      color: #000000;
      font-family: "Open Sans";
      font-size: 13px;
      line-height: 22px;
      margin-left: 15px;
      list-style-position: inside;
      text-indent: 15px;
    }
  }
}
.term-text {
  .text-list-main {
    margin-bottom: 14px;
  }
}
.term-text{
  .text-normar-fail{
    color: #000000;
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 7px;
  }
}
.text-normar{
  a {
    font-weight: bold;
  }
}

@media only screen and (max-width: 1260px) and (min-width: 768px){

  .page-terms{
    margin-top: 30px;
    margin-bottom: 100px;
  }
.page{
  .page-heading {
    font-size: 30px;
    margin-bottom: 27px;
    //margin-top: 18px;
  }
}
.term-text{
  .text-list-main{
    ul{
      margin-left: 0;
    }
    .text-list{
      font-size:11px;
      line-height: 19px;
      margin-left: 8px;
      list-style-position: inside;
      text-indent: 15px;
    }
  }
}

  .term-text{
    .text-normar{
      font-size:11px;
      line-height: 19px;
      margin-bottom: 16px;
    }
  }
  .term-text{
    .text-normar-fail{
      font-size: 11px;
      line-height: 19px;
      margin-bottom: 4px;
    }
  }
  .page-terms{
    .term-text{
      margin-bottom: 32px;
    }
  }
  .term-text{
    .text-bold{
      color: #000000;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 700;
      line-height: 36px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 3px;
    }
  }

  .term-text{
    .text-list-main {
      margin-bottom: 0px;
    }
  }

}
@include breakpointMax(medium){
  .page-terms{
    margin-top: 16px;
    padding-left: 10px;
    margin-bottom: 77px;
  }
  .page {
    .page-heading {
      font-size: 25px;
      margin-bottom: 16px;
      margin-top: 7px;
    }
    }
  .page-terms{
    padding: 0px 11px;
  }
  .text-mobile{
    display: none;
  }
  .term-text{
    .text-bold{
      font-size: 13px;
      letter-spacing: 1.86px;
      line-height: unset;
      margin-bottom: 8px;
      width: 85%;
    }
  }
  .term-text {
    .text-normar {
      font-size: 11px;
      line-height: 19px;
      margin-bottom: 18px;
    }
  }
  .term-text{
    .text-normar-fail {
      font-size: 11px;
      line-height: 19px;
      margin-bottom: 6px;
    }
    }
  .term-text{
    .text-list-main{
      ul{
        margin-left: 18px;
      }
      .text-list {
        font-size: 11px;
        line-height: 19px;
        margin-left: 8px;
        list-style-position: outside;
        text-indent: 0px;
        padding-left: 8px;
      }
      }
      }

}


//=========================================================================
//return
//=========================================================================
.pages-contact-us {
  .returns-page {
    .page-heading {
      margin-bottom: 5px;
    }
  }
}
 .page-return{
  .page-content.page-content--centered {
    padding-top: 0 !important;
  }

  .first_block{
    padding: 3% 0 6% 0;
    padding-top: 0;
    .title_first_block{
      text-align: center;
      p{
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 2px;
        /*margin-top: -35px;*/
      }
    }
    p:nth-child(4){
      text-align: center;
      margin-bottom: 4%;
      h1{
            font-size: 35px;
            font-weight: 500;
            line-height: 66px;
            color: #000000;
            font-family: "DomaineDispNar-Medium";
            display: none;
        }
      p{
          margin-bottom: 20px;
          color: #000000;
          font-size: 13px;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 2px;
          font-family: "Open Sans";
    }
    }
    .content_block {
      .main_block{
        max-width: 998px;
        margin: 38px auto 0;
        overflow: hidden;

        @media (max-width: 767px) {
          margin-top: 0;
        }

        .item{
            float: left;
            max-width: 50%;
            width:100%;
            padding-top: 30px;

            @media (max-width: 767px) {
              max-width:100%;
            }
            p {
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              text-align: left;
              font-family: "Open Sans";
              font-size: 14px;
              line-height: 25px;
              font-weight: 400;
              
              @media (max-width: 767px) {
                line-height: 1.69;
                font-size: 13px;
                text-align: center;
              }
            }
        }
        .item2.nitty{
          max-width: 50%;
          width:100%;
          float: left;
          font-family: "Open Sans";
          @media (max-width: 767px) {
            max-width:100%;
          }

          ul{
                margin-left: 10px;
                list-style-position: outside;
                margin-bottom: 0;
            li{
              margin: 2% 0 0 7%;
              list-style-position: outside;
              color: #000000;
              font-family: "Open Sans";
              font-size: 14px;
              line-height: 25px;
              font-weight: 400;
              @media (max-width: 767px){
                margin-left: 10px;
                text-indent: 0;
                font-size: 13px;
                line-height: 1.69;
                margin-top: 0;
              }
              @include breakpoint(medium){
                list-style-position: outside;
              }
              @include breakpoint(large){
                list-style-position: outside;
              }
            }
          }
          h3{
              color: #000000;
              font-family: "Open Sans";
              font-size: 16px;
              font-weight: 700;
              line-height: 25px;
              line-height: 46px;
              text-transform: uppercase;
              letter-spacing: 2.46px;
              margin-top: 0;
              padding-top: 20px;
              padding-left: 26px;
              @media (max-width: 767px){
                padding-left:0;
                letter-spacing: 2px;
                margin-bottom: 0;
              }
            }
        }
      }
    }
  }
  .second_block{
    text-align: center;
    background-color: #f5f5f5;
    padding: 4% 0 0 0;
    width: 100vw;
    transform: translate(-50%);
    margin-left: 50%;
          p:first-child{
          color: #000000;
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 2.46px;
          line-height: 46px;
          margin-bottom: 0;
          }
          p:nth-child(2){
          color: #000000;
          font-family: "Open Sans";
          font-size: 14px;
          line-height: 25px;
          font-family: "Open Sans";
          margin-bottom: 38px;
            span{
              font-weight: 600;
            }
          }
          p:nth-child(4){
              color: #000000;
              font-size: 14px;
              line-height: 21px;
              max-width: 461px;
              margin:auto;
              margin-top: 2rem;
              margin-bottom: 50px;
              font-family: "Open Sans";
              font-weight: 400;
              span{
                font-weight: 600;
              }
            }
            p:nth-child(5){
            margin: 0 0 2rem 0;
            color: #000000;
            font-size: 14px;
            line-height: 25px;
            font-family: "Open Sans";
          }
          .item_box{
              padding: 2rem 0;
              margin:auto;
              max-width: 550px;
              background-color: #ffffff;
              text-align: center;
                  .text_item_box{
                    color: #000000;
                    font-family: "Open Sans";
                    font-size: 15px;
                    line-height: 29px;
                    font-weight: 400;
                  }
            }
              .but{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                width: 315px;
                height: 59px;
                background: black;
                color: #ffffff;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 13px;
                border: none;
                font-family: "Open Sans";
                text-decoration: none;
                transition: all 0.5s ease;

                &.active {
                    border-color: #ffdbca;
                    background-color: #ffdbca;
                }
              }
  }
  
  .query-section {
    background-color: #f5f5f5;
    padding: 4% 0 0;
    width: 100vw;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    margin-left: 50%;

    @media (max-width: 767px) {
      transform: none;
      width: calc(100% + 1.5rem);
      padding: 26px 28px;
      margin: 0 -0.75rem;
    }

   .query-title {
    max-width: 729px;
    margin: 0 auto;
    margin-bottom: 0;
    padding-bottom: 45px;
    p {
      margin-bottom: 0;
    }

    @media (max-width: 767px) {
      padding-bottom: 25px;
    }

    h3 {
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      font-family: "Open Sans";
      letter-spacing: 2.46px;
      color: #000;
    }
    p{
      text-align: center;
      font-weight: 400;
      font-size:14px;
      line-height: 1.79;
    }
   }
  .return-form {
    max-width: 729px;
    margin: 45px auto 0;
    
    @media (max-width: 767px) {
      margin: 25px auto 0;
    }
    .form-label {
      font-size: 12px;
      color: #000;
      margin-bottom: 15px;
    }
    .form-field {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      margin-bottom: 15px;

      #query_id {
        margin-bottom: 15px;
      }      

      #query_name { text-transform: capitalize; }

      .form-input {
        background-color: transparent;
        border-bottom: 1px solid #000;
        border-radius: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        font-size: 0.88rem;
        padding-left: 0;
        color: #000;

        &::placeholder {
          color: #000;
        }
        
        &#query_message {
          padding: 1rem;
          border:none;
          background-color: #fbfbfb;
          height: 129px;
          resize: none;
        }
      }
    }
    #query_submit {
      border-radius: 0;
      width: 315px;
      height: 59px;
      transform: translate(-50%);
      margin-left: 50%;
      font-size:18px;
      margin-top: 50px;

      @media (max-width: 767px) {
        width: 223px;
        height: 51px;
        margin-top: 8px;
      }
    }   
  }

}

  .third_block{
    padding-top: 48px;
    max-width: 1080px;
    margin: auto;
      .content_block {
        .main_block {
            max-width: 1260px;
            margin: auto;
            overflow: hidden;
          .item{
            margin: 0px;
            width: 50%;
            float: left;
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            padding-right: 80px;
            p{
              color: #000000;
              font-family: "Open Sans";
              font-size: 14px;
              line-height: 25px;
              font-weight: 400;
              &:nth-child(2){
                margin-bottom: 2.5rem;
              }
            }
            p:first-child{
              color: #000000;
              font-family: "Open Sans";
              font-size: 16px;
              font-weight: 700;
              line-height: 46px;
              text-transform: uppercase;
              letter-spacing: 2.46px;
              margin-bottom: 0;
                      }

            p:last-child{
              margin-top: 1rem;
            }
          }
          .item2 {
            margin: 0px;
            padding-left: 50px;
            width: 50%;
            float: left;
            p{
              color: #000000;
              font-family: "Open Sans";
              font-size: 14px;
              line-height: 25px;
              font-weight: 400;
              margin: 0;
            }
            p:first-child{
                color: #000000;
                font-family: "Open Sans";
                font-size: 16px;
                font-weight: 700;
                line-height: 46px;
                text-transform: uppercase;
                letter-spacing: 2.46px;

              }
          }
        }
      }
  }
  .fourth_block{
    text-align: center;
    background-color: #f5f5f5;
    padding: 4% 0 6% 0;
    width: 100vw;
    transform: translate(-50%);
    margin-left: 50%;
    a{
      font-weight: 600;
      text-decoration: none;
    }
    .but{
          padding: 0 100px;

          height: 59px;
          background: black;
          color: #ffffff;
          letter-spacing: 1px;
          font-size: 18px;
          border: none;
          font-family: "Open Sans";
        }
        p:first-child{
          color: #000000;
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 700;
          line-height: 30px;
          text-transform: uppercase;
          letter-spacing: 2.46px;
          margin-bottom: 1%;
        }
        p:nth-child(2){
          color: #000000;
          font-family: "Open Sans";
          font-size: 14px;
          line-height: 25px;
          max-width: 608px;
          padding: 0 5px;
          margin:auto;
            margin-bottom: 4rem;
          a{
            font-weight: 600;
            font-family: "Open Sans Semi Bold";
          }
            span{
                font-weight: 600;
              }
        }
        .form{
      max-width: 692px;
      margin:auto;
          margin-bottom: 2rem;
        .name{
              margin-top: 20px;
              text-align: left;
              color: #000000;
              font-family: "Open Sans";
              font-size: 12px;
            }
        .hr{
          border:none;
            border-bottom: 1px solid #000000;
            height: 22px;
            width: 100%;
            background: #f5f5f5;
            outline:none;
            font-family: "Open Sans";
          }
          .form_box{
                  outline: none;
                  margin: 3% 0 2rem 0;
                  width: 100%;
                  height: 129px;
                  background-color: #ffffff;
                  opacity: 0.68;
                  resize: none;
                  border: none;
                  font-family: "Open Sans";
                }
    }
  }


 }

@media screen and (max-width: 1260px) and (min-width: 768px){
  .page-return{
    .first_block{
      .title_first_block{
         h1{
            font-size: 30px;
            font-weight: 500;
            line-height: 66px;
         }
         p{
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 1.85px;
          margin-bottom: 20px;
         }
         img{
           width: 70.3%;
         }
      }
       .content_block{
           .main_block{
               .item{
                    max-width: 44% ;
                    padding-left: 0;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 22px;
                    }
                .item2{
                      max-width: 50%;
                      margin-left: 6%;
                      ul{
                            margin-left: 0;
                        li{
                          font-size: 12px;
                          line-height: 19px;
                          margin-left: 15px;
                        }
                      }
                      h3{
                        font-size: 14px;
                        line-height: 46px;
                        letter-spacing: 2.15px;
                      }
                }

           }
       }
    }
    .second_block{
          // padding-bottom: 50px;
          p:first-child{
            font-size: 14px;
            line-height: 46px;
            letter-spacing: 2.15px;
          }
          p:nth-child(2){
            font-size: 12px;
            line-height: 25px;
            font-weight: 400;
            span{
              font-weight: 600;
            }
          }
           p:nth-child(4){
            font-size: 12px;
            line-height: 21px;
            margin-bottom: 35px;
           }
      .item_box {
        .text_item_box{
            font-size: 14px;
            line-height: 29px;
        }
      }
      .but{
        width: 315px;
        font-size: 13px;
        letter-spacing: 1px;
      }
    }
    .third_block{
      padding: 4% 0;
       .content_block{
           .main_block{
               .item{
                 width: 50%;
                 max-width: 100%;
                 margin: 0px;
                  padding-right: 20px;
                        p{
                          font-size: 12px;
                          line-height: 19px;
                        }
                        p:first-child{
                            font-size: 14px;
                            letter-spacing: 2.15px;
                          }

                    }
                    .item2{
                      width: 50%;
                      max-width: 100%;
                      margin: 0px;
                      padding-left: 25px;
                          p:first-child{
                            font-size: 14px;
                            letter-spacing: 2.15px;
                          }
                          p{
                            font-size: 12px;
                            line-height: 19px;
                          }
                    }
           }
       }
    }
    .fourth_block{
      padding: 4% 0 8.7% 0;
      p:first-child{
        font-size: 14px;
        line-height: 46px;
        letter-spacing: 2.15px;
      }
      p:nth-child(2){
            max-width: 477px;
            font-size: 12px;
            line-height: 19px;
      }
      .form{
        max-width: 432px;
      }
              .but{
          width: 160px;
                height: 45px;
                font-size: 14px;
                padding: 0 50px;
        }
    }
  }

}
@include breakpointMax(medium){
  .page-return{
    .first_block{
      padding-bottom: 50px;
          img{
          width: 100%;
        }
        .title_first_block {
          h1{
            color: #000000;
            font-family: "DomaineDispNar-Medium";
            font-size: 25px;
            font-weight: 500;
            line-height: 66px;
          }
           p{
            color: #000000;
            font-family: "Open Sans";
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1.71px;
            margin-bottom: 20px;
           }
        }
       .content_block{
           .main_block{
               .item{
                 padding: 0px 15px;
                    margin: auto;
                    margin-bottom: 4%;
                    text-align: center;
                    /*max-width: 252px;*/
                    font-size: 18px;
                    float: none;
                    line-height: 21px;
                    // font-family: "DomaineDispNar";
                    margin-top: 20px;
                }
                .item2{
                  float: none;
                  max-width: 695px;
                  margin: 0 0 0 3%;
                  h3{
                    color: #000000;
                    font-family: "Open Sans";
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 46px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                  }
                  ul{
                    margin-left: 0;
                     li{
                        font-size: 13px;
                        margin: 0;
                        line-height: 22px;
                        font-weight: 400;
                       text-indent: 12px;
                       padding: 0px 5px;
                      }
                  }
                }
            }
       }
    }
    .second_block{
      padding: 2.5rem 5% 0;
      margin-bottom: 0;

          p:nth-child(4){
          padding: 0 10px;
          font-size:13px
        }
        p:nth-child(2){
          font-size: 13px;
          padding: 0 20px;
          line-height: 21px;

          margin:1rem auto;
          margin-bottom: 28px;
          span{
            font-weight: 600;
          }
        }
        p:first-child{
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 2px;
          }
          .but{
            width: 263px;
            color: #ffffff;
            font-family: "Open Sans";
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.93px;
            height: 50px;
            line-height: 50px;
          }
    }
    .fourth_block {
      padding: 52px 4%;
      margin-top: 50px;
      .but{
            width: 223px;
        height: 51px;
        padding: 0;
        font-size: 14px;
      }
      p:first-child{
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 700;
        line-height: 46px;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      p:nth-child(2){
        color: #000000;
        font-family: "Open Sans";
        font-size: 13px;
        line-height: 22px;
        padding: 0 35px;
      }
    }
    .third_block{
      padding-top: 32px;
       .content_block{
         .main_block {
          max-width: 846px;
           margin: auto;
           padding: 0 0 0 3%;
            .item {
                  margin: 0;
                  max-width: 695px;
                  float: none;
                  font-family: "DomaineDispNar";
                  padding: 0px;
              width: 100%;
              p:first-child{
                display: block;
                font-size: 14px;
                letter-spacing: 2px;
                margin-bottom:0;

              }
              p{
                font-family: "Open Sans";
                font-size: 13px;
                line-height: 22px;
              }
            }
            .item2 {
              float: none;
              max-width: 695px;
              margin: 0;
              width: 100%;
              padding: 0px;
              p{
                font-size: 13px;
                line-height: 22px;
                display: inline;
              }
              p:first-child{
                display: block;
                font-size: 14px;
                letter-spacing: 2px;
              }
            }
         }
       }
    }
  }

}


//=========================================================================
//size-guide
//=========================================================================
.page-size-guide{
  .guide-page-title{
    text-align: center;
    display: none;
    h1{
     color: #000000;
      font-family: "DomaineDispNar-Medium";
      font-size: 35px;
      font-weight: 500;
      line-height: 66px;
    }
  }
  .guide-heading{
    margin: auto;
    max-width: 308px;
    margin-bottom:40px;
    display: flex;
    justify-content: center;
  .guide-link{
    padding: 0 15px;
    float: left;
    text-align: center;
    a{
      color: #1c1f2a;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
    }
    &:nth-child(2){
      border-left: 1px solid #e8e8e8;
      border-right: 1px solid #e8e8e8;
    }
  }
  &:after{
      content:'';
      display:block;
      clear:both;
    }
  }
  .guide-text{
    .guide-text-bold{
        color: #000000;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 700;
        line-height: 46px;
        text-transform: uppercase;
        letter-spacing: 2.46px;
        text-align:center;
    }
    .guide-text-nomar{
        color: #000000;
        font-family: "Open Sans";
        font-size: 14px;
        line-height: 21px;
        max-width:461px;
        text-align:center;
        margin:auto;
        .guide-link{
          color: #000000;
          font-family: "Open Sans";
          font-size: 14px;
          line-height: 21px;
          font-weight: 700;
          text-decoration: none;
        }
    }
    .guide-text-link{
        color: #000000;
        font-family: "Open Sans";
        font-size: 14px;
        line-height: 21px;
        font-weight: 700;
        text-decoration: none;
    }
  }
  .guide-line{
     width: 81px;
     height: 1px;
     border-bottom: 1px solid #000000;
     margin: 30px auto 40px;
   }
  .guide-line-fn{
    width: 81px;
    height: 1px;
    border-bottom: 1px solid #000000;
    margin: 30px auto 120px;
  }
  .guide-content-table{
     max-width: 1111px;
    margin: auto;

  .guide-banner{
    margin-top:30px;
    position: relative;
    background-image: url(https://cdn11.bigcommerce.com/s-ktcfckosli/product_images/uploaded_images/banner-size-guides-1a-2.jpg);
    height:408px;
    background-position: center;
    background-size: cover;

    img{
      display: none;
    }
    .banner-main{
      position:absolute;
      display: none;
    .main-bold{
      color: #000000;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 700;
      line-height: 46px;
      text-transform: uppercase;
      letter-spacing: 2.15px;
    }
    .main-nomar{
      color: #000000;
      font-family: "Open Sans";
      font-size: 13px;
    }
    &:nth-child(2){
            top: 158px;
            left: 97px;
            max-width: 164px;
            text-align: right;
    }
    &:nth-child(3){
        top: 15px;
        right: 89px;
        max-width:165px;
    }
    &:nth-child(4){
        top: 250px;
        right: 50px;
        max-width:203px;
    }

    }
  }
  .banner-des{
      display: none;
      text-align: center;
      margin-top: 20px;
      padding: 0 13px;
      .text-des{
        color: #000000;
        font-family: "Open Sans";
        font-size: 13px;
        line-height: 21px;
        font-weight: 400;
        span{
          font-family: "Open Sans";
          font-weight: 700;
        }
      }
    }
  .shoe-des{
      display: none;
      text-align: center;
      margin-top: 20px;
      padding: 0 15px;
      .text-des{
        color: #000000;
        font-family: "Open Sans";
        font-size: 13px;
        line-height: 21px;
        font-weight: 400;
        span{
          font-family: "Open Sans";
          font-weight: 700;
        }
      }
    }
  .guide-banner-shoe{
    margin-top:30px;
    position: relative;
    background: url(https://store-ktcfckosli.mybigcommerce.com/product_images/uploaded_images/shoe-size.png);
    height:320px;

    img{
      display: none;
    }
    .shoe-text{
      position: absolute;
      bottom: 59px;
      right: 227px;
      display: none;
      .shoe-bold{
        color: #000000;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 700;
        line-height: 46px;
        text-transform: uppercase;
        letter-spacing: 2.15px;
      }
      .shoe-nomar{
        color: #000000;
        font-family: "Open Sans";
        font-size: 13px;
      }
    }
  }
  .table-shoe{
        width: 100%;
        margin-top: 28px;
    .table-content{
          width: 100%;
          border: 1px solid #e1e1e1;
           tr,td,th{
            border: 1px solid #e1e1e1;
           }
      .table-heading{
        background-color: #f6f6f6;
          th{
          color: #000000;
          font-family: "Open Sans";
          font-size: 14px;
          font-weight: 700;
          line-height: 51px;
          text-align: left;
          padding-left: 15px;
            &:first-child{
              width:20%;
            }
          }

      }
      .table-nomar{
        td{
            color: #000000;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 400;
            line-height: 51px;
            padding-left: 15px;
        }
        &:nth-child(3){
          background-color: #f6f6f6;
        }
        &:nth-child(5){
          background-color: #f6f6f6;
        }
      }
    }
  }
    .guide-table-mb{
      width: 100%;
      display: none;
      .table-mb-main{
        .table-mb-container{
          .table-mb-content{
                width: 100%;
            .table-heading{
              th{
                    text-align: left;
                    font-family: "Open Sans";
                    font-size: 13px;
                    font-weight: 700;
                    line-height: 44px;
                    width:10%;
                    padding-left:5px;
                    color: #000000;
                    &:first-child{
                      width:30%;
                      padding: 0;
                    }
              }
            }
            .table-nomar{
              td{
                font-family: "Open Sans";
                font-size: 13px;
                color: #000000;
                font-weight: 400;
                line-height: 44px;
                padding-left:5px;
              }
            }
          }
        }
      }
    }
     .table-clothing{
        width: 100%;
        margin-top: 28px;
      .table-content{
          width: 100%;
          border: 1px solid #e1e1e1;
           tr,td,th{
            border: 1px solid #e1e1e1;
           }
        .table-heading{
          background-color: #f6f6f6;
            th{
            color: #000000;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 700;
            line-height: 51px;
            width:10%;
            text-align: left;
            padding-left: 15px;
              &:first-child{
                width:30%;
              }
            }

        }
        .table-nomar{
          td{
              color: #000000;
              font-family: "Open Sans";
              font-size: 14px;
              font-weight: 400;
              line-height: 51px;
              padding-left: 15px;
          }
          &:nth-child(3){
            background-color: #f6f6f6;
          }
          &:nth-child(5){
            background-color: #f6f6f6;
          }
        }
      }
    }
  }
}

@media(max-width:1260px){
  .page {
    .page-heading{
      margin-bottom: 0px;
      line-height: 45px;
      padding-top: 30px;
      margin-bottom: 0px;
    }
    .page-content--centered > p {
      margin: 0px;
    }
  }
  .page-size-guide{
    .guide-page-title{
    h1{
      font-size: 30px;
      font-weight: 500;
      line-height: 66px;
    }
  }
     .guide-text{
         .guide-text-bold{
            color: #000000;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 700;
            line-height: 46px;
            text-transform: uppercase;
            letter-spacing: 2.15px;
         }
         .guide-text-nomar{
          color: #000000;
          font-family: "Open Sans";
          font-size: 12px;
          line-height: 21px;
          max-width: 392px;
          .guide-link{
          color: #000000;
          font-family: "Open Sans";
          font-size: 12px;
        line-height: 21px;
         }
         }
         .guide-text-link{
          color: #000000;
          font-family: "Open Sans";
          font-size: 12px;
        line-height: 21px;
         }
     }
     .guide-line{
          margin: 26px auto 30px;
     }
    .guide-line-fn{
      margin: 26px auto 90px;
    }
     .guide-content-table{
       .guide-banner{
            margin-top: 22px;
            height: 238px;
            background: url(https://store-ktcfckosli.mybigcommerce.com/product_images/uploaded_images/size-clothing-tablet.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            .banner-main{
              .main-bold{
                    color: #000000;
                    font-family: "Open Sans";
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 46px;
                    text-transform: uppercase;
                    letter-spacing: 2.15px;
              }
              .main-nomar{
                color: #000000;
                font-family: "Open Sans";
                font-size: 11px;
              }
              &:nth-child(2){
                    top: 92px;
                    max-width:130px;
                    left:22px;
                    padding-left: 5px;
              }
              &:nth-child(3){
                    max-width: 144px;
                    right:30px;
                    top:0;
              }
              &:nth-child(4){
                    max-width: 164px;
                    right:10px;
                    bottom:19px;
                    top:unset;
              }
            }
       }
        .table-clothing {
          margin-top: 17px;
          .table-content{
            .table-heading{
                 th{
                        color: #000000;
                        font-family: "Open Sans";
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 51px;
                  &:first-child{
                        width: 22%;
                  }
                 }
            }
            .table-nomar{
               td{
                color: #000000;
                font-size: 12px;
                line-height: 51px;
                font-family: "Open Sans";
                font-weight: 400;
               }
            }
          }
        }
        .guide-banner-shoe{
          height:238px;
          background: url(https://store-ktcfckosli.mybigcommerce.com/product_images/uploaded_images/shoe-size-tablet.png);
          background-repeat: no-repeat;
          background-position: center;
          .shoe-text{
            bottom: 25px;
            right: 70px;
            .shoe-nomar{
                color: #000000;
                font-family: "Open Sans";
                font-size: 11px;
            }
          }
        }
        .table-shoe {
          margin-top: 19px;
          .table-content{
             .table-heading{
                 th{
                  color: #000000;
                  font-family: "Open Sans";
                  font-size: 9px;
                  font-weight: 700;
                  line-height: 51px;
                  padding-left: 5px;
                  &:first-child{
                    width: 16%;
                  }
                 }
             }
             .table-nomar{
               td{
                color: #000000;
                font-family: "Open Sans";
                font-size: 11px;
                font-weight: 400;
                line-height: 51px;
                 padding-left: 5px;
               }
             }
          }
        }
     }
  }
}
@include breakpointMax(large){
  .page-size-guide{
    .guide-heading{
      margin-bottom: 32px;
    }
  }

}
@include breakpointMax(medium){
  .page{
    padding: 0;
    .page-content--centered>p{
      margin: 0px;
    }
    .page-heading{
      margin-bottom: 0px;
      line-height: 50px;
      margin-top: 0px;
      padding-top: 20px;
    }
  }
  .page-size-guide{
    .guide-page-title{
    h1{
      font-size: 25px;
    }
  }
     .guide-heading{
       display: flex;
       justify-content: center;

         .guide-link{

         }
     }
     .guide-text{
       &:nth-child(3){
         .guide-text-nomar {
           max-width: 275px;
         }
       }
         .guide-text-bold{
        letter-spacing: 2px;
       }
       .guide-text-nomar{

        font-size: 13px;
        line-height: 21px;
         max-width: 290px;
        padding: 0 12px;
        .guide-link{
          font-size: 13px;
          line-height: 21px;
        }
       }
       .guide-text-link{
        font-size: 13px;
        line-height: 21px;
       }
     }
     .guide-line{
      width: 60px;
      margin: 25px auto 29px;
     }
     .guide-content-table{
        .guide-table{
          display: none;
         }
         .guide-table-mb{
            display: block;
            margin-top: 50px;
            .slick-slider .slick-track,
            .slick-slider .slick-list{
              margin-bottom: 20px;
            }
            .slick-dots li{
              width: 24px;
            }
            .slick-dotted.slick-slider {
                margin-bottom: 40px;
            }
            .slick-dots li button{
                  border: 1px solid #d6d6d6;
            }
         }
         .guide-banner{
                height:200px;
                width: 100vw;
                transform: translate(-50%);
                margin-left: 50%;
                background: url(https://store-ktcfckosli.mybigcommerce.com/product_images/uploaded_images/size-clothing-mb.png);
                background-position: bottom;
             .banner-main{
                 .main-nomar{
                  display: none;
                 }
                 .main-bold{
                  font-size: 12px;
                  font-weight: 700;
                  line-height: 46px;
                  letter-spacing: 1.85px;
                 }
                 &:nth-child(2){
                      top: 66px;
                      left: 10px;
                 }
                 &:nth-child(3){
                      right: 10px;
                 }
                 &:nth-child(4){
                      right: 10px;
                 }
             }
         }
         .banner-des{
                display: block;
              }
         .guide-banner-shoe{
              margin-top: 20px;
              height:200px;
              width: 100vw;
              transform: translate(-50%);
              margin-left: 50%;
              background: url(https://store-ktcfckosli.mybigcommerce.com/product_images/uploaded_images/size-5-layers-mb.png);
             background-position: center left 32%;
               .shoe-text {
                        bottom: 25px;
                        right: 50px;
                  .shoe-nomar{
                    display: none;
                  }
                  .shoe-bold{
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 46px;
                    letter-spacing: 1.85px;
                  }
               }
         }
         .shoe-des{
                  display: block;
                }
         .table-shoe-mb{
          .table-mb-main{
            .table-mb-container{
               .table-mb-content{
                   .table-heading{
                       th:first-child{
                          width:40%;
                       }
                   }
                 }
               }
            }
         }
     }

  }
}
@media screen and (max-width: 767px){
  .page-size-guide .guide-heading .guide-link a{
    font-size: 12px;
  }
}
.page-content--centered{
    width: 100%;
    max-width: 1280px;
}
//=========================================================================
//wishlist
//=========================================================================

.page-wishlist{
  max-width: 1021px;
  margin: auto;

  .page-title{
    display: none;
    text-align: center;
    .title{
      color: #000000;
      font-family: "DomaineDispNar-Medium";
      font-size: 35px;
      font-weight: 500;
      line-height: 66px;
    }
    margin-bottom: 50px;
  }
  .productGrid{
      .product{
        width: calc((100% - 14px) / 3);
        padding: 0;
        margin-right: 7px;
        margin-bottom: 30px;
        &:nth-child(3n+3){
          @include breakpoint("medium"){
            margin-right: 0;
          }
        }
        .card{
          margin-bottom: 15px;
          position: relative;
          .tag-product{
            position: absolute;
          }
          .card-figure{
            .card-figcaption{
              .card-figcaption-body{
                display: none;
              }
            }
          }
          .add-to-wishlist{
            background-color: #ffffff;
            position: absolute;
            use{
              fill: black;
              fill-opacity: 1;
            }
          }
        .card-figure{
          //height: 60vh;
        }
        .card-body{
          .img-small{
            margin-bottom: 14px;
          }
          .card-brand{
            min-height: 18px;
          }
          .card-text{
                  line-height: 18px;
                .price--withTax{
                  color: #1c1f2a;
                  font-family: "Open Sans";
                  font-size: 13px;
                  line-height: 18px;
                  font-weight: 600;
                }
            .non-sale-price--withTax{
              float: left;
              .price--non-sale{
                font-family: "Open Sans";
                font-size: 13px;
                font-weight: 600;
                line-height: 18px;
                color: #000000;
              }
            }
            .color-sale{
              color: #fd6042;
              float: left;
              padding-right: 5px;
            }
            &:after{
              content:'';
              display:block;
              clear: both;
            }
          }
          .card-title{
              a{
                color: #1c1f2a;
                font-family: "Open Sans";
                font-size: 13px;
                line-height: 18px;
              }
          }
        }
        }
        .wish-list-button{
          .card-wishlist{
            width: 50%;
            float: left;
            .card-wishlist-button{
              width: 165px;
              height: 42px;
              font-weight: 600;
              line-height: 27px;
              text-transform: uppercase;
              border: 0;
              border-radius: 0;
              margin-bottom: 0;
            }
          }
          .wishlist-remove-form{
            width: 50%;
            float: left;
            margin-bottom: 0;
            .wishlist-remove{
              width: 165px;
              height: 42px;
              color: #4a4a4a;
              font-family: "Open Sans";
              background-color: #e8e8e8;
              font-size: 13px;
              font-weight: 600;
              line-height: 15px;
              text-transform: uppercase;
              letter-spacing: 1px;
              border: unset;
              border-radius: unset;
              margin-bottom: 0;
            }
          }
          &:after{
            content:'';
            display:block;
            clear: both;
          }
        }
      }
  }
}
@media(max-width:1260px){
  .page-wishlist{
      max-width: 588px;
    .page-title{
      margin-bottom: 35px;
      .title{
        font-size: 30px;
        line-height: 66px;
      }
    }
    .productGrid{
      .product{
        width: calc(33.3333% - 6px);
        margin-right: 6px;
        &:nth-child(3n+3){
          @include breakpoint("medium"){
            margin-right: 0;
          }
        }
        .card{
          .card-body{
            .card-title{
              // min-height: 44px;
            }
          }
        }
        .wish-list-button{
          .card-wishlist{
            width:100%;
            height: 46px;
            .card-wishlist-button{
              width: 100%;
            }
          }
          .wishlist-remove-form{
            width:100%;
            .wishlist-remove{
              width:100%;
            }
          }
        }
      }
    }
  }
}
@include breakpointMax(medium){
  .page-wishlist{
    max-width: 100%;
    padding: 0 10px;
    .page-title{
      margin-bottom: 15px;
      .title{
        font-size: 25px;
        line-height: 66px;
        margin-top: 10px;
      }
    }
    .productGrid{
      .product{
        width: calc((100% - 5px) / 2);
        margin-right: 5px;
        &:nth-child(2n+2){
          margin-right: 0;
        }
        .card{

          .card-body {
            .card-text{
              line-height: 19px;
              .price--withTax{
                line-height: 19px;
              }
            }
            .card-title{
              // min-height: 66px;
              a{
                line-height: 19px;
              }
            }
          }
        }
        .wish-list-button{
          .card-wishlist{
            width:100%;
            height: 46px;
            .card-wishlist-button{
              width: 100%;
              letter-spacing: 0.93px;
              height:40px;
              line-height: 25px;
            }
          }
          .wishlist-remove-form{
            width:100%;
            .wishlist-remove{
              width:100%;
              letter-spacing: 0.93px;
              height:40px;
            }
          }
        }
      }
    }
  }
}

//=========================================================================
//My address
//=========================================================================
.page-address{
  .account{
    @include breakpoint(medium){
      width:100%;
    }
    @media(min-width: 1281px){
      width: 75%;
    }

    .account-body{
      .addressList{
        .address{
          @media (min-width: 1261px){
                  width: 50%;
          }
           @media (min-width: 1281px){
                  width: 33.33333%;
          }
          .panel--address{
            .panel-body{
              background-color: #fff;
              border: 1px solid #e8e8e8;
              min-height: 330px;
                  .address-addNew{
                    .address-symbol{
                      font-size: 70px;
                    }
                  }
                  .address-title{
                    color: #000000;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    margin-bottom: 20px;
                    word-break: break-all;
                  }
                  .address-details--postal{
                    margin-bottom: 20px;
                    li{
                      font-size: 14px;
                      font-weight: 300;
                      line-height: 24px;
                     
                    }
                  }
                  .address-details{
                      font-size: 14px;
                      font-weight: 300;
                      line-height: 24px;
                    word-break: break-all;
                      .address-label{
                        display: none;
                      }
                  }
                  form{
                        margin-top: 30px;
                  }
            }
          }
        }
      }
    }
  }
}
@media(max-width:1260px){
  .page-address{
     padding: 0 53.52px;
  .account{
    .account-body{
      .addressList{
        .address{
          .panel--address{
            .panel-body{
              background-color: #fff;
              border: 1px solid #e8e8e8;
              min-height: 306px;
                  .address-addNew{
                    .address-symbol{
                      font-size: 70px;
                    }
                  }
                  .address-title{
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 22px;
                  }
                  .address-details--postal{
                    margin-bottom: 20px;
                    li{
                      font-size: 12px;
                      font-weight: 300;
                      line-height: 22px;
                     
                    }
                  }
                  .address-details{
                      font-size: 12px;
                      font-weight: 300;
                      line-height: 22px;
                      .address-label{
                        display: none;
                      }
                  }
                  
            }
          }
        }
      }
    }
  }
}
}
@include breakpointMax(medium){
  .page-address{
     padding: 0 25.5px;
  .account{
    .account-body{
      .addressList{
        .address{
          .panel--address{
            .panel-body{
              background-color: #fff;
              border: 1px solid #e8e8e8;
              min-height: 380px;
              padding: 0px;
              .panel-body-address-page{
                padding: 17px 25px 0px;
              }
                  .address-addNew{
                    .address-symbol{
                      font-size: 70px;
                    }
                  }
                  .address-title{
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 22px;
                  }
                  .address-details--postal{
                    margin-bottom: 20px;
                    li{
                      font-size: 13px;
                      font-weight: 300;
                      line-height: 22px;
                     
                    }
                  }
                  .address-details{
                      font-size: 13px;
                      font-weight: 300;
                      line-height: 22px;
                      .address-label{
                        display: none;
                      }
                  }
            }
          }
        }
      }
    }
  }
}
}

//=========================================================================
//contact us
//=========================================================================
.pages-contact-us{
  .page-heading{
    margin: 0;
    padding-top:20px;
    line-height: normal;
  }
  small{
    display: none;
  }
  /*.custom-box{
    display: none;
  }*/
  /*.custom-form{
    max-width: 1080px !important;
    text-align: left !important;
  }*/
}
.pages-contact-us{
.page-contact {
   .page-content {
     .contact-container {
       .custom-box {
         max-width: 692px;
         margin: auto;
         .contact-text {
           overflow: hidden;
           .text-custom-hand {
             color: #000000;
             font-size: 13px;
             font-weight: 600;
             text-transform: uppercase;
             letter-spacing: 2px;
             text-align: center;
             margin: 0;
             padding-bottom: 20px;
           }
           .text-custom {
             color: #000000;
             font-size: 14px;
             line-height: 25px;
             text-align: center;
             max-width: 649px;
             margin: 25px auto;
             a {
               font-weight: 600;
               text-decoration: none;
               color: #000;
               &:hover{
                 color: #000;
               }
             }
           }

         }
       }
       .custom-form-content {
         background-color: #f5f5f5;
         padding-bottom: 37px;
         width: 100vw;
         margin-left: calc(-50vw + 50%);
         position: relative;
         overflow: hidden;
         margin-top: 23px;

         .form-title {
           h3 {
             color: #000000;
             font-size: 14px;
             font-weight: 700;
             line-height: 46px;
             text-transform: uppercase;
             letter-spacing: 2.15px;
             text-align: center;
             margin-bottom: 0px;
             margin-top: 48px;
           }
         }
         input::-webkit-input-placeholder {
           color: #000000;
           font-size: 12px;

         }
         input:focus::-webkit-input-placeholder {
           color: #9b9b9b;
           font-size: 12px;
         }
         input:focus:-ms-input-placeholder {
           color: #9b9b9b;
           font-size: 12px;
         }
       }
     }
   }
 }
}

@media(max-width: 1260px) {
  .pages-contact-us {
  .page-contact {
    .page-content {
      .contact-container {
        .custom-box {
          max-width: 487px;
          .contact-text {
            .text-custom-hand {
              font-size: 12px;
              letter-spacing: 1.85px;
            }
            .text-custom {
              font-size: 12px;
              line-height: 19px;
              max-width: 649px;
              padding: 0 5px;
              margin-bottom: 15px;
              a {
                font-weight: 600;
                text-decoration: none;
              }
            }
            .text-custom-content {
              margin: 0 auto;
            }

          }
        }
        .custom-form-content {
          margin-top: 48px;
          padding-bottom: 20px;
          .form-title {
            h3 {
              color: #000000;
              font-size: 14px;
              font-weight: 700;
              line-height: 46px;
              text-transform: uppercase;
              letter-spacing: 2.15px;
              text-align: center;
              margin-top: 32px;
            }
          }
          input::-webkit-input-placeholder {
            color: #000000;
            font-size: 12px;

          }
        }

      }
    }
  }
}
}

@include breakpointMax(medium) {
  .pages-contact-us {
  .page-contact {
    .page-content {
      .contact-container {
        .custom-box {
          letter-spacing: 1.71px;
          font-size: 12px;
          .contact-text {
            .text-custom-hand {
              font-size: 12px;
              letter-spacing: 1.85px;
            }
            .text-custom {
              font-size: 13px;
              line-height: 21px;
              letter-spacing: 0;
            }
            .text-custom-content {
              margin: 0 auto;
            }

          }
        }
        .custom-form-content {
          margin-top: 48px;
          padding-bottom: 15px;
          .form-title {
            h3 {
              margin-top: 1rem;
              font-size: 14px;
              letter-spacing: 2px;
            }
          }
          input::-webkit-input-placeholder {
            font-size: 13px;

          }
        }

      }
    }
  }
}
}

.page-heading {
  color: #000000;
  font-size: 35px;
  font-weight: 500;
  line-height: 66px;
  text-align: center;
  padding-left: 0;
  padding-top: 35px;
}

@media(max-width: 1260px) {
  .page-heading {
    font-size: 35px;
    padding-top: 18px;
  }
}



// Add Address
//=======================================================================

.pages-account-add-address{
  .form-actions{
    a{
      padding: 0px;
      width: 150px;
      line-height: 38px;
      border-radius: 0px;
      color: #fff;
      font-weight: 600;
      @include breakpointMax($width--mobile-small){
        width: 100%;
      }
    }
  }
}

.pages-account-wishlists{
  .form-action-wishlists{
    a{
      padding: 0px;
      width: 150px;
      border-radius: 0px;
      height: 40px;
      line-height: 40px;
      color: #fff;
      font-weight: 600;
      &:hover{
        background: $background-buttom-active;
        border-color: $background-buttom-active;
      }
    }
  }
}


.pages-account-recent-items{
  form{
    max-width: $maxWidth-content;
    margin: auto;
    padding: $padding-content;
  }
}

.pages-account-edit{
  .form-actions{
    .button{
      border-radius: 0px;
      font-weight: 600;
    }
  }
  .account--fixed{
    padding: 0px 20px;
  }
}

.pages-account-addresses{
  .panel-body{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0px;
  }
  .account-body{
    padding: 0px;
  }
  .panel-body-address-page{
    width: 100%;
  }
  form{
    width: 100%;
  }
  .form-actions{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    a{
      width: 47%;
      height: 40px;
      line-height: 40px;
      padding: 0px;
      font-size: 14px;
      color: #fff;
      font-weight: 600;
      border-radius: 0px;
      margin-right: 3%;
    }
    button{
      width: 47%;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      color: #fff;
      font-weight: 600;
      padding: 0px;
      margin-left: 3% !important;
      border-radius: 0px;
      border: 0px;
    }
    @include breakpointMax($width--mobile){
      margin: 0px;
      padding: 0px 15px;
      a{
        width: 100%;
        margin: 0px;
      }
      button{
        width: 100%;
        margin-left: 0px !important;
      }
    }
  }
}


// Editorial Shogun Page
//=======================================================

.editorials-page {
  .page-content.page-content--centered {
    padding-top: 0 !important;
  }
}
