body {
    color: black;
   .pace .pace-activity{
     display: none;
   }
}

a, li, ul, input {
    &:focus {
      outline: none;
    }
}



.button--primary {
  transition: all 0.5s ease;
  
  &[disabled] {
    &:hover,
    &:focus,
    &.is-active {
      border-color:#ccc;
      background-color: #ccc;
    }
  }

  &:hover,
  &:focus,
  &.is-active {
    //border-color:#ffdbca;
    //background-color: #ffdbca;
  }

}

.tablet-footer {
    display: none;
}

.mask {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-color: #000000;
    opacity: 0.69;
    z-index: 2;
    &.active {
      display: block;
    }
}

.form {
  input,
  .form-input {
    //@include placeholder(#000);
  }

  select,
  .form-select {
    color: #000;

    /* remove border in firefox */
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
  }
}

.mobile {
  display: none;
}
@media(max-width: 767px){
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }

}
.tag-product{
  position: absolute;
  top: 5px;
  left:10px;
  z-index: 1;
  .new-product,.on-sale,.pre-order{
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius:13px;
    padding:0px 10px;
    display: block;
    margin-top: 5px;
  }
  .new-product{
    background-color: #ffdbca;
    display: none;
  }
  .on-sale{
    color:white;
    background-color: #fd6042;
  }
  .pre-order{
    background-color: black;
    color:white;
  }
}

label.card-figcaption-button{
  display: none;
}
.card-figcaption-button{
  padding:1rem 0;
  background: white;
  color: black;
  border-radius: 0;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 10px;
  font-weight: 700;
  //&:hover{
  //  background: white;
  //  color: black;
  //}
}
.card-figure:hover .card-figcaption{
  @media (max-width: 993px) {
    display: none;
  }
}
.quickview{
  background: black;
  color: white;
  &:hover{
    background: black;
    color: white;
  }
}

.card-figcaption-body > :first-child,.card-figcaption-button + .card-figcaption-button{
  float: left;
  width: 50%;
  margin: 0;
}
.card .price-section{
  float: left;
  &.non-sale-price--withTax{
    padding-left: 5px;
  }
  &.price-section--withTax{
    .price--withTax.color-sale{

    }
  }
}
//----- slide banner-----
.heroCarousel{
  .slick-dots{
    position: static;
    li{
      padding: 0.35714rem 0;
      width: 20px;
    }
  }
  .slick-arrow{
      display:none!important;
  }

}
//----- shop editorial-----
.shop-editorial {
    background: #f5f5f5;
    padding: 65px 0;

    @include breakpoint(large) {

       }

    a {
      color: white;
        text-decoration: none;
    }
    .shop-img {
        img {
          width: 100%;
        }
    }

    .editorial {
        overflow: hidden;
        max-width: 1440px;
        padding: 0 60px;
        margin: auto;
        text-align: center;

        @include breakpoint(large) {
            padding: 0 183px;
        }
    }
    .shop-select {
        float: left;
        width: 33.3333%;
        padding: 0 3px;
    }
    .shop-name {
        font-size: 22px;
        color: black;
        font-family: "Open Sans";
        margin: 38px 0 19px;
        line-height: 22px;
    }
    .shop-link {
        background: black;
        color: white;
        text-decoration: none;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 2.19px;
        width: 210px;
        height: 51px;
        font-family: "Open Sans";
        margin: auto;
        line-height: 46px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
      transition: background-color, 0.3s;
      &:hover{
        background-color: #ffdbca;
      }
    }
}

@media (max-width: 1260px) {
    .shop-editorial {
        .shop-link {
            width: 100%;
        }

        .shop-name {
            @include breakpoint (medium) {
                line-height: 75px;
                margin: 0;
            }
        }
    }
}

//---- season collection----
.season-collection{
  max-width: 1260px;
  padding: 60px 130px;
  margin: 0 auto 90px;

  padding-bottom: 0px;
  .collection{
    overflow: hidden;
    margin: 20px 0;
    h4{
      font-size: 35px;
      margin-bottom: 0;
      font-family: "DomaineDispNar-Medium";
      font-weight: 500;
      color: #000000;
      line-height: 60px;
      margin-top: 25px;
    }
    p{
      font-size: 18px;
      font-family: "Open Sans";
      color: #000000;
      margin-bottom: 0px;
    }
  }
  .left-collection,.right-collection{
    float: left;
    img{
      //width: 100%;
      width: 91.7%;
    }
  }
  .left-collection{
    width: 55%;
    padding:0 12.5px ;
    .image-collection{
      text-align: right;
    }
  }
  .right-collection{
    width: 45%;
    padding:0 12.5px;
    p{
      margin-bottom: 14px;
    }
    img{
      box-shadow: 20px 19px 0 0 #eddee8;
    }
  }
  .right-collection{
    .text-collection{
      padding-left: 55px;
    }
  }
  .left-collection{
    .text-collection{
      padding-left: 40px;
    }
  }
}
@media (max-width: 1260px) {
  .season-collection {
    padding: 0 90px;
    .collection{
      h4{
        margin-top: 0;
      }
      p{
        font-size:14px;
      }
    }
  }

  .season-collection {
    .right-collection,
    .left-collection {
      .text-collection {
        padding-left: 20px;
      }
    }
  }
  .season-collection {
    .left-collection, .right-collection {
      img {
        width: 95.6%;
      }
    }
  }
}

@include breakpointMax(medium) {
  .shop-editorial{
    background: transparent;
    padding: 0;
    margin-top: -25px;

    .editorial{
      padding:0;
    }
    .shop-select{
      padding: 0;
      width: 100%;
      margin-bottom: 38px;
    }
    .shop-name{
      font-size: 20px;
    }
    .shop-link{
      width: 80%;
      font-size: 16px;
    }
  }
  .season-collection{
    padding:0;
    margin-bottom: 30px;
    .collection{
      p{
        font-size: 16px;
        margin-bottom: 0px;
      }
    }
    .left-collection,.right-collection{
      width: 100%;
    }
    .text-collection{
      padding: 0 20px;
    }
    .left-collection{
      padding: 0;

    }
    .right-collection{
      padding: 0;
      display: flex;
      flex-direction: column-reverse;
      margin-top: 30px;
      .image-collection{
        padding: 20px;
        margin-right: 10px;
      }
    }
  }
}
.navPages-item{
  .category-name{
    color: #1c1f2a;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.15px;
    margin-top: 1.5rem;
    font-family: "Open Sans";
  }

  .navPage-subMenu-list{
    .navPage-subMenu-item:first-child{
      display:none;
    }
  }
}
.navPages-labels {
/*  min-height: 360px;*/
  border-top: 1px solid #e8e8e8;
  padding-top: 25px;
  padding-bottom: 0px;
  @media(max-width: 993px){
    border:none;
  }
  .navPage-subMenu-item{
    width: 33.333%;
    text-align: center;
    &:last-child{
      .category-image:after{
        display: none;
      }
    }
  }

  .category-image{
    position: relative;

    img{
      width: 100%;

      padding: 0 30px;
    }
    &:after{
      content : "";
      position: absolute;
      right    : 0;
      z-index: 100;
      top  : 15%;
      width  : 1px;
      height   : 70%;  /* or 100px */
      background: #e4e4e4;
    }
  }
}
.shop-category{
  display: none;
  font-family: "DomaineDispNar";
  font-size: 25px;
  color: black;
  text-align: right;
  width: 34%;
  padding: 35px 0px 30px !important;
}
.navPages-action-moreIcon{
  position: absolute;
  top: 11px;
  right: 9px;
  transform: rotate(-90deg);
  svg{
    fill: #ddd;
    stroke: #ddd;
  }
}
//#navPages-33,#navPages-25,#navPages-21{
//  &.is-open {
//    .dropdown-category-list {
//      .navPage-subMenu-item.active {
//        .navPage-subMenu-action {
//          @media screen and (min-width: 993px) {
//            .category-name { color: #ffdbca; }
//            .category-image { display: block; }
//          }
//        }
//      }
//    }
//  }
//  .shop-category{
//    display: block;
//    span{
//      display: none;
//    }
//  }
//  .category-image{
//    img{
//      max-width: 500px;
//    }
//  }
//  .navPage-subMenu-list{
//    position: relative;
//    overflow: hidden;
//    padding-bottom: 35px;
//    &:before{
//      content : "";
//      position: absolute;
//      left: 36%;
//      z-index: 100;
//      top  : 0;
//      width  : 1px;
//      height   : 420px;  /* or 100px */
//      background: #e4e4e4;
//    }
//  }
//  .navPage-subMenu-item{
//    width:100%;
//    height: 36px;
//    line-height: 36px;
//    //&:hover .category-image{
//    //  display:block;
//    //}
//    .category-name:hover{
//      color: #ffdbca;
//    }
//  }
//  .navPage-subMenu-action{
//    padding: 0;
//    .category-name{
//      width: 36%;
//      float: left;
//      margin: 0;
//      text-align: right;
//      padding-right: 3%;
//      letter-spacing: 2px;
//      font-family: "Open Sans";
//    }
//    .category-image{
//      width: 61.5%;
//      display: none;
//      float: right;
//      position: absolute;
//      top: 0;
//      right: 0;
//    }
//  }
//}
/* category color filter */
.category-color-filter {
  display: none;
  &.color-filter-initialized {
    display: block;

    .navList-item {
      display: none;

      &.group-filter {
        display: inline-block;
      }
    }
  }
  font-size: 0;
  li {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;

    a {
      &:before,
      &:after {
        display: none;
      }

      &.is-selected {
        border: 2px solid #000;
        width: 18px;
        height: 18px;
      }
      
      display: block;
      width: 20px;
      height: 20px;
      padding: 0;
      margin-bottom: 0;
      box-sizing: initial;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid #e8e8e8;
      text-decoration: none;
      img {
        vertical-align: top;
        width: 100%;
      }
    }
  }
}

.category-color-filter + .toggleLink {
  display: none;
}
.icon-search{
  display: none;
}
.navUser-action{
  .navUser-item-cartLabel{
    @media (max-width: 992px) {
      span {
        display: none;
      }
      svg {
        display: block;
        stroke: none;
      }
    }
  }
}
.navUser-item--account{
  svg{
    display: none;
  }
}
//---- menu style---
@media (max-width: 992px) {

  .icon-search{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 13px 0 13px 50px;
    cursor: pointer ;
    z-index: 22;
  }



  .search-form-menu{
    display: none;
  }

  .navPages-container.is-open{
    .navPages-item{
      padding: 0px 40px;
    }

    .navPages-item:first-child{
      border-top: 1px solid #e8e8e8;
    }

    .navPages-action{
      height: 50px;
      line-height: 50px;
      padding:0;
      display: block;
      letter-spacing: 2px;
    }

    .navPage-subMenu-list{
      margin: 0;
      padding: 0 0 10px 13px;

      .navPage-subMenu-action{
        height: 36px;
        line-height: 36px;
      }
    }
  }

  .navPages-action-moreIcon{
    display: inline-block;
    float: right;
    margin-top: 21px;
  }

  .navPages-labels {
    min-height: auto;
    padding-top: 0px;

    .navPage-subMenu-item{
      width: 100%;
      .category-image{
        display: none !important;
      }
      .category-name{
        text-align: left;
        padding: 0;
        margin: 0;
        letter-spacing: 2px;
      }
    }

  }
  //#navPages-33,#navPages-25,#navPages-21{
  //  .navPage-subMenu-list{
  //    min-height: auto;
  //    margin: 0px;
  //    padding-bottom: 10px;
  //    padding-left: 13px;
  //    &:before{
  //      width: 0;
  //    }
  //  }
  //  .navPage-subMenu-item{
  //    &:hover .category-image{
  //      display: none;
  //    }
  //  }
  //  .shop-category{
  //    display: none
  //  }
  //  .navPage-subMenu-action {
  //    padding: 0px;
  //    line-height: 36px;
  //    height: 36px;
  //    /*overflow: hidden;*/
  //    .category-name{
  //      padding: 0px;
  //      text-align: left;
  //      width: 100%;
  //      line-height: 36px;
  //      font-size:12px;
  //    }
  //  }
  //}

  .navPages-item .navPage-subMenu.is-open{
    padding: 0;
  }

  .navPages-action{
    &:hover{
      color: #333333;
      font-weight: normal;
      &.is-open{
        font-weight: bold;
      }
    }
  }
}


@media (max-width: 550px){
  .navPages-container.is-open{
    .navPages-item{
      padding: 0px 20px;
    }
  }
  .navUser{
    .navUser-item--account{
      float: left;
    }
    .navUser-item--cart{
      float: left;
    }
  }
}

//.navUser-item--cart{
//  svg{
//    @media(min-width: 993px){
//      display: none;
//    }
//  }
//}

.pages-home {
  .body > .container {
    overflow: hidden;
  }

}

//---- fresh arrivals----
.fresh-arrivals{
  position: relative;
  .swiper-wrapper{
   padding:0 10px;
  }
  .button-action{
    position: absolute;
    top:1.75rem;
    right: 0;
    padding-right: 20px;
  }
  .swiper-button-next, .swiper-button-prev{
    cursor: pointer;
    background: none;
    position: static;
    margin-top: 0;
    margin-right:10px;
    display: inline-block;
    color: #1c1f2a;
    font-size: 13px;
    font-weight: 600;
    text-decoration: underline;
    height: auto;
  }
  .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    text-decoration: none;
  }
  .page-heading{
    text-align: left;
    padding: 0 10px;


  }

  .card-body {
    .card-text{
      color: #1c1f2a;
      font-weight:600;
    }
  }
  .card-title > a{
    color: #1c1f2a;
    font-family: "Open Sans";
  }
  .card{
    position: relative;
    .add-to-wishlist{
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1;
    }
  }
  .add-to-wishlist{
    &:hover{
      use{
        stroke: red;
      }
    }
  }
}

//--- shop by Category----
.shop-by-category{
  margin: 1rem 0;
  text-align: right;
  position: relative;

  @include breakpoint("medium") {
    margin: 2rem 0;
  }

  @include breakpoint("large") {
    margin-top: remCalc(96px);
  }

  .page-heading{
    text-align: left;
    margin:2rem 0 1rem 0;

    padding-top:0;
  }
  img{
    width: 100%;
  }
  .category-list{
    margin-top:10px;
    white-space:nowrap;
  }
  .category-item{
    width:21%;
    display:inline-block;
    //padding: 0 1px;
    margin-right: 4px;
    img{
      height: 200px;
      object-fit: cover;
      @media (min-width: 768px){
        height: 365px;
      }
    }
    a{
      text-decoration: none;
    }
  }
  .category-title{
    font-size: 18px;
    margin: 0;
    text-align: left;
    font-family: "Open Sans";
    line-height: 66px;
  }
  .button-action{
    position: absolute;
    top:1rem;
    right: 0;
    padding-right: 20px;
  }
  .swiper-button-next, .swiper-button-prev{
    cursor: pointer;
    background: none;
    position: static;
    margin-top: 0;
    margin-right:10px;
    display: inline-block;
    color: #1c1f2a;
    font-size: 13px;
    font-weight: 600;
    text-decoration: underline;
    height: auto;
    line-height: 46px;
  }
  .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    text-decoration: none;
  }
}
@media (max-width: 992px) {
  .navUser-action{
    .countPill{
      position: absolute;
      background: transparent;
      top: 18px;
      right: 13px;
      line-height: 20px;
    }
  }
  .shop-by-category .category-title{
    font-size: 14px;
  }
}
@include breakpointMax(medium) {
  .page-heading{
    font-size: 25px;
    padding-left: 15px;

  }
  .shop-by-category {
    .category-list{
      padding:0 10px;
      margin-top: 0;
    }
    .category-title{
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.2;
      margin-top: 11px;
    }
    .button-action{
      top: 0.75rem;
    }
  }
  .fresh-arrivals{
    .swiper-wrapper{
      padding-left: 0.75rem;
      margin-top: 0;
    }
  }
}

//---- Product Page ----
.set-rectangle{
  .form-option{
    height:47px;
    width:47px;
    border-radius:50%;
    justify-content: center;
    align-items: center;
    display: flex;
    float: left;
    border:1px solid #e8e8e8;
    margin-right: 0.3rem;
  }
  small{
    display: none;
  }
  .size-guide{
    color: #727272;
    font-family: "Open Sans";
    font-size: 12px;
    text-decoration: underline;
    float: right;
    font-weight: normal;
    text-transform: capitalize;
  }
}
.swatch{
  .form-radio:checked + .form-option{
    border:none;
    box-shadow: none;
    .form-option-variant--color{
      border:2px solid;
    }
  }
  .title-color{
    display: none;
    text-transform: uppercase;
  }
  .color-name{
    color: #727272;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
    span{
      display: none;
      &.active{
        display: inline-block;
      }
    }

  }
  small{
    display: none;
  }
}

.pages-product .body {
  overflow: hidden;
  .productView-brand a{
    color: black;
  }
  [data-product-attribute] .form-option.unavailable {
    user-select: none;
    pointer-events: none;
    &:before { display: none; }
  }
  .button{
    font-family: "Open Sans";
  }
  .tab.is-active{
    &.is-open{
      .tab-title{
        svg{
          transform: rotate(180deg);
        }
      }
    }
    .tab-title{
      padding: 0;
      display: block;
      font-family: "Open Sans";
      font-size: 15px;
      color: #000000;
      font-weight: 400;
      svg{
        float: right;
        margin-top: 10px;
      }
    }
  }
  .tabs{
    border:none;

    &-contents{
      color: #727272;
      font-family: "Open Sans";
      font-size: 14px;
    }
  }

  .addthis_toolbox,.form-field--increments,.tabs-contents{
    display: none;
    margin: 0;
  }
  .productView-images{
    width: 65%;
    padding: 0px;
    float: left;
    margin-bottom: 0px;
    //&:before{
    //  content: "";
    //  background: #fff;
    //  position: absolute;
    //  top: 0;
    //  width: 21px;
    //  height: 100%;
    //  left: calc(20% - 21px);
    //}
    //&:after{
    //  content: "";
    //  background: #fff;
    //  position: absolute;
    //  top: 0;
    //  right: 0px;
    //  width: 21px;
    //  height: 100%;
    //}
  }
  .product-details{
    float: right;
    width: 35%;
    background: white;
    margin: 20px 0;
    padding:28px;
  }
  //.easyzoom-flyout{
  //  display: none;
  //}

  .productView{
    overflow: hidden;
    max-width: 1115px;
    margin: auto;
    padding-top: 0px;
    .slick-list{

      @include breakpoint("medium") {

      }
      @include breakpoint("large") {

      }
    }
  }


  .product-option {

  }

  .form-wishlist {
    display: none;
  }
  .left-slide::-webkit-scrollbar {
    width: 0px;
    background-color: #F5F5F5;
  }
  .left-slide {
    float: left;
    width: 120px;
    margin: 0px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    max-height: calc(100vh + 30px);
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 0;

    @include breakpoint(large) {
      max-height: 800px;
    }

    .slick-list {
      margin: 0;
    }
    .productView-thumbnail {
      width: 100%;
      text-align: left;
      margin-bottom: 8px;
      max-width: 100%;
      padding: 0px;
      border: 1px solid #f7f7f7;

      &-link{
        img {
          max-height: 137px;
          max-width: 100%;
          position: static;
        }
      }
    }
  }
  .right-slide::-webkit-scrollbar {
    width: 0px;
    background-color: #F5F5F5;
  }
  .right-slide::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
  }
  .right-slide::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
  .right-slide {
    float: left;
    width: calc(100% - 120px - 30px);
    margin: 0;
    max-height: calc(100vh + 30px);
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 0;

    @include breakpoint(large) {
      max-height: 800px;
      transition: .3s;
    }

    .productView-thumbnail {
      width: 100%;
      list-style: none;
      padding: 0px;
      margin: 0px;
      margin-bottom: 13px;
    }
    .productView-thumbnail-link {
      max-width: none;
      height: auto;
    }
    img {
      max-width: none;
      max-height: 100%;
      width: 100%;
      cursor: default;
    }

  }

  .wishlist-sku {
    overflow: hidden;
    margin-top: 20px;
    .wishlist {
      float: left;
      a {
        display: flex;
        font-family: "Open Sans";
        font-size: 16px;
        color: #000000;
        text-decoration: none;
      }
      span {
        padding: 2px 5px 0 0;
      }
    }
    .sku {
      float: right;
    }
  }

  .designer-note {
    padding: 0px 1rem;
    h2 {
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 600;
      color: #000000;
    }
    p {
      color: #727272;
      font-family: "Open Sans";
      font-size: 14px;
    }
  }

  .size-guide-pop-up {
    padding: 20px 55px 50px 55px;
    position: absolute;
    background-color: white;
    z-index: 3;
    width: calc(100% - 20px);
    max-width: 1008px;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: none;
    top: 100px;
    &.active {
      display: block;
    }
    #close-pop-up {
      position: absolute;
      right: 0;
      padding-right: 25px;
      cursor: pointer;
    }
    .title, .content {
      text-align: center;
    }
    .title {
      color: #000000;
      font-family: "DomaineDisNar";
      font-size: 35px;
      font-weight: 500;
      line-height: 1.89;
      margin-top: 0;
      margin-bottom: 0;
    }
    .detail-size {
      .title {
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2.46px;
        margin: 0;
        line-height: 2.88;
        margin-bottom: -5px;
      }
      .content {
        font-family: "Open Sans";
        font-size: 14px;
        margin: 0 auto 20px auto;
        max-width: 461px;
      }
    }
    .space {
      width: 81px;
      margin: 4rem auto;
      height: 1px;
      background: black;
    }
    .image-size-guide {
      margin-bottom: 20px;
    }
    img {
      width: 100%;
    }
    table {
      width: 100%;
      text-align: left;
      font-family: "Open Sans";
      font-size: 14px;
      border: 1px solid #e1e1e1;
      td, th {
        padding: 10px;
        border-left: 1px solid #e1e1e1
      }
      td {
        font-weight: 400;
      }
      tr:nth-child(odd) {
        background-color: #f6f6f6;
      }
    }
  }

  .productView{
    .button-slider{
      display: flex;
      justify-content: center;
      .next-button{
        position: absolute;
        z-index: 1;
        transform: rotate(270deg);
        bottom:0;
        cursor: pointer;
        @include breakpoint("large") {
          right: calc((100% - 20%) / 2 - 25.5px);
        }


      }
      .prev-button{
        position: absolute;
        z-index: 1;
        cursor: pointer;
        @include breakpoint("large") {
          right: calc((100% - 20%) / 2 - 25.5px);
        }
      }
    }
  }
  .productView-options{


    .designer-note{
      display: none;
    }

    .es-product-option-link {
      margin-bottom: 1rem;
    }
    .product-color-name {
      display: block;
      .product-custom-field-color-option  {
        display: none;
        color: #727272;
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: normal;
        text-transform: capitalize;

        &.active {
          display: inline;
        }
      }
    }
  }
}
.carousel-cards {
  font-size: 0;
}

@media (max-width: 1260px) {
  .productView-images:before{
    display:none
  }
  .productView-images:after{
    display: none;
  }
  .set-rectangle .form-option{
    width:44px;
    height:44px;
  }
  .pages-product .body {
    .productView-details{
      padding:0;
    }
    .form-option-variant--color{
      width: 24px;
      height: 24px;
    }
    .swatch .color-name,.set-rectangle .size-guide{
      font-size:11px;
    }
    .left-slide{
      order: 2;
      margin-top: 30px;
      margin-right: 0px;
    }
    .productView-images{
      margin-bottom: 0px;
      width: calc(100% - 44% - 30px);
    }
    .right-slide{
      width: 100%;
      max-height: 100vh;
      img{
        max-height: 100%;
      }
    }
    .size-guide-pop-up{
      // width:95%;
      // margin:0 2.5%;
      padding:20px 35px 50px 35px;
      .slide-table{
        .slick-dots{
          position: static;
          margin-top: 20px;
        }
        table{
          border: none;
          display:table;
          tr:nth-child(odd){
            background: transparent;
          }
        }
        td,th{
          padding: 5px;
          border: none;
          font-size: 13px;
        }
      }
      table{
        font-size:12px;
        th,td{
          padding:15px 10px;
        }
      }
      .title{
        font-size:30px;
      }
      .detail-size {
        .content{
          font-size:12px;
        }
        .title{
          font-size: 14px;
          line-height: 2.88;
          margin-bottom: -8px;
        }
      }
    }
    .productView-options{
      .form-action .button{
        font-size:16px;
      }

    }
    .productView-description{
      padding: 45px 1rem 0px;
    }
    .tab.is-active .tab-title{
      font-size:14px;
    }
    .tabs-contents{
      font-size:12px;
    }
    .wishlist-sku {
      .wishlist{
        a{
          font-size: 14px;
        }
        span{
          padding-top:3px;
        }
      }
    }
    .designer-note{
      h2{
        font-size: 14px;
      }
      p{
        font-size:12px;
      }
    }
  }
}
@media(max-width: 767px){
  .pages-product .body .size-guide-pop-up{
    padding:10px;
    top: 10px;
    .space{
      width: 60px;
      margin: 2rem auto 3rem auto;
    }
    .title{
      margin-top: 10px;
    }
    .slide-table.mobile{
      display: none;
    }
    .compare-mobile{
      display: block !important;
    }
    #close-pop-up{
      padding: 10px;
    }
    .detail-size .title{
      margin: 0;
      line-height: 3.29;
      margin-bottom: -5px;
    }
    .content-mobile{
      font-family: "Open Sans";
      font-size: 13px;
      text-align: center;
      span{
        font-weight: 700;
      }
    }
    img{
      image-rendering: pixelated;
    }
  }
}
@include breakpointMax(medium){
  .pages-product .body {
    .productView-title,.productView-brand,.price-section{
      text-align: center;
    }
    .productView-title{
      font-size:25px;
    }
    .productView-brand{
      font-size:13px;
    }
    .price-section{
      font-size:18px;
    }
    .swatch .color-name,.set-rectangle .size-guide{
      font-size:12px;
    }
    .set-rectangle .size-guide{
      text-transform: capitalize;
    }
    .productView-options .form-action .button{
      font-size: 15px;
      margin-bottom: 0;
    }
    .designer-note {
      h2{
        font-size: 15px;
      }
      p{
        font-size:13px;
      }
    }
    .tab.is-active .tab-title{
      text-align: left;
    }
    .set-rectangle{
      margin-bottom: 3rem;
      position: relative;
      text-transform: uppercase;
    }
    .productView-info{
      margin-top: 1px;
    }
    .size-guide{
      position: absolute;
      bottom: -1.5rem;
      left: 0;
      right: 0;
    }
    .left-slide{
      display:block;
      width:100%;
      max-height: 100%;
      img{
        max-width: 73px;
      }
    }
    .productView-images{
      margin-bottom: 0;
      padding: 0 0.5rem;
      &:before{
        display: none;
      }
      &:after{
        display: none;
      }
    }
    .product-details{
      width:100%;
      margin:0;
      /*margin-top: -50px;*/
      padding: 2rem 10px 10px 10px;
    }
    .productView{
      padding: 0;
      .button-slider{

        .next-button{
          float: right;
          transform: rotate(180deg);
          top: 10px;
          right: 0;

          padding: 0 1rem;
          bottom:auto;
        }
        .prev-button{
          top: 10px;
          left: 0;
          padding: 0 1rem;
          img{
            transform: rotate(270deg);
          }
        }
      }
    }
    .right-slide{
      padding-top:0.5rem;
      max-height: 100%;
      img{
        max-height: none;
      }
      .slick-track{
        display: flex;
        align-items: center;
      }
    }
    .productView-images {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

//---- category page ----

//filter mobile category

@include breakpointMax(medium) {
  .fresh-arrivals .page-heading{
    padding-left: 0.75rem;
    font-size: 25px;
  }
  .shop-by-category{
    .page-heading{
      font-size: 25px;
      margin-bottom: 0 ;
      padding-left: 0.75rem ;
      margin-top: 0;
    }

  }
  .body-open-filter-mobile{
    transform: translate3d(300px, 0, 0);
    transition-duration: 1s;
  /*  overflow: hidden;*/
    @include breakpoint("small") {
      transform: translate3d(400px, 0, 0);
    }
  }
  .filter-mobile{
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 100%;
    background: white;
    width: 300px;
    max-width: 400px;
    @include breakpoint("small") {
      width : 400px;
    }
    .heading-filter{
      h2{
        text-align: center;
        margin: 0;
        border-bottom: 1px solid #e8e8e8;
        color: #1c1f2a;
        font-size: 14px;
        line-height: 46px;
        text-transform: uppercase;
        letter-spacing: 2.7px;
      }
      .close-filter{
        position: absolute;
        top: 13px;
        left: 0.75rem;
      }
    }
    #faceted-search-container{
      display: block;
    }
    .facetedSearch-toggle{
      display: none;
    }
    .title-filter{
      display: none;
    }
    .accordion{
      border: none;
      margin: 0;
    }
    .sidebarBlock + .sidebarBlock{
      padding-top: 0;
    }
    .accordion-title{
      padding: 5px 0;
      font-family: "Open Sans";
      font-size: 14px;
      line-height: 23px;
    }
    .sidebarBlock-heading{
      padding: 5px 0;
      margin: 0;
      font-family: "Open Sans";
      font-size: 14px;
      line-height: 23px;
    }
    .button-filter{
      width: 95%;
      margin: auto;
      overflow: hidden;
    }
    .rs-filter{
      a{
        width: 100%;
        background-color: #e8e8e8;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.58px;
        border: none;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
      }
    }

    .sidebarBlock.shop-by-price .navList{
      padding: 1rem;
      padding-left: 0px;
    }

  }
}
.pages-page{
  .breadcrumbs{
    display:none;
  }
  .page .page-heading{
    margin-bottom:5px;
  }
}

@media (max-width: 1260px) and (min-width: 768px) {
  .tablet-footer{
    margin: 0;
    color: #1c1f2a;
    font-family: "Open Sans";
    font-size: 11px;
    line-height: 15px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.login-form{
  .button--primary{
    background: black;
  }
}
// wish-list style
.pages-account-wishlists{
  .form-actions{
    width: 90%;
  }

  .form-action-wishlists {
    input[type="submit"] {
      color: #fff;
    }
  }
}

.pages-account-wishlist-details{
  .productGrid{
    margin-bottom: 5rem;
  }
}
@include breakpointMax(medium) {
  .pages-account-wishlist-details{
    .page-heading{
      padding-top:10px;
    }
  }
}

//          BRAND PAGE            //
//**********************************

.pages-brand {
    .page {
        max-width: 1440px;
        margin: 0 auto;
    }

    .banner-brand {
        background-color: #f5f5f5;
        overflow: hidden;

        &-container {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 1440px;
            margin: 0 auto;
            flex-direction: column;

            @include breakpoint(medium) {
                flex-direction: row;

                @include breakpointMax(large) {
                    min-height: 178px;
                    position: relative;
                    justify-content: flex-start;
                }
            }
        }

        .logo-brand {
          float:left;
          width: 25.3%;
          text-align: center;

          @include breakpointMax(large) {
            @include breakpoint(medium) {
              padding: 0 30px 0 40px;
              width: 20%;
            }
          }
        }

        .desc-brand {
          float:left;
          width: 30%;

          @include breakpointMax(large) {
            @include breakpoint(medium) {
              width: 37%;
            }
          }

          p{
            max-width: 412px;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 0px;
            padding-right: 10px;
            @include breakpoint(medium){
              font-size: 12px;
            }
            @include breakpoint(large) {
              line-height: 28px;
              font-size: 14px;
            }
          }
        }

        .background-brand {
          float:right;
          width: 45%;

          @include breakpointMax(large) {
            @include breakpoint(medium) {
              position: absolute;
              top: 0;
              right: 0;
              height: 100%;
              width: 40%;

              img {
                object-fit: cover;
                height: 100%;
                object-position: left;
              }
            }
          }

          img{
            width: 100%;
          }
        }

        @include breakpointMax(medium) {
            display: block;
            padding-top: 35px;

            .desc-brand {
              width: 100%;
              p {
                max-width: 279px;
                font-size: 11px;
                line-height: 19px;
                text-align: center;
                margin: 20px auto;

              }
            }

            .background-brand {
              width: 100%;
            }
        }
    }

    .shop-by-category {
        max-width: 1440px;
        margin: 0 auto;

        .page-heading {
            display: block;
            text-align: left;

            @include breakpoint(medium) {
              margin-top: 17px;
            }

            @include breakpoint(large) {
              font-size: 35px;
            }
        }

        @include breakpointMax(medium) {
            .button-action  {
                display: none;
            }
            .category-title {
                font-size: 15px;
                white-space: normal;
                line-height: normal;
                padding-top: 10px;
            }
        }
    }
    #product-listing-container{
      .brand-name{
        color: #000000;
        font-family: "DomaineDispNar-Medium";
        font-size: 35px;
        font-weight: 500;
        line-height: 66px;
        float: left;
        text-transform: uppercase;
        @include breakpoint(medium){
          font-size: 30px;
        }
        @include breakpoint(large){
          font-size: 35px;
        }
      }
      .form-fieldset{
        float: right;
        margin-top: 20px;
      }
    }
    .latest-editorials {
        background-color: #f5f5f5;
        text-align: center;
        padding: 50px 0;

        .image-mobile {
            @include breakpoint(medium) {
              display: none;
            }
        }

        .title-editorial {
            margin: 0 0 25px 0;
            font-family: "DomaineDispNar-Medium";
            font-size: 35px;
            font-weight: 500;

            @include breakpointMax(medium) {
              font-size: 25px;
              line-height: 66px;
              margin-bottom: 18px;
            }
        }

        .content-editorial {
          max-width: 1280px;
          overflow: hidden;
          margin: 0 auto;
          @include breakpoint(medium){
            padding: 0 80px;
          }
          @include breakpoint(large){
            padding: 0;
          }
        }

        .right-editorial,
        .left-editorial {
            float: left;
            width: 50%;

            img {
              width: 96.8%;
            }

            h2 {
                margin: 2rem 0 0.5rem 0;
                font-size: 22px;
                font-family: $body-font-family;
            }

            a {
                div {
                    background-color: black;
                    display: inline-block;
                    color: #ffffff;
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 46px;
                    letter-spacing: 2.19px;
                    padding: 0 20px;
                }
            }
        }

        @include breakpointMax(medium) {
            padding: 20px 0;

            .image-desktop {
              display: none;
            }

            .right-editorial,
            .left-editorial {
                width: 100%;

                .image-editorial {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    img {
                      width: auto;
                    }
                }
                h2 {
                    font-size: 20px;
                    line-height: 66px;
                    margin: 14px 0 10px;
                }
                a {
                    text-decoration: none;
                    div {
                      font-size: 16px;
                      max-width: 273px;
                      margin: auto;
                      display: block;
                      letter-spacing: 3.3px;
                    }
                }
                img {
                  width: 100%;
                }
            }

            .right-editorial {
                margin-bottom: 20px;
            }
        }
    }
}


//fix bug 31/10
@media screen and (max-width: 1260px) and (min-width: 768px){
  .pages-product .body {
    .productView-images{
      width: calc(100% - 51% - 30px);
      height: auto;
      .right-slide{
        max-height: 139.4vh;
        overflow: hidden scroll;
      }
    }
    .product-page-views {
      .product-details {
        width: 51%;
        padding-right: 33px;
        .productView-details {
          padding: 0;
          .productView-title {
            text-transform: capitalize;
          }
          .productView-brand {
            font-size: 14px;
          }
          .productView-price {
            font-size: 18px;
            .price-section{
              display: inline-block;
              .price.price--withTax.color-sale{
                color: red;
                padding-right: 12px;
              }
            }
          }
        }
        .designer-note{
          padding: 0 30px 0 0;
        }
        .productView-description{
          padding-left: 0;
        }
        .set-rectangle .form-option{
          margin: 3.4px;
        }
        .form-action{
          max-width: 269px;
          margin: auto;
          .button{
            padding: 17px;
          }
        }
      }
    }
    //.product-page-wear{
    //  #tab-related{
    //    padding-left: 40px;
    //    .slick-list.draggable{
    //      padding-left: 0;
    //    }
    //    .slick-initialized .slick-slide{
    //      max-width: 285px;
    //      padding: 0 1px;
    //      .card-img-container{
    //        min-height: 387px;
    //      }
    //    }
    //  }
    //}
    //.product-recently-viewed{
    //  .productCarousel-slide{
    //    max-width: 148px;
    //  }
    //  .card-figure .card-img-container{
    //    min-height: 200px;
    //  }
    //}
    .size-guide-pop-up{
      .title{
        margin: 0 auto 10px;
      }
      .detail-size .content{
        max-width: 400px;
        margin-bottom: 30px;
      }
      .detail-size{
        padding: 0 30px;
      }
      .image-size-guide img{
        // min-height: 238px;
        image-rendering: auto;
      }
      table {
        font-size: 11px;
        margin-bottom: 40px;
        th, td {
          padding: 15px 5px;
        }
      }
    }
  }
}

@media (max-width: 1260px){
  .product-page-wear{
    .card{
      .card-figcaption-body{
        display: none !important;
      }
    }
  }
  .product-recently-viewed{
    .card{
      .card-figcaption-body{
        display: none !important;
      }
    }
  }
}
//style quickview
.modal-content{
  .size-guide-pop-up,
  .form-wishlist,
  .addthis_toolbox,
  .productView-description,
  .productView-rating,
  .form-field--increments,
  .designer-note,
  .size-guide,
  .button-slider,
  .fabric_care_product,
  .delivery_product{
    display:none;
  }
  .price-section{
    display: inline-block;
  }
  .price--withTax.color-sale{
    color:#fd6042;
  }
  .wishlist-sku{
    svg{
      padding-top: 5px;
      vertical-align: text-top;
    }
  }

  .left-slide {
    margin: 0;

    .slick-list {
      margin-left: 0;
    }

    img {
      max-width: none;
      max-height: none;
      width: 100%;
      margin: 0;
      position: static;
    }

    .productView-thumbnail {
      padding: 0;

      &-link {
        max-width: 82px;
      }
    }
  }

  .right-slide {
    margin: 0 0 7px 0;

    .draggable {
      .productView-thumbnail-link {
        max-width: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 0;

        img {
          @include breakpoint(large) {
            width: 100%;
          }
        }
      }
    }

    .slick-slide {
      padding: 0 1px 0 2px;
    }
  }

  .productView-images {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0;

    @include breakpoint(medium) {
      padding: 20px 30px 20px 0;
    }
  }

  .product-details {
    float: left;
    //position: absolute;
    right: 0;
    height: 100%;
    background-color: $color-white;
    padding-top: 25px;
    //overflow-y: scroll;

    @include breakpoint(medium) {
      width: 50%;
    }

    .productView {
      &-details {
        @include breakpoint("large") {
          padding: 0 30px;
        }
      }

      &-brand {
        margin: 5px 0;

        a {
          color: #000;
        }
      }

      &-price {
        margin-bottom: 15px;
      }

      &-options {
        .designer-note {
          display: block;

          h2 {
            margin: 10px 0;
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 600;
            color: #000;
          }

          p {
            margin-bottom: 31px;
          }
        }

        .form-label--alternate {
          color: #000;
          text-transform: uppercase;
        }

        .form-option-swatch {
          margin-bottom: 0;
        }
      }

      &-title {
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;

        @include breakpoint(medium) {
          font-size: 36px;
          line-height: 40px;
        }
      }

      &-product {
        padding: 0;
      }
    }

    .product-option {
      display: flex;
      flex-direction: column-reverse;
    }

    .wishlist-sku {
      overflow: hidden;
      .wishlist {
        float: left;
      }
      .sku {
        float: right;
      }
    }
  }
}
//#navPages-33 .shop-category .category{
//  display: block;
//}
#navPages-25 .shop-category .new{
  display: block;
}
#navPages-21 .shop-category .sale{
     display: block;
   }

.navPages-labels .submenu-labels {
  max-width: 900px;

  .navPage-subMenu-action {
    padding-bottom: 0;
  }
}

//     GIFT CERTIFICATE PAGE      //
//**********************************
.pages-gift-certificate-purchase{

  .navBar--sub {
    position: relative;

    @include breakpoint(large) {
      position: absolute;
    }

    .navBar-section { 
      margin-left: 0;
      padding-left: 30px;

      @include breakpoint(large) {
      float: left;
      margin-top: 18px;
      margin-left: 57px;
      padding-left: 0.75rem;
     }
  
      .navBar-item {
        display: block;
        text-align: left;
        margin-bottom: 1rem;

        &.is-active {
          border-bottom: none;
          font-weight: bold;
        }
      } 
  
    } 

  }
  
  main {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;

    .gift-certificate-form {
      float: none;
      max-width: 729px;
      margin: 45px auto;

      .form-field{
        padding-left:30px;
        padding-right: 30px;

        @include breakpoint(large) {
          padding-left: 0.75rem;
          padding-right: 0.75rem;
        }
        .form-input {
          border-bottom: 1px solid #000;
          border-radius: 0;
          border-top: none;
          border-left: none;
          border-right: none;
          
          @include breakpoint(large) {
            
            padding: 1px;
            font-size: 0.88rem;
          }
        }
      }

      [placeholder]:focus::-webkit-input-placeholder {
        transition: opacity 0.2s 0.2s ease; 
        opacity: 0;
      }

      .form--amount {
        display: none;
      }

      textarea {
        background: #F5F5F5;
        
        &#message {
          border: none;
          border-radius: 4px;
          padding: 1rem;
        }
      
      }

      .form-actions {
        padding-left:30px;
        padding-right: 30px;
      }
    }

    #gift-certificate-submit {
      border-radius: 0;
      text-transform: uppercase;
    }

    #gift-certificate-preview {
      border: #000 solid 1px;
      border-radius: 0;
      background: #fff;
      color: #000000;
      text-transform: uppercase;

      @include breakpoint(large) {
        margin-bottom: 98px;
      }

      &--primary {
        background: #000;
        color: #fff;
      }
    }
    
    
    .form-checkbox + .form-label::before {
      border-radius: 8px;
    }
    .form-checkbox + .form-label::after {
      background-size: 70%;
    }
  }
}


#isp_search_results_container {
  li.isp_grid_product:hover a.isp_product_quick_view_button {
    display: none !important;
  }
}
