// login
//==========================================================================

.pages-auth-login{
  .form-actions{
    text-align: left;
    .btn.black-btn{
      background: $color-black-product;
      height: 40px;
      line-height: 40px;
      color: $background-white-content;
      border: 0px;
      width: 150px;
      font-weight: 600;
      cursor: pointer;
      &:hover{
        background: $background-buttom-active;
      }
    }
    .forgot-password{
      line-height: 40px;
      padding-left: 20px;
    }
  }
  .new-customer{
    .btn.btn-primary{
      background: $background-buttom-active;
      color: $background-white-content;
      font-weight: 600;
      height: 40px;
      width: 150px;
      transition: .3s;
      &:hover{
        background: #000;
      }
    }
  }
}

// Create Account
//==============================================================

.pages-auth-create-account{
  .forget-page{
    max-width: 64.28571rem;
    margin: auto;
    padding: $padding-content;
  }
  .login-acc{
    width: 100%;
    display: block;
    text-align: center;
    margin: 40px 0px;
  }
  .form-prefixPostfix{
    position: relative;
    .form-inlineMessage{
      top: 40px;
    }
  }
}