
// Footer
//=======================================================================================

.footer{
  padding: 0px;
  transition: all .4s ease;
  overflow: hidden;

  .footer-info{
    border-top: 1px solid #ddd;
    overflow: hidden;
    .content-footer-info{
      padding: 35px 15px 0px 15px;
      max-width: 1530px;
      margin: auto;
      overflow: hidden;
      .footerNavigation{
        width: 65%;
        float: left;
        .footer-info-col{
          width: 25%;
          padding: 0px;
          position: relative;
          &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 20px;
            top: 0px;
            left: 0px;
            background: transparent;
            z-index: 99;
          }
        }
        .footer-info-heading{
          font-size: 14px;
          font-weight: 700;
          font-family: 'Roboto', sans-serif;
          color: #212121;
          margin-bottom: 2px;
          img{
            display: none;
            transition: all .5s ease;
          }
        }
        .footer-info-list{
          a{
            font-size: 12px;
            font-weight: 400;
            font-family: 'Roboto', sans-serif;
            color: #000;
            &:hover{
              text-decoration: underline;
              color: #e30613;
            }
          }
        }
      }
      .footerSubscribe{
        width: 35%;
        float: left;
        .footer-info-col{
          width: 100%;
          padding: 0px 0px 0px 45px;
          margin-bottom: 30px;
        }
        .footer-info-heading-subscribe{
          font-size: 14px;
          font-weight: 700;
          font-family: 'Roboto', sans-serif;
          color: #212121;
          text-align: left;
          margin-bottom: 8px;
        }
        .form{
          margin-bottom: 11px;
          .form-prefixPostfix{
            display: block;
          }
          .form-field{
            margin-bottom: 0px;
          }
          .form-input{
            border: 1px solid #ececec;
            border-radius: 2px 0 0 2px;
            margin: 0px;
            padding: 1rem;
            font-family: 'Roboto', sans-serif;
            height: 45px;
            border-right: 0px;
            width: 77%;
            float: left;
          }
          .button--primary{
            margin: 0px;
            height: 45px;
            background: #333;
            border-radius: 0 2px 2px 0;
            width: 23%;
            float: left;
            font-size: 12px;
            text-transform: capitalize;
            padding: 0px;
            color: #fff;
            &:hover{
              background: #e30613;
              border-color: #e30613;
            }
          }
        }
        p{
          font-size: 12px;
          font-family: 'Roboto', sans-serif;
          color: #000;
          text-align: left;
        }
        .link-network-footer{
          text-align: left;
          li{
            list-style: none;
            width: 25px;
            display: inline-block;
            margin-right: 3px;
            height: 25px;
            border-radius: 50%;
            overflow: hidden;
            &:nth-child(1){
              svg{
                background-color: #3b5998;
                path{
                  fill: #eaeaea;
                }
              }
            }
            &:nth-child(2){
              svg{
                background-color: #14c4ff;
                path{
                  fill: #eaeaea;
                }
              }
            }
            &:nth-child(3){
              svg{
                background-color: #dd4b38;
                path{
                  fill: #eaeaea;
                }
              }
            }
          }
        }
      }
    }
  }
  .trustCalls-container{
    .u-container{
      max-width: 1530px;
      margin: auto;
      overflow: hidden;
      padding: 30px 15px;
      .trustCall{
        width: 25%;
        float: left;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        svg{
          width: 50px;
        }
        h4{
          color: #000;
          margin: 0px;
          font-size: 20px;
          font-weight: 700;
          font-family: 'Roboto', sans-serif;
          padding-left: 20px;
        }
      }
    }
  }
  .footerLegal{
    border-top: 1px solid #ddd;
    .content-footerLegal{
      max-width: 1530px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      padding: 10px 15px;
      .footer-copyright{
        width: 50%;
        font-size: 12px;
        color: #000;
        font-family: 'Roboto', sans-serif;
        height: 40px;
        line-height: 40px;
        a{
          color: #000;
          font-family: 'Roboto', sans-serif;
        }
      }
      .footer-payment{
        width: 50%;
        height: 40px;
        line-height: 40px;
        .paymentIcons{
          text-align: right;
          li{
            list-style: none;
            display: inline-block;
            &:nth-child(1){
              font-size: 12px;
              color: #000;
              font-family: 'Roboto', sans-serif;
            }
            img{
              width: 40px;
              height: 40px;
            }

          }
        }
      }
    }
  }

  @include breakpointMax($modal-width-huge){
    .trustCalls-container{
      .u-container{
        .trustCall{
          align-items: center;
          justify-content: center;
          svg{
            width: 35px;
          }
          h4{
            padding-left: 10px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .footer{
    .footer-info{
      .content-footer-info{
        .footerNavigation{
          .footer-info-col{
            .footer-info-list{
              display: block !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .footer{
    .trustCalls-container{
      .u-container{
        .trustCall{
          svg{
            width: 40px;
          }
          h4{
            font-size: 14px;
            padding-left: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .footer{
    .trustCalls-container{
      .u-container{
        .trustCall{
          align-items: center;
          justify-content: center;
          svg{
            width: 35px;
          }
          h4{
            padding-left: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .footer{
    .trustCalls-container{
      .u-container{
        .trustCall{
          align-items: center;
          -ms-flex-pack: center;
          justify-content: center;
          &:nth-child(3),&:nth-child(4){
            margin-bottom: 0px;
          }
          h4{
            font-size: 10px;
            padding-left: 10px;
            line-height: 25px;
          }
          svg {
            width: 25px;
          }
        }
      }
    }
    .footer-info{
      .content-footer-info{
        .footerNavigation{
          width: 100%;
        }
        .footerSubscribe{
          width: 100%;
          .footer-info-col{
            padding-left: 0px;
            max-width: 600px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .footer{
    .footer-info{
      .content-footer-info{
        padding-right: 20px;
        padding-left: 20px;
        .footerNavigation{
          .footer-info-col{
            width: 47.5%;
            text-align: left;
            margin-bottom: 10px;
            &:nth-child(1), &:nth-child(3){
              margin-right: 5%;
            }
            &:before{
              display: none;
            }
          }
          .footer-info-list{
            display: block;
          }
          .footer-info-heading{
            position: relative;
            cursor: pointer;
            img{
              display: block;
              position: absolute;
              top: 3px;
              right: 0px;
              display: none;
            }
          }
        }
        .footerSubscribe{
          .footer-info-heading{
            text-align: left;
          }
          .form{
            margin-top: 20px;
            margin-bottom: 20px;
            .form-input{
              height: 47px;
              width: calc(100% - 100px);
              font-size: 12px;
            }
            .button--primary{
              height: 47px;
              width: 100px;
            }
          }
        }
      }
    }
    .footerLegal{
      .content-footerLegal{
        padding-left: 20px;
        padding-right: 20px;
        .footer-copyright{
          width: 100%;
          height: auto;
          line-height: 21px;
          text-align: left;
        }
        .footer-payment{
          width: 100%;
          height: auto;
          .paymentIcons{
            display: flex;
            align-items: center;
            margin: 0px;
            li{
              margin-right: 5px;
              &:nth-child(1){
                display: block;
                text-align: center;
                text-align: left;
                font-size: 8px;
                line-height: 15px;
              }
            }
          }
        }
      }
    }
    .trustCalls-container{
      .u-container{
        .trustCall{
          width: 25%;
          text-align: center;
          margin-bottom: 0px;
          svg{
            width: 30px;
            margin: auto;
          }
          h4{
            padding-left: 0px;
            font-size: 10px;
            line-height: 2;
            width: 100%;
          }
        }
      }
    }
  }
}

.show-plus-footer{
  transform: rotate(135deg);
  transition: 0.5s;
}