
// Header
//==============================================================================
.top-header-nav{
  transform: translateY(-31px);
}
.header{
  border-bottom: 0px;
  box-shadow: 0 4px 17px 0 rgba(0,0,0,.1);
  transition: transform .6s ease,-webkit-transform .6s ease;
  .header-container{
    .logo-search-header{
      background: #e30613;
      .content-logo-search{
        max-width: 1530px;
        margin: auto;
        padding: 0px 15px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }
      .svg-logo{
        width: 20.4%;
        display: flex;
        a{
          display: flex;
        }
      }
      svg{
        width: 100%;
      }
      .search-form-menu{
        width: 63.6%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .navMenu-toggle-scroll{
          width: 4%;
          text-align: center;
          transition: transform .4s ease;
          display: none;
          height: 100%;
          padding-top: 20px;
          margin-left: 6%;
          cursor: pointer;
          &>i{
            font-size: 30px;
            color: #fff;
          }
          &:hover{
            .nav-container-menu{
              display: block !important;
            }
            .navPages{
              .navPages-list{
                .navPages-item:nth-child(1){
                  .navPage-subMenu{
                    //display: block !important;
                  }
                }
              }
            }
          }
          @include breakpointMax($width--tablet){
            display: none !important;
          }
        }
        .active-search-srcoll{
          width: 90% !important;
          transition: transform .4s ease;
        }
        .dropdown--quickSearch{
          position: relative;
          padding: 0px 45px;
          width: 100vw;
          display: flex;
          flex-wrap: wrap;
          transition: transform .4s ease;
          @include breakpointMax($width--tablet){
            width: 100vw !important;
          }
        }
        .form{
          max-width: 100%;
          width: 100%;
        }
        .form-field{
          .form-input{
            width: calc(100% - 137px);
            float: left;
            margin: 0px;
            height: 45px;
            border-radius: 2px 0 0 2px;
            border: 1px solid #ececec;
            padding: 6px 12px;
            font-family: 'Roboto', sans-serif;
          }
          button{
            width: 137px;
            float: left;
            padding: 0px;
            background: #333;
            height: 45px;
            color: #fff;
            border-radius: 0px 3px 3px 0;
            text-align: center;
            span{
              padding-left: 5px;
              font-size: 15px;
              font-family: roboto condensed,sans-serif;
              &:before{
                font-family: FontAwesome;
                content: "\f002";
                padding-right: 5px;
              }
            }
          }
          @include breakpointMax($width--tablet){
            .form-input{
              border: 0px;
              width: calc(100% - 100px);
            }
            button{
              width: 100px;
              background: #fff;
              color: #000;
            }
          }
        }
      }
      .main-header__cart-account{
        width: 16%;
        display: flex;
        flex-wrap: wrap;
        .navUser-item--cart{
          width: 50%;
          //padding: 18.5px 0px;
          text-align: center;
          border-left: 1px solid #ca0511;
          border-right: 1px solid #ca0511;
          svg{
            width: 30px;
            fill: #fff;
          }
          .navUser-item-cartLabel{
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: relative;
          }
          .title-mini-cart{
            padding-right: 5px;
          }
          .mini-cart-qty-dropdown{
            margin-top: 0px;
            width: max-content;
            padding: 21.5px 0px;
          }
          .countPill{
            position: absolute;
            top: -4px;
            right: -8px;
            background: #fff;
            display: block;
          }
          #cart-preview-dropdown{
            left: auto;
            width: 280px;
            top: 80px;
            right: 10px;
          }
          .subnav-mini-cart{
            position: relative;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center;
          }
          .subnav-mini-cart.is-open{
            #cart-preview-dropdown{
              display: block;
            }
          }
        }
        .sign-in-header{
          width: 50%;
          padding: 18.5px 10px 18.5px 15px;
          text-align: center;
          position: relative;
          display: flex;
          justify-content: flex-end;
          span{
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            font-family: 'Roboto', sans-serif;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center;
            cursor: pointer;
          }
          svg{
            fill: #fff;
            width: 35px;
            height: 35px;
            border-radius: 50px;
            padding: 8px;
            background: rgba(0,0,0,.1);
            color: #e7f3f7;
            font-size: 24px;
            margin-left: 10px;
          }
          .container-sign-in{
            position: absolute;
            background: #333333;
            width: 220px;
            border-radius: 5px;
            z-index:9;
            right: 10px;
            top: 80px;
            display: none;
            .nav-sign-in{
              padding: 15px 20px;
              margin: 0px;
              border-bottom: 1px solid #4d4d4d;
              &:before{
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                border: 10px solid transparent;
                border-bottom: 10px solid #333;
                top: -20px;
                right: 20px;
              }
              li{
                list-style: none;
                line-height: 40px;
                //display: flex;
                //flex-wrap: wrap;
                //align-items: center;
                i{
                  float: left;
                  line-height: 40px;
                  color: #fff;
                  margin-right: 10px;
                  width: 15px;
                  text-align: center;
                }
                svg{
                  width: 15px;
                  height: 15px;
                  border-radius: 0px;
                  line-height: 40px;
                  padding: 0px;
                  margin: 0px 10px 0px 0px;
                }
                a{
                  font-size: 13px;
                  display: block;
                  width: 100%;
                  text-align: left;
                  color: #fff;
                  text-decoration: none;
                  font-family: 'Roboto', sans-serif;
                }
              }
            }
            .bottom-sign-in{
              padding: 20px 15px;
              overflow: hidden;
              span{
                color: #9f9f9f;
                font-size: 13px;
                width: 100%;
                text-align: center;
                display: block;
                font-family: 'Roboto', sans-serif;
              }
              a{
                font-family: 'Roboto', sans-serif;
                font-size: 13px;
                color: #fff;
                text-decoration: none;
              }
              .login-form{
                background: #e60000;
                width: 100%;
                text-align: center;
                margin: 0px;
                text-transform: uppercase;
                line-height: 40px;
                text-decoration: none;
                border-radius: 4px;
                margin-top: 10px;
                &:hover{
                 background: #f85959;
                }
              }
            }
          }
          .container-sign-in.is-open{
            display: block !important;
          }
        }

      }
    }
    .search-form-menu-mobile{
      display: none;
    }

    .top-header{
      display: flex;
      background: #ca0511;
      padding: 4px 0px;
      transition: transform .3s ease,-webkit-transform .3s ease;
      .content-top-header{
        width: 1540px;
        padding: 0px 20px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        .top-gutter__welcome{
          width: 50%;
          float: left;
          color: #fff;
          font-size: 12px;
          line-height: 23px;
          font-family: 'Roboto', sans-serif;
        }
        .top-link-account{
          width: 50%;
          float: left;
        }
        .links{
          margin: 0px;
          text-align: right;
          li{
            display: inline-block;
            list-style: none;
            padding: 0px 8px;
            &:last-child{
              padding-right: 0px;
            }
          }
          a{
            color: #fff;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            &:hover{
              text-decoration: underline;
            }
          }
          .cart-quantity{
            display: none;
          }
          .countPill--positive{
            display: inline-block !important;
          }
        }
      }
    }
    .navPages-container-nav{
      transform: translateY(-49px);
      z-index: -1;
      display: none;
    }
    .navPages-container{
      transition: transform .6s ease;
      padding: 0px 20px;
      .navigation-gutter-container{
        max-width: 1500px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;
      }
      .container-menu{
        width: 100%;
        max-width: 200px;
        padding: 12.5px 20px;
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
        cursor: pointer;
        .nav-a-with-toggler {
          text-decoration: none;
          font-size: 12px;
          font-family: 'Roboto', sans-serif;
          color: #2b3c4a;
          &:before{
            content: "\f0c9";
            font-family: FontAwesome;
            color: #4d4d4d;
            position: static;
            margin-right: 8px;
            font-size: 1.414em;
          }
          &:after{
            content: "\f078";
            font-family: FontAwesome;
            color: #666;
            position: static;
            margin-left: 8px;
            font-size: 10px;
          }
        }
        &:hover{
          .relative-level1{
            color: $color-price;
            &:before{
              color: $color-price;
            }
          }
          .nav-container-menu{
            display: block !important;
          }
        }
        .nav-container-menu{
          position: absolute;
          display: none;
          top: 100%;
          left: 0px;
          height: auto;
          width: 100%;
          background: #fff;
          box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.1);
        }
      }
      .menu-quick-shop{
        width: calc(100% - 200px);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .sub-menu-quickshop{
          margin: 0px;
          li{
            display: inline-block;
            padding: 0px 10px;
            border-right: 1px solid #ddd;
            &:first-child, &:last-child{
              border-right: 0px;
            }
            svg{
              width: 10px;
              height: 10px;
            }
            h4{
              font-size: 12px;
              color: #666;
              font-family: 'Roboto', sans-serif;
              margin: 0px;
            }
            a{
              font-size: 12px;
              color: #000;
              font-family: 'Roboto', sans-serif;
              text-decoration: none;
              &:hover{
                text-decoration: underline;
                color: $background-buttom-active;
                transition: 0.3s;
              }
            }
          }
        }
      }
    }
  }
}

.active-header{
  transform: translateY(-170px);
}


.navPages-menu{
  .navPages-list-nav{
    width: 200px;
    margin: 0px;
    padding: 15px 0;
    border-right: 1px solid #ccc;
    background: #fff;
    float: left;
    .navPages-item{
      width: 100%;
      text-align: left;
      padding: 0 15px;
    }
    .navPages-action{
      font-size: 12px;
      color: #000;
      letter-spacing: 0;
      text-transform: capitalize;
      position: relative;
      padding: 7px 19px 8px 8px;
      width: 100%;
      line-height: 15px;
      &:hover{
        font-weight: normal;
        text-decoration: underline;
        color: $background-buttom-active;
      }
    }
    .navPages-action.active{
      text-decoration: underline;
    }
    .navPages-action.active, .active-nav{
      color: $background-buttom-active;
      svg{
        fill: #757575;
        stroke: #757575;
      }
    }
    .sub-heading-menu{
      font-size: 12px;
      color: #666;
      font-weight: 600;
      text-align: left;
      line-height: 30px;
      margin: 0;
      padding: 0 15px;
      overflow: hidden;
    }
  }
  .navPages-list-menu{
    width: calc(100% - 200px);
    margin: 0px;
    float: left;
    position: absolute;
    right: 0px;
    top: 0px;
    .navPage-subMenu{
      position: static;
      margin: 0px;
      width: 100% !important;
      padding: 20px;
    }
    .navPage-subMenu.active{
      display: block;
    }
    li{
      list-style: none;
    }
    .navPage-subMenu-list{
      margin: 0px;
      display: flex;
      flex-wrap: wrap;
    }
    .navPage-subMenu-item{
      width: 20%;
      margin-bottom: 20px;
      &:nth-child(1){
        display: none;
      }
    }
    .navPage-subMenu-action{
      font-weight: 700;
      color: $background-buttom-active;
      line-height: 30px;
      text-transform: capitalize;
      letter-spacing: 0;
      margin: 0;
      font-size: 12px;
      padding: 0px;
      &:hover{
        text-decoration: underline;
      }
    }
    .navPage-childList{
      display: flex;
      flex-wrap: wrap;
      margin: 0px;
      padding: 0px;
    }
    .navPage-childList-item{
      width: 100%;
    }
    .navPage-childList-action{
      letter-spacing: 0;
      font-size: 12px;
      text-transform: capitalize;
      color: #000;
      padding: 0;
      line-height: 29px;
      &:hover{
        font-weight: normal;
        text-decoration: underline;
        color: $background-buttom-active;
      }
    }
    .navPage-childList-action.active-nav{
      color: #e30713;
    }
    .category-name{
      font-weight: 700;
      color: $background-buttom-active;
      line-height: 30px;
      text-transform: capitalize;
      letter-spacing: 0;
      margin: 0;
      font-size: 12px;
      &:hover{
        text-decoration: underline;
      }
    }
    .sub-next-menu-mobile{
      display: none;
    }
  }
}

// Header scroll
//=================================================================================================


.logo-search-header{
  .nav-container-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background: #fff;
    left: 0px;
    .nav-a-with-toggler {
      text-decoration: none;
      font-size: 12px;
      color: #2b3c4a;
      &:before{
        content: "\f0c9";
        font-family: FontAwesome;
        color: #4d4d4d;
        position: static;
        margin-right: 8px;
        font-size: 1.414em;
      }
      &:after{
        content: "\f078";
        font-family: FontAwesome;
        color: #666;
        position: static;
        margin-left: 8px;
        font-size: 10px;
      }
    }
    .nav-container-menu{
      position: absolute;
      top: 100%;
      left: 0px;
      height: auto;
      width: 100%;
      background: #fff;
      box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.1);
    }
  }
  .menu-quick-shop{
    width: calc(100% - 200px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .sub-menu-quickshop{
      margin: 0px;
      li{
        display: inline-block;
        padding: 0px 10px;
        border-right: 1px solid #ddd;
        &:first-child, &:last-child{
          border-right: 0px;
        }
        svg{
          width: 10px;
          height: 10px;
        }
        h4{
          font-size: 12px;
          color: #666;
          margin: 0px;
        }
        a{
          font-size: 12px;
          color: #000;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
            color: $background-buttom-active;
            transition: 0.3s;
          }
        }
      }
    }
  }
}



// MiniCart
//========================================================================================================


#cart-preview-dropdown{
  .previewCart{
    padding: 0px;
    .top-mini-cart-total{
      background: #323232;
      padding: 10px 15px;
      width: 100%;
      .cart-total-label{
        padding: 0px;
        font-size: 12px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        line-height: 21px;
        width: 50%;
        text-align: left;
      }
      .cart-total-grandTotal{
        padding: 0px;
        font-size: 12px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        line-height: 21px;
        top: 0px;
        width: 50%;
        text-align: right;
      }
      .recently-mini-cart{
        font-size: 12px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-align: left;
        width: 100%;
        display: block;
      }
    }
    .preview-cart-product::-webkit-scrollbar {
      width: 5px;
      background-color: #F5F5F5;
    }
    .preview-cart-product::-webkit-scrollbar-thumb {
      background-color: #c1c1c1;
    }
    .preview-cart-product::-webkit-scrollbar-track {
      background-color: #f9f9f9;
    }
    .preview-cart-product{
      background: #f9f9f9;
      max-height: 280px;
      overflow-y: scroll;
      .previewCartList{
        .previewCartItem{
          display: block;
          padding: 20px;
          border-bottom: 1px solid #ececec;
          &:first-child{
            border-bottom: 0px;
          }
          .remove-product-mini-cart{
            overflow: hidden;
            text-align: right;
            margin-bottom: 5px;
            .cart-remove{
              background: none;
              text-decoration: none;
              margin: 0px;
              padding: 0px;
              &:hover{
                color: #e30613;
              }
              &:before{
                content: "\f00d";
                font-size: 16px;
                display: block;
                font-family: FontAwesome;
              }
            }
            .edit-mini-cart{
              text-decoration: none;
              display: inline-block;
              &:hover{
                color: #e30613;
              }
              &:before{
                content: "\f040";
                font-size: 14px;
                display: block;
                font-family: FontAwesome;
              }
            }
          }
          .previewCartItem-image{
            width: 68px;
            display: inline-block;
            float: left;
            border: 1px solid #ededed;
            a{
              display: block;
            }
            img{
              position: unset;
              width: 100%;
            }
            &:after{
              display: none;
            }
          }
          .previewCartItem-content{
            width: calc(100% - 68px);
            float: left;
            padding: 0px 10px 0px 10px;
            .previewCartItem-brand{
              display: none;
            }
            .previewCartItem-name{
              text-align: left;
              font-size: 14px;
              font-family: 'Roboto', sans-serif;
              color: #000;
              margin-bottom: 10px;
              line-height: 1.75;
              a:hover{
                text-decoration: underline;
                color: #e30613;
              }
            }
            .previewCartItem-price{
              display: block;
              width: 100%;
              text-align: left;
              font-size: 12px;
              color: #000;
              font-family: 'Roboto', sans-serif;
              font-weight: 700;
              input{
                background: none;
                height: 19px;
                font-size: 12px;
                line-height: 19px;
                font-weight: 700;
                color: #000;
                width: 20px;
              }
              .calc-mini-cart{
                font-weight: 400;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
    .previewCart-emptyBody{
      padding: 3rem 35px;
      color: #000;
      font-family: 'Roboto', sans-serif;
    }
    .previewCartAction{
      background: #323232;
      .previewCartAction-checkout{
        padding-right: 10px;
        a{
          height: 40px;
          line-height: 40px;
          padding: 0px;
          text-transform: uppercase;
          color: #000;
          font-weight: 600;
          background: #f5f4f4;
          border: 0px;
          font-family: 'Roboto', sans-serif;
          &:hover{
            background: #2c9028;
            border-color: #2c9028;
            color: #fff;
            transition: 0.3s;
          }
        }
      }
      .previewCartAction-viewCart{
        padding-left: 10px;
        a{
          height: 40px;
          line-height: 40px;
          padding: 0px;
          text-transform: uppercase;
          color: #000;
          font-weight: 600;
          background: #f5f4f4;
          border: 0px;
          font-family: 'Roboto', sans-serif;
          &:hover{
            background: #2c9028;
            border-color: #2c9028;
            color: #fff;
            transition: 0.3s;
          }
        }
      }
    }
  }
}

.quickSearchResults{
  .modal-close{
    display: block;
  }
  .quickSearchMessage{
    width: 100%;
    margin: 30px 0px;
    font-size: 16px;
  }
}


// Menu Mobile
//=======================================================================================

.navPages-container-mobile{
  width: 80%;
  min-width: 140px;
  max-width: 440px;
  background: #f3f3f3;
  position: absolute;
  z-index: 0;
  top: 0px;
  left: -80%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  .navigation-gutter-container{
    .container-menu{
      transition: transform .4s ease;
    }
    .container-menu-active{
      transform: translate3d(-100%,0,0);
    }
    .heading-menu-mobile{
      border-bottom: 1px solid #ccc;
      h4{
        font-size: 12px;
        color: #000;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin: 0px;
        line-height: 40px;
        color: rgba(0,0,0,.3);
      }
    }
    .navPages{
      padding: 0px 0px 0px 20px;
      background: none;
      .navPages-list{
        .navPages-item{
          display: flex;
          flex-wrap: wrap;
          border-bottom: 1px solid #ccc;
          .navPages-action{
            line-height: 40px;
            padding: 0px;
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            text-transform: capitalize;
            width: calc(100% - 50px);
          }
          .navPages-action-moreIcon{
            display: none;
          }
          .next-menu-mobile{
            width: 50px;
            line-height: 40px;
            text-align: center;
            border-left: 1px solid #ccc;
            i{
              color: #a8a8a8;
              font-size: 12px;
            }
          }
          .navPage-subMenu-active{
            transform: translate3d(-100%,0,0);
            transition: transform .4s ease;
          }
          .navPage-subMenu{
            position: absolute;
            top: 0px;
            left: 100%;
            width: 100%;
            background: #f3f3f3;
            transition: transform .4s ease;
            z-index: 9;
            display: block !important;
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            .prv-menu{
              display: flex;
              flex-wrap: wrap;
              border-bottom: 1px solid #ccc;
              .prv-menu-mobile{
                width: 50px;
                line-height: 40px;
                text-align: center;
                i{
                  color: #a8a8a8;
                  font-size: 12px;
                }
              }
              .heading-sub-nav-menu{
                width: calc(100% - 50px);
                font-size: 12px;
                font-family: 'Roboto', sans-serif;
                text-transform: capitalize;
                margin: 0px;
                text-align: center;
                line-height: 40px;
                padding-right: 50px;
                color: rgba(0,0,0,.3);
              }
            }
            .navPage-subMenu-list{
              margin: 0px;
              padding-left: 20px;
              .navPage-subMenu-item{
                border-bottom: 1px solid #ccc;
                display: flex;
                flex-wrap: wrap;
                .category-name{
                  font-size: 14px;
                  font-family: 'Roboto', sans-serif;
                  text-transform: capitalize;
                  margin: 0px;
                  font-weight: 400;
                }
                .sub-next-menu-mobile{
                  width: 50px;
                  line-height: 40px;
                  text-align: center;
                  border-left: 1px solid #ccc;
                  i{
                    color: #a8a8a8;
                    font-size: 12px;
                  }
                }
                .navPage-childList-mobile-active{
                  transform: translate3d(-100%,0,0);
                }
                .navPage-childList{
                  position: absolute;
                  top: 0px;
                  left: 100%;
                  height: 100vh;
                  display: block;
                  width: 100%;
                  background: #f3f3f3;
                  border: 0px;
                  margin: 0px;
                  padding-left: 0px;
                  transition: transform .4s ease;
                  .navPage-childList-item{
                    margin-left: 20px;
                    border-bottom: 1px solid #ccc;
                  }
                  .sub-navPage-childList-mobile{
                    text-align: center;
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0px;
                    border-bottom: 1px solid #ccc;
                  }
                  .sub-prv-menu-mobile{
                    width: 50px;
                    line-height: 40px;
                    text-align: center;
                    i{
                      color: #a8a8a8;
                      font-size: 12px;
                    }
                  }
                  .navPage-subMenu-action-sub{
                    width: calc(100% - 50px);
                    font-size: 12px;
                    padding-right: 50px;
                    font-family: 'Roboto', sans-serif;
                    color: rgba(0,0,0,.3);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.show-active-menu{
  transform: translate3d(80%,0,0);
  transition: transform .4s ease;
  z-index: 1;

}
.footer-active-menu{
  transform: translate3d(80%,0,0);
  transition: transform .4s ease;
  z-index: 1;
}

.body{
  transition: transform .4s ease;

  padding-bottom: 30px;
}
.pages-home{
  .body{
    background: $background-body;
  }
}

.body-active{
  overflow: hidden !important;
  width: 100%;
  position: fixed;
}


.mask-mini-cart{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  opacity: 0;
  display: table-row;
  visibility: hidden;
  height: 100%;
  transition: all .4s ease;

}
.mask-mini-cart-active{
  opacity: 0.6;
  visibility: visible;
  z-index: 9;
}
.mask-menu-active{
  opacity: .3;
  visibility: visible;
  z-index: 9;
  transition: opacity .4s ease;
  transform: translate3d(80%,0,0);
}

@media (min-width: 550px) {
  .show-active-menu{
    transform: translate3d(440px,0,0);
    transition: transform .4s ease;
    z-index: 1;
  }
  .navPages-container-mobile{
    left: -440px;
  }
  .mask-menu-active{
    opacity: .3;
    visibility: visible;
    z-index: 9;
    transition: opacity .4s ease;
    transform: translate3d(440px,0,0);
  }
}

@media (max-width: 1599px) {
  .header{
    .header-container{
      .logo-search-header{
        .main-header__cart-account{
          width: 21%;
        }
        .search-form-menu{
          width: 60%;
        }
        .svg-logo{
          width: 19%;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .header{
    .header-container{
      .logo-search-header{
        .search-form-menu{
          width: 51.5%;
          .dropdown--quickSearch{
            padding: 0px 10px 0px 23px;
          }
        }
        .svg-logo{
          width: 23.5%;
        }
        .main-header__cart-account{
          width: 25%;
        }
      }
    }
    .navPages-container{
      .menu-quick-shop{
        .sub-menu-quickshop{
          li{
            &:first-child{
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .header{
    .header-container{
      .search-form-menu-mobile{
        display: block;
        #quickSearch{
          padding: 0px 20px;
          .form{
            max-width: 100%;
            .form-field{
              .form-input{
                width: calc(100% - 86px);
                float: left;
                margin: 0px;
                border: none;
                height: 45px;
                padding: 6px 12px;
                font-size: 12px;
                font-family: 'Roboto', sans-serif;
                color: #000;
              }
              button{
                width: 86px;
                float: left;
                height: 45px;
                span{
                  font-size: 15px;
                  font-family: 'Roboto', sans-serif;
                 &:before{
                   font-family: FontAwesome;
                   content: "\f002";
                   padding-right: 5px;
                 }
                }
              }
            }
          }
        }
      }
      .top-header{
        .content-top-header{
          .top-gutter__welcome{
            width: 35%;
          }
          .top-link-account{
            width: 65%;
          }
        }
      }
      .logo-search-header{
        .search-form-menu{
          order: 4;
          width: 100vw;
          margin-left: calc(-50vw + 50%);
          position: relative;
          background: #fff;
        }
        .main-header__burger-menu{
          width: 15%;
          .mobileMenu-toggle{
            position: relative;
            top: 0px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            height: 100%;
            i{
              font-size: 26px;
              color: #fff;
            }
          }
        }
        .svg-logo{
          text-align: center;
          width: 70%;
          svg{
            width: 100%;
            max-width: 277px;
          }
        }
        .main-header__cart-account{
          width: 15%;
          .sign-in-header{
            display: none;
          }
          .navUser-item--cart{
            width: 100%;
            border: none;
            .countPill{
              right: -8px;
            }
            .mini-cart-qty-dropdown{
              padding: 15px 5px 15px;
            }
            .navUser-item-cartLabel{
              justify-content: flex-end;
              //padding-right: 15px;
              .title-mini-cart{
                display: block;
              }

            }
          }
        }
      }
      .navPages-container{
        display: none !important;
      }
    }
  }

  .navPages-container-mobile{
    .navigation-gutter-container{
      .navPages{
        .navPages-list{
          .navPages-item:nth-child(6){
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .header{
    .header-container{
      .top-header{
        .content-top-header{
          .top-gutter__welcome{
            width: 100%;
            text-align: center;
          }
          .top-link-account{
            display: none;
          }
        }
      }
      .logo-search-header{
        .content-logo-search{
          padding: 0px 20px;
          .main-header__burger-menu{
            width: 40px;
            .mobileMenu-toggle{
              padding-left: 0px;
            }
          }
        }
        .svg-logo{
          width: calc(100% - 80px);
          padding: 0px 7px 0px 3px;
        }
        .main-header__cart-account{
          width: 40px;
          .navUser-item--cart{
            .navUser-item-cartLabel{
              padding: 0px;
              width: 30px;
              .title-mini-cart{
                display: none;
              }
            }
            .countPill{
              right: -8px;
              top: -4px;
            }
            .mini-cart-qty-dropdown{
              padding: 15px 0px;
              margin-right: 8px;
            }
            #cart-preview-dropdown{
              right: -17px;
              top: 58px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 549px) {
  .header{
    .header-container{
      .logo-search-header{
        .main-header__cart-account{
          .navUser-item--cart{
            .mini-cart-qty-dropdown{
              margin-right: -3px;
            }
            .navUser-item-cartLabel{
              float: right;
            }
          }
        }
      }
    }
  }
}