

// HomePage
//==============================================================================================

.container-slider-banner-homepage{
    background-color: #ececec;
    padding-bottom: 30px;
    .top-banner-slider{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        max-width: $maxWidth-content;
        padding: $padding-content;
        padding-top: 30px;

        .slider-top-homepage{
            width: 49.7%;
            margin-right: 0.6%;
            .heroCarousel{
                margin-bottom: 0px;
                .slick-dots{
                    position: absolute;
                    bottom: 0px;
                    li{
                        background: none;
                        padding-top: 10px;
                        button{
                            background: #d6d6d6;
                            border-color: #d6d6d6;
                        }
                    }
                    .slick-active{
                        button{
                            background: #869791 !important;
                            border-color: #869791 !important;
                            height: 10px;
                            width: 10px;
                            &:before{
                                background: #869791;
                                border-color: #869791;
                            }
                        }

                    }
                }
            }
        }
        .left-banner-top{
            width: 24.55%;
            margin-right: 0.6%;
            img{
                width: 100%;
            }
            a{
                display: block;
            }
        }
        .right-banner-top{
            width: 24.55%;
            .top-right-banner{
                margin-bottom: 15px;
                img{
                    width: 100%;
                }
            }
            .bottom-right-banner{
                img{
                    width: 100%;
                }
            }
            a{
                display: block;
            }
        }
    }

    .bottom-banner-homepage{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        max-width: $maxWidth-content;
        padding: $padding-content;
        margin-top: 45px;
        .left-bottom-banner-homepage{
            width: 32.93333%;
            margin-right: 0.6%;
            .top-bottom-banner-homepage{
                margin-bottom: 10px;
                img{
                    width: 100%;
                }
            }
            .sub-bottom-banner{
                img{
                    width: 100%;
                }
            }
        }
        .right-bottom-banner-homepage{
            width: 66.46667%;
            img{
                width: 100%;
            }
        }
    }
}

.product-television-homepage{
    background: #fff;
}
.container-product-television{
    display: flex;
    flex-wrap: wrap;
    max-width: $maxWidth-content;
    margin: auto;
    padding: 55px 20px 0px;
    .banner-product-television{
        width: $width-slider-5;
    }
    .container-product{
        width: 83.33333%;
        padding: 0px 10px;
        overflow: hidden;
        position: relative;
        #product-category{
            .slick-prev{
                padding: 0px;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
                border: solid 1px $background-border;
                background: $background-white-content;
                &:hover{
                    background: $color-black-product;
                    opacity: 1;
                    &:before, &:after{
                        background-color: $background-white-content;
                        opacity: 1;
                    }
                }
                &:before{
                    background-image: none;
                    margin-top: -4px;
                    transform: rotate(-45deg);
                    transition: color .2s ease-out;
                    content: '';
                    position: absolute;
                    left: 34%;
                    top: 52%;
                    width: 10px;
                    height: 2px;
                    background-color: $background-buttom;
                    border-radius: 1px;
                    transform-origin: 50% 50%;
                }
                &:after{
                    margin-top: 2px;
                    transform: rotate(45deg);
                    transition: color .2s ease-out;
                    content: '';
                    position: absolute;
                    left: 34%;
                    top: 52%;
                    width: 10px;
                    height: 2px;
                    background-color: $background-buttom;
                    border-radius: 1px;
                    transform-origin: 50% 50%;
                }
            }
            .slick-next{
                padding: 0px;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
                border: solid 1px $background-border;
                background: #fff;
                &:hover{
                    background: $color-black-product;
                    opacity: 1;
                    &:before, &:after{
                        background-color: $background-white-content;
                        opacity: 1;
                    }
                }
                &:before{
                    background-image: none;
                    margin-top: -4px;
                    transform: rotate(45deg);
                    transition: color .2s ease-out;
                    content: '';
                    position: absolute;
                    left: 34%;
                    top: 52%;
                    width: 10px;
                    height: 2px;
                    background-color: $background-buttom;
                    border-radius: 1px;
                    transform-origin: 50% 50%;
                }
                &:after{
                    margin-top: 2px;
                    transform: rotate(-45deg);
                    transition: color .2s ease-out;
                    content: '';
                    position: absolute;
                    left: 34%;
                    top: 52%;
                    width: 10px;
                    height: 2px;
                    background-color: $background-buttom;
                    border-radius: 1px;
                    transform-origin: 50% 50%;
                }
            }
        }
        .slick-list.draggable{
            overflow: unset;
        }
    }
}

// Banner homepage
//==================================================================================

.banner-brand{
    background: $background-content-homepage;
    overflow: hidden;
    .container-banner-brand{
        max-width: $maxWidth-content;
        padding: $padding-content;
        margin: 30px auto;
        display: flex;
        flex-wrap: wrap;
    }
    .img-banner-brand{
        width: 32.66667%;
        margin-right: 1%;
        &:last-child{
            margin-right: 0px;
        }
        img{
            width: 100%;
        }
    }
    @include breakpointMax($width--mobile-small){
        .img-banner-brand{
            width: 100%;
            margin-right: 0px;
            margin-bottom: .82483em;
        }
    }
}


//Trending Products
//==========================================================================

#product-trending-products{
    background: #fff;
    overflow: hidden;
}
.main-trending-products{
    .header-trending-products{
        padding-bottom: 40px;
        h2{
            font-size: 28px;
            color: $color-heading;
            font-weight: 700;
            text-align: center;
            font-family: $font-family-home;
            line-height: 46px;
        }
        @include breakpointMax($modal-width-huge){
            h2{
                font-size: 34px;
            }
        }
    }
    .container-trending-products{
        max-width: $maxWidth-content;
        padding: $padding-content;
        margin: auto;
    }
    .fresh-arrivals.swiper-container{
        padding-bottom: 20px;
    }
    .productGrid{
        padding: 0px;
        overflow: hidden;
        .slick-list.draggable{
            overflow: unset;
        }
        .productCarousel{
            padding: 20px 10px 0px;
        }
        .slick-prev{
            padding: 0px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
            border: solid 1px $background-border;
            background: $background-white-content;
            &:hover{
                background: $color-black-product;
                opacity: 1;
                &:before, &:after{
                    background-color: $background-white-content;
                    opacity: 1;
                }
            }
            &:before{
                background-image: none;
                margin-top: -4px;
                transform: rotate(-45deg);
                transition: color .2s ease-out;
                content: '';
                position: absolute;
                left: 34%;
                top: 52%;
                width: 10px;
                height: 2px;
                background-color: $background-buttom;
                border-radius: 1px;
                transform-origin: 50% 50%;
            }
            &:after{
                margin-top: 2px;
                transform: rotate(45deg);
                transition: color .2s ease-out;
                content: '';
                position: absolute;
                left: 34%;
                top: 52%;
                width: 10px;
                height: 2px;
                background-color: $background-buttom;
                border-radius: 1px;
                transform-origin: 50% 50%;
            }
        }
        .slick-next{
            padding: 0px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
            border: solid 1px $background-border;
            background: #fff;
            &:hover{
                background: $color-black-product;
                opacity: 1;
                &:before, &:after{
                    background-color: $background-white-content;
                    opacity: 1;
                }
            }
            &:before{
                background-image: none;
                margin-top: -4px;
                transform: rotate(45deg);
                transition: color .2s ease-out;
                content: '';
                position: absolute;
                left: 34%;
                top: 52%;
                width: 10px;
                height: 2px;
                background-color: $background-buttom;
                border-radius: 1px;
                transform-origin: 50% 50%;
            }
            &:after{
                margin-top: 2px;
                transform: rotate(-45deg);
                transition: color .2s ease-out;
                content: '';
                position: absolute;
                left: 34%;
                top: 52%;
                width: 10px;
                height: 2px;
                background-color: $background-buttom;
                border-radius: 1px;
                transform-origin: 50% 50%;
            }
        }
    }
    @include breakpointMax($width--tablet){
        .header-trending-products{
            h2{
                font-size: 24px;
                margin: 0px;
            }
        }
    }
    @include breakpointMax($width--mobile){
        .header-trending-products{
            h2{
                font-size: 17px;
                margin: 0px;
            }
        }
    }
}


// Hover Product and Product
//============================================================

.product, .productCarousel-slide{
    overflow: unset;
    .card{
        position: relative;
        &:hover{
            box-shadow: 0 5px 17px 0 rgba(23,84,116,.18);
        }
        padding: 10px;
        .sku{
            .productView-info{
                margin-bottom: 15px;
                text-align: center;
            }
            dt, dd{
                font-weight: 400;
            }
        }
        .card-title{
            margin-bottom: 15px;
            a{
                font-weight: 700;
                font-family: $font-family-home;
                font-size: 14px;
                line-height: 1.75053;
                color: $color-black-product;
                &:hover{
                    color: $color-price;
                    text-decoration: underline;
                }
            }
        }
        .card-text{
            .price,.color-sale{
                font-size: 20px;
                font-family: $font-family-home;
                color: $color-price;
                font-weight: 700;
                margin-right: 10px;
            }
            .price--non-sale{
                color: #7e7e7e;
                font-weight: 400;
                font-size: 18px;
            }
        }
    }
    @include breakpointMax($width--mobile){
        .card{
            .card-title{
                a{
                    font-size: 10px;
                    line-height: 2.06271;
                }
            }
            .card-text{
                .price,.color-sale{
                    font-size: 19px;
                }
            }
        }
    }
}

.page-content{
    max-width: 1500px;
    margin: auto;
    float: none;
}

.login{
    margin-top: 0px;
}

.login-form.form{
    margin-top: 13px;
}
.new-customer{
    .panel-title{
        font-size: 18px;
    }
}

// Best Seller
//============================================================================

#top-seller{
    overflow: hidden;
    background: #fff;
    .container-top-seller{
        max-width: $maxWidth-content;
        padding: $padding-content;
        margin: auto;
    }
    .page-heading{
        font-size: 28px;
        color: $color-heading;
        font-weight: 700;
        text-align: center;
        font-family: $font-family-home;
        line-height: 46px;
        padding-top: 30px;
        margin-bottom: 40px;
        @include breakpointMax($modal-width-huge){
            font-size: 34px;
        }
    }
    .productCarousel{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 60px;
        .productCarousel-slide{
            width: 24.625%;
            margin-right: .5%;
            padding: 0px;
            &:nth-child(4){
                margin-right: 0px;
            }
            &:nth-child(5){
                display: none;
            }
        }
    }
    @include breakpointMax($modal-width-huge){
        .productCarousel{
            .productCarousel-slide{
                width: 33%;
                margin-right: .5%;
                &:nth-child(3){
                    margin-right: 0px;
                }
            }
        }
    }
    @include breakpointMax($width--tablet){
        .page-heading{
            font-size: 24px;
        }
    }
    @include breakpointMax($width--mobile){
        .productCarousel{
            .productCarousel-slide{
                width: 49.75%;
                &:nth-child(even){
                    margin-right: 0px;
                }
                &:nth-child(3){
                    margin-right: .5%;
                }
            }
        }
        .page-heading{
            font-size: 17px;
            line-height: 34px;
        }
    }
}


@media (max-width: 992px) {
    .container-slider-banner-homepage{
        .top-banner-slider{
            .right-banner-top{
                .top-right-banner{
                    margin-bottom: 8px;
                }
            }
        }
        .bottom-banner-homepage{
            margin-top: 30px;
            .left-bottom-banner-homepage{
                .top-bottom-banner-homepage{
                    margin-bottom: 6px;
                }
            }
        }
    }

    .product-television-homepage{
        .banner-product-television{
            width: 25%;
        }
        .container-product{
            width: 75%;
        }
    }
}

@media (max-width: 768px) {
    .container-slider-banner-homepage{
        .top-banner-slider{
            .slider-top-homepage{
                width: 100%;
                margin: 0px;
                margin-bottom: 20px;
            }
            .left-banner-top{
                width: 49%;
                margin-right: 1%;
            }
            .right-banner-top{
                width: 49%;
                margin-left: 1%;
                .top-right-banner{
                    margin-bottom: 13px;
                }
            }
        }
        .bottom-banner-homepage{
            margin-top: 20px;
            .left-bottom-banner-homepage{
                width: 100%;
                margin-right: 0px;
                .top-bottom-banner-homepage{
                    margin-bottom: 20px;
                }
                .sub-bottom-banner{
                    margin-bottom: 20px;
                }
            }
            .right-bottom-banner-homepage{
                width: 100%;
            }
        }
    }
}

@media (max-width: 550px) {

    .container-slider-banner-homepage{
        .top-banner-slider{
            .slider-top-homepage{
                margin-bottom: 15px;
            }
            .left-banner-top{
                width: 100%;
                margin-bottom: 15px;
                margin-right: 0px;
            }
            .right-banner-top{
                width: 100%;
                margin: 0px;
                .top-right-banner{
                    width: 100%;
                    margin-bottom: 15px;
                }
                .bottom-right-banner{
                    width: 100%;
                }
            }
        }
        .bottom-banner-homepage{
            margin-top: 15px;
            .left-bottom-banner-homepage{
                .top-bottom-banner-homepage{
                    margin-bottom: 15px;
                }
                .sub-bottom-banner{
                    margin-bottom: 15px;
                }
            }
        }
    }



    .product-television-homepage{
        .banner-product-television{
            width: 100%;
            text-align: center;
            margin-bottom: 40px;
            img{
                width: 100%;
                max-width: 320px;
            }
        }
        .container-product{
            width: 100%;
        }
    }
}

// focus
//==============================================================


a:focus, input:focus, button:focus, article:focus, select:focus, textarea:focus, li:focus{
    outline: -webkit-focus-ring-color auto 5px !important;
    color: #23527c;
}

.body-active-header{
    transform: translateY(-153px);
}
