a, p, h1, h2, h3, h4, h5, h6, span, input, dt, dd, th, td, button{
  font-family: $font-family-home !important;
}

// Product review
//==============================================================

.pages-product {
  #main-product-page {
    max-width: $maxWidth-content;
    margin: auto;
    padding: $padding-content;
    .breadcrumbs {
      text-align: left;
      padding: 0px;
      a {
        font-family: $font-family-home;
        font-weight: 700;
      }
    }
    .productView {
      max-width: 100%;
      .button-slider {
        display: none;
      }
    }
    .product-details {
      margin-top: 0px;
      padding: 0px 0px 0px 60px;
      @include breakpointMax($width--mobile){
        padding-left: 0px;
        margin-top: 40px;
      }
      .productView-title {
        font-size: 22px;
        line-height: 22px;
        font-weight: 700;
        font-family: $font-family-home;
        margin-bottom: 15px;
        text-align: left;
      }
      .productView-price {
        color: $color-price;
        font-size: 24px;
        font-family: $font-family-home;
        margin-bottom: 15px;
        width: 100%;
        display: block;
        .price{
          float: left;
        }
      }
      .productView-rating {
        .color {
          color: $color-star;
          -webkit-text-stroke-color: $color-star;
          -webkit-text-stroke-width: 1px;
        }
        i {
          font-size: 12px;
          -webkit-text-stroke-color: $color-star;
          -webkit-text-stroke-width: 1px;
          color: #fff;
        }
      }
      .productView-reviewLink {
        a {
          color: #000;
          font-family: $font-family-home;
          text-decoration: none;
          text-transform: capitalize;
        }
      }
      .sku{
        text-align: left;
        padding-top: 20px;
        dt, dd{
          font-size: 14px;
          color: #000;
          font-weight: 400;
        }
      }
    }
    @include breakpointMax($width--tablet){
      .product-details{
        width: 50%;
        padding-left: 30px;
      }
      .productView-images{
        width: 50%;
      }
    }
    @include breakpointMax($width--mobile){
      .product-details{
        width: 100%;
        padding-left: 0px;
      }
      .productView-images{
        width: 100%;
      }
      .form-action{
        width: 100%;
      }
    }
    .productView-product{
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 20px;
    }
    .form-action-product-view{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 30px 0px;
      border-bottom: 1px solid #e5e5e5;
      form{
        width: 40%;
        margin-right: 2%;
        #form-action-addToCart{
          height: 50px;
          padding: 0px;
          margin: 0px;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 600;
          font-family: $font-family-home;
          background: #333;
          &:hover{
            background: $background-buttom-active;
            border: 1px solid $background-buttom-active;
          }
        }
        .out-of-stock{
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 600;
          font-family: $font-family-home;
          height: 50px;
          margin: 0px;
          border-radius: 4px;
          padding: 0px;
        }
        .form-action{
          margin: 0px;
        }
      }
      .buy-now{
        width: 40%;
        margin-left: 2%;
        a{
          background: $background-buttom-active;
          display: block;
          height: 50px;
          line-height: 50px;
          text-align: center;
          border-radius: 4px;
          text-transform: uppercase;
          color: $background-white-content;
          text-decoration: none;
          font-family: $font-family-home;
          font-weight: 600;
          &:hover{
            background: #333;
          }
        }
        img{
          margin-right: 10px;
        }
      }
      .wishlist-sku{
        width: 16%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px;
        span{
          padding:0px;
        }
       i{
         font-size: 20px;
         color: #fff;
         -webkit-text-stroke-color: $color-star;
         -webkit-text-stroke-width: 2px;
         &:hover{
           color: $color-star;
         }
       }
      }

    }

    .content-description-product{
      width: 100vw;
      margin-left: calc(-50vw + 50%);
      position: relative;
      background: #f7f7f7;
    }
    .container-description-product{
      max-width: $maxWidth-content;
      margin: auto;
      padding: $padding-content;
      .tabs{
        border-bottom: 1px solid #dcdcdc;
        a{
          padding: 25px;
        }
        .is-active{
          border-bottom: 2px solid red;
        }
        @include breakpointMax($width--mobile-small){
          a{
            padding: 20px 10px;
            font-size: 12px;
          }
        }
      }
      .tabs-contents-product{
        display: block !important;
        padding: 0px 25px;
        @include breakpointMax($width--mobile){
          padding: 0px 10px;
        }
      }
      .toggle{
        border: 0px;
        margin-bottom: 25px;
      }
      .productReview{
        width: 100%;
        margin-bottom: 20px;
        .color {
          color: $color-star;
          -webkit-text-stroke-color: $color-star;
          -webkit-text-stroke-width: 1px;
        }
        i {
          font-size: 12px;
          -webkit-text-stroke-color: $color-star;
          -webkit-text-stroke-width: 1px;
          color: #fff;
        }
        .show-read-more{
          display: none;
          width: auto;
          height: 40px;
          line-height: 40px;
          border-radius: 25px;
          margin-bottom: 20px;
          color: #e30713;
          font-weight: 400;
          .hide-text-review{
            display: none;
          }
          .active-hide-text-review{
            display: block !important;
          }
          .active-show-text-review{
            display: none;
          }
        }
        .active-read-more{
          display: block;
        }
      }
      .productReview-body{
        max-height: 84px;
        overflow: hidden;
        margin-bottom: 0px;
      }
      .show-text-review{
        max-height: 100%;
      }
      .toggle-title{
        margin-top: 0px;
      }
      .productView-reviewLink{
        a{
          width: 200px;
          text-align: center;
          background: $background-buttom-active;
          height: 50px;
          line-height: 50px;
          border-radius: 25px;
          display: block;
          color: $background-white-content;
          text-decoration: none;
          font-weight: 600;
        }
      }
    }
    .product-page-wear{
        margin-top: 100px;
      .heading-product-page-wear{
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        margin: 0px 0px 30px 0px;
      }
      .slick-list{
        overflow: unset;
        padding: 20px 0px;
      }
      @include breakpointMax($width--tablet){
        margin-top: 40px;
        .heading-product-page-wear{
          font-size: 24px;
        }
      }
    }
  }
  .pagination{
    li:nth-child(1){
      display: none;
    }
    img{
      height: 11px !important;
    }
  }
}

.container-description-product{
  display: flex;
  flex-wrap: wrap;
  max-width: $maxWidth-content;
  margin: auto;
  padding: $padding-content;
  .tabs-product{
    width: 100%;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dcdcdc;
    .tab-sub{
      list-style: none;
      margin-bottom: -1px;
    }
    .tab-title{
      padding: 20px;
      @include breakpointMax($width--mobile-small){
        padding: 20px 6px;
        font-size: 14px;
      }
    }
    .active{
      border-bottom: 2px solid red;
    }
  }
  .main-show-tabs{
    width: 100%;
    padding: 40px 20px;
  }
}


.slider-product-view{
  .slider-product-left{
    width: calc(100% - 100px - 30px);
    margin: 0;
    float: right;
    border: 2px solid #f7f7f7;
    .sale-badge{
      position: absolute;
      top: 10px;
      left: 10px;
      background: #fd6042;
      color: $background-white-content;
      font-size: 12px;
      font-weight: 700;
      width: 40px;
      text-align: center;
      border-radius: 10px;
    }
  }
  .productView-thumbnails-right{
    width: 100px;
    margin-right: 30px;
    float: left;
    .slick-prev{
      top: 30px;
      left: calc(50% - 17.5px);
      transform: rotate(90deg);
      width: 30px;
      height: 30px;
      &:after, &:before{
        left: 30%;
        top: 50%;
      }
    }
    .slick-next{
      bottom: 0px;
      left: calc(50% - 17.5px);
      transform: rotate(90deg);
      top: auto;
      width: 30px;
      height: 30px;
      &:after, &:before{
        left: 32%;
        top: 50%;
      }
    }
    .slick-slide{
      img{
        margin: auto;
      }
    }
  }

  @include breakpointMax($width--tablet){
    display: flex;
    flex-wrap: wrap;
    .slider-product-left{
      width: 100%;
      order: 1;
      margin-bottom: 20px;
    }
    .productView-thumbnails-right{
      width: 100%;
      order: 2;
      margin: 0px;
      .slick-prev{
        left: 0px;
        top: calc(50% - 17.5px);
        transform: rotate(0deg);
        margin-top: 0px;
      }
      .slick-next{
        right: 0px;
        bottom: calc(50% - 17.5px);
        transform: rotate(0deg);
        top: auto;
        left: auto;
      }
    }
  }
}

.slick-prev{
  padding: 0px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  border: solid 1px $background-border;
  background: $background-white-content;
  &:hover{
    background: $color-black-product;
    opacity: 1;
    &:before, &:after{
      background-color: $background-white-content;
      opacity: 1;
    }
  }
  &:before{
    background-image: none;
    margin-top: -4px;
    transform: rotate(-45deg);
    transition: color .2s ease-out;
    content: '';
    position: absolute;
    left: 34%;
    top: 52%;
    width: 10px;
    height: 2px;
    background-color: $background-buttom;
    border-radius: 1px;
    transform-origin: 50% 50%;
  }
  &:after{
    margin-top: 2px;
    transform: rotate(45deg);
    transition: color .2s ease-out;
    content: '';
    position: absolute;
    left: 34%;
    top: 52%;
    width: 10px;
    height: 2px;
    background-color: $background-buttom;
    border-radius: 1px;
    transform-origin: 50% 50%;
  }
}

.slick-next{
  padding: 0px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  border: solid 1px $background-border;
  background: #fff;
  &:hover{
    background: $color-black-product;
    opacity: 1;
    &:before, &:after{
      background-color: $background-white-content;
      opacity: 1;
    }
  }
  &:before{
    background-image: none;
    margin-top: -4px;
    transform: rotate(45deg);
    transition: color .2s ease-out;
    content: '';
    position: absolute;
    left: 34%;
    top: 52%;
    width: 10px;
    height: 2px;
    background-color: $background-buttom;
    border-radius: 1px;
    transform-origin: 50% 50%;
  }
  &:after{
    margin-top: 2px;
    transform: rotate(-45deg);
    transition: color .2s ease-out;
    content: '';
    position: absolute;
    left: 34%;
    top: 52%;
    width: 10px;
    height: 2px;
    background-color: $background-buttom;
    border-radius: 1px;
    transform-origin: 50% 50%;
  }
}

.product-recently-viewed{
  padding: 60px 0px 40px;

  .heading-product-page-recently-viewed{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin: 0px 0px 30px 0px;
    @include breakpointMax($width--tablet){
      font-size: 24px;
      line-height: 28px;
    }
  }
  .productCarousel{
    overflow: hidden;
    padding: 20px 0px;
  }
  .slick-list.draggable{
    overflow: unset;
  }
  @include breakpointMax($width--tablet){
    padding-bottom: 0px;
    .productCarousel{
      padding-bottom: 0px;
    }
  }
}

#modal-review-form{
  .form-field{
    position: relative;
  }
}

.slick-initialized {
  .slick-slide{
    position: relative;
  }
}

.form-minMaxRow{
  .form-field{
    margin-bottom: 10px;
  }
  .form-inlineMessage{
    position: static;
    margin-bottom: 10px;
  }
}


.quickSearchResultsWrap{
  position: absolute;
  top: 100%;
  background: #fff;
  width: calc(100% - 90px);
  left: 50%;
  box-shadow: 0 4px 10px rgba(60, 64, 62, 0.2);
  z-index: 99;
  transform: translate(-50%);
  display: none;
  @include breakpointMax($modal-width-huge){
    width: calc(100% - 33px);
    left: 23px;
    transform: unset;
  }
  @include breakpointMax($width--tablet){
    width: calc(100% - 40px);
    left: 50%;
    transform: translate(-50%);
  }
  .heading-product-search{
    padding: 0px 20px;
    font-weight: 700;
  }
  .product{
    .card{
      margin-bottom: 0px;
    }
  }
  .link_search_page{
    font-size: 16px;
    padding: 0px 20px;
    margin: 20px 0px;
    color: #000;
  }
  .productGrid{
    padding-top: 10px;
  }
  @include breakpointMax($width--mobile){
    width: calc(100% - 40px);
    .productGrid{
      max-height: 250px;
      overflow-y: scroll;
      padding: 10px;
      .sku{
        .productView-info{
          text-align: left !important;
        }
      }
    }

  }
}
.quickSearchResultsWrap.show_menu_search{
  display: block;
}


.card--alternate:hover{
  .card-body{
    background: none;
  }
}

.card--alternate:hover{
  border: 0px;
}

.productGrid{
  .product{
    position: relative;
  }
}
