#isp_left_container_facets .isp_search_res_facets_container .isp_single_facet_wrapper .isp_facet_title{
  font-weight: 100!important;
  margin-bottom: 13px!important;
}
body:not(.returns-page) .page-content.page-content--centered{
  @media (min-width: 768px){
  max-width: 1440px!important;
  margin: 0 auto!important;
  padding: 36px 88px 0!important;
  }
}
#isp_left_container_facets .isp_search_res_facets_container .isp_facet_value a{
  margin-bottom: 5px!important;
}
li.isp_grid_product:hover form.isp_add_to_cart_form,
#isp_search_result_page_container .isp_center_container_header div.isp_sorting_and_result_view_wrapper{
  display: none!important;
}
#isp_favorite_bar button, #isp_favorite_bar button[disabled], #isp_search_results_container button{
  display: none!important;
}
li.isp_grid_product div.isp_product_image_wrapper{
  @media (min-width: 768px){
  height: 327px!important;
  }
}
div.isp_center_container ul#isp_search_results_container li.isp_grid_product, ul#isp_quick_view_content_lookalike li.isp_grid_product{
  border: none!important;
  box-shadow: none!important;
  -webkit-box-shadow: none!important;
  background-image: none!important;
  height: auto!important;
}
.isp_single_facet_wrapper .isp_facet_title .isp_facet_title_name{
  font-weight: 400!important;
}
#isp_search_result_page_container span.isp_product_price.money{
  color: #1c1f2a!important;
  font-family: "Open Sans"!important;
  font-size: 13px!important;
  font-weight: 600!important;
}
li.isp_grid_product div.isp_product_info .isp_product_title{
  font-family: Montserrat,Arial,Helvetica,sans-serif!important;
}
li.isp_grid_product div.isp_product_info .isp_product_price_wrapper{
font-size: inherit!important;
}
#isp_search_results_container li.isp_grid_product a.isp_product_quick_view_button, a.isp_product_look_a_like_button{
  display: none!important;
}
@media (max-width: 559px){
  div.isp_center_container ul#isp_search_results_container li.isp_grid_product, ul#isp_quick_view_content_lookalike li.isp_grid_product{
    width: 49%;
  }
}
