body {
	#ui-id-1.ui-autocomplete,
	#ui-id-2.ui-autocomplete,
	#ui-id-3.ui-autocomplete {
		width: 100% !important;
		max-width: 1440px;
		box-sizing: border-box;
		top: 115px !important;
		left: 0 !important;
		right: 0;
		margin: auto;
		border-color: #e8e8e8 !important;
		position: fixed;
		max-height: initial !important;
		transition: top .7s;
	}
	#ui-id-2.ui-autocomplete {
		top: 46px !important;
	}
}
#ui-id-1,
#ui-id-2,
#ui-id-3 {
	.ui-menu-item-container {
		display: flex !important;
		max-width: 100% !important;
		width: 100% !important;
		padding-left: 0 !important;
		padding: 0;
		position: relative;
		&:after {
			// content: "";
			// border-right: 1px solid #e4e4e4;
			// max-height: 330px !important;
			// height: 74% !important;
			// width: 20px;
			// margin-left: -20px;
			// display: block;
			// position: absolute;
			// right: 0;
			// top: 50px;
			// background-color: #fff;
		}
		.isp_section_products {
			width: 75% !important;
			margin: 0 !important;
			padding: 50px 35px 35px 50px !important;
			.isp_section_products {
				display: none;
			}

			& + .isp_section_searches {
				width: 25% !important;
				float: right;
				padding: 50px 35px !important;

				.isp_section_header {
					font-family: "DomaineDispNar" !important;
					font-size: 25px !important;
					color: #000000 !important;
					text-transform: capitalize !important;
					font-weight: normal !important;
					margin: 20px 0 30px !important;
				}

				li {
					padding: 0 !important;
					width: 100% !important;
					margin-right: 0 !important;
					margin-left: 0 !important;

					&.ui-menu-item {
						margin: 20px 0 !important;
					}

					a {
						font-family: "Open Sans" !important;
						font-size: 12px !important;
						font-weight: normal !important;
						font-style: normal !important;
						line-height: 3 !important;
						letter-spacing: 2px !important;
						color: #1c1f2a !important;
						text-transform: uppercase !important;

						.as_icon {
							padding: 0 !important;
							margin-left: 0 !important;
							max-width: 100% !important;
						}

						.as_img_container_popular_search, img {
							display: none !important;
						}
					}
				}
			}
		}
		.ui-menu-item {
			width: calc((100% - 30px) / 4);
			margin-right: 10px;
			margin-top: 0 !important;
			height: auto !important;
			&:hover {
				background-color: transparent;
			}
			&:last-child {
				margin-right: 0;
			}
			.as_magento_suggest {
				padding: 0 !important;
				.as_img_container {
					min-height: initial !important;
					height: auto !important;
					max-height: 330px !important;
					max-width: initial !important;
					width: 100% !important;
					img {
						height: auto !important;
						max-height: 330px !important;
						max-width: initial !important;
						width: 100% !important;
					}
				}
				.as_magento_product_section {
					padding-left: 0;
					font-family: "Open Sans", sans-serif;
					font-size: 13px;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.23;
					letter-spacing: normal;
					color: #1c1f2a;
					padding-top: 10px;
					.as_magento_product_name {
						text-transform: uppercase;
					}
				}
			}
		}
	}
	#acp_footer_acp {
		width: 100% !important;
		max-width: 1440px !important;
		margin: 0 auto;
		padding: 7px 50px !important;
		background: #fff;
		padding-right: 50px !important;
		border-top: 1px solid #e8e8e8;
		>div {
			background-color: transparent !important;
			padding: 0 !important;
		}
	}
	#acp_footer_all {
		font-family: "Open Sans", sans-serif;
		font-size: 12px;
		font-weight: 600;
		font-style: normal;
		font-stretch: normal;
		line-height: 3;
		letter-spacing: 2px;
		color: #1c1f2a;
		text-transform: uppercase;
	}
}

@media screen and (max-width: 1024px) {
	body {
		#ui-id-1.ui-autocomplete,
		#ui-id-2.ui-autocomplete,
		#ui-id-3.ui-autocomplete {
			top: 95px !important;
			border-width: 1px 0 1px 0 !important;
		}

		&.sticky-header {
			#ui-id-1.ui-autocomplete,
			#ui-id-2.ui-autocomplete,
			#ui-id-3.ui-autocomplete {
				top: 50px !important;
			}
		}
	}
	#ui-id-1,
	#ui-id-2,
	#ui-id-3 {
		.ui-menu-item-container {
			max-width: 100% !important;
			display: block !important;
			&:after {
				display: none;
			}
			.ui-menu-item {
				width: calc((100% - 21px) / 3);
				&:nth-child(4) {
					margin-right: 0;
				}
				&:nth-child(n+5) {
					display: none;
				}
			}
			.isp_section_products {
				width: 100% !important;
				padding-top: 0 !important;
				padding: 0 40px 35px !important;
				float: none !important;
				
				.isp_section_products {
					display: block;
					font-size: 30px !important;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 2.2;
					letter-spacing: normal;
					color: #000000;
					padding: 0 !important;
					float: none;
					visibility: visible !important;
					font-family: "DomaineDispNar";
					text-transform: capitalize;
				}

				& + .isp_section_searches {
					width: 100% !important;
					padding: 25px 35px !important;
					float: none !important;
					border-top: 1px solid #e8e8e8;

					.isp_section_header {
						margin: 0 !important;
						font-size: 30px !important;
					}

					li {
						&.ui-menu-item {
							padding-left: 13px !important;
						}
	
						a {
							font-size: 12px !important;
						}
					}
				}
			}
		}
		#acp_footer_acp {
			padding: 7px 40px !important;
		}
	}
}

@media screen and (max-width: 768px) {
	#ui-id-1,
	#ui-id-2,
	#ui-id-3 {
		.ui-menu-item-container {
			.isp_section_products {
				padding: 0 20px 20px !important;
				.isp_section_products {
					font-family: "Open Sans", sans-serif;
					font-size: 15px !important;
					line-height: 3.4;
					color: #1c1f2a;
					margin-left: -20px !important;
					margin-right: -20px !important;
					width: calc(100% + 40px) !important;
					padding: 0 20px !important;
					border-bottom: 1px solid #e8e8e8;
					margin-bottom: 15px !important;
					text-transform: uppercase;
				}

				& + .isp_section_searches {
					padding: 20px 20px 0 20px !important;

					.isp_section_header {
						font-family: "Open Sans", sans-serif !important;
						font-size: 15px !important;
						text-transform: uppercase !important;
						color: #1c1f2a;
					}
				}

			}
			.ui-menu-item {
				width: 100%;
				margin-right: 0 !important;
				margin-bottom: 10px;
				&:nth-child(n+4) {
					margin-bottom: 0 !important;
				}
				.as_magento_suggest {
					overflow: hidden;
					.as_img_container {
						float: left !important;
						width: 90px !important;
						margin-right: 10px;
						max-height: 150px !important;
					}
				}
			}
		}
		#acp_footer_acp {
			padding: 7px 20px !important;
		}
	}
}

#quickSearch-mobile {
	width: 100%;
	padding-right: 30px;
	background-color: #fff;

	input[data-search-quick] {	
		border: 0;
		border-bottom: 1px solid #000;
		border-radius: 0;
		height: 37px;
		padding-left: 10px;
	}
}

.navPages-quickSearch {
	@media (min-width: 769px) {
		height: 0;
	}

	input[data-search-quick] {	
		border: 0;
		border-bottom: 1px solid #000;
		border-radius: 0;
	}
}

@media (min-width: 992px){
	#quickSearch-mobile{
		display: none!important;
	}
}
