// =============================================================================
// BODY (CSS)
//
// 1. Header is fixed on small screens, use the content body to create the whitespace
//    between it and the header on all situations. If you change the spacing here,
//    please update .heroCarousel too.
//
// =============================================================================


.body {

    margin-top: 0;
}


.page {
   max-width: none;
    width: auto;
    padding: 0 20px;
    overflow:hidden;
}

.page-content,
.page-content--full {
    @include grid-column(12);
}

.page-content--centered {

    @include breakpoint("medium") {
        @include grid-column(
            $columns: 8,
            $center: true
        );
    }
}

.page-content--textCenter {
    text-align: center;
}

.page-sidebar {
    @include breakpointMax($width--tablet){
        //display: none;
    }
    @include grid-column(12);
    position: relative;
    padding: 0;

    @include breakpoint("medium") {
        @include grid-column(3);
        padding: 0;
        + .page-content {
            @include grid-column(9);
        }
    }
}
