{{#partial "page"}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <h2 class="page-heading">{{lang 'account.addresses.heading' }}</h2>
    {{> components/account/navigation account_page='addresses'}}
	<div class="page-address">
	    <div class="account account--fixedLarge">
	        <div class="account-body">
	            {{> components/account/address-list }}
	        </div>
	    </div>
    </div>
{{/partial}}
{{> layout/base}}
