{{#partial "page"}}
{{#if settings.show_wishlist}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <div class="account account--fixedLarge">

        <h2 class="page-heading">{{lang 'account.wishlists.heading' }}</h2>
        {{> components/account/navigation account_page='wishlists'}}
        {{> components/account/wishlist-list}}
    </div>
{{/if}}
{{/partial}}
{{> layout/base}}
