<div class="facetedSearch-refineFilters sidebarBlock">
    <h5 class="sidebarBlock-heading">
        {{lang 'search.faceted.selected.title'}}
    </h5>

    {{#if this.items}}
        <ul class="inlineList inlineList--labels">
            {{#each this.items}}
                <li>
                    <a
                        href="{{ url }}"
                        class="facetLabel"
                        rel="nofollow"
                        data-faceted-search-facet>
                        {{#if facet '===' 'rating'}}
                            {{lang 'search.faceted.selected.rating-label' rating=title}}
                        {{else}}
                            {{ title }}
                        {{/if}}

                        <svg class="icon">
                            <use xlink:href="#icon-close" />
                        </svg>
                    </a>
                </li>
            {{/each}}
        </ul>
    {{else}}
        {{lang 'search.faceted.selected.no-filters'}}
    {{/if}}

        {{#if remove_all_url}}
            <a class="trigger-remove" href="{{ remove_all_url }}" data-faceted-search-facet>
                {{lang 'search.faceted.selected.clear-all'}}
            </a>
        {{/if}}
</div>
