{{#if product_results.products}}
<div class="quick_search_product">
    <a class="modal-close" aria-label="{{lang 'common.close'}}" data-drop-down-close role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <h4 class="heading-product-search">Products</h4>
    <ul class="productGrid">

        {{#each product_results.products}}
        {{#if @index '<=' 3 }}
        <li class="product">
            {{> components/products/card alternate=true show_compare=../show_compare theme_settings=../theme_settings customer=../customer}}
        </li>
        {{/if}}
        {{/each}}
    </ul>
</div>
<div class="link_search_page">
    <a href="#" data-quick-search-link>{{lang 'search.results.count_search' count=result_count search_query=forms.search.query}}</a>
</div>
{{else}}
    <a class="modal-close" aria-label="{{lang 'common.close'}}" data-drop-down-close role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <p class="quickSearchMessage">
        {{lang 'search.results.quick_count' count=pagination.product_results.total search_query=forms.search.query}}
    </p>
{{/if}}

