<table class="cart" data-cart-quantity="{{cart.quantity}}">
    <thead class="cart-header">
        <tr>
            <th class="cart-header-item cart-item-items">{{lang 'cart.checkout.item'}}</th>
            <!--<th class="cart-header-item cart-size-mobile">size</th>-->
            <th class="cart-header-item cart-header-quantity"><span class="qty-cart-desktop">{{lang 'cart.checkout.quantity'}}</span><span class="qty-cart-mobile">QTY</span></th>
            <th class="cart-header-item cart-item-sub-total">SUBTOTAL</th>
        </tr>
    </thead>
    <tbody class="cart-list">
        {{#each cart.items}}
            <tr class="cart-item" data-item-row data-url="{{this.url}}">
                <td class="cart-item-block cart-item-figure">
                    <div class="cart-item-img-product">
                        {{#if type '==' 'GiftCertificate'}}
                        <img class="cart-item-fixed-image lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn ../../theme_settings.default_image_gift_certificate}}" alt="GiftCertificate" title="GiftCertificate">
                        {{else}}
                        <img class="cart-item-image lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'productthumb_size' (cdn ../../theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
                        {{/if}}
                    </div>

                    <div class="cart-item-list">
                        {{#if brand.name}}
                        <p class="cart-item-brand">{{brand.name}}</p>
                        {{/if}}
                        <h4 class="cart-item-name"><a href="{{url}}">{{name}}</a></h4>
                        {{#if release_date}}
                        <p>({{release_date}})</p>
                        {{/if}}

                        {{#if configurable_fields}}
                        <dl class="definitionList">
                            {{#each configurable_fields}}
                            <dt class="definitionList-key">{{name}}:</dt>
                            <dd class="definitionList-value">
                                {{#if is_file}}
                                <a href="/viewfile.php?prodfield={{../id}}&cartitem={{../../id}}">{{{value}}}</a>
                                {{else}}
                                {{{value}}}
                                {{/if}}
                            </dd>
                            {{/each}}
                        </dl>
                        {{/if}}

                        {{#if options}}
                        <dl class="definitionList">
                            {{#each options}}
                            <div>
                            <dt class="definitionList-key">{{name}}:</dt>
                            <dd class="definitionList-value-{{name}}" data-name="{{{value}}}">
                                {{#if is_file}}
                                <a href="/viewfile.php?attributeId={{../id}}&cartitem={{../../id}}">{{{value}}}</a>
                                {{else}}
                                {{{value}}}
                                {{/if}}
                            </dd>
                            </div>
                            {{/each}}
                        </dl>
                        {{/if}}

                        <!--{{#or options configurable_fields}}
                        <a href="#" data-item-edit="{{id}}">{{lang 'cart.checkout.change'}}</a>
                        {{/or}}

                        {{#if type '==' 'GiftCertificate'}}
                        <a href="{{edit_url}}">{{lang 'cart.checkout.change'}}</a>
                        {{/if}}-->
                        {{> components/cart/item-giftwrap this}}
                        {{#if event_date}}
                        <dl class="cart-item-options">
                            <dt class="cart-item-option-title">
                                {{event_date.name}}
                            </dt>

                            <dd class="cart-item-option-description">
                                {{event_date.date}}
                            </dd>
                        </dl>
                        {{/if}}
                    </div>
                </td>
              <!--  <td class="cart-item-block cart-item-title">


                </td>-->
                <!--<td class="cart-item-block cart-item-info cart-size-item cart-item-size" data-cart-remove="{{this.remove_url}}">
                    &lt;!&ndash;<span class="cart-item-label">{{lang 'cart.checkout.price'}}</span>
                    {{#or ../customer (if ../theme_settings.restrict_to_login '!==' true)}}
                        <span class="cart-item-value {{#if price_discounted}}price&#45;&#45;discounted{{/if}}">{{price.formatted}}</span>
                        {{#if price_discounted}}
                            <span class="cart-item-value">{{price_discounted.formatted}}</span>
                        {{/if}}
                    {{else}}
                        {{> components/common/login-for-pricing}}
                    {{/or}}&ndash;&gt;

                        <div id="{{id}}" class="product-form form-size"></div>
                     <select data-cart-remove="{{id}}">
                    </select>
                </td>-->

                <td class="cart-item-block cart-item-info cart-item-quantity">

                    <label class="form-label cart-item-label" for="qty-{{id}}">QTY</label>
                    <div class="form-increment">
                        {{# if can_modify}}
                            <button class="button button--icon mins-product" data-cart-update data-cart-itemid="{{id}}" data-action="dec" value="{{quantity}}">
                                <span class="is-srOnly">{{lang 'products.quantity_decrease'}}</span>
                                <i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-keyboard-arrow-down" /></svg></i>
                            </button>
                        {{/if}}
                        <input class="form-input form-input--incrementTotal"
                               id="qty-{{id}}"
                               name="qty-{{id}}"
                               type="tel"
                               value="{{quantity}}"
                               data-quantity-min="{{min_purchase_quantity}}"
                               data-quantity-max="{{max_purchase_quantity}}"
                               data-quantity-min-error="{{lang 'products.quantity_min' quantity=min_purchase_quantity}}"
                               data-quantity-max-error="{{lang 'products.quantity_max' quantity=max_purchase_quantity}}"
                               min="1"
                               pattern="[0-9]*"
                               data-card="{{id}}"
                               aria-live="polite"{{#unless can_modify}} disabled{{/unless}}>
                        {{# if can_modify}}
                            <button class="button button--icon plus-product" data-cart-update data-cart-itemid="{{id}}" data-action="inc" value="{{quantity}}">
                                <span class="is-srOnly">{{lang 'products.quantity_increase'}}</span>
                                <i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-keyboard-arrow-up" /></svg></i>
                            </button>
                        {{/if}}
                    </div>

                </td>

                <td class="cart-item-block cart-item-info subtotal-cart-item">
                    <span class="cart-item-label">{{lang 'cart.checkout.total'}}</span>
                    {{#or ../customer (if ../theme_settings.restrict_to_login '!==' true)}}
                        <strong class="cart-item-value {{#if total_discounted}}price--discounted{{/if}}">{{total.formatted}}</strong>
                        {{#if total_discounted}}
                            <strong class="cart-item-value">{{total_discounted.formatted}}</strong>
                        {{/if}}
                    {{else}}
                        {{> components/common/login-for-pricing}}
                    {{/or}}
                    {{# if can_modify}}
                        <a class="cart-remove icon" data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">
                            <img src="https://cdn8.bigcommerce.com/s-ktcfckosli/product_images/uploaded_images/combined-shape-4-.png?t=1540349796&_ga=2.180584231.1273769702.1540284574-240136554.1532062209"/>
                        </a>
                    {{else}}
                        {{#if type '==' 'GiftCertificate'}}
                            <a class="cart-remove icon" data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">
                                <img src="https://cdn8.bigcommerce.com/s-ktcfckosli/product_images/uploaded_images/combined-shape-4-.png?t=1540349796&_ga=2.180584231.1273769702.1540284574-240136554.1532062209"/>
                            </a>
                        {{/if}}
                    {{/if}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>

