// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================


// Container
// -----------------------------------------------------------------------------

.productView {
    padding-top: spacing("base");
}


// Images
// -----------------------------------------------------------------------------

.productView-images {
    margin-bottom: spacing("double");
}

.productView-image {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    cursor: zoom-in;
    position: relative;

    @include breakpoint("medium") {
        min-height: 366px;
        min-width: inherit;
    }

    + .productView-thumbnails {
        margin-top: spacing("half");
    }

    @media (min-width: $screen-xxsmall) and (max-width: $screen-medium) {
        pointer-events: none;
    }
}

.productView-img-container {
    position: relative;
    margin: auto;
    max-width: get-width(stencilString('product_size'));
    width: 100%;

    img {
        @include lazy-loaded-img;
        max-height: 100%;
        width: auto;
    }

    @include lazy-loaded-padding('product_size');
}

.productView-thumbnails {
    @include u-listBullets("none");
    @include grid-row($behavior: "nest");

    margin-left: -(spacing("quarter"));
    margin-right: -(spacing("quarter"));

    .slick-list {
        margin-left: remCalc(40px);
        margin-right: remCalc(40px);
    }

    .slick-next {
        right: 0;
    }

    .slick-prev {
        left: 0;
    }

    img {
        @include lazy-loaded-img;
        max-height: 50px;
        max-width: 50px;
        width: auto;
    }
}

.productView-thumbnail {
    @include grid-column(3);
    padding-left: spacing("quarter");
    padding-right: spacing("quarter");
    text-align: center;

    @include breakpoint("large") {
        width: 20%;
    }
}

.productView-thumbnail-link {
    //display: inline-block;
    // height: 110px;
    max-width: 75px;
    padding: 2px;
    position: relative;
    text-align: center;
    width: 100%;
    cursor: default;
    &:hover,
    &.is-active {
        border-color: color("greys", "darker");
    }
}


// Details
// -----------------------------------------------------------------------------

.productView-details {

}


// Details - Product details
// -----------------------------------------------------------------------------

.productView-product {
    padding:1rem 0 2rem 0;

    > :last-child {
        margin-bottom: 0;
    }
}

.productView-title {
    font-size: 28px;
    margin: -(spacing("half")) 0 spacing("quarter");
    font-family: "DomaineDispNar-Medium";
    color:black;
    font-weight: 500;
    @include breakpoint("large") {
        font-size: 40px;
        margin-bottom: 10px;
        line-height: 40px;
    }
}

.productView-brand {
    color: $productView-brand-link-color;
    font-size: fontSize("smaller");
    margin: 0 0 spacing("half");
    font-family: "Open Sans";
    @include breakpoint("large") {
        font-family: "Open Sans";
        font-size: 16px;
    }

    a {
        #sass{
            text-transform: uppercase;
        }
        color: $productView-brand-link-color;
        text-decoration: none;
        // scss-lint:disable NestingDepth
        &:hover {
            color: $productView-brand-link-color--hover;
        }
    }
}

// Details - Product price
// -----------------------------------------------------------------------------

.productView-price {
    font-family: "Open Sans";
    font-size: 22px;

    .price-section--saving {
        font-size: fontSize("smaller");
    }

    abbr {
        border: 0;
        color: inherit;
        font-size: inherit;
    }
}

.productView-reviewLink {
    display: inline-block;
    margin-left: spacing("half");
    vertical-align: middle;

    + .productView-reviewLink {
        display: block;
        margin-left: auto;

        @include breakpoint("small") {
            display: inline-block;
            margin-left: spacing("half");
        }
    }

    > a {
        color: stencilColor("color-textSecondary");

        // scss-lint:disable NestingDepth
        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
    }
}


// Details - Product Information
// -----------------------------------------------------------------------------

.productView-info {
    @include clearfix;
    margin-top: spacing("half");

    @include breakpoint("small") {
        margin: 0px;
    }

    > :first-child {
        display: inline-block;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.productView-info-name,
.productView-info-value {
    float: none;
    display: inline-block;
  color: #727272;
  font-family: "Open Sans";
  font-size: 10px;
  font-weight: 700;
    @include breakpoint("small") {
        float: none;

    }
}

.productView-info-name {
    clear: both;
    margin-bottom: spacing("eighth");
    margin-right: spacing("quarter");

}

.productView-info-value {
    margin-bottom: spacing("quarter");

    @include breakpoint("small") {
        margin-bottom: spacing("base");
    }
}


// Details - Product options
// -----------------------------------------------------------------------------
//
// 1. Align the product options list item radios vertically.
// 2. Resetting font due to inline-block whitespace issue.
// 3. File upload button does not properly display in IE if font-size is 0
//
// -----------------------------------------------------------------------------

.productView-options {
    @include clearfix;
    margin-bottom: spacing("single");
    text-align: center;

    @include breakpoint("small") {
        text-align: left;
    }

    .form-input[type="number"] {
        @include breakpoint("small") {
            width: grid-calc(2, $total-columns);
        }
    }

    .form {
        display: inline;
    }

    input[type="file"] {
        font-size: fontSize("smallest"); // 3
    }

    .form-field {
        font-size: 0; // 2
        margin-bottom: 0.5rem;

        // scss-lint:disable SelectorDepth, NestingDepth
        > .form-checkbox + .form-label,
        > .form-radio + .form-label {
            display: inline-block;
            margin-left: spacing("single");
            width: auto;

            @include breakpoint("small") {
                margin-left: 0;
                width: 100%;
            }
        }

        > .form-label:nth-of-type(2) {
            margin-left: 0;
        }
    }

    .form-action {

        @include breakpoint("small") {
            float: left;
            padding: 0 remCalc(10);
            width: 50%;
        }

        @include breakpoint("medium") {
            float: none;
            padding: 0;
            width: auto;
        }

        @include breakpoint("large") {
            display: block;
            margin-top: 1rem;
        }

        // scss-lint:disable SelectorDepth, NestingDepth
        .button--primary.out-of-stock:hover,.button--primary.out-of-stock:focus, .button--primary.out-of-stock.is-active, .button--primary.out-of-stock.active{
            border-color: #000000;
            background-color: #000000;
        }
        .button {
            &.pre-order{
                border-color: #ffdbca;
                background-color: #ffdbca;
            }
            width: 100%;
            padding:20px;
            @include breakpoint("large") {
                margin-right: spacing("half");
                font-size: 18px;
            }

        }
    }

    [data-product-attribute] .form-option.unavailable {
        user-select: none;
        pointer-events: none;
        cursor: no-drop;
        &:before { display: none; }
    }
}


// Product list (with images)
// -----------------------------------------------------------------------------

.productOptions-list {
    border: $productOptions-list-border;
    list-style: none;
    margin: 0;
}

.productOptions-list-item {
    padding: $productOptions-list-item-padding;

    + .productOptions-list-item {
        border-top: $productOptions-list-item-borderTop;
    }

    .form-label {
        text-align: left;
        top: -2px; // 1
    }
}

.productOptions-list-item-figure,
.productOptions-list-item-content {
    display: table-cell;
    vertical-align: middle;
}

.productOptions-list-item-figure {
    width: $productOptions-list-item-figure-width;
}

.productOptions-list-item-content {
    padding-left: $productOptions-list-item-content-paddingLeft;
}


// Share products
// -----------------------------------------------------------------------------

.shareProduct {
    text-align: center;
}


// EasyZoom settings for zoomable product image
// -----------------------------------------------------------------------------

.productView-image .easyzoom-flyout {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;

    img {
        max-width: none;
        width: auto;
    }
}
