// =============================================================================
// USER NAVIGATION (CSS)
// =============================================================================
//
// 1. Corrects the spacing added by .navUser-or
// 2. Can't use top: 50% because its container `.header` changes its height to
//    100% when mobile menu is expanded
// 3. Make the triangle for store credit dropdown centered
// 4. Needs to be 100% so its dropdown can take full width in mobile viewport
// 5. Needs to be lower than logo zIndex, otherwise, logo is not clickable
// 6. Make the triangle for currency dropdown right aligned
//
// -----------------------------------------------------------------------------

.navUser {
    @include nav($style: "navBar", $wrapper: "nav");

    right: 0;
    top: 68px; // 2
    width: 100%; // 4
    /*z-index: zIndex("lowest"); // 5.*/
    z-index: 50 !important;
    height: 50px;

    @media (min-width: 993px){
        padding: 0 spacing("single");
        position: relative;
        right: auto;
        top: auto;
        transform: none;
        z-index: zIndex("high");
        max-width: 1440px;
        margin: 0 auto;
    }

    .dropdown-menu {
        background-color: stencilColor("navUser-dropdown-backgroundColor");
        border: 1px solid stencilColor("navUser-dropdown-borderColor");
        box-shadow: container("dropShadow");
        position: absolute;

        // scss-lint:disable NestingDepth
        &.is-open {
            &:before {
                @include css-triangle(
                    $triangle-direction: "bottom",
                    $triangle-size: 10px,
                    $triangle-color: stencilColor("navUser-dropdown-borderColor")
                );
                bottom: 100%;
                left: spacing("half");
                position: absolute;
            }

            &:after {
                @include css-triangle(
                    $triangle-direction: "bottom",
                    $triangle-size: 8px,
                    $triangle-color: stencilColor("navUser-dropdown-backgroundColor")
                );
                bottom: 100%;
                left: spacing("half") + remCalc(2px);
                position: absolute;
            }
        }
    }
}

.navUser-action {
    font-weight: 400;
    padding: 0 spacing("half");
    text-decoration: none;
    text-transform: uppercase;
    font-size:12px;
    color: #1c1f2a;
    margin-top: 15px;
    letter-spacing: 0.15px;

    &:hover,
    &.is-open {
        color: #9b9b9b;

        // scss-lint:disable NestingDepth
        svg {
            fill: stencilColor("navUser-color-hover");
            stroke: stencilColor("navUser-color-hover");
        }
        // scss-lint:enable NestingDepth
    }

    .icon {
        @include square(8px);
        margin: -1px 0 0 spacing("eighth");
    }

    svg {
        fill: stencilColor("navUser-color");
        //stroke: stencilColor("navUser-color");
        transition: all 0.15s ease;
    }

    &--currencySelector {
        .icon {
            display: none;
        }
    }
}

.navUser-action--currencySelector + .dropdown-menu {
    &:before {
        // scss-lint:disable ImportantRule
        left: auto !important; // 6
        right: spacing("half"); // 6
    }

    &:after {
        // scss-lint:disable ImportantRule
        left: auto !important; // 6
        right: spacing("half") + remCalc(2px); // 6
    }
}

.navUser-action--storeCredit + .dropdown-menu {
    max-width: remCalc(300px);
    padding: spacing("single");

    &:before {
        // scss-lint:disable ImportantRule
        left: remCalc(140px) !important; // 3
    }

    &:after {
        // scss-lint:disable ImportantRule
        left: remCalc(142px) !important; // 3
    }
}

.navUser-action-divider {
    border-right: container("border");
    color: stencilColor("color-textSecondary");
    display: inline-block;
    padding: 0 remCalc(20) 0 0;
    text-decoration: none;
}

.navUser-item {
    display: none;

    @media (min-width: 993px){
        display: block;

        &.navUser-item--social {
            margin-top: rem-calc(5px);
            padding-right: rem-calc(5px);
        }

        &.navUser-item--divider {
            font-size: rem-calc(25px);
            margin-top: rem-calc(8px);
            padding-left: rem-calc(2px);
        }
    }
}

.navUser-item--cart {
    display: block;

    .navUser-action {
        color: stencilColor("navUser-color");

        // scss-lint:disable NestingDepth
        &:hover,
        &.is-open {
            color: stencilColor("navUser-color-hover");
        }
    }

    .dropdown-menu {
        max-width: remCalc(320px);

        // scss-lint:disable NestingDepth
        &.is-open {
            &:before,
            &:after {
                left: auto;
            }

            &:before {
                right: spacing("half");
            }

            &:after {
                right: spacing("half") + remCalc(2px);
            }
        }
    }
}

.navUser-item-cartLabel {
    text-transform: capitalize;

    @include breakpoint("small") {
        display: inline;
    }
}

.navUser-item--compare {
    display: none;

    &.show {
        display: block;
    }
}

.navUser-item--account {

    span {
        text-transform: capitalize;
    }

    .navUser-or {

        // scss-lint:disable NestingDepth
        + .navUser-action {
            margin-right: -0.5rem; // 1
        }
    }

    .navUser-action {
        display: none;

        @media (min-width: 993px){
            display: inline-block;
        }
    }
}

.navUser-or {
    color: stencilColor("navUser-color");
    cursor: default;
    display: inline-block;
    margin: 0 remCalc(-12px);
    padding: 0 2px;
    position: relative;
    z-index: 1;
}

// Quick search
// -----------------------------------------------------------------------------
//
// 1. Overriding the inline styles from Foundation as this is a unique dropdown.
//
// -----------------------------------------------------------------------------
.search-form-menu{
    float: left;
    width:50%;
    ::placeholder {
        color: black;

    }
    .form-input{
        border:none;
    }
}
.navUser-section--alt{

}
.navUser-action--quickSearch {
    float: left;
    padding:1rem 0;
    margin-top:0;
}
.dropdown--quickSearch {
    /*float: left;*/

    .form {
        margin: auto;
        max-width: 34vw;
    }

    .form,
    .form-field {
        margin-bottom: 0;
    }

    .form-input {
        font-size: 12px;
        color: #000;
        height: 29px;
        line-height: 17px;
        letter-spacing: 0.15px;
        width: 250px;
        border-radius: 0;
        padding: 10px 5px;
        margin-top: 10px;
        border-bottom: 1px solid #fff;

        &:focus {
            border-color: #000;
        }

        &::placeholder {
            color: #000;
            opacity: 1;
        }

        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #000;
            opacity: 1;
        }
    
        &::-ms-input-placeholder { /* Microsoft Edge */
            color: #000;
            opacity: 1;
        }
    }

    .productGrid {
        padding: spacing("single") 0 0;

        @include breakpoint("small") {
            padding: spacing("double") 0 0;
        }
    }
}

// Counter Pill
// -----------------------------------------------------------------------------
//
// 1. Hardcoded intentionally for precise pixels.
//
// -----------------------------------------------------------------------------

.countPill {
    background-color: #ffdbca;
    color:black;
    border-radius: 50%;
    display: none;
    font-size: 10px;
    font-weight: fontWeight("bold");
    height: 17px; // 1
    margin-left: spacing("eighth");
    text-align: center;
    width: 17px; // 1
    line-height: 16px;
}

.countPill--positive {
    display: inline-block;
}

.countPill--alt {
    background-color: color("greys", "lighter");
    color: color("greys", "darker");
}
