// =============================================================================
// ACTION BAR (CSS)
// =============================================================================


.actionBar-section {

    .form-field {
        background-color: $input-bg-color;
        border: 1px solid #e8e8e8;
        border-radius: $actionBar-form-field-radius;
        overflow: hidden;

        // scss-lint:disable NestingDepth
        &:hover {
            border-color: stencilColor("input-border-color-active");
        }
        // scss-lint:enable NestingDepth
    }

    .form-label {
        color: $actionBar-form-label-color;
        font-size: $actionBar-form-label-fontSize;
        line-height: $actionBar-form-label-lineHeight;
        margin-bottom: 0;
        padding-left: $actionBar-form-label-padding;
    }

    .form-input,
    .form-select {
        border: 0;
        padding-left: $actionBar-form-input-padding;
        width: auto;
    }

    .form-label,
    .form-input,
    .form-select {
        display: inline-block;
    }

    .form-select {
        color: $color-black;
        font-size: 14px;
        padding: 0 40px 0 60px;
        height: 35px;
        background-position: right 10px center;
    }
}
