<div class="form-field" id="{{id}}" data-validation="{{validation}}" {{#if private_id}}data-type="{{private_id}}"{{/if}}>
    <label class="form-label" for="{{id}}_input">{{label}}
        {{#if required}}
            <small>{{lang 'common.required' }}</small>
        {{/if}}
    </label>
    <input type="password"  class="form-input" id="{{id}}_input" data-label="{{label}}"  placeholder="{{label}}" name="{{name}}" value="{{value}}" autocomplete="off" aria-required="{{required}}" {{#if private_id}}data-field-type="{{private_id}}"{{/if}}>
</div>
