// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================


// Product view layout
// -----------------------------------------------------------------------------

.productView {


    .modal & {
        padding-bottom: 0;
        padding-top: 0;
    }
}

.productView-images {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("medium") {
        width: grid-calc(6, $total-columns);
        position: relative;
    }
}

.productView-details {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("medium") {
        clear: right;
        float: left;

        width: 100%;
    }
}

.productView-description {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");
    border-top: 1px solid #e8e8e8;
    padding-top: 45px;
    .tab-content{
        padding: 1rem 0 0 0;
    }
    @include breakpoint("large") {
        clear: right;
        float: right;
        width: 100%;

    }

    .productView-title {
        border-bottom: container("border");
        margin-bottom: spacing("base");
        padding-left: spacing("base");
        padding-right: spacing("base");
    }

    .productView-description {
        @include breakpoint("medium") {
            clear: both;
            float: none;
            width: 100%;
        }
    }
}

// Common swatches styles

.swatches-options {
    list-style: none;
    padding-left: 0;
    font-size: 0;
    margin-left: 0;
    margin-bottom: 0;
    li {
        display: inline-block;
        margin-right: 0.5rem;

        .es-product-option-link {
            margin-bottom: 0;
            margin-right: 0;

            img {
                margin-bottom: 0;
            }
        }
    }
}

// Product quick view layout
// -----------------------------------------------------------------------------
.productView--quickView {
    .socialLinks-item--print {
        display: none;
    }
}

.modal-content {
    .productView--quickView {
        display: flex;
    
        .product-details {
            display: flex;
            flex-direction: column;
            height: auto;
            padding: 35px 0;

            .flex-item {
                display: flex;
                flex-direction: column;
                flex: 1;
            }

            .product-option {
                display: block;
                margin-top: remCalc(10px);
                
                .swatch .color-name {
                    padding-left: 10px;
                }

                .set-rectangle {
                    .form-option {
                        margin-right: remCalc(10px);
                    }
                }
            }
            
            .customize-product {
                @extend  .flex-item;

                .productView-options {
                    @extend  .flex-item;

                    form[data-cart-item-add] {
                        @extend  .flex-item;

                        .designer-note {
                            @extend  .flex-item;
                            margin-bottom: 30px;

                            p {
                                margin-bottom: remCalc(10px);
                                color: #727272;
                                font-family: "Open Sans";
                                font-size: 14px;
                            }
                        }

                        #form-action-addToCart {
                            margin-bottom: remCalc(30px);
                            transition: none;
                        }
                    }
                }
            }

            .productView-title {
                margin-top: 0;
            }

            & > .designer-note,
            & > .fabric_care_product,
            & > .label_story_product,
            & > .delivery_product {
                display: none;
            }
        }

        .productView-info,
        .productView-options {
            margin-bottom: 0;

           .form-action {
               margin-top: auto;
           }
        }

        .productView-images {
            justify-content: center;
        }

        .productView-thumbnails {
            
            .productView-thumbnail  {
                padding-right: 5px;

                .productView-thumbnail-link {
                    display: flex;
                    max-width: initial;
                    padding: 0;
                    cursor: pointer;
                    align-items: center;
                    justify-content: center;

                background-color: #fff;
                }
            }
        }
        
    }
}
