<div class="main-category-heading">
    <div class="heading-category">
        <h2 class="category-name">{{ category.name }}
            <span class="total"> ({{ category.total_products }} Items)</span>
        </h2>
        {{> components/products/filter sort=pagination.category.sort}}

    </div>


</div>

<form action="{{urls.compare}}" method='POST' data-product-compare>
    {{#if theme_settings.product_list_display_mode '===' 'grid'}}
        {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
    {{else}}
        {{> components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
    {{/if}}
</form>

<div class="main-category-footer">
    <div class="total-pagination">

        <div class="pagination-width">
            <div class="total-item">Items <span class="from-item">1</span> to <span class="to-item">24</span> of <span class="total-product">{{ category.total_products }}</span> total</div>
            <div class="pagination-product">{{> components/common/paginator pagination.category}}</div>
            <div class="limit-products">
                Show <select class="numbers-product">
                <option class="number-product" value="limit=24">24</option>
                <option class="number-product" value="limit=48">48</option>
                <option class="number-product" value="limit=96">96</option>
                        </select>
            </div>



        </div>
    </div>
    {{> components/products/filter sort=pagination.category.sort}}
</div>
