{{#if shop_by_price}}
    <div class="sidebarBlock shop-by-price">
        <div class="accordion-navigation toggleClass {{#unless ../start_collapsed }} is-open {{/unless}}">
        <h5 class="sidebarBlock-heading">{{lang 'category.shop_by_price'}}</h5>
            <div class="accordion-navigation-actions">
                <svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
                    <use xlink:href="#icon-add" />
                </svg>
                <svg class="icon accordion-indicator toggleLink-text toggleLink-text--on">
                    <use xlink:href="#icon-remove" />
                </svg>
            </div>
        </div>
        <ul class="navList">
            <li class="navList-item navList-action--checkbox ">
                <div class="navList-action " data-min-value="0" data-max-value="50" alt="$0.00 - $50.00" title="$0.00 - $50.00" data-faceted-search-facet="">$0.00 - $50.00</div>
            </li>
            <li class="navList-item navList-action--checkbox ">
                <div class="navList-action " data-min-value="50" data-max-value="100" alt="$50.00 - $100.00" title="$50.00 - $100.00" data-faceted-search-facet="">$50.00 - $100.00</div>
            </li>
            <li class="navList-item navList-action--checkbox ">
                <div class="navList-action " data-min-value="100" data-max-value="150" alt="$100.00 - $150.00" title="$100.00 - $150.00" data-faceted-search-facet="">$100.00 - $150.00</div>
            </li>
            <li class="navList-item navList-action--checkbox ">
                <div class="navList-action " data-min-value="150" data-max-value="300" alt="$150.00 - $300.00" title="$150.00 - $300.00" data-faceted-search-facet="">$150.00 - $300.00</div>
            </li>
            <li class="navList-item navList-action--checkbox ">
                <div class="navList-action " data-min-value="300" data-max-value="100000" alt="$300.00 - $100000.00" title="$300.00 - $10000.00" data-faceted-search-facet="">$300.00+</div>
            </li>



            {{#any shop_by_price selected=true}}
                <!--<li class="navList-item">-->
                    <!--<a href="{{category_url}}" class="navList-action">-->
                        <!--{{lang 'category.reset'}}-->
                    <!--</a>-->
                <!--</li>-->
            {{/any}}
        </ul>
    </div>
{{/if}}
