<nav>

    {{#if category.subcategories}}
        <div class="sidebarBlock sub-category">
            <div class="sub-menu-nav">
                <h5 class="sidebarBlock-heading">{{category.name}}</h5>
                <div class="accordion-navigation-actions">
                    <svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
                        <use xlink:href="#icon-add" />
                    </svg>
                    <svg class="icon accordion-indicator toggleLink-text toggleLink-text--on">
                        <use xlink:href="#icon-remove" />
                    </svg>
                </div>
            </div>
            <ul class="navList">
                {{#each category.subcategories}}
                <li class="navList-item subcategory">
                    <a class="navList-action" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    {{/if}}

    {{#if category.faceted_search_enabled}}
        {{> components/faceted-search/index category}}
    {{else}}
        {{> components/category/shop-by-price shop_by_price=category.shop_by_price category_url=category.url}}
    {{/if}}
</nav>
