<fieldset class="form-fieldset actionBar-section">
    <div class="form-field">
        <label class="form-label" for="sort">Sort by:</label>
        <select class="form-select form-select--small" name="sort" id="sort" value="sort-by">
            <option value="featured" {{#if sort '==' 'featured'}}selected{{/if}}>{{lang 'common.sorter.featured'}}</option>
            <option value="avgcustomerreview" {{#if sort '==' 'avgcustomerreview'}}selected{{/if}}>{{lang 'common.sorter.reviews'}}</option>
            <option value="newest" {{#if sort '==' 'newest'}}selected{{/if}}>{{lang 'common.sorter.newest'}}</option>
            <option value="bestselling" {{#if sort '==' 'bestselling'}}selected{{/if}}>{{lang 'common.sorter.top_sellers'}}</option>
            <option value="alphaasc" {{#if sort '==' 'alphaasc'}}selected{{/if}}>{{lang 'common.sorter.alpha_asc'}}</option>
            <option value="alphadesc" {{#if sort '==' 'alphadesc'}}selected{{/if}}>{{lang 'common.sorter.alpha_desc'}}</option>
            <option value="priceasc" {{#if sort '==' 'priceasc'}}selected{{/if}}>Price: Low to High</option>
            <option value="pricedesc" {{#if sort '==' 'pricedesc'}}selected{{/if}}>Price: High to Low</option>
            {{#if result_count}}
                <option value="relevance" {{#if sort '==' 'relevance'}}selected{{/if}}>{{lang 'common.sorter.relevance'}}</option>
            {{/if}}
        </select>
    </div>
</fieldset>

