    {{inject 'passwordRequirements' settings.password_requirements}}
{{#partial "page"}}
<div class="creat-acc-page ">
    <div class="creat-page">
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<h1 class="page-heading">{{lang 'create_account.heading' }}</h1>
<!--<p class="creat-account">Create an account to make checking out super easy! </p>-->
<div class="account account--fixed">
    <div class="account-body">
        {{#if forms.create_account.error}}
        {{> components/common/alert-error forms.create_account.error}}
        {{/if}}
        {{#if settings.account_creation_enabled}}
        <form action="{{urls.auth.save_new_account}}" data-create-account-form method="post" class="form">
            <div class="form-row form-row--half">
                {{#each forms.create_account.account_fields }}
                {{{dynamicComponent 'components/common/forms'}}}
                {{/each}}
                {{#each forms.create_account.address_fields }}
                {{{dynamicComponent 'components/common/forms'}}}
                {{/each}}
                {{inject 'required' (lang 'common.required')}}
                {{inject 'state_error' (lang 'errors.state_error')}}
            </div>

            {{{ forms.create_account.recaptcha.markup}}}
            <div class="login-acc"><span>Already have an account?</span><a href="{{urls.auth.login}}">Log in here!</a></div>
            <div class="form-actions">
                <input type="submit" class="button button--primary" value="{{lang 'forms.create_account.submit_value' }}" />
            </div>
        </form>
        {{/if}}
    </div>
</div>
</div>
</div>
{{/partial}}
{{> layout/base}}

