{{#partial "page"}}
<div class="forget-page">
    <div class="account account--fixedSmall">
        <!--{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}-->
        <h2 class="page-heading">{{lang 'reset_password.heading' }}</h2>
        <p class="welcome-back">{{lang 'reset_password.intro' }}</p>
        {{#if forms.forgot_password.error}}
            {{> components/common/alert-error forms.forgot_password.error}}
        {{/if}}
        <form action="{{urls.auth.send_password_email}}" class="form forgot-password-form" method="post">
            <!--<label class="form-label" for="email">{{lang 'common.email_address'}}</label>-->
            <div class="form-prefixPostfix wrap">
                <input class="form-input" name="email" id="email" type="email" formnovalidate placeholder="Email">
                {{inject 'useValidEmail' (lang 'forms.validate.common.email_address')}}
                <input type="submit" class="button button--primary submit-forget form-prefixPostfix-button--postfix" value="{{lang 'reset_password.submit' }}">
                <div class="login-acc"><span>Already have an account?</span><a href="{{urls.auth.login}}">Log in here!</a></div>
            </div>
        </form>
    </div>
</div>
{{/partial}}
{{> layout/base}}
