{{#if items}}
<div class="accordion-block">
    <div
        class="accordion-navigation is-open"
        id="{{hyphenate facet }}"
        role="button"
        data-collapsible="#facetedSearch-content--{{hyphenate facet }}">
        {{#if title '==' "Colors"}}
        <h5 class="accordion-title">
            Colour
        </h5>
        {{else}}
        <h5 class="accordion-title">
            {{ title }}
        </h5>
        {{/if}}


        <div class="accordion-navigation-actions">
            {{#if selected}}
                <a href="{{ remove_url }}" class="facetedSearch-clearLink" data-faceted-search-facet>{{lang 'search.faceted.clear'}}</a>
            {{/if}}
            <svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
                <use xlink:href="#icon-add" />
            </svg>
            <svg class="icon accordion-indicator toggleLink-text toggleLink-text--on">
                <use xlink:href="#icon-remove" />
            </svg>
        </div>
    </div>

    <div id="facetedSearch-content--{{hyphenate facet }}" class="accordion-content is-open ">
        <ul id="facetedSearch-navList--{{hyphenate facet }}" data-facet="{{facet}}" class="navList {{#if facet '===' 'Color'}}category-color-filter{{/if}}" data-has-more-results="{{ has_more_results }}">
            {{#if facet '==' "Color"}}
                {{#each items}}

                <li class="navList-item">
                    <a
                            href="{{ url }}"
                            data-color="{{ title }}"
                            class="navList-action navList-action--checkbox {{#if selected }} is-selected {{/if}}"
                            rel="nofollow"
                            data-faceted-search-facet>
                        {{#if ../show_product_counts}}
                        <span>({{ count }})</span>
                        {{/if}}

                        <span class="navList-action-close" aria-hidden="true">
                            <svg class="icon">
                                <use xlink:href="#icon-close"/>
                            </svg>
                        </span>
                    </a>
                </li>
                {{/each}}
            {{else}}
                {{#each items}}

                <li class="navList-item">
                    <a
                        href="{{ url }}"
                        class="navList-action navList-action--checkbox {{#if selected }} is-selected {{/if}}"
                        rel="nofollow"
                        data-faceted-search-facet>
                        {{ title }}
                        {{#if ../show_product_counts}}
                        <span>({{ count }})</span>
                        {{/if}}

                        <span class="navList-action-close" aria-hidden="true">
                            <svg class="icon">
                                <use xlink:href="#icon-close"/>
                            </svg>
                        </span>
                    </a>
                </li>
                {{/each}}
            {{/if}}
        </ul>

        {{#if show_more_toggle}}
            <a href="#facetedSearch-navList--{{hyphenate facet }}" role="button" class="toggleLink">
                <span class="toggleLink-text toggleLink-text--off">{{lang 'search.faceted.show-more'}}</span>
            </a>
        {{/if}}
    </div>
</div>
{{/if}}
