{{#if items}}
<div class="accordion-block">
    <div
        class="accordion-navigation toggleLink  is-open"
        role="button"
        data-collapsible="#facetedSearch-content--{{hyphenate facet }}">
        <h5 class="accordion-title">
            {{ title }}
        </h5>

        <div class="accordion-navigation-actions">
            {{#if selected}}
                <a href="{{ remove_url }}" class="facetedSearch-clearLink" data-faceted-search-facet>{{lang 'search.faceted.clear'}}</a>
            {{/if}}
            <svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
                <use xlink:href="#icon-add" />
            </svg>
            <svg class="icon accordion-indicator toggleLink-text toggleLink-text--on">
                <use xlink:href="#icon-remove" />
            </svg>
        </div>
    </div>

    <div id="facetedSearch-content--{{hyphenate facet }}" class="accordion-content facetedSearch-content--{{hyphenate facet}}  is-open">
        <ul class="navList">
            {{#each items}}
                <li class="navList-item">
                    <a href="{{ url }}"
                       class="navList-action {{#if selected }} is-selected {{/if}}"
                       rel="nofollow"
                       data-faceted-search-facet>
                        <span class="rating--small">
                            {{> components/products/ratings rating=title}}
                        </span>
                        {{lang 'search.faceted.rating.and-up'}}
                        {{#if ../show_product_counts}}
                            <span>({{ count }})</span>
                        {{/if}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
{{/if}}
