// =============================================================================
// ACCORDION (CSS)
// =============================================================================


.accordion {
	border-radius: $accordion-borderRadius;
	box-shadow: none;
	
	.navList {
		margin-bottom: 0;
	}
}

.accordion-content {
	border: 0;
	
	.form:only-child {
		margin-bottom: 0;
	}
}

.accordion-title {
	margin: 0;
}

.accordion-navigation {
	margin-top: -1px;
	position: relative;
	text-decoration: none;
}


// Accordion nav list
// -----------------------------------------------------------------------------
//
// Purpose: Used as navigation menu, for example: faceted search menu.
//
// -----------------------------------------------------------------------------
.accordion--navList {
	@include breakpoint("medium") {
		border: 0;
		margin-bottom: 0;
	}
	
	.sidebarBlock + & {
		@include breakpoint("medium") {
			margin-top: $accordion-navList-spacing;
			
		}
	}
	
	.accordion-block {
		@include breakpoint("medium") {
			margin-bottom: 9px;
			padding-top: 11px;
		}
	}
	
	.accordion-content {
		padding: $accordion-navList-padding;
		
		@include breakpoint("medium") {
			padding: $spacing-half / 2;
		}
	}
	
	.accordion-navigation {
		@include breakpoint("medium") {
			background-position: right 0 top 50%;
			border: 0;
		}
	}
	
	.accordion-title {
		font-weight: $fontWeight-bold;
		padding: $accordion-navList-padding;
		text-decoration: none;
		text-transform: uppercase;
		
		@include breakpoint("medium") {
			margin-bottom: spacing("half");
			margin-top: 0;
			padding: 0;
		}
	}
	
	.accordion-indicator {
		fill: #1c1f2a;
	}
	
	.accordion-navigation-actions {
		right: $accordion-navList-padding;
		top: $accordion-navList-padding + spacing("eighth");
		
		@include breakpoint("medium") {
			right: 0;
			top: 0;
		}
	}
}


// Accordion block
// -----------------------------------------------------------------------------
//
// Purpose: Child blocks of an accordion
//
// -----------------------------------------------------------------------------
.accordion-block:first-child {
	margin-top: 0;
	
	.accordion-navigation {
		border-radius: $accordion-borderRadius $accordion-borderRadius 0 0;
	}
}

.accordion-block:last-child {
	.accordion-navigation,
	.accordion-content {
		border-radius: 0 0 $accordion-borderRadius $accordion-borderRadius;
	}
	
	.accordion-navigation {
		border-bottom-width: 0;
		
		// scss-lint:disable NestingDepth
		&.is-open {
			border-bottom-width: 1px;
			border-radius: 0;
		}
	}
}

// Accordion navigation actions
// -----------------------------------------------------------------------------
//
// Purpose: Action links, usually aligned to the right of .accordion-navigation
//
// -----------------------------------------------------------------------------
.accordion-navigation-actions {
	position: absolute;
	right: $accordion-navigation-paddingHorizontal;
	top: $accordion-navigation-paddingVertical;
	
	> a {
		color: stencilColor("color-textSecondary");
		vertical-align: middle;
		display: none;
		// scss-lint:disable NestingDepth
		&:hover {
			color: stencilColor("color-textSecondary--hover");
		}
		
		// scss-lint:enable NestingDepth
	}
}
