// =============================================================================
// LOADING (CSS)
// =============================================================================
//
// 1. If set to false, there is no outputted CSS for this component.
//
// -----------------------------------------------------------------------------

.loadingOverlay {
    background-color: rgba(stencilColor("loadingOverlay-backgroundColor"), 0.9);
    display: none;
    z-index: 1;
}
