// =============================================================================
// PREVIEW CART (CSS)
// =============================================================================
//
// 1. Override server-generated inline-css
//
// -----------------------------------------------------------------------------

.previewCart {
    @include grid-row;
    padding: 0px 20px;

    @include breakpointMax("medium") {
       .productView{
           order: 1;
           width: 100%;
       }
        .productView-image--cart {
            position: static;
            display: block;
        }

        .productView-details{
            margin-bottom: 20px;
        }

        .productView-img-container{
            margin-bottom: 30px;

            &:after{
                display: none;
            }
        }
    }

    @include breakpoint("medium") {
        .productView {
            @include grid-column(9);
            display: flex;
            margin: 0;
            padding-bottom: 0;
            padding-top: 0;


        }

        .productView-image {
            @include grid-column(7);
            display: flex;
            flex-direction: column;
        }

        .productView-image--cart {
            align-self: flex-start;
            margin: 0 auto;
            width: auto;
        }

        .productView-details {
            @include grid-column(5);
        }
    }

    .productView-title {
        font-size: 20px;
        line-height: 24px;
        margin-top: 0;
    }

    @include breakpointMax("medium") {
        display: flex;
        flex-wrap: wrap;
    }

}

.previewCartCheckout {
    background: container("fill", "dark");
    padding: spacing("base");
    text-align: center;

    @include breakpoint("medium") {
        @include grid-column(3, $float:right);
        padding: spacing("single");
    }

    @include breakpointMax("medium") {
        order: 2;
        width: 100%;
    }

    .button {
        display: block;
        margin: 0;
        width: 100%;
        color: #fff !important;

        // scss-lint:disable NestingDepth
        + .button,
        + p {
            margin-top: spacing("half");
        }
    }
}

.previewCartCheckout-price {
    display: block;
    font-size: fontSize("largest");
    font-weight: bold;
    text-align: center;
}

.previewCartCheckout-subtotal {
    display: block;
    margin-bottom: spacing("single");
    margin-top: spacing("single");
}

.previewCartCheckout-additionalCheckoutButtons {
    p {
        // scss-lint:disable ImportantRule
        float: none !important; // 1
        margin: spacing("third") 0;
    }

    .CheckoutButton {
        margin-bottom: spacing("base");

        &:first-child {
            margin-top: spacing("single");
        }

        &:last-child {
            margin-bottom: spacing("single");
        }
    }
}

.suggestiveCart {
    text-align: center;

    @include breakpoint("medium") {
        display: block;
    }
}
