<article class="card {{#if alternate}}card--alternate{{/if}}" data-id-product="{{this.id}}" data-create-date="{{date_added}}" data-id="{{this.id}}">
    <div class="tag-product">
    <span class="new-product">New</span>
        {{#or price.non_sale_price_with_tax price.non_sale_price_without_tax}}
        <span class="on-sale">Sale</span>
        {{/or}}
        {{#if pre_order}}
        <span class="pre-order">Pre-order</span>
        {{/if}}
    </div>
    <!--<div class="add-to-wishlist">-->
        <!--<a id="add-wishlist" href="/wishlist.php?action=add&product_id={{id}}" data-remove="">-->
            <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="18" viewBox="0 0 22 18"><defs><path id="i246a" d="M1213.81 755.28a5.01 5.01 0 0 0-6.98 0l-.95.92-.96-.92a5.04 5.04 0 0 0-6.98 0 4.7 4.7 0 0 0 0 6.79l.95.92 6.99 6.8 6.98-6.8.95-.92a4.73 4.73 0 0 0 0-6.8z"/></defs><g><g transform="translate(-1195 -753)"><use class="" fill="#fff" fill-opacity="0" stroke="#1b242b" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="50" stroke-width="2" xlink:href="#i246a"/></g></g></svg>-->
            <!--&lt;!&ndash;<iframe src="{{cdn '/icons/wishlist.svg'}}"></iframe>&ndash;&gt;-->
            <!--&lt;!&ndash;<embed type="image/svg+xml" src="{{cdn '/icons/wishlist.svg'}}" />&ndash;&gt;-->
        <!--</a>-->
    <!--</div>-->
    <figure class="card-figure">
        {{#or price.non_sale_price_with_tax price.non_sale_price_without_tax}}
            {{#if theme_settings.product_sale_badges '===' 'sash'}}
                <div class="sale-flag-sash">
                    <span class="sale-text">On Sale!</span>
                </div>
            {{else if theme_settings.product_sale_badges '===' 'topleft'}}
                <div class="sale-flag-side">
                    <span class="sale-text">On Sale!</span>
                </div>
            {{else if theme_settings.product_sale_badges '===' 'burst'}}
                <div class="starwrap">
                    <div class="sale-text-burst">On Sale!</div>
                    <div class="sale-flag-star"></div>
                </div>
            {{/if}}
        {{/or}}
        {{#if demo}}
            <div class="card-img-container">
                <img class="card-image lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
            </div>
        {{else}}
            <a class="product-image" href="{{url}}">
                <div class="card-img-container">
                    <img class="card-image" src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">

                        {{#each (limit images 2)}}
                             {{#if @index '>' 0}}
                                    <img class="card-image" src="{{getImage this 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}">
                                {{/if}}
                        {{/each}}

                </div>
            </a>
        {{/if}}
<!--        <figcaption class="card-figcaption">-->

<!--            <div class="card-figcaption-body">-->


<!--                {{#if show_compare}}-->
<!--                    <label class="button button&#45;&#45;small card-figcaption-button" for="compare-{{id}}">-->
<!--                        {{lang 'products.compare'}} <input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}">-->
<!--                    </label>-->
<!--                {{/if}}-->
<!--                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}-->
<!--                    {{#if show_cart_action}}-->
<!--                        {{#if add_to_cart_url }}-->
<!--                         <a href="{{add_to_cart_url}}" class="button button&#45;&#45;small card-figcaption-button">{{lang 'products.add_to_cart'}}</a>-->
<!--                        {{/if}}-->
<!--                        {{#if has_options}}-->
<!--                            <a href="{{url}}" class="button button&#45;&#45;small card-figcaption-button" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>-->
<!--                        {{/if}}-->
<!--                        {{#if pre_order}}-->
<!--                            <a href="{{pre_order_add_to_cart_url}}" class="button button&#45;&#45;small card-figcaption-button">{{lang 'products.pre_order'}}</a>-->
<!--                        {{/if}}-->
<!--                        {{#if out_of_stock_message }}-->
<!--                            <a href="{{url}}" class="button button&#45;&#45;small card-figcaption-button" data-product-id="{{id}}">{{out_of_stock_message}}</a>-->
<!--                        {{/if}}-->
<!--                    {{else}}-->
<!--                        <a href="#" class="button button&#45;&#45;small card-figcaption-button out-of-stock" data-product-id="{{id}}">Out of Stock</a>-->
<!--                    {{/if}}-->
<!--                {{/or}}-->
<!--                {{#unless hide_product_quick_view}}-->
<!--                    {{#if theme_settings.show_product_quick_view}}-->
<!--                        {{#unless demo}}-->
<!--                            <a href="#" class="button button&#45;&#45;small card-figcaption-button quickview" data-product-id="{{id}}">{{lang 'products.quick_view'}}</a>-->
<!--                        {{/unless}}-->

<!--                    {{/if}}-->
<!--                {{/unless}}-->
<!--            </div>-->
<!--        </figcaption>-->
    </figure>
    <div class="card-body carousel-cards">
        {{> components/products/product-variation custom_fields=custom_fields}}

        {{#and rating show_rating}}
            <p class="card-text" data-test-info-type="productRating">
                <span class="rating--small">
                    {{> components/products/ratings rating=rating}}
                </span>
            </p>
        {{/and}}
        <div class="card-size-tablet"></div>
        {{#if brand.name}}
            <p class="card-text card-brand" data-test-info-type="brandName">{{brand.name}}</p>
        {{else}}
            <p class="card-text card-brand">{{brand.name}}</p>
        {{/if}}
        <div class="sku">
            <dl class="productView-info">
            {{#if sku}}
                <dt class="productView-info-name">{{lang 'products.sku'}}</dt>
            {{/if}}
                <dd class="productView-info-value" data-product-sku> {{ this.sku }}</dd>
            </dl>
        </div>
        <h4 class="card-title">
            {{#if demo}}
                {{name}}
            {{else}}
                <a href="{{url}}">{{name}}</a>
            {{/if}}

        </h4>
        <div class="card-text" data-test-info-type="price">
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                {{> components/products/price price=price}}
            {{else}}
                {{> components/common/login-for-pricing}}
            {{/or}}
        </div>
        <div class="stock">
            {{#if show_cart_action}}
            <span class="in-stock"><img src="{{cdn 'icons/tick.svg'}}" alt=""> in stock </span>
            {{else}}
            <span class="out-stock" ><img src="{{cdn 'icons/error.svg'}}" alt=""> out of stock</span>
            {{/if}}


            {{#each this.custom_fields}}
            {{#if name '==' 'online'}}
            <span>  / </span>
            <span><img src="{{cdn 'icons/exclamation.svg'}}" alt=""> Online Only</span>
            {{/if}}
            {{/each}}

        </div>
        {{> components/products/bulk-discount-rates}}
    </div>
</article>

