<section class="productCarousel">
    {{#each products}}
    <div class="productCarousel-slide">
        {{> components/products/card theme_settings=../theme_settings customer=../customer schema=true}}
    </div>
    {{/each}}
</section>
