<ul class="tabs" data-tab>
    <li class="tab is-active">
        <a class="tab-title" href="#tab-description">
            Details
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="5" viewBox="0 0 8 5"><defs><path id="rs5ua" d="M1197 910.03l-.34.34-3.61 3.63.67.93 3.28-3.3 3.28 3.3.67-.93-3.62-3.63z"/></defs><g><g transform="translate(-1193 -910)"><use fill="#1c1f2a" xlink:href="#rs5ua"/></g></g></svg>
        </a>

    </li>
    {{#if product.warranty}}
        <li class="tab">
            <a class="tab-title" href="#tab-warranty">{{lang 'products.warranty'}}</a>
        </li>
    {{/if}}
</ul>
<div class="tabs-contents">
    <div class="tab-content is-active" id="tab-description">
        {{{product.description}}}
        {{{snippet 'product_description'}}}
    </div>
   {{#if product.warranty}}
       <div class="tab-content" id="tab-warranty">
           {{{product.warranty}}}
       </div>
   {{/if}}
</div>
