<div class="fresh-arrivals swiper-container">
    <ul class="productGrid productGrid--maxCol{{ columns }} swiper-wrapper" data-product-type="featured">

        <section class="productCarousel slick-fresh-arrivals">
            {{#each products}}
                <li class="product">
                    {{>components/products/card theme_settings=../theme_settings customer=../customer}}
                </li>
            {{/each}}
         </section>

    </ul>
</div>
