<ul class="productGrid">

    {{#each products}}
    <li class="product">
        {{>components/products/card show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer}}
    </li>
    {{/each}}
</ul>
