{{#if custom_fields}}
<ul class="swatches-options">
{{#each custom_fields}}
    {{#contains name 'colour_'}}
    <li>
        <a class="es-product-option-link {{#contains name '_self'}}first-option{{/contains}}" href="{{value}}">
            <img class="img-small" src="https://cdn8.bigcommerce.com/s-uw3pyspwzz/product_images/uploaded_images/es-product-{{#replace 'colour_' name}}{{/replace}}.jpg" alt="{{name}}">
        </a>
    </li>
    {{/contains}}
{{/each}}
</ul>
{{/if}}


{{!-- as bigcommerce doesn't support embed replace structure, have to use js to process it --}}
<script>

    document.querySelectorAll('.es-product-option-link.first-option').forEach(function(e){
        if(e.querySelector('img').src.includes('_self')){
            e.querySelector('img').src = e.querySelector('img').src.replace('_self','');
        }
    });

    document.querySelectorAll('.product-custom-field-color-option').forEach(function(e) {
        var name = e.innerHTML.toString().toLowerCase().replace(/_|-|colour|self/g, ' ').trim();
        e.innerHTML = name;
    });

</script> 
