<div class="product-page-views" data-id-product="{{product.id}}">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <div class="productView">
    {{#each product.reviews.messages}}
        {{#if error}}
            {{> components/common/alert-error error}}
        {{/if}}
        {{#if success}}
            {{> components/common/alert-success success}}
        {{/if}}
    {{/each}}
    <section class="productView-images" data-image-gallery>

        <div class="slider-product-view">



            <div class="productView-thumbnails-right">
                {{#each product.images}}
                <div class="productView-thumbnail-right">
                    <a
                            class="productView-thumbnail-link"
                            href="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                            data-image-gallery-item
                            data-image-gallery-new-image-url="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                            data-image-gallery-zoom-image-url="{{getImage this 'zoom_size' (cdn ../theme_settings.default_image_product)}}">
                        <img src="{{getImage this 'productthumb_size' (cdn ../theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}">
                    </a>
                </div>
                {{/each}}
                {{#if product.videos.list.length}}
                {{#each product.videos.list}}
                <div class="productView-thumbnail-right">
                    <a href="//www.youtube.com/watch?v={{id}}" target="_blank" class="video-thumbnail {{#if @first}}is-active{{/if}}" data-video-item data-video-id="{{id}}" title="{{title_long}}">
                        <img src="//i.ytimg.com/vi/{{id}}/default.jpg"/>
                    </a>
                </div>
                {{/each}}
                {{/if}}
            </div>

            <figure class="productView-image"
                    data-image-gallery-main
                    data-zoom-image="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}"
                    data-mfp-src="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}"
            >
                <a href="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}">
                    <img class="productView-image--default"
                         src="{{getImage product.main_image 'product_size' (cdn theme_settings.default_image_product)}}"
                         alt="{{product.main_image.alt}}" title="{{product.main_image.alt}}" data-main-image>
                </a>

                {{#each product.custom_fields}}
                {{#if name '!=' 'has-size-chart'}}
                <span class="productView-info-name" data-custom-field-name="{{name}}">{{name}}</span>
                {{/if}}
                {{/each}}

            </figure>
        </div>

    </section>

    <div class="product-details">

    <section class="productView-details">
        <div class="productView-product">
            <h1 class="productView-title" {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h1>
            {{#if product.brand}}
                <h2 class="productView-brand"{{#if schema}} itemprop="brand" itemscope itemtype="http://schema.org/Brand"{{/if}}>
                    <a href="{{product.brand.url}}"{{#if schema}} itemprop="url"{{/if}}><span{{#if schema}} itemprop="name"{{/if}}>by <span id="sass">{{product.brand.name}}</span></span></a>
                </h2>
            {{/if}}
            {{#if product.call_for_price}}
                <p class="productView-price">
                    <span>{{product.call_for_price}}</span>
                </p>
            {{/if}}
            <div class="productView-price">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{> components/products/price price=product.price schema_org=schema}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
            {{{region name="product_below_price"}}}
            <div class="productView-rating"{{#if product.num_reviews '>' 0}}{{#if schema}} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"{{/if}}{{/if}}>
                {{#if settings.show_product_rating}}
                {{#if product.num_reviews '>' 0}}
                {{#if schema}}
                <meta itemprop="ratingValue" content="{{product.rating}}">
                <meta itemprop="ratingCount" content="{{product.num_reviews}}">
                <meta itemprop="reviewCount" content="{{product.num_reviews}}">
                {{/if}}
                {{/if}}
                {{> components/products/ratings rating=product.rating}}
                                <span class="productView-reviewLink reviewLinkCount">
                                    {{#if product.num_reviews '>' 0}}
                                        <a href="{{product.url}}#product-reviews">
                                            {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                                        </a>
                                    {{else}}
                                        {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                                    {{/if}}
                                </span>
                {{/if}}


            </div>
            {{product.detail_messages}}

        </div>
    </section>

    <section class="productView-details customize-product">
        <div class="productView-options">
            {{> components/products/product-variation custom_fields=product.custom_fields show_label=product.options}}
            {{#if product.release_date }}
                <p>{{product.release_date}}</p>
            {{/if}}
            <div class="form-action-product-view">
                <form class="form{{product.id}}" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                      data-cart-item-add>
                    <input type="hidden" name="action" value="add">
                    <input type="hidden" name="product_id" value="{{product.id}}"/>
                    {{#each product.customizations}}
                    {{{dynamicComponent 'components/products/customizations'}}}
                    {{/each}}
                    <div class="product-option" data-product-option-change>
                        {{#each product.options}}
                        {{{dynamicComponent 'components/products/options'}}}
                        {{/each}}
                    </div>
                    {{#if product.event_date}}
                    {{> components/products/event-date}}
                    {{/if}}
                    <div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                        <label class="form-label form-label--alternate">
                            {{lang 'products.current_stock'}}
                            <span data-product-stock>{{product.stock_level}}</span>
                        </label>
                    </div>
                    {{#if product.can_purchase}}
                    {{> components/products/add-to-cart}}
                    {{else}}
                    <div class="form-action">
                        <input class="button button--primary out-of-stock" type="button"
                               value="{{lang 'products.out_of_stock'}}">
                    </div>
                    {{/if}}
                    {{#if product.out_of_stock}}
                    {{#if product.out_of_stock_message}}
                    {{> components/common/alert-error product.out_of_stock_message}}
                    {{else}}
                    {{> components/common/alert-error (lang 'products.sold_out')}}
                    {{/if}}
                    {{/if}}


                </form>

                {{#if product.can_purchase}}
                <div class="buy-now">
                    <a href="/cart.php?action=add&product_id={{product.id}}" class="btn btn-primary btnATC"><img src="https://cdn11.bigcommerce.com/s-dwrt3u9mku/product_images/uploaded_images/unddtitled-1.png?t=1555565857&_ga=2.36277664.1403831994.1555380214-605547308.1548593220">Buy Now</a>
                </div>
                {{else}}
                {{/if}}

                <div class="wishlist-sku">
                    <div class="wishlist">
                        <a href="/wishlist.php?action=add&product_id={{product.id}}">
                            <span><i class="fa fa-heart"></i></span>
                        </a>
                    </div>

                </div>
            </div>

            <div class="sku"><dl class="productView-info">
                {{#if product.sku}}
                <dt class="productView-info-name">{{lang 'products.sku'}}</dt>
                <dd class="productView-info-value" data-product-sku>{{product.sku}}</dd>
                {{/if}}
                {{#if product.upc}}
                <dt class="productView-info-name">{{lang 'products.upc'}}</dt>
                <dd class="productView-info-value" data-product-upc>{{product.upc}}</dd>
                {{/if}}
                {{#if product.condition}}
                <dt class="productView-info-name">{{lang 'products.condition'}}</dt>
                <dd class="productView-info-value">{{product.condition}}</dd>
                {{/if}}
                {{#if product.availability}}
                <dt class="productView-info-name">{{lang 'products.availability'}}</dt>
                <dd class="productView-info-value">{{product.availability}}</dd>
                {{/if}}
                {{#all product.weight theme_settings.show_product_weight}}
                <dt class="productView-info-name">{{lang 'products.weight'}}</dt>
                <dd class="productView-info-value" data-product-weight>{{product.weight}}</dd>
                {{/all}}
                {{#all product.width product.height product.depth theme_settings.show_product_dimensions}}
                <dt class="productView-info-name">{{lang 'products.width'}}</dt>
                <dd class="productView-info-value" data-product-width>
                    {{product.width}}
                    {{#if settings.measurements.length '==' 'Centimeters'}}
                    ({{lang 'products.measurement.metric'}})
                    {{else}}
                    ({{lang 'products.measurement.imperial'}})
                    {{/if}}
                </dd>
                <dt class="productView-info-name">{{lang 'products.height'}}</dt>
                <dd class="productView-info-value" data-product-height>
                    {{product.height}}
                    {{#if settings.measurements.length '==' 'Centimeters'}}
                    ({{lang 'products.measurement.metric'}})
                    {{else}}
                    ({{lang 'products.measurement.imperial'}})
                    {{/if}}
                </dd>
                <dt class="productView-info-name">{{lang 'products.depth'}}</dt>
                <dd class="productView-info-value" data-product-depth>
                    {{product.depth}}
                    {{#if settings.measurements.length '==' 'Centimeters'}}
                    ({{lang 'products.measurement.metric'}})
                    {{else}}
                    ({{lang 'products.measurement.imperial'}})
                    {{/if}}
                </dd>
                {{/all}}
                {{#if product.min_purchase_quantity}}
                <dt class="productView-info-name">{{lang 'products.min_purchase_quantity'}}</dt>
                <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
                {{/if}}
                {{#if product.max_purchase_quantity}}
                <dt class="productView-info-name">{{lang 'products.max_purchase_quantity'}}</dt>
                <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
                {{/if}}
                {{#if product.gift_wrapping_available}}
                <dt class="productView-info-name">{{lang 'products.gift_wrapping'}}</dt>
                <dd class="productView-info-value">{{lang 'products.gift_wrapping_available'}}</dd>
                {{/if}}
                {{#if product.shipping}}
                {{#if product.shipping.calculated}}
                <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                <dd class="productView-info-value">{{lang 'products.shipping_calculated'}}</dd>
                {{else}}
                {{#if product.shipping.price.value '===' 0}}
                <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                <dd class="productView-info-value">{{lang 'products.shipping_free'}}</dd>
                {{else}}
                <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                <dd class="productView-info-value">{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
                {{/if}}
                {{/if}}
                {{/if}}

                <div class="productView-info-bulkPricing">
                    {{> components/products/bulk-discount-rates bulk_discount_rates=product.bulk_discount_rates}}
                </div>

            </dl></div>


        </div>
        {{> components/common/share}}
        {{{snippet 'product_details'}}}
    </section>

        {{#if product.warranty}}
        <div class="tab-content" id="tab-warranty">
            {{{product.warranty}}}
        </div>
        {{/if}}


</div>
</div>


<div id="previewModal" class="modal modal--large" data-reveal>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>
</div>
