

<div class="product-page-wear">
    <div class="header-slider-product-page">
        <h2 class="heading-product-page-wear">You May Also Like</h2>
    </div>

{{#if product.related_products}}
    <div role="tabpanel" aria-hidden="true" class="tab-content has-jsContent is-active" id="tab-related">
        {{> components/products/carousel products=product.related_products}}
    </div>
{{/if}}
</div>

<div class="content-description-product" data-urlproduct="{{product.url}}">
    <div class="container-description-product">
        <ul class="tabs-product">
            {{#if product.description }}
            <li class="tab-sub tab-description active">
                <a  href="javascript:void(0)" class="tab-title">Item Details</a>
            </li>
            {{/if}}
            {{#if settings.show_product_reviews}}
            {{/if}}
            <li class="tab-sub product-reviews">
                <a href="javascript:void(0)" class="tab-title">Ratings & Reviews</a>
            </li>
            <li class="tab-sub warranty">
                <a href="javascript:void(0)" class="tab-title">Shipping</a>
            </li>

        </ul>
        <div class="main-show-tabs">
            <div class="content-tabs-product" id="tab-description">
                {{{product.description}}}
            </div>
            <div class="content-tabs-product" id="product-reviews">

                {{#if settings.show_product_reviews}}
                {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
                    <span class="productView-reviewLink">
                        <a href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}"
                           {{#unless is_ajax }}data-reveal-id="modal-review-form"{{/unless}}>
                           {{lang 'products.reviews.new'}}
                        </a>
                    </span>
                {{> components/products/modals/writeReview}}
                {{/if}}
            </div>
            <div class="content-tabs-product" id="warranty">
                {{{product.warranty}}}
            </div>
        </div>

    </div>
</div>

{{#if product.similar_by_views}}
<div class="product-recently-viewed">
    <div class="product-page-recently-viewed">
        <h2 class="heading-product-page-recently-viewed">People Who Viewed This Product Were Also Interested In</h2>
        <div aria-hidden="true" class="tab-content has-jsContent is-active" id="tab-similar">
            {{> components/products/carousel products=product.similar_by_views columns=5}}
        </div>
    </div>
</div>
{{/if}}