// =============================================================================
// SCREEN SIZES
// =============================================================================
//
// 1. Remember to update /assets/js/theme/common/media-query-list.js
//    if you decide to change breakpoint values
//
// -----------------------------------------------------------------------------


// Screen sizes
// -----------------------------------------------------------------------------

$screen-large:                  992px; // 1
$screen-medium:                 768px;
$screen-small:                  551px;
